[2017-09-18 11:11] devmondo commented on #806
yes u can plug browser-sync, something like the below ( minus browser-sync config)

[code]

[2017-09-18 11:57] #778 closed

[2017-09-18 14:55] whitecolor opened #808 "Get shared code between bundles into another bundle"
I have `main.js` module that dynamicly imports  A and B
[code]
and both `A` and `B` import `C` (statically)

The question: how to have bundles: main, A, B, C, where C is shared code between A and B?

Such config seem to work:
[code]
But it is quite verbose and too explicit. Is it possible to config automatically have shared code between `A` and `B` into separate bundle without involving `C` in con

[2017-09-18 17:27] nchanged commented on #808
How about dynamic imports? I don't think that code splitting is the best solution here.

[2017-09-18 18:04] whitecolor commented on #808
What dynamic import? A and B are imported dynamically in main bundle, and they share some code (statically imported), I would like this code be in the separate bundle. And it should be loaded with either A or B at the moment when A or B bundle is requested.

[2017-09-18 18:18] matt-erhart commented on #806
Cool, thanks!

[2017-09-18 18:37] nchanged commented on #808
Well right, you config works? If it does, then we don't have any else, if you want magic, you can create your own helper that does it less verbose.

[2017-09-18 19:24] whitecolor commented on #808
Well this config works but it is just simpliest sample. `C` is actually not one module but some commonly shared set of modules. For example webpack has `CommonsChunksPlugin` to accomplish alike tasks, but it is not very smart, works only with very explicit configs (though it works).

For example in stealjs this task is solved in a quite right way, it automatically finds shared code of all bundles

[2017-09-18 19:40] nchanged commented on #808
We can cook such functionality, let's create specs for that

[2017-09-18 19:57] nchanged commented on #801
Closing it for now, re-open elsewise

[2017-09-18 19:57] #801 closed

[2017-09-19 09:54] devmondo commented on #806
@matt-erhart great 👍

will close this for now.

[2017-09-19 09:54] #806 closed

[2017-09-19 10:01] devmondo commented on #781
@dakom
would something like this #806 help you?

[2017-09-19 10:05] dakom commented on #781
Probably - though I'd rather not introduce another tool. One of the main benefits of Fuse-Box imho is that everything is under one roof. One of the main problems I had with webpack was when introducing other tools that are supposed to be compatible but aren't. I get browserSync is kindof a different beast, but still... a "reload when changed" property to the dev server would be better I think.

Ei

[2017-09-19 11:05] nchanged commented on #781
@dakom
sorry it took so long http://fuse-box.org/page/development#auto-reload-page

`fuse-box@2.3.1-beta.10`

[2017-09-19 11:05] #781 closed

[2017-09-19 11:05] nchanged commented on #806
Proper implemenation:
http://fuse-box.org/page/development#auto-reload-page

fuse-box@2.3.1-beta.10

[2017-09-19 13:19] mika-fischer opened #810 "Warning about broswer field in modules when taregting server"
I get lots of the following warnings when bundling a nodejs app and I don't know how to silence them:
```WARNING Library "mongoose" contains "browser" field. Set .target("browser") to avoid problems with your browser build!```

[2017-09-19 13:24] nchanged commented on #810
`{warnings : false}` ?

[2017-09-19 13:28] mika-fischer commented on #810
Fair enough, but why is it warning in the first place if I already specify `.target('server')`? And won't I disable other potentially very useful warnings with `{warnings: false}`?

[2017-09-19 13:36] nchanged commented on #810
@mika-fischer you are right! we need to disable those for server builds

[2017-09-19 14:36] yihongang commented on #792
I finally had some time to look at this.

Something like https://github.com/yihongang/fuse-box/commit/812eaa87197c41003094c789ff659795508333d5 seems to work. Is that acceptable?

[2017-09-19 14:59] nchanged commented on #792
COuld you point out how to use it?

[2017-09-19 15:43] yihongang commented on #792
something like this

[code]

[2017-09-19 15:51] nchanged commented on #792
Awesome! Once you have some example that does something, could you PR, and update docs/configuration.md with that example too?

It is very useful, in fact, I need it too!

Thanks

[2017-09-19 16:12] ryan-edge-ck commented on #553
Any updates on this issue?

[2017-09-19 16:24] nchanged commented on #553
I think you can pass any options to chokidar in fuse.run

[2017-09-19 18:33] DaveO-Home commented on #803
Follow up on using HMR with  bootstrap & tablesorter

1.	Not using aliases
2.  CSS - Using CSSPlugin  - config and code

	CSSPlugin({
                group: 'bundle.css',
                outFile: `${src}/bundle.css`
            }),

/*
  Group and bundle css into ${src}/bundle.css - allows HMR to locate css
 */
if (1 == 2) {  //hack to eliminate 404's
    require("\~/../node_modules/bootstrap/dist

[2017-09-19 18:36] nchanged commented on #803
@DaveO-Home
why don't you do:
[code]

Then use [shims](http://fuse-box.org/page/configuration#shimming) for jquery and tablesorter

[2017-09-19 19:59] jcmoore0 opened #811 "Quantum shim moment.js in vendor bundle"
I am unable to shim moment.js in the quantum vendor bundle.
The shim works well when not using quantum.
When using quantum, the source js is not included.
I would appreciate any guidance.
Best regards,
John

fuse.bundle('vendor')
        .shim({
                jszip: {
                    source: "node_modules/jszip/dist/jszip.js",
                    exports: "jszip"
                },

[2017-09-19 20:16] nchanged commented on #811
Hi John!
That might be a bug, in the meantime try setting it to the global config, it should work (I think)

[2017-09-19 20:36] ypconstante opened #812 "Option to customize the file name in CSSResourcePlugin"
The CSSResourcePlugin currently doesn't have option for the user to customize the name of the generated file.  In my current webpack, i use the format `{libraryname}--{originalfilename}--{hash}.{ext}`. it would be interesting to receive the complete path of the file, to allow this kind of customization, but just receiving the file name  in the function would be enough to help organize the resource

[2017-09-19 20:51] ypconstante opened #813 "Apply output macros on the result of CSSPlugin.outFile"
The the result of outFile in the CSS plugin currently doesn't replace the usages of $name and $hash. This would be interesting to do it so it behaves just like the output configuration, and allow more generic usages of the plugin.

[2017-09-19 21:22] tomitrescak opened #814 "Wild Card import"
Hi. Does the wild card import work also on client (browser)? Logic says it shouldn't (practice as well).

[2017-09-19 21:23] tomitrescak commented on #814
To be honest ... I tried even on server an no success. The result is always "{}"

[2017-09-19 21:28] tomitrescak commented on #814
OK. Got it ... I need to bundle those files with arithmetic instructions. PERFECT job!

[2017-09-19 21:28] #814 closed

[2017-09-19 21:31] eddow commented on #801
what break? We created the npm build - it was not even used - we can create another one - I suggested the name "commonjs" it breaks nothing
"elsewise"

[2017-09-19 22:23] nchanged commented on #801
@eddow you can use the option `globalRequire : false` in Quantum that won't bundle that part of the code you are complaing about. That's what the commit is about

[2017-09-19 22:44] ypconstante opened #815 "Resolve Sass urls based on original file"
Webpack has the [resolve-url-loader](https://github.com/bholloway/resolve-url-loader) to make the Sass urls resolve from the original file instead of resolving from the file that imported the original file.
The Sass Plugin currently has macros, that can be helpful to deal with this problem, but it's a FuseBox only solution, and doesn't work with the autocomplete from IDEs.

[2017-09-20 09:05] nchanged commented on #815
@ypconstante you can add additions paths to make it work without the `importer`

[2017-09-20 09:06] nchanged commented on #812
FuseBox is smart with that, it uses easy hashes for development, and full hashes for production. I think it can be customised

[2017-09-20 09:55] devmondo commented on #553
yes we can since a while now.

[2017-09-20 09:55] devmondo commented on #803
@DaveO-Home the syntax provided by @nchanged above works perfectly, we use it.

[2017-09-20 12:03] tomitrescak opened #816 "Get dependency graph"
Guys, I have built LUIS, a StoryBook for Typescript with BDD approach. Below is a screenshot and an example of a test file.

I have a question to which you hopefully have an answer ;)

Currently on every HMR I am re-running all tests. I would like to run only tests that are affected by HMR. I can successfully tap to WebSocket client and get the file name and source of the HMRed file. Yet, I need t

[2017-09-20 12:23] nchanged commented on #816
@tomitrescak there is actually a branch I created not long time about with this commit
https://github.com/fuse-box/fuse-box/commit/d2f23fd1ad50dd72520bf36365c600f6b8ab6b17

You need it in an HMR event right?

[2017-09-20 12:26] tomitrescak commented on #816
Yes, in HMR event. If this info could be sent along with the File ... would be amazing! Would that be possible? And if so, how?

[2017-09-20 12:28] nchanged commented on #816
we can merge that branch, but due to the uncertainty I feel about that functionality (e.g performance wise) it will be hidden behind the flag, will that work for you?  You could test it too ;-) Because the data can be massive

[2017-09-20 12:32] tomitrescak commented on #816
I woould love to test it! I prefer to get massive data from server then running 200+ tests on every HMR. Couple questions:

1. How will I be able to make it work ? (obvious one 👍)
2. Can I somehow limit that I do not want to see deps from node_modules?

Yet another one a bit unrelated.

I have noticed that files are re-required after EVERY hmr-ed file. If I save 20+ files at the same time, I will

[2017-09-20 12:50] nchanged commented on #816
You can throttle them in your custom HMR plugin, sure
`fuse-box@2.3.1-beta.12`

[code]

[code]

[2017-09-20 13:20] nchanged commented on #816
@tomitrescak please share the progress with us ;-)

[2017-09-20 15:44] DaveO-Home commented on #803
@devmondo - you are absolutely correct and I am using the jquery shim and the bootstrap import works just fine.  However the tablesorter css does not load using the same syntax.  Also, I'm thinking the aliases don't work because in my config I declare them in src's parent directory.  I'm trying to use the same config for both dev and prod.  Aliases work in prod, so I do something like this require

[2017-09-20 16:58] DaveO-Home commented on #803
guys, I did finally get the css to load with @nchanged suggested syntax, don't know why it didn't work previously?? So if I can only get the jquery plugin to work, it's coded like !function(e){ code..}(jquery);
Tried this in shim:
        tablesorter: {source: "node_modules/tablesorter/dist/js/jquery.tablesorter.combined.js", exports: "tablesorter"},
        tablepager: {source: "node_modules/tabl

[2017-09-20 17:15] xaviergonz opened #817 "parent node_modules not picked up by the bundle"
Basically I'm trying to use the new yarn workspaces feature (https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/) that will basically move all "shared" node_modules across many sub-packages to the parent node_modules, but fusebox seems to be ignoring the parent node_modules folder if something cannot be found in the "sub-package" node_modules folder.

Is there a way to tell fusebox to actu

[2017-09-20 17:20] xaviergonz commented on #817
just to clarify, my current project structure is

/
--/package1/
--/package2/ with fuse.js
--/package3/

yarn workspaces will create on the root a node_modules with stuff that is shared across package1, 2 and 3

/
--/node_modules/
--/package1/
----/node_modules/
--/package2/ with fuse.js
----/node_modules/
--/package3/
----/node_modules/

when running fusebox inside package2/ it picks up package2/

[2017-09-20 17:23] nchanged commented on #817
we have [that](http://fuse-box.org/page/configuration#custom-modules-folder) but it works only with 1 custom folder, we could technically extend it to support multple

[2017-09-20 17:24] nchanged commented on #803
I don't this a jquery shim exports anything. I think it's set globally to `$` variable, that's how plugins in jquery work

[2017-09-20 17:25] xaviergonz commented on #817
that'd be awesome!

[2017-09-20 17:28] DaveO-Home commented on #803
I checked that out by coding the plugin first in the shim.  It gave me "jQuery" not defined.  Moved it after jquery and it didn't complain.

[2017-09-20 17:38] nchanged commented on #803
that's how it should be after Jquery. Then you can just use it.. $.tablesorter or whatever

[2017-09-20 17:46] DaveO-Home commented on #803
My problem is not with tablesorter that works just fine, it's the pager jquery plugin that's giving me the headache.  If I do my hack and load via html it plugs into jquery.  The shim doesn't plug it in, I get
$(...).tablesorter(...).tablesorterPager is not a function

[2017-09-20 18:07] xaviergonz opened #818 "EnvPlugin not injecting NODE_ENV when using modulesFolder: './node_modules'"
Basically when using modulesFolder (even if it is './node_modules', which in theory should do nothing) the EnvPlugin does not inject ```fb.EnvPlugin({ NODE_ENV: "development" }),``` (process.env exists, but it is an empty object)

removing modulesFolder makes it work again

[2017-09-20 20:24] nchanged commented on #818
make sure EnvPlugin it inject in the vendor and comes first

[2017-09-20 20:24] nchanged commented on #756
#756

[2017-09-20 20:25] nchanged commented on #816
#756

[2017-09-20 20:44] tomitrescak commented on #816
Boh, you made it too easy. I'll work on it today and let you know. Thanks!

[2017-09-20 22:09] ypconstante opened #819 "Inconsistency between plugins macros"
The sass macros make the replace doing a exactly replace on the key send on the options, but the css macros put a $ in the begging of the replace string. the documentation doesn't make that differentiation very clear, it would be nice to at least document it, and maybe in a future version use the same behavior to the macros.

[2017-09-21 01:13] tomitrescak commented on #816
I will make answer in stages. If anyone is interested in **Throttled Update** code is below. It is an extension of current hmr plugin that respects stateful modules.

[code]

used as

[code]

[2017-09-21 04:06] tomitrescak commented on #816
I am finished with my solution. Posting all code makes no sense as it's very individual, I will rather describe how I have done it. Please note that `TestQueue` executes synchronously all tests coming from test files registered via `describe` and `it`, standard BDD methods.

1. In the code above, in throttled update I have added a line, where I notify my `TestQueue` that hmr was performed with spe

[2017-09-21 04:06] #816 closed

[2017-09-21 04:18] tomitrescak commented on #816
One more take on the throttled update

[code]

[2017-09-21 07:12] nchanged commented on #816
It's great that it's working ;-)
I didn't get did you utilise the dependents at all?

[2017-09-21 09:38] devmondo commented on #816
@tomitrescak as usual, you are a professor!

[2017-09-21 11:06] andrew-w-ross commented on #592
This is still broken, anything happening with it?

[2017-09-21 11:16] nchanged commented on #592
I think it that repo was removed

[2017-09-21 11:55] tomitrescak commented on #816
@devmondo yes! It’s the point 3, without dependents this would not be possible. I have the fastest UI testing framework based on snaphots there is;) I’ll write up a Medium story and reference all the great work you guys are doing.

[2017-09-21 11:56] tomitrescak commented on #816
Cc @nchanged sorry;)

[2017-09-21 12:00] nchanged commented on #816
@tomitrescak awesome!!!

[2017-09-22 10:59] nchanged commented on #818
@xaviergonz I wasn't able to reproduce the issue. Could you reproduce it in a repository?

[2017-09-22 11:00] nchanged commented on #819
Not sure i got you, could you make an example please

[2017-09-22 11:05] nchanged commented on #815
I am not sure we can help with your IDE.  Use [this](http://fuse-box.org/plugins/sass-plugin#macros) option

[2017-09-22 11:05] #815 closed

[2017-09-22 11:13] nchanged commented on #811
I wasn't able to reproduce the issue.
But i think i know what's the problem
[code]

Quantum creates `shims.js` file. So if you used WebIndexPlugin you wouldn't have had this problem.

[2017-09-22 11:13] #811 closed

[2017-09-22 11:15] nchanged commented on #804
@calebboyd are you planning on elaborating how you think it could work?

[2017-09-22 11:43] ypconstante commented on #819
https://github.com/fuse-box/fuse-box/blob/master/src/plugins/stylesheet/SassPlugin.ts#L85
https://github.com/fuse-box/fuse-box/blob/master/src/plugins/stylesheet/CSSResourcePlugin.ts#L132

The cssresource plugin is appending an `$` to the key before doing the replace, while the sass plugin makes the replace directly. So if I create a macro named `static` in the cssresource, the string `$static` is

[2017-09-22 12:07] nchanged commented on #819
Oh that's right... gotta think how to fix that

[2017-09-22 14:50] calebboyd commented on #804
I was going to elaborate with a PR when I had some free time :)

[2017-09-22 15:57] xaviergonz commented on #818
Closing the ticket since I was unable to reproduce it making a minimal example

[2017-09-22 15:57] #818 closed

[2017-09-22 18:33] #800 closed

[2017-09-22 18:39] #810 closed

[2017-09-23 12:55] jezikk commented on #694
@nchanged  Ok, the following settings desn't work
[code]
This error is shown:
[code]

[2017-09-23 13:16] nchanged commented on #694
You resolve.option is incorrect. /resources probably? Idk depends on your http server config

[2017-09-23 13:37] jezikk commented on #694
The problem is that the resource files are not generated - `dist/resources` folder is empty. I fixed my resolve.option path.

[2017-09-23 17:52] nchanged commented on #694
That means that the paths in that sass file are incorrect. I would recommend using the dist file where the resources will be in place

[2017-09-24 00:00] DaveO-Home commented on #803
Well, it turns out that the issue is index.js vs index.ts - index.js works when started up, but once a change is made to code the hmr does to re-process the aliases etc.  Changing to index.ts everything works, bug or feature?

[2017-09-24 08:08] nchanged commented on #803
Can u share your config?

[2017-09-24 09:57] s4kr4 opened #821 "Babel's config in VuePlugin"
Hello,

In the `VuePlugin`, we can specify the transpiler by defining the `lang` attribute.
And if we select `babel`, it seems that we can set babel's config like this.

[code]

But in this case, `babel` loses default config(`babel-plugin-transform-es2015-modules-commonjs`).
Is this behavior to be expected?
I think that specified settings should be merged with default settings.

Thanks.

[2017-09-24 11:17] devmondo commented on #821
@s4kr4  we are working with Mr. @Shepless on making the vue plugin perfect, hang in there, it will be out soon :)

[2017-09-24 11:20] nchanged commented on #821
Yeah there will be a fully fledged support for Vue in 2.3.1 it’s coming in 1 week

[2017-09-24 11:37] s4kr4 commented on #821
Sounds good!

[2017-09-24 11:41] TombolaShepless commented on #821
@s4kr4 hey there - I really want a fully functional one too for my own work too. Im working on the plugin now and it is almost done but I am working on it in the evenings in personal time so please bear with me 👍

[2017-09-24 20:36] DaveO-Home commented on #803
const {FuseBox, QuantumPlugin, WebIndexPlugin, CSSPlugin, CSSResourcePlugin, HTMLPlugin, JSONPlugin, UglifyJSPlugin, HMRPlugin, CopyPlugin, EnvPlugin} = require("fuse-box");
	const  {BlockStripPlugin} = require("./appl/js/plugin/BlockStrip");
	const aliases = {
	    "apptest": "./karma/apptest.js",
	    "routertest": "./routertest.js",
	    "toolstest": "./toolstest.js",
	    "domtest": "./domtest

[2017-09-24 21:08] nchanged commented on #803
Have you seen that http://fuse-box.org/page/configuration#usetypescriptcompiler ?

You should use it, if you bundle .js instead of .ts

[2017-09-25 11:12] devmondo commented on #803
@DaveO-Home also make sure you dont have the same file name as `ts` and `js` as typescript will get confused

[2017-09-25 17:39] dgreif opened #823 "Cannot import `request-promise`"
`request-promise` uses `request-promise-core`, which does some interesting import paths internally.  One of the imports is just a relative `require('./errors.js')`, which is breaking when bundled with fuse-box.  Still an issue after #797.  Here is an example using `2.3.1-beta.15`:  https://github.com/dgreif/request-promise-fuse

[2017-09-25 18:32] nchanged commented on #823
Just a side note why don’t you isolate dependencies for server? Are u deploying it to amazon lambda or something?

[2017-09-25 18:35] dgreif commented on #823
We are deploying with Docker, so we can definitely install dependencies.  Would just be nice to deploy a bundle and not have to install dependencies.  For now I'll bundle it without deps.

[2017-09-25 18:42] calebboyd commented on #823
I have this use-case also when deploying apps with nexe (node)

[2017-09-25 19:07] nchanged commented on #823
I don't think it's a good idea tho
1) That defeats the purpose of using Docker and having environment specific binaries and builds.
2) Many of the server libraries rely on the files system e.g __dirname and require other modules dynamically hence won't work in a bundle.

But I will take a look anyway

[2017-09-25 19:19] calebboyd commented on #823
Thanks for taking a look :)

To give a little more context:
1) Bundling deps when you have docker is redundant yes. But Servers are not the only place that use the node runtime. Its everywhere, used to run all types of applications -- not just servers with docker ;) It could be any old application, on any machien. It is the developers responsibility to make sure they will be bundling the right cod

[2017-09-26 18:00] deamme commented on #792
@yihongang How far are you? This feature could be awesome so the [typescript transformer](https://github.com/deamme/ts-transform-inferno) for [Inferno](https://github.com/infernojs/inferno) can be used.

[2017-09-26 20:42] tomitrescak opened #824 "Resolve path"
Guys, is there any functionality that would give me a current module path, such as commonJs’s require.resolve?

[2017-09-26 21:15] tomitrescak commented on #824
Got it.

__filename
__dirname

standard node.js ;)

[2017-09-26 21:15] #824 closed

[2017-09-26 21:16] calebboyd commented on #824
Implementing:
`require.cache`
`require.extensions`
`require.resolve`

would be helpful though...

[2017-09-27 07:11] zeniroy opened #825 "source map file name was wrong when bundle name with dot"
[code]

output file is "index.js" but source map file name is "index.js.js.map".

How can i fix it?

[2017-09-27 07:39] nchanged commented on #825
@zeniroy
`output: "build/$name.js",`

`fuse.bundle('index')`

[2017-09-27 07:48] zeniroy commented on #825
I want use filename with some dots.(ex. some.file.name.with.dot.min.js ) I found that when i use bundle name with dot, extension in output option is ignored. so i cannot use like this

'''javascript
output: 'build/$name.js'
'''

[2017-09-27 09:59] nchanged commented on #825
@zeniroy that's right, js is added automatically, and `min` considered to be extension.

[2017-09-27 11:14] chelmertz opened #828 "A failed task should exit with a non-zero exit code"
I'm a bit new to fuse and I got stuck on making a task fail with a non-zero exit code.

Both of these tasks fail with an exit code of 0:

[code]

[code]

Do I have to surround all of the contents in a `Sparky.task()` in a try-catch and `call process.exit(1)` manually?

Fuse is only a part of our build process (JS for the front-end, something else for the backend) so it's very important that I can

[2017-09-27 19:16] nchanged commented on #828
@chelmertz I've just checked it.
Exit code 0 - success
Exit code 1 - error

[code]

Are you doing something wrong?

[2017-09-27 19:28] #825 closed

[2017-09-27 19:29] nchanged commented on #825
@zeniroy `fuse-box@2.3.1-beta.16`

[2017-09-27 19:39] chelmertz commented on #828
I will get back to you with something reproducible.

Den 27 sep. 2017 21:16 skrev "nchanged" <notifications@github.com>:

[2017-09-28 07:06] zeniroy commented on #825
ok, i works. thanx!

[2017-09-28 11:11] devmondo commented on #389
This is fixed now, let us know otherwise.

[2017-09-28 11:11] #389 closed

[2017-09-28 11:11] devmondo commented on #302
This is fixed now, let us know otherwise.

[2017-09-28 11:11] #302 closed

[2017-09-28 11:15] devmondo commented on #569
This is possible  now http://fuse-box.org/page/development#auto-reload-page
 let us know otherwise.

[2017-09-28 11:15] #569 closed

[2017-09-28 12:02] devmondo commented on #538
@guillaume86 any news on this? did u try with the latest fuse ?

[2017-09-28 12:07] devmondo commented on #708
This is possible now with http://fuse-box.org/page/development#auto-reload-page :)

[2017-09-28 12:07] #708 closed

[2017-09-28 19:15] patgoley commented on #424
@nchanged Thanks. I didn't end up needing separate bundles or Quantum. I updated to Fuse Box 2.0 and was able to use ReplacePlugin and BabelPlugin in a nested array in my plugins. This worked fine and I didn't have the same problems from 1.x where only one of them would run, but _make sure_ you have them in an array together. Like so:

[code]

[2017-09-28 19:35] calebboyd opened #831 "Fails to install in some environments"
Running into an error where some environments might not have the `node` executable.
Eg. apt installs node to `nodejs`

Fusebox fails to install in these environments because `opencollective postinstall` executes a script with the `node` executable

[2017-09-28 20:05] nchanged commented on #831
I guess we need to remove it, nobody donates anyway 😢

[2017-09-28 20:12] deamme commented on #792
Bumping this because I'm THAT excited!

[2017-09-28 20:12] calebboyd commented on #831
😧 😭
I was able to get around it with a temporary session long symlink / path hack. Just thought I'd let you know.

[2017-09-28 21:33] TombolaShepless commented on #821
Update for you @s4kr4 Functionality is developed - its not perfect but it is a lot more feature complete now. I need to write the documentation and will have a PR up tomorrow evening for @nchanged and @devmondo to review.

[2017-09-29 12:17] TombolaShepless commented on #125
@bovisp @eddow #832

[2017-09-29 12:18] TombolaShepless commented on #542
@eddow #832

[2017-09-29 12:22] devmondo commented on #831
:(

[2017-09-29 19:20] jezikk commented on #708
Ok that is great news, but how this feature works? My settings is as follows:
[code]
and If I make a change in any *.scss file, the browser page is not automatically reloaded. Is it any issue in my settings?

[2017-09-29 21:09] Shepless commented on #724
@devmondo @xaviergonz this was resolved in the VuePlugin PR #832 [here](https://github.com/fuse-box/fuse-box/pull/832/files#diff-e1a51f1b91758ca57b41d2ec4a0f517cR63)

I think this issue can be closed now.

[2017-09-29 21:10] Shepless commented on #821
@s4kr4 can you verify that this issue is now resolved?

[2017-09-29 21:42] JoeLanglois commented on #636
Still not implemented, any progress so far?

[2017-09-30 12:57] #724 closed

[2017-09-30 13:13] devmondo commented on #708
@nchanged  do we have a bug here or he is missing something?

[2017-09-30 16:07] nchanged commented on #708
Please install the latest beta

[2017-09-30 21:54] sveinburne opened #834 "FuseBox dependency resolution error w/t TS + React + cerebraljs"
# FuseBox + TS + React + Cerebral bug 'Super expression must either be null or a function, not undefined', MWE

![image](https://user-images.githubusercontent.com/3646758/31048346-20301112-a5e9-11e7-8fe0-a9522fbfe073.png)

[This MWE](https://github.com/sveinburne/mwe-bug-fuse-ts-react-cerebral), based on `react-typescript` (`fuse-box-examples`) provides a basis to understand the issue.

The [src/a

[2017-10-01 05:05] s4kr4 commented on #821
@Shepless It's nice idea that using BabelPlugin instead of the VuePlugin's inner process. This resolved my this issue related to Babel's config.
This issue will close, but now I have another issue on VueComponentPlugin.
I'll make new issue about that.

Thanks.

[2017-10-01 05:05] #821 closed

[2017-10-01 08:41] nchanged commented on #834
It looks like there are 2 versions of react bundled. ...
[code]

It might be a bug, with setting custom dependencies, will continue looking into that

[2017-10-01 10:21] Shepless commented on #821
@s4kr4 good news. Can't see your new issue? Did you manage to resolve?

[2017-10-01 12:32] sveinburne commented on #834
@nchanged again, thanks !

[2017-10-01 15:08] #834 closed

[2017-10-01 15:10] nchanged commented on #834
Yep, a bug was discovered because a package name within a scoped repository coincidentally matched node_module name `@cerebral` + `react`
`fuse-box@2.3.1-beta.18`

Good catch!

[2017-10-01 15:21] nchanged commented on #834
there is an error in this version, the update is coming soon ;-)

[2017-10-01 15:28] nchanged commented on #834
`npm install fuse-box@2.3.1-beta.19 --save-dev`

[2017-10-01 15:40] sveinburne commented on #834
@nchanged it works !

[2017-10-01 15:49] nchanged commented on #834
@sveinburne happy to hear! We are going for a big release on Mon/Tue

[2017-10-01 15:57] sveinburne commented on #834
@nchanged awesome ! Looking forwards to see that one

[2017-10-01 16:00] s4kr4 opened #835 "VueComponentPlugin's bundle process often doesn't work properly with BabelPlugin"
Hello,

I tried using VueComponentPlugin with BabelPlugin, but it doesn't work properly.

Reproduce

1. Clone [this repogitory](https://github.com/s4kr4/fuse-box-vue-sample).
2. Install npm modules.
3. `yarn start` or `npm start`
4. Hit `Ctrl + C` to stop watching.
5. Restart `yarn start` or `npm start`.

The first process includes `index.js`, `App.vue` and `Test.vue`, but the second process inclu

[2017-10-01 16:02] s4kr4 commented on #821
@Shepless Sorry for late, I made #835 .

[2017-10-01 16:05] nchanged commented on #835
Can you try removing Babel and use [useTypescriptCompiler](http://fuse-
box.org/page/configuration#usetypescriptcompiler) option instead?
@Shepless I think we should somehow make it by default ... it's a very powerful option and it's suitable for so many cases.

[2017-10-01 17:13] jezikk opened #836 "libsass - Mixins with compound "&" selectors make sourcemaps invalid"
Hi,

I have a project that works with latest stable version of fuse-box 2.2.31 without any problem:
[code]
After updating to beta version 2.3.1-beta.19 (using fuse-box@beta), there are errors during SASS compilation:
[code]

[code]

If you need any other information, please let me know.

Thanks,
Michal

[2017-10-01 17:16] jezikk commented on #708
@nchanged I tried, but maybe there is some bug #836 in beta version.

[2017-10-01 17:33] Shepless commented on #835
@nchanged it is typescript by default. I'm out at the moment but will take a look later

[2017-10-01 17:41] nchanged commented on #708
@jezikk do you think you can reproduce this issue? I would be great to fix that before the release

[2017-10-01 17:57] jezikk commented on #708
@nchanged  I have created a new issue for that: https://github.com/fuse-box/fuse-box/issues/836. All you need to do is to clone and start the project and you see errors in console or do you need anything else?

[2017-10-01 18:43] nchanged commented on #708
@jezikk bug confimed ;_) fixing it

[2017-10-01 18:55] nchanged commented on #836
https://github.com/sass/libsass/issues/2312

[2017-10-01 18:56] nchanged commented on #836
Seems to be quite a problem...
[code]

[2017-10-01 19:14] nchanged commented on #836
It seems that it cannot be fixed at this stage, simply nothing we can do but wait. Node-sass states "bug confirmed" but when they are going to fix it - nobody knows.
Do you think you can use `.css` version for now?

[2017-10-01 19:40] nchanged commented on #835
@s4kr4  yep, remove Babel and use this config ;-)
[code]

[2017-10-02 03:36] s4kr4 commented on #835
@nchanged
Thank you for your advice.
I took your advice ([this commit](https://github.com/s4kr4/fuse-box-vue-sample/commit/456731000dc742487d616e011207493e95ac836c)).
It came to include `index.js` and `App.vue`, but exclude `Test.vue` constantly.

[2017-10-02 05:55] xdave commented on #617
Hmm, this appears to have regressed.  Getting this problem again with 2.3.1-beta.21.  I haven't used Quantum in a while, so I'm not sure when it regressed.

[2017-10-02 07:26] TombolaShepless commented on #835
@s4kr4 This is not an issue with FuseBox - it is how Typescript works. If you `import Foo from './foo'`; but never actually use that import it will not be transpiled - have a try with tsc directly in your console on a couple of files. More info can be found [here](https://github.com/Microsoft/TypeScript/issues/9191). If you update you're `App.vue` to:

[code]

In addition you have another issue:

[2017-10-02 08:12] #835 closed

[2017-10-02 08:13] nchanged commented on #617
@xdave it happens because that variable isn't used - therefore not bundled. That's how typescript works.

[2017-10-02 08:15] nchanged commented on #520
[code]

That's it, your worker bundle is ready

[2017-10-02 08:16] rquast commented on #520
Nice work! I'll be sure to check it out soon. Thanks! :)

[2017-10-02 08:16] #520 closed

[2017-10-02 08:57] s4kr4 commented on #835
It was my mistake. Sorry :(

[2017-10-02 16:16] #831 closed

[2017-10-02 16:41] jezikk commented on #836
As I use only one root app.scss file and all other sass files are included in this file, I don't need grouping at all. So this workaround works great. Thank you for help.

[2017-10-02 16:41] #836 closed

[2017-10-02 16:43] jezikk commented on #708
After updating to beta version the auto-reloading works fine. Thank you.

[2017-10-02 18:32] devmondo commented on #366
lots of community members expressed that we shall keep fuse simple with no CLI, so I think we will close this :)

[2017-10-02 18:32] #366 closed

[2017-10-02 18:36] devmondo commented on #261
@vegarringdal  any update on this ?

[2017-10-02 18:37] devmondo commented on #553
we will close this for now if the issue still persists let us know :)

[2017-10-02 18:37] #553 closed

[2017-10-02 18:38] devmondo commented on #203
if you use Fuse in node process, u can chain the log to that process output, will close this for now but let us know otherwise :)

[2017-10-02 18:38] #203 closed

[2017-10-02 18:39] nchanged commented on #823
@dgreif @calebboyd
the latest beta works with this config:

[code]

[code]

I think you can package it in Quantum and deploy elsewhere.

[2017-10-02 18:41] devmondo commented on #519
that’s invalid javascript
that’ s like doing import {stuff} from alert(“hello world“)
will close this, for now, let us know otherwise :)

[2017-10-02 18:41] #519 closed

[2017-10-02 19:05] calebboyd commented on #823
Hmm... Any idea why it doesn't work without quantum?

[2017-10-02 19:10] nchanged commented on #823
yes I've got an idea, Quantum removes conditions with `document` and `window` and for some reason, that library fails to detect if it's running on server - of course, `module.exports` is very much defined...

[2017-10-02 19:43] nchanged commented on #803
@DaveO-Home any updated?

[2017-10-02 19:49] nchanged commented on #775
@rs3d this has been fixed with the latest beta, and a stable version will be released this week

[2017-10-02 19:49] #775 closed

[2017-10-02 20:40] calebboyd commented on #823
I don't follow. The library has no references to any dom apis.

[2017-10-02 20:49] nchanged commented on #823
Sorry man, I had it with hmr() lol. Now I am getting that error with `Error: Cannot find module './errors.js'` I have zero clue why..

[2017-10-02 20:52] calebboyd commented on #823
Aye, Thats the original error.. Weird right?

[2017-10-02 21:05] nchanged commented on #823
I might have an idea, MIGHT be a circular dependency with this line

[code]
wherease there is no `index.js` and it takes the entry point. I am just debugging and seeing some odd stuff, as if there is not `error.js` but it is there... without evaluated context, as if there a circular reference somewhere, which we are not handling properly

[2017-10-02 21:13] nchanged commented on #823
Oh.. basePath is so wrong... `..js` there is definitely something wrong with the loader......

[2017-10-02 21:18] devmondo commented on #552
@patrickmichalina should we get more details about ur starter :)

[2017-10-02 21:19] calebboyd commented on #823
I may have seen this before... Does it work if you change `../` to `..`

[2017-10-02 21:24] nchanged commented on #823
I remember somebody modified the loader, was it you? ;-) but it definitely fails to resolve that require("../") whereas there is no `index.js`
The final path it's trying is `..js` - I guess out of desperation. And Quantum solves it nicely, hm....

Changing it to `var core = require('.."')` made if fail:

`TypeError: core is not a function`

It's really weird cuz there isn't any candidate it could

[2017-10-02 21:30] calebboyd commented on #823
Yeah, I had this base case covered but after discussion we decided to narrow it. I think its safe to probably bring back...

We can change
https://github.com/fuse-box/fuse-box/blob/0646063d6f55d47b254582c90282d03925d13351/src/loader/LoaderAPI.ts#L300-L302

To

[code]
Where isRelative is the same regex from PathMaster
https://github.com/fuse-box/fuse-box/blob/0646063d6f55d47b254582c90282d03925d1335

[2017-10-02 21:31] calebboyd commented on #823
Am I looking in the right place? It sounds like filePath is `..`

[2017-10-02 21:31] nchanged commented on #823
line ~ 5791ish

[2017-10-02 21:38] nchanged commented on #823
@calebboyd that didn't help ((

[2017-10-02 22:16] calebboyd commented on #823
I wonder if it has to do with requiring a partial node_module from within a node_module, such that when looking up `./errors` it retains the context of the original node_module

[2017-10-02 23:08] patrickmichalina commented on #552
@devmondo What do you mean good sir?

[2017-10-02 23:09] mattoni opened #838 "Cannot import fuse.js library"
Hey guys,

Mentioned it in gitter a couple days ago, still haven't been able to get a workaround so I figured I'd open an issue so we can track it.

I'm unable to import this package: http://fusejs.io/

Seems like it's causing havoc in the import and errors out with `Uncaught (in promise) Package not found fuse.js`

@nchanged tried your solution of creating an imports file, that didn't work either

[2017-10-02 23:11] calebboyd commented on #838
Interesting, It uses the webpack UMD wrapper...

[2017-10-02 23:12] mattoni commented on #838
I think it's the `.js` part causing it to mess up, since I've not had this kind of issue with any other package.

[2017-10-02 23:14] calebboyd commented on #699
So, Exploring this a bit more now that 5 is out with a better compiler. -- It looks like to perform AOT using `ngc` you have to use a program. Which is problematic because fusebox makes use of transpileModule exclusively.

Any ideas on how to support that are most welcome

[2017-10-02 23:37] calebboyd opened #839 "Changelog"
I @dgreif mentioned it once in gitter. But here is the change log based off of the commits that I've added using a convention.

Its pretty handy to reference :)

Using `conventional-changelog-cli`
I ran: `conventional-changelog -p angular -i CHANGELOG.md -s`

And got:

<a name="2.3.1-beta.23"></a>
## [2.3.1-beta.23](https://github.com/fuse-box/fuse-box/compare/v2.2.31...v2.3.1-beta.23) (2017-10-02

[2017-10-03 07:30] nchanged commented on #839
That would require strict commit messages ;-) I am up for it!

[2017-10-03 07:54] nchanged commented on #823
This is where it failes
`console.log(require('request-promise-core/configure/request2'))`

[2017-10-03 08:40] nchanged commented on #823
Ok, that was easy.. I am not sure how that was working before
[code]
validPath was never set, therefore couldn't get resolved

@dgreif @calebboyd `fuse-box@2.3.1-beta.24`

[2017-10-03 08:57] nchanged commented on #823
🎆 ✌️

[2017-10-03 08:57] #823 closed

[2017-10-03 13:23] TombolaShepless commented on #839
I'd recommend husky and commitizen personally.

[2017-10-03 13:25] TombolaShepless commented on #838
@mattoni could you provide a small demo repository? It would be a huge help for us to try and find out what is causing the problems.

[2017-10-03 14:07] nchanged commented on #839
no everybody will use, for example, I use GitKraken and find it convenient, it's easy to come up with the format

[code]

We just need to describe those in `Contributing.md` and be very strict with it.

[2017-10-03 14:32] TombolaShepless commented on #839
I think I disagree bud - Automation FTW. You can still create you're own template if you don't like conventional changelog style (but that does come with the benefit of auto CHANGELOG messages and version bumps).

[2017-10-03 14:57] calebboyd commented on #804
Linking: https://github.com/nexe/nexe/issues/399

[2017-10-03 15:12] TombolaShepless commented on #839
@calebboyd Can you expand on your 👎 ? I don't see how automating this is bad and would like to hear your thoughts. In my eyes, the husky + commitizen combo gives you the following:

- Fully automated and validated commit messages
- Ability to use the `conventional-changelog-cli` with 0 hassle (which you've indicated is something you want in original comment)
- Commit validation works with both CLI

[2017-10-03 16:01] nchanged commented on #839
we can just install a hook that will spit an error if a commit message doesn't conform to our standards. That's how it will work with any client like the one I am working with. I hate git CLI.

[2017-10-03 16:14] devmondo commented on #552
Dear @patrickmichalina, in other words, should we use your starter above and close this thread :)

[2017-10-03 16:22] devmondo commented on #838
what is funny is that i cant install it with `npm i fuse.js` as there is already file `fuse.js` in my project!

[2017-10-03 16:32] Shepless commented on #839
@nchanged ok mate but that's all husky is a git hook tool. Works nicely regardless of git tool being used.

@calebboyd that's fine but I don't think it is irrelevant though. We should look to use tools that the wider community are familiar with to increase our chances of onboarding contributors. That's all I'm alluding to here.

[2017-10-03 16:32] devmondo commented on #838
after installing with `npm i git+https://git@github.com/krisk/Fuse.git` and importing using `import * as fuse from "fuse.js";` there is no error, but lib is undefined

[2017-10-03 16:35] devmondo commented on #838
ok i confirm, i renamed the `fuse.js` folder in `node_modules` to `fuse` and imported it as `import * as fuse from "fuse";` and now i can console log it and see it

[2017-10-03 16:41] nchanged commented on #839
@calebboyd let's check it out and define the rules

[2017-10-03 16:53] #792 closed

[2017-10-03 17:23] patrickmichalina commented on #552
@devmondo Ahh ok I see. Well, the Angular CLI is a lot more substantial than what I have made so far. It includes and API, and Identity Server (coming soon). So its a bit more opinionated than the more generic Angular-CLI and associated tools.

Current shortcomings with my starter project:
- Vert specific stack (express, angular-material, etc..)
- It hasn't been well tested on Windows
- AOT compil

[2017-10-03 18:31] pyros2097 commented on #688
I seem to have run into this issue also. I'm trying to create a cli which has a common fusebox configuration and which is used to build my other projects. Its working fine whenever I build any project it ends up creating a .fusebox folder in my cli project and not in the current working dir of my other project.

[2017-10-03 18:33] nchanged commented on #688
@pyros2097 process.env.FUSEBOX_TEMP_FOLDER doesn't work for you?

[2017-10-03 18:35] pyros2097 commented on #688
I just tried it. It works. I just added this before I import fusebox.
[code]
and Ohh man I just wiped out my react-example folder. Good thing it has git vcs.

[2017-10-03 18:40] calebboyd commented on #688
😶

[2017-10-03 19:02] calebboyd commented on #688
I have this use case with nexe as well. Starting fusebox when it isn't being used in the context of the main module (eg as a dependency) is pretty cumbersome right now.

[2017-10-03 19:07] Shepless commented on #839
I'll put up a test branch for you guys to play with to see what you think. If we don't like then thats cool but its worth investigating I think.

[2017-10-03 19:09] devmondo commented on #552
@patrickmichalina thanks a lot for the details man.

fiar enough, also angular 5 is introducing new AOT compiler, so, I think we should have a plugin one day or something.

I also checked and your seed is already on fuse website, so, I think it is safe to close this for now :)

[2017-10-03 19:09] #552 closed

[2017-10-03 19:29] devmondo commented on #596
We don't think this will work out, especially that rest of plugins follow the standard fuse flow.
will close this for now, let us know otherwise :)

[2017-10-03 19:29] #596 closed

[2017-10-03 19:29] devmondo commented on #558
if you could come up with a solution let us know, will close this for now :)

[2017-10-03 19:30] #558 closed

[2017-10-03 19:32] devmondo commented on #369
lots of community members expressed that we shall keep fuse simple with no CLI, so I think we will close this :)

[2017-10-03 19:32] #369 closed

[2017-10-03 19:34] devmondo commented on #592
the docs are updated. will close this :)

[2017-10-03 19:37] devmondo commented on #637
will close this due to inactivity :)

[2017-10-03 19:37] #637 closed

[2017-10-03 19:39] devmondo commented on #425
The recommended usage is as in https://github.com/fuse-box/fuse-box/issues/424#issuecomment-332936407

will close this for now :)

[2017-10-03 19:39] #425 closed

[2017-10-03 19:44] devmondo commented on #511
We have now http://fuse-box.org/page/configuration#language-level for TS
and for Vue we now have a great plugin in collaboration with @Shepless

The rest we think it is too much magic, as fuse by nature would require very less config compared to other bundlers, so we want to keep things clear for users and let them decide their requirement.

[2017-10-03 19:44] #511 closed

[2017-10-03 19:50] #477 closed

[2017-10-03 20:38] jsamr opened #843 "CSSPlugin optimization : bundle CSS by media query"
[code]

An option `bundleByMQ` or `groupByMQ` would chunk CSS into **n +1** files where **n** is the number of media query selectors in the whole CSS (the latest targets all media).
This optimization is suggested by [developers.google.com](https://developers.google.com/web/fundamentals/performance/critical-rendering-path/render-blocking-css) website to minimize the critical rendering path.

[2017-10-03 20:46] nchanged commented on #843
And how one would define that option?

[2017-10-03 20:58] Shepless commented on #839
@nchanged @calebboyd I have pushed a demo branch up (created PR so you can see the changes involved): #844 let me know what you think.

[2017-10-03 21:32] Shepless commented on #542
@nchanged this can be closed with next release

[2017-10-03 21:35] sveinburne commented on #843
I have to say I don't really know ; it's kind of an API design flavour^^
What about :
[code]
?

[2017-10-03 21:39] sveinburne commented on #843
He could also define alias to have sensible names:
[code]

[2017-10-03 21:51] Shepless commented on #689
@whitecolor you can set `cache: false` as a temporary work around (not ideal I know). I have just started contributing so my knowledge isn't as in depth but I will certainly take a look to see if I can resolve this issue.

[2017-10-04 00:10] DaveO-Home commented on #803
No real updates - I went with development index.ts to use HMR and index.js in production to strip development code(I couldn't get typescript to not strip comments, even with my own tsconf file).
Using usetypescriptcompiler seems to be overkill(but it does fix the hmr problem), Renaming index.js to index.ts is simpler since typescript accepts javascript.

[2017-10-04 07:22] nchanged commented on #717
Let's close this one now

[2017-10-04 07:22] #717 closed

[2017-10-04 07:46] HamedFathi opened #845 "[Question] FuseBox and ASP.NET Core with HMR support"
How to use FuseBox and ASP.NET Core with **HMR support**?

Can anyone guide me or share a sample?

[2017-10-04 07:49] nchanged commented on #845
@HamedFathi hi!
isn't it .Dot and not javascript? ;-)

[2017-10-04 09:01] devmondo commented on #845
@HamedFathi what u r missing?
are you doing SPA or standard site with .NET?
mostly you will not have to do anything .NET specific, just make sure to proxy fuse devserver to your .NET
 http://fuse-box.org/page/development#proxy.
the rest is purely fuse :) let us know if u need more info.

[2017-10-04 09:04] devmondo commented on #542
the new release is out :) try it and let us know.

[2017-10-04 09:04] #542 closed

[2017-10-04 09:08] devmondo commented on #537
The new release is out with awesome Vue support it should fix this.

will close this, for now, let us know otherwise :)

[2017-10-04 09:08] #537 closed

[2017-10-04 09:09] devmondo commented on #125
The new release https://github.com/fuse-box/fuse-box/releases/tag/v2.3.1 is out with awesome Vue support it should fix this.

will close this, for now, let us know otherwise :)

[2017-10-04 09:09] #125 closed

[2017-10-04 09:31] Shepless commented on #819
Maybe we should pull macros out into their own object that is reused by anything that needs it. That way it's consistent throughout fuse box.

[2017-10-04 11:53] HamedFathi commented on #845
@nchanged @devmondo

Hi!, I want to use FuseBox with Aurelia and ASP.NET Core as **SPA** project but in Webpack we have [JavaScriptServices](https://github.com/aspnet/JavaScriptServices) for [HMR](http://angularfirst.com/asp-net-core-javascript-services-with-webpack-hmr/) integration.

[code]

so My question is Do we have something similar to Webpack and JavaScriptServices for activating HMR on AS

[2017-10-04 12:04] nchanged commented on #845
there is no need in that ^ You can just say
[code]

That's it. HMR will be working with your IIS http server

[2017-10-04 12:11] HamedFathi commented on #845
@nchanged

Thanks,

ASP.NET Core works on any web servers, not just IIS.
eg : [Kestrel ](https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction?tabs=aspnetcore2x) or [Nginx](https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction?tabs=aspnetcore2x)

Does it work for any web server ? or a tip for IIS?

[2017-10-04 12:14] nchanged opened #846 "acorn-object-rest-spread - ACORN fails to parse some JSX"
subj
https://github.com/fuse-box/fuse-box/pull/837
Failes to parse:
[code]

@calebboyd
I am reverting it until we figure out what's wrong

[2017-10-04 12:16] nchanged commented on #845
any server @HamedFathi

[2017-10-04 12:28] ttamminen commented on #846
In my case, some of the .tsx files caused an error after upgrading to 2.3.1.

[code]

The line doesn't have any issues according to the TypeScript compiler.

After commenting the problematic area, the parses fails on another component.

The problem goes away after removing `require('acorn-object-rest-spread/inject')(acorn);` and `objectRestSpread: true` from the FileAnalysis.js file.

[2017-10-04 13:20] devmondo commented on #845
@HamedFathi fuse dont care about whatever server technology you use :)  just enable HMR and proxy your server endpoint and boom !

[2017-10-04 13:28] rs3d commented on #846
Error message:

[code]

[code]

[code]

Syntactically I can't spot any errors.

[2017-10-04 13:28] Janaka-Steph opened #847 "NodeJs "stream" lib in browser"
Hello,

I have troubles importing / using this lib `https://github.com/DigixGlobal/truffle-lightwallet-provider` in the custom modules folder.
More precisely, customModules/protocol/truffle.js, line 4
I use Typescript in `src` but need to use Javascript in `customModules`.

In fuse.js, I specify `polyfillNonStandardDefaultUsage: true` and `useJsNext: true`.

Error is: `Uncaught TypeError: Cannot r

[2017-10-04 13:38] calebboyd commented on #846
@rs3d Looks like this has been reverted in 2.3.2

[2017-10-04 13:53] rs3d commented on #846
@calebboyd ty, it's only for the record and future debugging :)

[2017-10-04 17:40] bradenhs commented on #569
Works great!

[2017-10-04 17:42] bradenhs commented on #569
Only thought would be: is it possible to make this work with Quantum?

[2017-10-04 18:07] devmondo commented on #569
@bradenhs, do you use quantum uring dev process?  usually, you do quantum only when you want to create a production-ready build. none the less, if you feel it should happen, kindly create a seprate issue for this :)

[2017-10-04 18:17] bradenhs commented on #569
Don't use Quantum at all yet but this would be useful when developing production specific parts of the code base (i.e. stuff that runs only when `process.env.NODE_ENV==='production'` is true)

[2017-10-04 18:30] nchanged commented on #569
@bradenhs http://fuse-box.org/page/quantum#dead-code-elimination

[2017-10-04 18:38] nchanged commented on #847
Ok, it's because of that line
[code]
We don't a polyfill for that lib

[2017-10-04 18:47] sandyplace commented on #780
I am now getting this error after upgrading to 2.3.2

[2017-10-04 18:49] nchanged commented on #780
this repo still works? https://github.com/guillaume86/fusebox-issue-780
i mean i can reproduce the issue there?

[2017-10-04 18:59] sandyplace commented on #780
Sorry, I haven't checked out the version in the link yet. I just noticed after I upgraded from 2.2.31 -> 2.3.2 that when I build clean (after removing my .fusebox folder) that everything builds successfully. If I make a change to a source file or try rebuilding again it throws the exact same exception and stack trace that was described in this issue.

[2017-10-04 19:12] sandyplace commented on #780
I checked out the example project and it seems to work fine. I will see if I can reproduce it.

[2017-10-04 20:30] mattoni commented on #838
problem is i can't do that if i want the typescript definitions from definitely typed :/ let me know when there is some progress on this :)

[2017-10-05 00:49] subnomo commented on #295
I'm still having this issue in FuseBox 2.2.31. It seems to only happen with arithmetic that excludes dependencies.

Here is my config:

[code]

If I change `.instructions('> [renderer/index.tsx]')` to `.instructions('> renderer/index.tsx')`, it works as expected.

[2017-10-05 05:19] nchanged commented on #295
Can u reproduce it in a repository?

[2017-10-05 08:17] linde12 opened #848 "Tilde alias"
Hi, i am trying to migrate from webpack to fuse-box due to it's amazing hot-reload that actually works for React 16.

I have a problem where my project uses ~ (tilde) as an alias for "source root" (src/). In webpack this enabled me to type `import Clock from '~/components/Clock'`. When i try to do the same with fuse-box using `.alias('~', 'src')` i get an error (might be because tilde is treated s

[2017-10-05 08:22] linde12 commented on #848
Oh, i found something over here: https://github.com/fuse-box/fuse-box/blob/master/docs/plugins/transpilers/BabelPlugin.md

After adding my babel-configuration like in the example the browser tried to request the file via XMLHttpRequest.

[code]

[2017-10-05 08:26] nchanged commented on #848
@linde12 tilde is already integrated into FuseBox. Remove all your aliases, and continue using tilde.

[2017-10-05 08:26] #848 closed

[2017-10-05 08:29] nchanged commented on #848
@linde12 and try this option http://fuse-box.org/page/configuration#usetypescriptcompiler that will remove the need in Babel

[2017-10-05 08:53] linde12 commented on #848
@nchanged I see, i got another error because i was using the typescript compiler so i assumed it was related to the tilde.

Using the typescript compiler i have to type `import * as Bla from 'bla'` which is kind of annoying for people who are not using typescript. If i use baben en disable the typscript compiler i get different errors and don't get any sourcemaps or code at all in the debugger in

[2017-10-05 09:59] nchanged commented on #848
@linde12 you should follow javascript standards, import module from "./module" which doesn't export default is a non-standard and a *uck up that babel made.

[2017-10-05 10:01] nchanged commented on #848
Read this one carefully https://medium.com/fusebox/do-you-really-need-babel-baa0971f1957

[2017-10-05 10:07] linde12 commented on #848
@nchanged Yes, i read the typescript issue about it, but de facto standard is the one that babel set. I mean in all code samples i've seen it's being used "the babel way", one example is https://reactjs.org/tutorial/tutorial.html

Even the typescript community itself seem to have very different views on this.

It would be nice with some sort of compatibility layer to solve this for migrating users

[2017-10-05 10:13] nchanged commented on #848
@linde12 You can do anything with FuseBox
http://fuse-box.org/page/configuration#polyfillnonstandarddefaultusage

[2017-10-05 10:24] linde12 commented on #848
This is what i am after @nchanged, great i will try it out! Thanks for your help!

[2017-10-05 10:53] eyamenko opened #849 "Source maps are not generated for the vendor bundle"
Hi there,

I'm using the latest Fuse Box (v2.3.3).

Here is my simple fuse.js:

[code]

After running the producer, source maps for app bundle are generated fine, but there are no source maps for vendor bundle.

[2017-10-05 11:13] nchanged commented on #849
http://fuse-box.org/page/configuration#sourcemaps
It may take up to 1 minute to generate sourcemaps.

[2017-10-05 11:37] cmizzi commented on #777
Error is only thrown if `sourceMaps: true` because `JSON.parse({})` is called. The bug seems to be provided by the `CSSPlugin` that handles `souceMaps: {}` in the file configuration

[2017-10-05 13:39] linde12 opened #850 "polyfillNonStandardDefaultUsage not working with axios"
I encountered a problem with the 'polyfillNonStandardDefaultUsage` option when i used a library called `axios`

Steps to reproduce:
1. Clone fuse-box/react-example
2. Add `polyfillNonStandardDefaultUsage: true,` to fuse.js
3. Run `npm install axios`
4. Add the following code to index.jsx `import axios from 'axios'; axios({method: 'get', url: '/bla/bla'});`
5. Observe the stacktrace:

[code]

[2017-10-05 13:53] nchanged commented on #850
Isn't it coming from the `axios` library and not from fusebox?

[2017-10-05 13:55] linde12 commented on #850
I'm not entierly sure why, but i know it works without the polyfill. I am trying to debug it but not getting far as i'm not familiar with fusebox internals (yet :-))

[2017-10-05 14:03] nchanged commented on #850
I will check it later on, no problem. For now, you can follow the standards  as axios doesn't export `default`

`import * as axios from 'axios'

[2017-10-05 14:05] linde12 commented on #850
Alright, thank you!

[2017-10-05 15:02] #850 closed

[2017-10-05 15:04] nchanged commented on #850
@linde12 `fuse-box@2.3.4-beta.1`

[2017-10-06 07:06] linde12 commented on #850
Glad to see i was looking at the right file at least.

I'm getting an error using the `react-example` (+ polyfillNonStandard) app with the following code in index.jsx (and 2.3.4-beta.1). I can also change the imports to `import React from 'react'` and that yíelds the same effect.

[code]

It seems to work if i remove react & react-dom and just use axios(even though i get another error sometimes be

[2017-10-06 07:13] nchanged commented on #850
oh, that's because of that  line
[code]

[2017-10-06 07:21] nchanged commented on #850
this should fix it `fuse-box@2.3.4-beta.2` but in the long run we probably need to patch require statements instead

[2017-10-06 12:55] linde12 commented on #850
LGTM, except now there are console.log's popping up for every module. I'm not sure if this is related to this change though.

I will try to get a proxy server running (redirect my API calls to my RPI) and see if my app works. I'll report back!

[2017-10-06 13:03] nchanged commented on #850
Sorry man, my bad `fuse-box@2.3.4-beta.3`

[2017-10-06 13:05] linde12 commented on #850
No problem, i'm thankful for your time.

I set up the proxy (super easy btw, i was able to paste my solution from webpack) and everything seems to work just fine. Thanks a lot!

[2017-10-06 14:46] cmizzi opened #852 "[VueComponentPlugin] Uncaught package not found vue-hot-reload-api"
I've got an error while using the `VueComponentPlugin`. I installed all dependencies, cleaned up `node_modules`, `.fusebox` but the package is still not found.

[code]

[code]

[2017-10-06 16:07] HamedFathi opened #853 "Integration with ASP.NET Core and Aurelia"
One of the classic sample project with Aurelia and ASP.NET Core and Webpack comes from here

[Microsoft.AspNetCore.SpaTemplates](https://www.nuget.org/packages/Microsoft.AspNetCore.SpaTemplates/)

You should install it with this command
`dotnet new --install Microsoft.AspNetCore.SpaTemplates::*`

and use it with this command `dotnet new aurelia`

this sample works with `webpack` perfectly but I up

[2017-10-06 16:07] HamedFathi commented on #845
I opened [new issue](https://github.com/fuse-box/fuse-box/issues/853) so I close this one

[2017-10-06 16:07] #845 closed

[2017-10-06 16:09] TombolaShepless commented on #852
@cmizzi thanks for bringing the issue to our attention. I'm not able to look at this until tomorrow unfortunately but I will try to get to the cause of your issue and get back to you ASAP.

[2017-10-06 16:44] devmondo commented on #853
@HamedFathi you are using your app at port 5000 which is the fuse dev server port, but in your config, you disabled that using `httpServer:false` so fuse has no way to resolve those files.
you either enable fuse httpServer ( which i think you don't want because you are already using asp.net server) or use the proxy option to rewrite those paths to your asp.net server

[2017-10-06 17:33] HamedFathi commented on #853
@devmondo Is it possible for you to change my fuse.js to correct one? I don't know how to fix it.

[2017-10-07 11:15] Shepless commented on #853
@HamedFathi Its in the documentation [here](http://fuse-box.org/page/development#proxy). Please  have a read and try implementing.

[2017-10-07 11:35] #853 closed

[2017-10-08 15:38] Shepless commented on #852
@cmizzi I have tried for a while now but I cannot reproduce this issue - please can you provide a demo repo (or the actual repo if possible) showing the issue? Thanks.

[2017-10-09 12:41] Fjandin commented on #777
It's weird that i can't find anything on this. Am i the only one using css modules together with postcss? :P + wants sourcemaps

[2017-10-09 15:05] sveinburne commented on #849
![image](https://user-images.githubusercontent.com/3646758/31344768-a0c0d2cc-ace1-11e7-8cee-e2c80d4a9650.png)

As a side note, even though `vendor: false` option is provided, a reference is provided in the `vendor.js`, triggering this warning (v2.3.3).

![image](https://user-images.githubusercontent.com/3646758/31344608-252324ee-ace1-11e7-9dda-0a35d7b32b56.png)

[2017-10-09 15:51] nchanged commented on #849
@sveinburne i guess you need to clear the cache folder, does it help?

[2017-10-10 07:59] cmizzi commented on #852
This is the public repository : https://github.com/cmizzi/fusebox-vuecomponentplugin

[code]

[code]

[2017-10-10 10:08] cmizzi commented on #777
This configuration works :

[code]

[code]
I don't know why but it's very redundant to repeat the `outDir` configuration into the `CSSPlugin:outFile` and `CssPlugin:inject` object members in order to make `HRM` working...

[2017-10-10 10:10] Jack85 opened #856 "suggestion: vue ts example with single file component"
Would be nice to have vue single file component project, with typescript, less, sass, vue-class-component example provided.

[2017-10-10 16:05] magnushiie commented on #585
I had the same issue, nuking cache (.fusebox) resolved it. I guess the cache goes corrupt sometimes?

[2017-10-10 16:06] nchanged commented on #585
it happens very rarely, hard to trace

[2017-10-10 16:11] kyasbal-1994 opened #857 "HMR on CSS Moduler loader won't keep class name."
I'm facing a problem with fuse box. I want to enable hmr with CSSModule. I'm using StylusPlugin ,CSS Module plugin, CSS module.
I confirmed that updated style is injected correctly.
But hash of class names that is generated for each are not same. Therefore, hmr is not working. How should I fix this?

This is my fusebox.ts.

[code]

All of the project code are available on [here](https://github.com

[2017-10-10 16:16] Shepless commented on #856
Hi @Jack85 everything you mentioned there (apart from vue-class-component) is in the [vue-seed](https://github.com/fuse-box/fuse-box-vue-seed). It would be a great help if you can create a PR to add in the vue-class-component side of things.

[2017-10-10 16:39] Shepless commented on #852
@cmizzi PR is up - it will resolve the issue you raised. Thanks for bringing it to our attention. On a side note, you're repo has a small issue when importing `Vue`. You either need to use:

[code]

or in your FuseBox config, use the [polyfillNonStandardDefaultUsage](http://fuse-box.org/page/configuration#polyfillnonstandarddefaultusage) option:

[code]

[2017-10-10 20:01] sveinburne commented on #849
@nchanged it doesn't unfortunately !

[2017-10-11 06:21] Jack85 commented on #856
Unfortunately not quite, you are using babel there (not like <script lang="ts"), even I tried that config, I put typescripthelpers there I couldnt make it work. - got error with missing tslib, tried tweak it no success.
So I dont like generalization when different configuration has different behavior very often thats why I would ask ts only example.

[2017-10-11 06:23] Shepless commented on #856
@Jack85 we are using typescript compiler not babel.

[2017-10-11 06:30] Jack85 commented on #856
In that seed, not seem to be used typescript for component.
my typical construct in ts would be `export default class extends Vue`
Export default doesnt compile in ts as far as I know. You entry is js file not ts file like in my case and so on...

[2017-10-11 06:37] Shepless commented on #856
I do not wish to come across as rude - that isn't my intention. However, have you read the fuse config file? Or the documentation?

If you set use typescript compiler and allowjs, Fuse box will use typescript. The only way for babel to be used is to explicitly setup the BabelPlugin (which isn't there in the seed).

Typescript is a super set of JavaScript, which means any valid JS is also valid TS.

[2017-10-11 07:47] Jack85 commented on #856
To be formal, You can see typical ts constructs here:
https://vuejs.org/v2/guide/typescript.html
Everytime with component options or vue-class-component
Constructs you are using is typical babel setup example.  I checked the config and docs says it detects ts automatically, and yes it compiles but it doesnt get me there - error `Uncaught Package not found tslib`
Tested wit your tsconfig, mine ts c

[2017-10-11 08:17] cmizzi opened #860 "[PostCSSPlugin] Unexpected token o in JSON at position 1"
Hi everyone.

I'm currently testing `fuse-box` with `PostCSSPlugin` and `CSSPlugin`. My goal is the following :

* creates an `built/app.css` with my custom grouped CSS files (apply PostCSS on this file and prevents inject) ;
* injects the rest of the CSS that can be loaded dynamically but is provided by vendor packages (just CSS) ;

This is working, but when I want `sourceMaps: true`, I've got th

[2017-10-11 08:23] TombolaShepless commented on #856
@Jack85 Thanks for getting back to me. I'll pull down the vue seed repo and have a play around -
 will keep you posted 👍

[2017-10-11 08:29] Jack85 commented on #856
Thats why I think It would be wise to have separate just TS only example to play with, too see it working and putting more libraries there see if its still working.
Otherwise If not reproducible, i could put small project here to test afterwards.

[2017-10-11 08:39] nchanged commented on #860
We will take a look at it, thanks for submitting.

[2017-10-11 08:44] cmizzi commented on #860
I don't know if I'm using well PostCSS and CSS plugins together and if my goal is really reached (because as the error is thrown, I cannot look at the CSS file and sourcemaps :/ )

[2017-10-11 08:48] nchanged commented on #860
@cmizzi are you using it in the VueComponent? I think it's handled differently
http://fuse-box.org/plugins/vue-component-plugin#using-custom-plugin-chains

[2017-10-11 08:51] cmizzi commented on #860
Not at now. I'm just loading my `style/app.css` file directly in the `index.js` file. I don't have `vue` single file component yet. I'm just trying to make the `css` working :P

[2017-10-11 08:53] nchanged commented on #860
@cmizzi can you reproduce it please in a repository?

[2017-10-11 08:57] TombolaShepless commented on #856
@Jack85 Update for you bud - I have taken a look and there are two separate issues I can see:

1) When using TS the `TypeScriptHelper` plugin is not being used when really it should (incase you use decorators etc.)
2) When explicitly using `lang="ts"` and `useTypescriptCompiler: true` Fuse will tell you it cannot find a valid plugin to process the file

I'm at work now and have to leave this until

[2017-10-11 09:00] cmizzi commented on #860
Hum, the repository is already updated : https://github.com/cmizzi/fusebox-vuecomponentplugin

[2017-10-11 09:03] nchanged commented on #860
Sorry, thanks, i will take a look

[2017-10-11 09:24] Jack85 commented on #856
Yes, decorators highly recommended Im, using av-ts, vue-class-coponent, vue-property-decorator..
Would be cool to see that with fuse.

[2017-10-11 17:42] Shepless commented on #856
@Jack85 PR #861 is up to fix point 2) above. Looking into point 1) now.

[2017-10-11 17:57] Jack85 commented on #856
Im in process of creating simple complex project if you want to test.. ?

[2017-10-11 18:59] Shepless commented on #856
Sure - you got a link? I have a fix for point 2) but it needs reviewing as I think I might be doing some "no-nos". I have also updated the `vue-seed` locally to test out the changes and it works fine with  `vue-class-component` now.

When the fix is merged I'll also push the update version of the seed up. I know it isn't exactly what you wanted in terms of a fully fledged "here is how you write Vu

[2017-10-11 19:19] Jack85 commented on #856
Ok, I ll prepare it tomorow.. and let you know.
My target is simple -  it compiles smooth with webpack, it should compile smooth with fuse WITHOUT changing code inside components in order to compile with fuse.. (jquery $ import is typical example) Only thing changing should be ts and fuse config.
I tend to use several libraries with decorators.. more is better to test i think.  I used to experimen

[2017-10-11 19:20] Shepless commented on #856
Excellent - thats great news!

[2017-10-11 19:48] nchanged commented on #857
Should be working beautifully in `fuse-box@2.3.4-beta.7`
It turns out it never had caching nor CSSDependency analysis enabled. Please, verify

[2017-10-12 08:53] Jack85 commented on #856
Here you go https://github.com/Jack85/vue-ts-ex
small app, would be cool to see also how fuse uses url or file-loaders, if you can make it work.

[2017-10-12 10:42] kyasbal-1994 commented on #857
Unfortunately, It wont work for me. I updated fuse-box to use that version and removed `.fusebox` directory for in case.
However, that also change class name on HMR.

[2017-10-12 10:56] nchanged commented on #857
of course it will change it, isn't that what you want?

[2017-10-12 14:42] cmizzi commented on #852
Great, thank you for your replies. It works now.

[2017-10-12 14:42] #852 closed

[2017-10-13 23:33] matt-erhart opened #863 "styled-component issue"
[code]
The ```${Details} ``` component selector in styled-components doesn't work in fuse but does work in webpack.

[2017-10-14 08:16] nchanged commented on #863
@matt-erhart and what's in `./Icons`

[2017-10-14 08:51] calebboyd commented on #846
This can probably be closed. If there are no issues using the current master

[2017-10-14 10:36] devmondo commented on #846
@calebboyd thanks for update :)

[2017-10-14 10:37] nchanged commented on #846
we shouldn't close this issue, until it has been verified

[2017-10-15 23:10] freehuntx opened #866 "[Feature] CLI parsing"
First of all, i really like fusebox :D
I missed an way for proper options parsing.
Therefore i wrote an module called "fuse-box-cli" (https://github.com/freehuntx/fuse-box-cli)

Are you interested in adding an feature like this to fusebox?
(Show help, List tasks, list options, access options)

[2017-10-16 06:58] andrew-w-ross commented on #592
@devmondo I think you need to reopen this issue, the link still isn't working

[2017-10-16 07:52] dakom opened #868 "Sourcemaps with Quantum"
Currently, sourcemaps are not exported when using Quantum.

For most cases this is fine since debugging can be done against a non-Quantum version, but in some cases the Quantum version is required to debug against (e.g. Workers)

[2017-10-16 07:54] dakom opened #869 "Workers without Quantum"
As it is right now, workers require quantum, and quantum does not support source maps. So it is _really_ hard to debug workers in the current fuse-box.

As an alternative to issue #868 - a fix could be to allow Workers without Quantum.

For the particular use-case of debugging workers, there's no specific preference which of the above is fixed first, though I'd say it's relatively high priority to

[2017-10-16 08:03] devmondo commented on #866
@freehuntx great work man, could you please change the intro in the repo
`Fusebox is a nice piece of software, i really like it! But sadly there is no easy way for providing options.
For this reason i created this module.`

the `But sadly there is no easy way for providing options.` will confuse people and think that fuse has no options what so ever :)

[2017-10-16 09:00] cmizzi commented on #860
Any news ?

[2017-10-16 09:19] nchanged commented on #860
First thing I noticed
That is wrong -->
[code]

Should be

[code]

The bug is fixed, do that:
[code]

[2017-10-16 09:21] nchanged commented on #860
Regarding the sourcemaps, I see there is something off with them, can you verify that please, and we can ask @Shepless to check it out

[2017-10-16 09:56] cmizzi commented on #860
Hum, sourcemaps looks like to be generated but not used (loaded). I've got a file called `app.css.map` in my built working tree but it is not loaded into debugger (Chrome or Firefox)... I've just updated my repository to expose this bug.

[code]

[2017-10-16 09:59] nchanged commented on #860
@Shepless could you take a look mate?

[2017-10-16 10:25] Jack85 commented on #856
updated example to use latest webpack, problem moved loadin woff..

[2017-10-16 10:32] TombolaShepless commented on #860
@cmizzi @nchanged will take a look this evening after work. Will keep you posted.

[2017-10-16 10:36] TombolaShepless commented on #856
@Jack85 sorry bud - I have been away for the weekend and not able to access a computer (and now Im at work) I will take a look tonight at what you have there.

[2017-10-16 14:57] freehuntx commented on #866
Ok, sorry ^^

[2017-10-16 18:48] nchanged commented on #869
`2.3.4-beta.10` supports Workers with VanillaAPI (sourcemaps and all in place), give it a spin https://github.com/fuse-box/fuse-box-examples/tree/master/examples/webworker

[2017-10-16 19:18] nchanged commented on #866
Awesome @freehuntx do you feel like making a PR? I like the functionality

[2017-10-16 19:20] dakom commented on #869
woohoo! will try it out tomorrow!!

[2017-10-16 19:23] Shepless commented on #856
@Jack85 update - PR #870 is now up for review, it will play nice with `vue-class-component`.

[2017-10-16 19:37] Shepless commented on #863
@matt-erhart could this something to do with default exports?

[2017-10-16 20:27] matt-erhart commented on #863
Just exporting const
[code]

[2017-10-16 20:35] leon-andria opened #871 "Enable loading remote files on the server"
Below is the line that silently resolve nothing on the server:
https://github.com/fuse-box/fuse-box/blob/master/modules/fuse-box-responsive-api/index.js#L116.

I locally tested the below code by adding it to https://github.com/fuse-box/fuse-box/blob/master/modules/fuse-box-responsive-api/index.js#L116.
[code]
In addition, we need to modify the line below https://github.com/fuse-box/fuse-box/blob/m

[2017-10-16 20:56] nchanged commented on #863
And what kind of error you got? Could you create a repository where the issue is reproduced?

[2017-10-17 08:01] Jack85 commented on #856
Thanks, when there ll be sample or version to test?

[2017-10-17 08:26] nchanged commented on #856
@Jack85 use the latest beta

[2017-10-17 11:22] kristerkari opened #872 "Browser error from a 3rd-party module after updating fuse-box version"
**console error since version:** v2.2.31+
**no error for version:** v2.2.2

When updating from fuse-box *v2.2.2* to *v2.3.3*, I get this error printed to the browser console: `./lib/locales does not provide a module`. This error is not printed if I use version *v2.2.2*.

I searched for the code in my project and the error comes from both `inlt-relativeformat` and `intl-messageformat` modules. I'm

[2017-10-17 14:06] nchanged commented on #872
so what is it you don't like? the error?

[2017-10-17 14:08] kristerkari commented on #872
Yeah, I don't like errors in my production bundle :) But the real question is that can I get fuse-box to work the same way as webpack where that `require` would get ignored when bundling?

[2017-10-17 14:12] kristerkari commented on #872
and to clarify: I'm using fuse-box to create a bundle for the browser.

[2017-10-17 14:38] kristerkari commented on #872
Another thing that would be good to know is that why did the error appear when I updated fuse-box version? Was it there before but just not printed to console?

When I look at the bundle using fuse-box v2.2.2, I see that at least the `require` is inside vendor.js:
[code]

[2017-10-17 15:21] Jack85 commented on #856
what would be also interesting to see in your examples, what i dint put in my example yet, async components and file spliting features recently introduced..

[2017-10-17 15:32] kasugaiasuka opened #873 "cannot parse tsconfig.json generated by tsc --init"
tsc --init generates tsconfig.json, but this is not plain JSON (containing some comments)
and causes syntax error until the comments is removed from tsconfig.

I think this is correct, but not typescript-friendly.

[code]

edited: typo

[2017-10-17 16:02] nchanged commented on #872
There was a request to log all unresolved modules, and yes fusebox still ignores it, don’t worry

[2017-10-17 17:34] kristerkari commented on #872
@nchanged good to know, is there a way to get rid of the `console.error` that it causes?

[2017-10-17 18:10] freehuntx commented on #866
Im glad there is interest for it!
I will do that in near future :)

[2017-10-17 19:50] freehuntx opened #874 "Support multiple tasks through args"
If i see it correctly, currently you can just run one task with sparky using the arguments. (e.g: node fuse build:all)
Wouldn't it be usefull to allow define multiple tasks just like in Sparky itself?

e.g:
node fuse clean:api test:api build:api
or
node fuse &clean:api &clean:client test:all build:all

In my opinion, the more features a bundler offers, the better :)
What you guys think about?

[2017-10-18 06:41] nchanged commented on #872
@kristerkari warnings: false

[2017-10-18 06:42] nchanged commented on #869
@dakom no worries, maybe you could report some of the issues with WebWorker and `global`

[2017-10-18 06:42] #869 closed

[2017-10-18 06:42] nchanged commented on #873
Thanks, that's a known issue

[2017-10-18 06:45] nchanged commented on #874
@freehuntx i think it can done, however i don't see how one would really benefit from it ;-)

[2017-10-18 07:30] kristerkari commented on #872
hmm... that does not work, the error still gets printed

[2017-10-18 08:55] TombolaShepless commented on #856
@Jack85 did this solve your issues (in terms of being able to use tools like `vue-component-class`)?

[2017-10-18 08:59] Jack85 commented on #856
not there yet, but as soon I ll come there I ll let you know.

[2017-10-18 09:58] Jack85 commented on #856
using 2.3.4-beta.11
Test app appears and seems to work, complexer gets rendered without javascript injected, showing empty page

[code]

styles not loaded with less plugin when importing like so

[code]
importing woff font in ts
`import './../node_modules/markdown-it-editor/lib/css/iconfont.b300b13.woff'`
getting warning
[code]
[code]

[2017-10-18 10:32] TombolaShepless commented on #856
@Jack85 Is this in the repo you linked to before?

[2017-10-18 10:34] Jack85 commented on #856
repo I linked js seems to work, but you ll find styles problem I mentioned there.. bigger one im investigating, but its hard when fuse doesnt write log why it rendered commented?

[2017-10-18 10:42] Jack85 commented on #856
sorry comment was my fault in inx.html. Js part seems to work, styles seems to be completely broken.

[2017-10-18 11:07] nchanged commented on #856
@Jack85
[code]
is invalid, you can't access node_modules like that in FuseBox.

Use instead ->

[code]

[2017-10-18 11:46] freehuntx commented on #874
Well i think we should let decide the users if they benefit from it :)
I just have the feeling, giving users freedom to choose how they want to use something, is not a bad thing :D
(Thats actually why i love JavaScript so much! So many ways to archieve your thing)

For me, there is no reason to not allow it :o
It wont break something and its not hard to do ^^

But if you say you dont like it, im o

[2017-10-18 11:48] leon-andria opened #875 "import() with code splitting"
config:
[code]
code:
[code]
This code works perfectly until that we start to use Quantum with target as "server:
config:
[code]
code:
[code]

With Quantum, the code below doesn't work anymore:
[code]
The only code valid is using "about" specified in the split.

So what is the "Best Practices", the key "about" or the "path" ? As we should not adapt our code regarding if we go to production or not.

[2017-10-18 11:50] Jack85 commented on #856
sorry even if i put like you suggest - not loaded.
I believe relative references should be handled
http://lesscss.org/features/#import-directives-feature

[2017-10-18 11:52] leon-andria opened #876 "Enable to have Quantum on a bundle"
Quantum plugin looks only works on the main init fuse config.
It should be good to able to override Quantum per bundle.
If we do that today, it's freezing.

[2017-10-18 12:16] nchanged commented on #876
It can’t be configured per bundle and never will be, Quantum is applied to the entire producer that’s the architecture

[2017-10-18 12:16] #876 closed

[2017-10-18 12:17] nchanged commented on #856
Oh sorry that less, then you need to add paths parameter to the resolver (check less options)

[2017-10-18 12:22] nchanged commented on #875
https://github.com/fuse-box/fuse-box-examples/tree/master/examples/code-splitting
Works perfectly on server, you have an error somewhere. See the example above

[2017-10-18 12:29] nchanged commented on #871
And what if it's `https`?

[2017-10-18 12:30] nchanged commented on #871
I think we should use this lib instead https://github.com/request/request

[2017-10-18 12:32] Jack85 commented on #856
official example:
@import "foo.css";  // statement left in place, as-is
Not working
another official example
@import (css) "foo.less";
Not working

 @import (css) "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
this guys works

should I teach you LESS or you guys ll be so kind and implement it hassle free?

[2017-10-18 12:37] nchanged commented on #856
@Jack85 are you sure you are using the latest beta?

[2017-10-18 12:51] Jack85 commented on #856
2.3.4-beta.11

[2017-10-18 13:00] leon-andria commented on #875
I see the error, the path in the import should not be to fuse "homeDir".
You agree with me that splitConfig is strongly mapped with Quantum ? And this need to be specify in the Doc!

[2017-10-18 13:04] leon-andria commented on #871
[code]
This is enough and avoid any extra deps. Request is so huge. Http is built-in on nodejs

[2017-10-18 17:14] Shepless commented on #856
@Jack85 It appear you aren't using LESS imports correctly (at least from my understanding). If you are importing CSS inside a LESS then it is left as-is, from the docs:

Since it is left in place, that means the LESS compiler does not change the source code. Therefore this ends up as is a standard CSS import for a file that does not exist (since you are not copying the css files into your output d

[2017-10-18 18:19] tao-cumplido opened #877 "Bad sourcemaps with angular+electron"
Hi,

I switched from webpack to fuse-box and everything works fine except for the sourcemaps.
I combined the angular and electron seeds available for this and I didn't encounter this issue in either of them, so maybe it's also something with my configuration.

I have a boilerplate repository for this:
https://github.com/tao-cumplido/electron-angular-boilerplate

The actual problem I am having is t

[2017-10-18 18:24] Jack85 commented on #856
If I use webpack less loader it works..
But doc says its left as is.. you might be right. Its kind of weird to mark css file to process as `(less)`
I would expect alteast `(css) `to do it, but they mark it also like left as is.

[2017-10-18 18:33] kristerkari commented on #872
@nchanged I just had a look at the code where the error gets printed. It's in the loader api, so `warnings: false` does not affect it:
https://github.com/fuse-box/fuse-box/blob/master/modules/fuse-box-loader-api/fusebox.js#L185-L187

Would there be an easy way to add support for silencing that console.error? I'd need update to a newer version of fuse-box, but this issue is currently blocking me fr

[2017-10-18 18:38] Shepless commented on #856
@Jack85 Webpack (IMO) is overstepping its duties in this instance - LESS and SCSS have their own import features that work perfectly fine and so shouldn't really be managed by a bundler. Other peoples opinions differ on that subject, but ours is the opposite to Webpacks.

In regards to the CSS file not being LESS compatible that is not possible (as LESS is an extension of the CSS language) so it w

[2017-10-18 18:40] codyroot opened #879 "Watching for changes in Typescript files used in Vue Components"
hi,

the watcher have problems with external typescript files in Vue Components.
So script tags with `src="file.ts"` and `lang="ts"` are not working as expected.

Testrepo: https://github.com/codyroot/fuse-ts-sfc

thx

[2017-10-18 18:44] Jack85 commented on #856
In this case itend to have global styles in app, other onw could be scoped.
I think in this case it should be part of vendor css..
And woff import?

[2017-10-18 18:59] Shepless commented on #856
Sorry @Jack85 I missed that part - I updated my previous comment 😄

[2017-10-18 19:04] Shepless commented on #877
@tao-cumplido thanks for raising the issue. Sourcemaps are a tricky beast! I've taken a quick look at your fuse.js file and nothing looks wrong to me. We will look into it and get back to you.

[2017-10-18 19:16] leon-andria opened #880 "Code split first parameter matching"
To make a full match with filename (server/products.ts), this doesnt work, we need to put products.js
The doc said that it matches files from the source where you have *.ts files.
Either it's a bug or the doc needs to be updated.

[2017-10-18 19:31] nchanged commented on #880
You can't require with `ts` extension, that's how typescript works man, fusebox has nothing to do with it!

[2017-10-18 19:37] nchanged commented on #872
Ah, now I get it, it's at runtime. I will look into it but please, be patient.

[2017-10-18 19:37] #879 closed

[2017-10-18 19:43] leon-andria commented on #880
As far as i see here, http://fuse-box.org/page/code-splitting#first-argument-path-matching, the break down logic shows clearly that we compare with .ts file. Do i misunderstand it?
Trust me that everyone dont think to put a js file from his source file.

[2017-10-18 19:45] nchanged commented on #880
It has to be explicit
it's all working

https://github.com/fuse-box/fuse-box-examples/blob/c46115ccb94719c117ef8d425eac7e7571549b0a/examples/code-splitting/fuse.js#L25-L28

[2017-10-18 19:51] leon-andria commented on #880
I know this work but this is not my use. I dont have a folder about nor home.
I want to split my home.ts, products.ts, about.ts.
So, these files are under server folder and i want to do code splitting.
To do so,
.split("×××", ...)
What you specify on xxx to get home.js, products.js, ...?
I'm curious to see your answer based on the link i share above.

[2017-10-18 19:56] kristerkari commented on #872
thanks! I can also help if needed, but I'm not familiar enough with the code to figure out by myself.

[2017-10-18 19:58] nchanged commented on #872
Btw, that's a development API.
Oh yeah, I don't think we need to modify anything.... Are you familiar with Quantum? It has a micro API, and no logging is there. Production ready. Give it a try

[2017-10-18 20:01] kristerkari commented on #872
Oh that's for development only?

I tried Quantum, but unfortunately I could not get it to work in our project. I tried different combinations of quantum options but nothing worked.

I guess that there is something somewhere inside the project that is not compatible with Quantum.

[2017-10-18 20:03] nchanged commented on #872
@kristerkari no only, of course you use it. Quantum just make super small and runtime optimised

[2017-10-18 20:03] nchanged commented on #872
@kristerkari anything is compatible with Quantum except for Aurelia ;-) join gitter we will help you set it up

[2017-10-18 20:04] nchanged commented on #880
Because it's an entry point!

[2017-10-18 20:14] nchanged commented on #877
@tao-cumplido hi!
I think I know what's causing it
This plugin https://github.com/tao-cumplido/electron-angular-boilerplate/blob/master/fuse.js#L53

It re-renders the code without fixing the sourcemaps, could you try removing it? That's a 3rd party library, I really like it, it's very well coded, but ...

[2017-10-18 20:15] leon-andria commented on #880
You are not answering my question, what should be the value on xxx?
Tell me that an entry point doesnt help me to understand nor only me but everyone who will read the documentation. And, on the doc, there is nothing about entry point about the first parameter meaning.

[2017-10-18 20:17] nchanged commented on #880
![screenshot 2017-10-18 22 16 40](https://user-images.githubusercontent.com/1629088/31740582-1504dba2-b452-11e7-8c3a-d268f1edebc4.png)

[2017-10-18 20:31] leon-andria commented on #880
This is not right that you close this issue without giving the right support and answer. You are not even trying to understand the use-case that I'm pointing out:
[code]
I want to have a "Full matching" filename and the code above doesn't work. After debugging, I notice that the right code should be follow:
[code]
You can ignore my issue but the documentation is WRONG and I'm confident to say that

[2017-10-18 20:31] #875 closed

[2017-10-18 21:28] nchanged commented on #880
Then you should explain better, I don't understand you!

[2017-10-18 21:28] nchanged commented on #871
why did you close this one?

[2017-10-18 21:51] tao-cumplido commented on #877
@nchanged
right, I kinda forgot about the plugin, it seems indeed to be the culprit.
I removed it and changed `templateUrl` and `styleUrls` to `template` and `styles` with require statements instead and the sourcemaps work fine. :)
I will go this way for now and raise the issue on ng2-fused.
Thanks for the help.

[2017-10-18 21:51] #877 closed

[2017-10-19 02:27] jmathew opened #881 "Watch with glob not working?"
# Overview
I'm trying to pass a glob to `watch` to a subdirectory in my home dir as described in the documentation. I make changes to the files in sub directory and it doesn't trigger a rebuild.

## When it doesnt work
I've tried multiple globs that all failed:
[code]

## When it works
Without a glob it does work, however there is an infinite loop of rebuilding. I think thats because the generated

[2017-10-19 10:28] devmondo commented on #881
@jmathew did you try `.watch("src**")` ?

[2017-10-19 13:15] leon-andria commented on #880
Pay attention on the comment on this commit yesterday: https://github.com/fuse-box/fuse-box/commit/c67cffe0555e3e1e2f064aef98303e8d14f90c42

when using typescript as the .ts extension gets normalised to .js

I'm pretty sure this is related to my highlight above with the first parameter of the split method, it requires a "dot js" extension rather than a "dot ts" extension to match the splitting rul

[2017-10-19 13:24] nchanged commented on #880
I might have just understood the issue, I will check if it’s being filtered through ensure public extension function

[2017-10-19 15:28] leon-andria commented on #880
If my input can help, for me, we need to update the documentation, and i can do that. For me, this is not a BUG, it's a normal behavior. The truth is on the code and the starting point for this is PackageAbstraction.ts where FileAbstraction is created based on the filename. And the filename is already with ".js" extension because it's already transpiled by Typescript. That's being said, the filena

[2017-10-19 16:22] TombolaShepless commented on #856
@Jack85 is it ok to close this issue now? I feel we have fixed the original issue with TypeScript?

[2017-10-19 16:33] Jack85 commented on #856
I think so, thanks guys.

[2017-10-19 16:33] #856 closed

[2017-10-19 16:51] pyros2097 opened #882 "Adding babel-preset-expo fails to build."
I tried using the babel-preset-expo in my fuse-box project but this is the error I'm getting.
[code]
This is how I've configure the plugin,
[code]
But babel-preset-env seems to work fine though. Don't know if this is related to fusebox. I'm trying to use a universal configuration with works for both web and react-native. As far as I know preset expo works with webpack.

[2017-10-19 18:05] nchanged commented on #882
@pyros2097
Based on the stack trace above I can tell that FuseBox has nothing to do with it. Please verify all the plugins and your code for errors. If nothing helps and you are confident that something is off, please create a repository where we could take a look at the issue and reproduce it.

[2017-10-19 21:13] nchanged opened #883 "Extended Server require with import statements on remote files"
subj:
[code]
#871

[2017-10-19 21:16] #871 closed

[2017-10-19 21:16] #883 closed

[2017-10-19 21:40] nchanged commented on #872
I will close it for now, feel free to re-open

[2017-10-19 21:40] #872 closed

[2017-10-20 10:19] pyros2097 commented on #882
Reproduced it in the react-example project.
Here.
https://github.com/pyros2097/react-example/blob/master/fuse.js

This is where I'm actually using it.
https://github.com/pyros2097/cress/blob/master/packages/cress-cli/bin/cress-build

This works in webpack in my other project,
https://github.com/pyros2097/web-boilerplate/blob/master/.babelrc

[2017-10-20 10:23] nchanged commented on #882
Right you are using typescript and babel at the same time, if you noticed that example didn’t have any babel. Remove “useTypescripCompiler” option

[2017-10-20 10:28] pyros2097 opened #885 "Allow WebIndexPlugin to take template data also"
I reckon most of my projects to use the same index.html code. So would it be possible to provide the template inline instead of passing a file path to it. Will make it easier related to configuration since now I can also use string templates to inject keys for production and also this will remove the need for a single index.html file in my folder structure. Just an idea.
[code]

[2017-10-20 10:33] pyros2097 commented on #882
Yeah. I've set it to false. You mean I should remove the field itself. Done. But still the same thing. Yeah I modified that example to use babel. It works fine with babel-preset-env. But fails with babel-preset-expo though. Thats what I'm facing now.
https://github.com/pyros2097/react-example/blob/master/fuse.js#L25

[2017-10-20 11:05] nchanged commented on #882
It has something to do with JSX, FuseBox just pipes it to babel, everything else is up to the user. Maybe WebPack adds some extra plugins there? Idk,

And then the other thing, you need to convert imports to `require`otherwise it won't work.

[2017-10-20 17:15] Shepless commented on #860
@cmizzi @nchanged sorry for the delay - I have looked at this and not had much joy might be a bit beyond my knowledge!

[2017-10-20 19:11] nchanged commented on #885
thanks @Shepless for implementing it so quick! You rock 🔥

[2017-10-20 19:11] #885 closed

[2017-10-21 05:58] eddow opened #888 "Quantum and negative comparisons"
As written in the documentation,
[code]
will be "quantumed" into
[code]

When using quantum along with `VueComponentPlugin`, [this code](https://github.com/fuse-box/fuse-box/blob/2792c1dacfc9719ba9bd0420ba1cb1512955db70/src/plugins/vue/VuePlugin.ts#L259) will come to be processed by quantum :
[code]
The whole `if` block is supposed to be eliminated (as `process.env.NODE_ENV` **is** `"production"`)

[2017-10-21 06:52] eddow opened #889 "Quantum and `FuseBox.global` (`__fsbx_decorate` is not defined)"
Fuse-box will use globals like `__fsbx_decorate` that it will define like this:
[code]

When the module is processed by quantum, these declarations are eliminated (I suppose because the variable name, like `__fsbx_decorate` is given as a string so it is considered as data, not a variable name?)

Finally, the module processed by quantum will therefore raise a `ReferenceError: __fsbx_decorate is not

[2017-10-21 07:00] nchanged commented on #889
It’s deprecated, please use tslib.

[2017-10-21 07:02] nchanged commented on #888
Oh that’s a bug, thank you! We will take a look

[2017-10-21 07:43] eddow commented on #889
Well, I added ts-lib in my sources (with `.instructions('... +ts-lib')`) but it seems this is not enough, this is still in the code :
[code]
and `__fsbx_decorate` is still not defined.

Should I use another option to force the use of ts-lib instead of `__fsbx_` functions?

[2017-10-21 07:51] nchanged commented on #889
Remove that plugin install tslib modify your ts config (please google tslib)

[2017-10-21 10:38] Shepless commented on #888
@nchanged just to confirm - this is not an issue with `VueComponentPlugin`?

[2017-10-21 11:41] Shepless commented on #889
@eddow You need to update (or add) your `tsconfig.json` to include the following:

[code]

With that you should not need `.instructions('... +ts-lib')` (also remember to remove `TypeScriptHelpers` plugin from your config.

[2017-10-21 13:05] eddow commented on #889
Ah ok - found it, it was the plugin `TypeScriptHelper` that I had to remove - everything in order now - thx!

[2017-10-21 13:05] #889 closed

[2017-10-21 16:11] phamtm opened #891 "Flash of unstyled content"
First of all thank you for making this great tool. The compilation speed `fuse-box` is near instant for me.

I notice that during my web application starts there's a visible flash of un-styled content, which I assume is the result of loading CSS dynamically hence JavaScripts can be executed before CSS is parsed.
Is this an intentional trade off? And are there any option to opt out of dynamic CSS l

[2017-10-21 16:14] nchanged commented on #891
@phamtm thanks for the kind words!
It's a normal practice for development, if you want your CSS loaded along with everything else, you need to use `outFile` option with `inject:false` and `group` of course, if you have multiple files. Then include the generated files in the HEAD.

More here:
http://fuse-box.org/plugins/css-plugin

[2017-10-21 16:21] nchanged commented on #888
@Shepless as an immediate solution you could change the block
[code]

And i will take a look a bit later

[2017-10-21 16:25] phamtm commented on #891
@nchanged Thank you, it works well for me.

[2017-10-21 16:41] jmathew commented on #881
Hey thanks! That seems to work. What's the difference between that and the version with the slash?

[2017-10-21 16:44] nchanged commented on #881
@jmathew I think we have a problem with windows paths, that's what you are running it on, right?

[2017-10-21 17:03] jmathew commented on #881
I'm running it on macOS.

[2017-10-22 08:27] ttamminen opened #893 "Old local styles coming from cache when importing styles from node_modules"
I have created reproduce steps to [this repository](https://github.com/ttamminen/fusebox-sass-bug/tree/master)

## Overview

The problem is that when I make changes to the sass-file the changes are not in the bundle when I run the build process again.

## Possible cause

I have a TSX entry file that imports styles

[code]

If I make changes to the index.scss file and re-build everything. I get old

[2017-10-22 10:42] #891 closed

[2017-10-22 12:22] Shepless commented on #888
@nchanged rather than inverting the check (as it would make the logic a bit weird). Would `Quantum` work with:

[code]

[2017-10-22 18:17] nchanged commented on #888
@Shepless yeah it should

[2017-10-22 21:52] freehuntx commented on #866
Feature is added with this commit: https://github.com/fuse-box/fuse-box/commit/fcd30fb39b9f4c31c1fca7cfade17f020e072794
#Closed

[2017-10-22 21:52] #866 closed

[2017-10-23 08:55] amygdaloideum opened #894 "Running sparky task on watch"
Is it possible to run a sparky task from a watch?

For example, I have a task that generates a $templateCache for angular that I want to run every time a `'src/**/*.view.html'` file changes.

I'm imagining something along the lines of:
[code]

Or is there another way to achieve the same behavior?

[2017-10-23 10:14] devmondo commented on #894
@amygdaloideum  you can use fuse file api to achieve any custom code you want.
http://fuse-box.org/page/sparky#file-api

[2017-10-23 11:07] pyros2097 commented on #769
This should be possible with the new templateString attribute in WebIndexPlugin. You just need to use es6 string templates and inject you variables into it.

[2017-10-23 11:14] traverse opened #895 "[Discussion] Using dynamic imports for code splitting"
@nchanged , @devmondo and I had a discussion about `import()` on gitter pertaining to my specific use case.

With `webpack` you can use the dynamic import statement to do code splitting for you and it's something that I miss with `fuse-box`.

For example the project I'm working on consists of several layers of lazily loaded React components. Doing a `.split()` for every lazily loaded component or

[2017-10-23 12:03] nchanged commented on #895
I Would suggest a breaking change in FuseBox 3.0 on which we start working right after the upcoming release.
* Remove `.split` entirely from fuse config
* Make an automatic/smart splitting

Let's say we have 2 components
* `FooComponent.ts` uses Utils.ts that is located somewhere in `./utils/` folder
* `BarComponents.ts` uses the same Utils.ts, and `moment` library that is referenced ONLY in that

[2017-10-23 14:41] leon-andria commented on #895
Personnaly, i would not do like that. The splitting is good and import is standard. So we should not change the current working state.
However, we should think more about strategy abstraction that we can instrument import, this allows to anyone to have his own convention by inplementation a strategy.
If we make the pipeline with a great open API, we dont break anything.

[2017-10-23 14:48] nchanged commented on #895
@leon-andria well technically the setup above wouldn't break anything, one should just remove `.split` from the config is all. Everything else should come naturally

[2017-10-23 15:16] leon-andria commented on #895
Having a named split is really important. Putting extra param on import will be a mess.

[2017-10-23 15:17] leon-andria commented on #895
My advice is to make abstraction.

[2017-10-23 17:27] nchanged commented on #895
@leon-andria did you see any extra params in my proposal? Zero

[2017-10-23 17:50] leon-andria commented on #895
No, i mention for the first proposal with the import.
Doing automatic split without controlling it is really hell. How are you going to distinguish a basic import versus bundles? And how to guve control to the developpers to manage its bundles regarding his application architecture?
Sometimes it's good to have magic things but having a better control of what being bundled is preferred. This is my

[2017-10-23 18:05] traverse commented on #895
@leon-andria Basically a bundle would consist of packages you imported using `import package from 'package'` since those are required to run the code in the module anyway. Packages imported using `import('package')` means they aren't required instantly by the module and thus split off into a separate bundle. In my opinion this feels like a sane way to do bundling.

[2017-10-23 19:07] mattoni commented on #895
Im interested in this as well, and maybe getting a complex demo set up where we can somehow split off states and routes until the file is requested.

Just to show how messy this can get, here's what I'm doing in my main project:

![image](https://user-images.githubusercontent.com/5110855/31907722-7c6ee0d6-b7e9-11e7-87df-2938296f3673.png)

and then in my fuse config:
![image](https://user-images.gi

[2017-10-23 19:10] mattoni commented on #895
Another fun thing you could do with your proposal @nchanged is locale files. For example if I'm building a multi-lingual site, I can dynamically load in the correct language file simply by doing something like:

[code]

[2017-10-23 19:24] mattoni commented on #895
@nchanged true, might fit better with a .json file or something. still, I'd love to figure out how we can simplify all this :)

[2017-10-23 20:05] traverse commented on #895
@mattoni your locales example actually works with webpack which is very neat. Webpack only allows this up to a certain point though, it doesn't support fully dynamic paths.

[2017-10-23 20:16] leon-andria commented on #895
@mattoni @traverse I understand the use-cases you have guys, and it makes sense you think in this way. And the first attempt answer from @nchanged is not a bad idea to make a smart split. I'm concerned because not having the control of what to be in the bundle other in the all application is scared.
Let's take the example of @mattoni or @traverse with huge application as it is splited in many bund

[2017-10-23 20:20] mattoni commented on #895
@leon-andria might be smart to allow overrides. Do what @nchanged said by default, and allow the OPTION to force it out of master bundle and clone it into each split bundle, since I feel that case will be rare.

@traverse @nchanged maybe down the road we can do like webpack and have partial evaluation on the route (until it gets dynamic) to see if that folder exists at least, and if it does just t

[2017-10-23 20:33] leon-andria commented on #895
@mattoni You understand me but it's not rare, trust me, we did that a lot. To talk about overrides, we should think it like a "redirect", @nchanged I think you can start with that by having a manifest for redirection so that in each process, you can try to match the rule of redirect.
After, a UI Analyzer :-) Sooner it's Christmas

[2017-10-23 20:40] nchanged commented on #895
@traverse I don't think it will work, what will work with webpack is
[code]
where a question pops out: why would anyone use it this way

[2017-10-23 20:48] traverse commented on #895
@nchanged doing the following actually works:
[code]
Since you're partially specifying a static path webpack can actually figure it out.

[2017-10-23 20:59] nchanged commented on #895
@traverse but then it will bundle all locales within the reach, i am talking about what's actually is required by user

[2017-10-24 02:42] tomitrescak opened #896 "Warnings multiplication"
Hi. Every time the fuse-box reloads file, the warnings keep multiplying. I mean that in the beginning I have one warning, after second (HMR) reload I have two warnings ...

[code]

This is my fusebox config:

[code]

[2017-10-24 02:44] tomitrescak commented on #896
Can it be connected to the fact that I am launching a new server instance after every client rebuild ?

[2017-10-24 02:46] tomitrescak commented on #896
YUP.

[2017-10-24 02:46] #896 closed

[2017-10-24 04:12] mwmessin commented on #860
PR'd a fix: https://github.com/fuse-box/fuse-box/pull/897

[2017-10-25 23:17] TheGrimSilence opened #898 "Feature Request: CLI Commands during dev server."
So one of the smaller but kind of repetitive things during development is altering the bundler configuration.

With Fusebox, you have to completely stop and start the build again and again. A cool feature would be if the terminal runs the script and while running the server or HMR, etc, it was actually waiting for commands.

For example, instead of having to press CTRL+C, verify you want to stop t

[2017-10-25 23:28] TheGrimSilence opened #899 "Travis CI cannot find module './plugins/images/ImageBase64Plugin'"
I've had my projects building on Travis CI for some time now, and my configurations hardly ever get changed between repositories. Recently, however, one of my projects has been persistently failing with the same error:

[code]

The Travis CI repository page is: https://travis-ci.com/TheGrimSilence/ebongarde.com, but I'm unsure if you'll be able to see it. I've deleted every cache possible, I've ru

[2017-10-26 13:23] pedronauck opened #901 "HRM doesn't work with preact"
I don't know why and I try a lot of ways to make a hrm workaround, but every time that hrm reload the preact render a new instance at the dom. I think that is a huge issue, because it was a big ascension now and was a pretty good idea use it with fuse-box.

Any some ideas how to fix that? He're a example:
https://github.com/xyyjk/fusebox-preact-example

maybe @developit can be help us here 🙏

[2017-10-26 17:17] nchanged commented on #901
@pedronauck HMR in FuseBox is pretty simple, once a module is updated it triggers an entry point. For example, it works perfectly with react, cuz react is smart enough to destroy the existing element (or re-init) I guess preact should work the same way.

[2017-10-26 17:41] pedronauck commented on #901
Of course @nchanged, I tried to do the same with Inferno and React and both working perfectly with hrm, unfortunelly preact didn't so smart than that 😢

[2017-10-26 17:51] Shepless commented on #901
@pedronauck can you provide a link to a repo please so we can take a look into it?

[2017-10-26 18:10] pedronauck commented on #901
Of course @Shepless https://github.com/pedronauck/fusebox-preact-example

[2017-10-26 18:35] nchanged commented on #901
@pedronauck based on the referenced issue can we close this one now?

[2017-10-26 18:43] pedronauck commented on #901
Yeah, I think it's a preact render's bug not fuse-box... thanks @nchanged

[2017-10-26 19:03] nchanged commented on #901
@pedronauck no problem, closing this for now

[2017-10-26 19:03] #901 closed

[2017-10-26 19:10] nchanged commented on #828
AS it was verified and returning corresponding codes, I am closing this for now. Feel free to re-open once reproduced.

[2017-10-26 19:10] #828 closed

[2017-10-26 19:11] nchanged commented on #857
I am closing this issue for now, feel free to re-open once reproduced

[2017-10-26 19:11] #857 closed

[2017-10-26 19:12] #846 closed

[2017-10-26 19:27] nchanged commented on #893
@ttamminen I investigated the issue. It turns out there is no way for SassPlugin to pick up the changes unless it's actually watched `.watch()`  as it gives the latest changed file. When launching `fuse.js` with `cache : true` there is this issue, indeed. When creating a build, you can just disable cache and everything will work as expected. Moreover, it's working with HMR without any problems.

[2017-10-26 19:39] nchanged commented on #888
@eddow can you reproduce it please?
https://github.com/fuse-box/fuse-box-vue-seed <-- all works here.
Besides,
https://github.com/fuse-box/fuse-box/blob/8aa91f80d25d27011613ad75c184ac45add1d9f1/src/quantum/tests/ProcessEnvDeadCode.test.ts#L6-L31

[2017-10-26 19:40] nchanged commented on #899
@TheGrimSilence
[code]

We really need some here understanding the issue here

[2017-10-26 22:08] calebboyd opened #902 "Missing modules silently return null instead of throwing"
When bundling a project like https://github.com/theturtle32/WebSocket-Node

Fusebox will break the control flow of modules like:
https://github.com/theturtle32/WebSocket-Node/blob/master/lib/BufferUtil.js

If fusebox isn't able to resolve a dependency a warning is issued but null is still returned for a particular missing require.

This will cause a null reference exception here: https://github.co

[2017-10-27 10:57] dakom opened #903 "Error loading lib via worker"
When both the lib and worker and parent app are all built via fuse-box I get an error

Lib config is like:

[code]

Worker config is like:

[code]

Although they're constantly changing so these can't be relied upon for testing, there are live projects that exhibit this [here](https://github.com/dakom/frpong) (app+worker) and [here](https://github.com/dakom/fl-matrix) (lib)

[2017-10-27 15:32] #538 closed

[2017-10-27 15:51] calebboyd opened #904 "Fusebox not loading JSON within a node module"
JSON files within a module don't seem to resolve...
Instead of throwing (#902) the value is `null`

See example repo:
https://github.com/calebboyd/fusebox-json

[2017-10-27 17:19] calebboyd commented on #904
This is clearly a bug.

[2017-10-27 18:23] freehuntx opened #905 "[fuse-box.org] Bad footer link"
On the homepage the footer image links to: "http://fuse-box.org/index.html"
This should be "http://fuse-box.org" since index.html dont exist.

[2017-10-27 18:30] nchanged commented on #905
👍  thanks

[2017-10-27 18:30] nchanged commented on #902
👍

[2017-10-27 22:02] TheGrimSilence commented on #899
Besides the raw log, The repository is private sadly.

[2017-10-28 13:02] shripadk commented on #899
Faced same issue here. The folder `plugins/images` is missing from `node_modules/fuse-box/dist/commonjs/` when installing **fuse-box** with **yarn** but not with **npm**.

Truncated some installation output for brevity:

[code]

[2017-10-28 17:16] freehuntx opened #906 "fuse-heresy-default not working properly with HMR"
If i use polyfillNonStandardDefaultUsage, and have HMR active, first everything works.
But if i then add a new import and the file gets reloaded by HMR, the polyfill is not applying for this import.

Do i make something wrong or is this a bug?
My config is:

[code]

[2017-10-28 18:29] nchanged commented on #906
From documentation:

Please, consider conforming to javascript standards.

As for the issue, I will take a look

[2017-10-28 18:33] #905 closed

[2017-10-28 18:35] nchanged commented on #903
@dakom so how can I reproduce the issue? do you have something simple?

[2017-10-28 20:03] freehuntx commented on #906
I somehow like the comfort of this polyfill :/
[code]
simply looks better than
[code]

[2017-10-28 20:50] matteodem opened #907 "Importing vue doesn't work"
nodejs version: `v.6.11.1`

reproduction repository https://github.com/matteodem/vue-import-fuse-box

Right now I get an error that `Vue` equals `undefined`. Changing L1 on src/index.js fixes it, but it's incorrect and HMR fails after code change.

[code]

It'd be really awesome to use fuse-box for my upcoming project!

[2017-10-28 21:09] nchanged commented on #906
how about
[code]

[2017-10-28 21:16] freehuntx commented on #906
Could do this as an workaround :/

[2017-10-28 21:30] mattoni opened #908 "Ability to completely remove specified function from bundled code"
I'm proposing adding the ability to remove a specified function call completely from the bundled output.

My use case is, say I want to add a logger to my browser application:

[code]

Great, but now all over my application, I'll have
`log ("warn", "this is a warning");`

What'd be great is if in FB I can say, "remove all calls AND the definition for the log function"

That way, the overhead is re

[2017-10-28 21:41] mattoni commented on #895
Here's how I'm defining my routes for my big application:
![image](https://user-images.githubusercontent.com/5110855/32138761-bb65eaca-bbed-11e7-84f1-993d6c9e673e.png)
where asyncBundle/additionalBundles are the names of my pre-defined split bundles above.

I'm imaging a scenario where I can do like...
`asyncBundle: async () => import("../containers/ContainerConfig.tsx")` and when the route is loa

[2017-10-28 22:47] TheGrimSilence commented on #899
I seem to have gotten it to work finally even with yarn. The following `.travis.yml` configuration works.
[code]
After a new build ran all tests passed with alteration to my Fuse configuration

[2017-10-28 22:49] mattoni commented on #908
Maybe do something like (this)[https://github.com/4Catalyzer/babel-plugin-dev-expression]

[2017-10-29 17:31] devmondo commented on #907
try `import * as Vue from 'vue/dist/vue.common.js'`

check the comparison of builds https://vuejs.org/v2/guide/installation.html#Explanation-of-Different-Builds

[2017-10-29 20:37] matteodem commented on #907
What's the technical answer as to why it works with webpack and not with fuse-box?

[2017-10-30 01:52] serkon commented on #700
I add breakpoint my endpoint.ts file at 72 but, chrome debug tool stop line 52.

Also, i add console.log to line 72 for access to point with click from console screen, but output tells me line number is 52 so when click this source it redirects me to line 52.

I tried a lot of things but cannot resolve.  Even, I disable sourceCode and when look line number the console output, it refer to still lin

[2017-10-30 07:48] nchanged commented on #700
@serkon if you want to your sourcemaps to work remove `Ng2TemplatePlugin` plugin. The issue https://github.com/alex-klock/ng2-fused/issues/11 is not resolved yet.

[2017-10-30 07:49] nchanged commented on #907
@matteodem the official plugin is tied up to webpack, we are doing our best to port it to fusebox.

[2017-10-30 10:20] dakom commented on #903
My mistake - it was a bug on my side and I misread the error, sorry!

[2017-10-30 10:20] #903 closed

[2017-10-30 12:31] serkon commented on #700
Thanks for hint but i have to use it, i will wait for solution. I migrate current project to fuse and want to make minimum change.

[2017-10-30 14:17] nchanged commented on #700
Sure, but then it's not fusebox' issue.

[2017-10-30 15:19] matteodem commented on #907
It'd be awesome to get it to work by writing

[code]

[2017-10-30 15:50] devmondo commented on #907
@matteodem  you could use fuse alias feature to do that
[code]

[2017-10-30 22:23] stijnvanlieshout opened #909 "How to setup a multipage project with fuse-box?"
First of all thank you for building this amazing bundler. It's the first one I (kind of) understand.

What I don't yet understand is how I can use fuse-box for multipage projects. I've created a [stackoverflow thread](https://stackoverflow.com/questions/47025024/how-to-setup-a-multipage-project-with-fuse-box) explaining my struggles and uploaded my project to [github](https://github.com/stijnvanli

[2017-10-30 22:40] nchanged commented on #909
hi @stijnvanlieshout ! Thanks for the kind words!
If you want to expand the dev server, you can look up [here](http://fuse-box.org/page/development#express-application-access)

But I think you are getting it a bit wrong. FuseBox doesn't take care of routing, that's up to your application. If you want to have multiple instance, you need to call `FuseBox.init` several times in order to have an isola

[2017-10-31 08:48] serkon commented on #700
Hi again @nchanged ,
I replace all decorators to require method in "*.components.ts"  and Ng2TemplatePlugin removed from fuse.js but still getting same error. Please could you test console output for Async request success response.

[2017-10-31 08:55] nchanged commented on #700
that has been raised already and solved, clear the cache.

[2017-10-31 10:05] serkon commented on #700
Hi again @nchanged if we talk about .fuse and dist folder remove, i have already do dis. Is There another options which i don't know?

[2017-10-31 10:10] nchanged commented on #700
`.fusebox` yeah, it should be all good

[2017-10-31 10:10] serkon commented on #700
I have already did it but same problem is continue. Nothing changed.

[2017-10-31 10:49] nchanged commented on #700
Ok, can you reproduce it with the latest release?

[2017-10-31 13:56] freehuntx opened #910 "Make FuseBox use some tsconfig settings"
Some features of typescript are directly usable in fusebox.
It would be cool if fusebox uses them, if they are not explicitly set in fusebox itself.

For example:
- Setting paths in tsconfig, sets alias in fusebox
- Hash from tsconfig, sets hash from fusebox
- Sourcemap from tsconfig, sets sourcemap from fusebox
- Setting base/rooturl sets homedir from fusebox (?) // This one may be not good
- Out

[2017-10-31 17:07] Gouigouix opened #911 "React import LESSPlugin"
hello,

I use LESSPlugin into a project and the build working well
It's a React project with some tsx components
I testing to import "style.less" into each components, but only the first is display into <head> !

You can test with this example : `https://github.com/orchestra-ts/fuse-box-examples/tree/master/examples/react-typescript-less`

Thank you

[2017-10-31 18:58] serkon commented on #700
All day i have create the project from beginning. All dependencies updated with ncu -a, and used minimum configuration. The issue still continue. sadness

[2017-10-31 20:14] nchanged commented on #700
Please check this repository https://github.com/fuse-box/angular2-example there shouldn't be any sourcemap related issues

[2017-10-31 20:22] serkon commented on #700
I think, if *.component.ts file has an any comment inside sourcemap is refere wrong path. When I remove comments inside *.component.ts i guess referencing correct path.

[2017-10-31 23:55] serkon commented on #548
Could you try just add after first bundle below code. I think `const fuseDev` constant not need.

fuseCore.bundle("sco")
       .instructions(`>course/sco/index.ts`)
       .watch("dev/course/**");

[2017-11-01 00:06] serkon commented on #700
I resolve, remove `alias` from fuse.js and add `tsconfig.json` below
[code]
than works fine also webstorm:
`import {EndpointService} from '~/shared/services/endpoint/endpoint.service';`

next step i will try with Ng2TemplatePlugin. Maybe it work fine too.

[2017-11-01 00:36] serkon commented on #700
Yes, Ng2TemplatePlugin also work with correct sourceMap output!

![screen shot 2017-11-01 at 03 35 46](https://user-images.githubusercontent.com/71252/32255001-6f237908-bead-11e7-88e8-84944916cd6b.png)

[2017-11-01 01:21] mattoni opened #912 "Quantum tree shaking variables that are being used"
I have a separate UI package I maintain which i import and use in my main project. A couple variables are being tree-shook that I'm using and it's breaking my builds.

In my UI package I have the following:
[code]

which are then grouped together in the root index file and re-exported like so:

[code]

In my main app, I'm using the BorderColor/zIndexLayers in a split bundle:
[code]

When running a

[2017-11-01 07:03] nchanged commented on #911
Hi
https://github.com/orchestra-ts/fuse-box-examples/blob/7c0432c6727b0e2385d539a377aab78e8c11877f/examples/react-typescript-less/src/components/footer/index.tsx#L3

That is incorrect^^
Should be
[code]

Same here (and everywhere else) https://github.com/orchestra-ts/fuse-box-examples/blob/master/examples/react-typescript-less/src/components/layout/index.tsx#L6

[2017-11-01 08:49] zeniroy opened #913 "change order tryTypescriptPlugins with replaceDynamicImports"
I'm using split and dynamic import feature in production and not in development because i want to use hmr feature in development mode.

And to do so, i have to replace some code for import modules, before replacing dynamic import. Now I'm using "onTypescriptTransform" feature for replacing code, So some order problem on File.ts,

[code]

So, i think it's better that there is replaceDynamicImports

[2017-11-01 08:52] nchanged commented on #913
@zeniroy don't really get

Imports and the actual splitting happens only in production, in development your bundle is not split and totally working with HMR. Try that one:

https://github.com/fuse-box/fuse-box-examples/tree/master/examples/react-code-splitting

[2017-11-01 09:00] zeniroy opened #914 "throwContainedAPIError when using split"
I'm using Code splitting for building some kind of browser library.
And i want to use containedAPI for avoiding collision $fsx in another project.

But throwContainedAPIError is occurred when using containedAPI. That error has message like "Make sure code splitting is not in use".

So, I commented throwContainedAPIError part, but it works perfectly.
I'm not sure that it works in multiple bundle(no

[2017-11-01 09:07] nchanged commented on #914
@zeniroy it can't work with containedAPI, simply because there is no way to share bundle information (bacause it's contained and there is no access to window)

[2017-11-01 09:08] nchanged commented on #914
However we could technically create a random variable in window ...

[2017-11-01 09:10] zeniroy commented on #913
Oh, you are right. That's awesome!

[2017-11-01 09:10] #913 closed

[2017-11-01 11:01] zeniroy commented on #914
Split bundle and Dynamic import doesn't need global variable. As far as i know, $fsx.l() has internal ajax request, so dosen't need global variable to import dynamically.

By the way, i think global random variable is also good. I want to choose this option if Using containedAPI with split bundle is not possible. Can you add option for it?

[2017-11-01 16:58] guillaume86 commented on #899
I already got that issue some time ago. It's a `yarn clean` issue IIRC.

[2017-11-01 18:41] guillaume86 commented on #560
Not sure it's related to this but it might be:

I have a dependency of a dependency (only-react-css-property-operations) which uses `const` and it is not getting transpiled when using the `browser` target (I also tried `browser@es5`). Should I file an issue or is it something I can configure/force?

[2017-11-02 01:58] jsamr opened #915 "When setting custom dev port, the websocket connection fails"
Currently, you have to explicitly set `socketURI` to the right port if you change `port` setting when invoking `fuse.dev`.  [Minimal working example](https://github.com/sveinburne/fuse-box-socketuri-bug)

### Working example (default):

`port = 4444`

### Working example (custom):

`port = 8880`
`socketURI = 'ws://localhost:8880'`

<details>
<summary>configuration with explicit <code>socketURI</co

[2017-11-02 06:20] nchanged commented on #915
YOu need to change .hmr(port) too

[2017-11-02 06:21] nchanged commented on #560
Can we have a separate issue?

[2017-11-02 08:41] guillaume86 commented on #560
Sure I'm creating it in a minute.

[2017-11-02 08:49] guillaume86 opened #916 "es6 module in node_modules not transpiled"
I have a dependency of a dependency (`only-react-css-property-operations` which is required by `react-dom-animated`) which use the `const` es6 feature and it is not getting transpiled to es5 `var` when using the browser target (I also tried browser@es5).

I managed to force the transpilation by using a plugin to set `file.es6module = true` on the appropriate file.

From what I gathered from the so

[2017-11-02 09:12] nchanged commented on #916
@guillaume86 if you are familiar with AST you could try adding const let and other conditions here
https://github.com/fuse-box/fuse-box/blob/master/src/analysis/plugins/LanguageLevel.ts#L4

That's a very simple fix, i don't remember exactly the node name, but it looks something llke this:
[code]

Do you think you can make a PR?

[2017-11-02 09:34] nchanged commented on #910
@freehuntx great idea for FuseBox 3.0!

[2017-11-02 09:50] guillaume86 commented on #916
Ok I'm going to give it a shot.

[2017-11-02 13:39] zeniroy commented on #914
In my case, the filename which will be dynamically loaded are in "bMapping" variable in main bundle file. If filename will be "83jkk3h33-about.js", bMapping can be modified for it. Am i wrong?

[2017-11-02 15:13] nchanged commented on #914
that's right, but then when you load a bundle, we need to store virtual file structure somewhere, need to check how we can implement it. I am not saying it's impossible, just tricky a little bit

[2017-11-04 19:29] cryptoquick opened #918 "CSSPlugin ignoring outFile and inject options with SassPlugin"
Hi! Great project. However, I have yet to see it successfully produce a css file.

Our configuration is here, please take a look:

https://github.com/influxdata/chronograf/blob/typescript/ui/fuse.js

It's kind of unclean because I've been experimenting with different options, trying to get it to work, to no avail.

Thanks in advance for your help.

[2017-11-04 20:04] nchanged commented on #918
HI, I see the problem right away, u need to chain it, use an array [sass, css] I am not at home atm, read up on docs and let us know if they are unclear

[2017-11-05 02:11] cryptoquick commented on #918
Thanks for the quick response. I'll give that a try!

[2017-11-05 11:02] Shepless commented on #899
@guillaume86 @TheGrimSilence if this is a yarn issue are we ok to close?

[2017-11-05 11:03] Shepless commented on #769
Closing as we now have this feature. Please re-open if it is not working for you @FredericHeem

[2017-11-05 11:03] #769 closed

[2017-11-05 11:05] Shepless commented on #738
I think it is safe to close this, we have type definitions if people want to develop plugins using TypeScript.

[2017-11-05 11:05] #738 closed

[2017-11-05 11:06] Shepless commented on #690
@jvanharn any update on this bud?

[2017-11-05 11:08] Shepless commented on #681
@tomitrescak any joy with this? I'm doing a bit of house keeping on older issues but don't want to close if this is still an issue for you?

[2017-11-05 11:09] Shepless commented on #673
@auchenberg Im doing some house keeping on older tasks - is this still an issue for you?

[2017-11-05 11:09] Shepless commented on #640
@nchanged is this still something that needs to be addressed?

[2017-11-05 11:10] Shepless commented on #636
@JoeLanglois @nchanged probably a feature we will look at for v3?

[2017-11-05 11:13] Shepless commented on #584
@jperezdavinchi @nchanged does this issue still need to be actioned?

[2017-11-05 11:15] Shepless commented on #573
@nchanged something for v3 roadmap?

[2017-11-05 11:16] Shepless commented on #253
@devmondo @nchanged one for v3?

[2017-11-05 11:18] Shepless commented on #148
@screendriver I'm doing some house keeping on older issues, is it ok to close this issue?

[2017-11-05 11:19] Shepless commented on #247
@devmondo @nchanged for v3 roadmap?

[2017-11-05 11:20] Shepless commented on #310
@nchanged @arjendeblok any word on this one?

[2017-11-05 11:21] Shepless commented on #348
@devmondo @nchanged v3 roadmap?

[2017-11-05 11:22] Shepless commented on #432
@devmondo @nchanged for v3 roadmap?

[2017-11-05 11:22] Shepless commented on #489
@mattoni any update on this bud?

[2017-11-05 12:35] apostololeg opened #919 "No sourceMaps for /src"
version `2.4.0` and `2.5.0-beta.1`
reproduce repo https://github.com/apostololeg/fuse-box-vue-sourcemaps

![](http://i.imgur.com/8KkBylr.gif)
`dist/build.map.js`:
[code]
Am I wrong or there is bug in plugin ?

[2017-11-05 14:45] TheGrimSilence commented on #899
Good to close as far as I'm concerned

[2017-11-05 15:17] cryptoquick commented on #918
That worked alright. It took me a bit of work to figure out what's supposed to go into plugin chaining vs init config.

If there's anything else we're doing wrong, or we could do better in our fuse script, please let us know! And also, thanks for the quick response!

[2017-11-05 15:17] #918 closed

[2017-11-05 16:12] guillaume86 commented on #899
Fine for me as well.

Le dim. 5 nov. 2017 15:45, Adrian (Grim) Roach <notifications@github.com> a
écrit :

[2017-11-05 16:19] #899 closed

[2017-11-05 16:31] Shepless commented on #916
@guillaume86 @nchanged can this be closed now the PR has been merged?

[2017-11-05 16:37] guillaume86 commented on #916
Yes it's solved.

Le dim. 5 nov. 2017 17:31, Chris Shepherd <notifications@github.com> a
écrit :

[2017-11-05 16:40] #916 closed

[2017-11-05 16:45] nchanged commented on #432
well, we can't produce empty files, a simple structure must be created. An API

[2017-11-05 16:46] nchanged commented on #348
I think we should polish source maps, right

[2017-11-05 16:48] nchanged commented on #310
We should create an issue related to sourcemaps and combine all of them

[2017-11-05 16:48] nchanged commented on #247
Yep, we can make a sep. plugin for that in v3

[2017-11-05 16:50] nchanged commented on #573
I think Sparky can do that quite easily no need in watching everything by default.

[2017-11-05 17:00] Shepless commented on #919
@apostololeg Thanks for raising. I have pulled your repo down and I have updated your `.babelrc` file to include `sourceMaps: true` and that correctly generates source maps:

[code]

The `BabelPlugin` use the `babelrc` file and ignores options passed in directly. I will put up a PR in a moment to resolve this but i the meantime the above will resolve your issue.

[2017-11-05 17:15] Shepless commented on #919
@apostololeg PR is up #920

[2017-11-05 17:20] Shepless commented on #296
@nchanged @tomitrescak Am I ok to close this?

[2017-11-05 17:28] auchenberg commented on #673
@Shepless Fusebose's HMR still isn't working with VS Code.

[2017-11-05 17:29] apostololeg commented on #919
oh, dat nice! Thanks, Chris 👍

[2017-11-05 17:35] Shepless commented on #673
Thanks for getting back to me. Im not too savvy with this - is this something we need to address in FuseBox, or is it something that needs to be updated in VSCode? Or both 😄 ?

[2017-11-05 17:50] Shepless commented on #888
@eddow are you still facing this issue?

[2017-11-05 17:53] Shepless commented on #807
@chimon2000 is this still an issue for you?

[2017-11-05 19:02] mkhennoussi opened #921 "Reload the page after custom Sparky.watch"
Hi everyone,

Thanks for this great tool !

Auto-reloading is working great with files in the homeDir folder. But what if I want to watch files not in the homeDir folder and then reload the page ? Is it possible to manually reload the page with the devserver ?

Something like :
[code]

[2017-11-05 19:13] nchanged commented on #921
Hi I think we had a similar feature request somewhere, well keep that in mind for v3

[2017-11-05 20:03] Shepless commented on #919
PR is merged. Going to close this now.

[2017-11-05 20:03] #919 closed

[2017-11-05 22:48] patrickmichalina commented on #915
This doesn't appear to work even when setting via .hmr config

[2017-11-06 03:59] mattoni commented on #489
not yet. i can test with the latest fuse-box though to see if the issue still exists.

[2017-11-06 06:15] eddow commented on #888
Hi, sorry, I am a bit unavailable nowadays, I will come back to you as these topics are starred but I cannot promise when.

[2017-11-06 07:20] screendriver commented on #148
Theoretically it could be closed but I'm still missing some real examples / recipes in the docs regarding React / Redux and HMR 😉

[2017-11-06 07:23] Shepless commented on #148
We welcome any PRs from the community so if you can help us out in that regard that would be great!

[2017-11-06 07:23] #148 closed

[2017-11-06 07:29] Shepless commented on #888
Closing for now. Feel free to reopen if you still think this is an issue.

[2017-11-06 07:29] #888 closed

[2017-11-06 08:09] andrew-w-ross commented on #673
@Shepless [here is a summary on the issue](https://github.com/fuse-box/fuse-box/issues/659#issuecomment-326499961) so far.

And [here is how to recreate it](https://github.com/fuse-box/fuse-box/issues/659#issuecomment-326517162). Just give me a shout if you need more info/help.

[2017-11-06 10:56] Gouigouix commented on #911
Oh my god,

I was really tired! After 5 days of vacation and fixes everything works ...
Are you interested in a pull-request example (corrected)?

Thank you.

[2017-11-06 11:20] nchanged commented on #911
@Gouigouix absolutely!

[2017-11-06 11:55] #894 closed

[2017-11-06 12:03] amygdaloideum opened #922 "Avoid watch triggering initially"
I have the following script to trigger the generation of a template cache:

[code]
Which works, but when I start my dev-server it triggers the watch on every view file i have in my repository, recreating the cache over a dozen times. Is there anyway to avoid the watch to trigger initially (on files that havent event changed)?

[2017-11-06 13:37] nchanged commented on #922
@amygdaloideum you can use just JavaScript ;-)
[code]

[2017-11-06 13:37] nchanged commented on #636
@Shepless yep, we need to start working on the roadmap and collect all these things

[2017-11-06 15:15] Gouigouix commented on #911
@nchanged The pull request is: https://github.com/fuse-box/fuse-box-examples/pull/17

Thx

[2017-11-06 17:24] nchanged commented on #911
Thanks!

[2017-11-06 17:24] #911 closed

[2017-11-06 18:29] RPDeshaies opened #923 "FuseBoxOptions.package is not typed properly"
The property `package` inside the interface `FuseboxOptions` has the `any` type.

[code]

It makes it very difficult to understand since the only place where it seems to be used is here :

https://github.com/fuse-box/fuse-box-npm-package-seed

[2017-11-06 18:32] RPDeshaies commented on #923
Even the doc is not clear, sometime it uses a property called `main` and sometime it uses `entry`

![image](https://user-images.githubusercontent.com/6224111/32457337-c8984f84-c2f6-11e7-9f90-4c868bd60da0.png)

[2017-11-07 05:48] zeniroy commented on #914
Ok, i got it. So do you have a plan to implement containedAPI with split bundle? Or let user to use global random variable bundling?

[2017-11-07 06:08] zeniroy commented on #895
It is amazing feature that i really need. At this time, split is not valuable. I must define all the libraries that are bundled by myself for shrink bundle size. It means whenever i change my source with dependency, i have to change my fuse-box configuration.

There can be some options based on smart splitting for @leon-andria comments. I want to choice to use split automatically or manually.

[2017-11-07 09:13] nchanged commented on #914
we can think about it, it's possible, but it maybe behind a different flag, because in this case it will be no longer be isolated.

[2017-11-07 10:56] amygdaloideum commented on #922
[code]

Is this what you mean? If I write is like this It only skips the first file, and I still have to wait 10+ seconds while it triggers on all the other files. Is there a way to know when all the initial files have triggered? I guess I could use a timeout but that makes me feel kind of dirty.

[2017-11-07 11:12] nchanged commented on #922
@amygdaloideum do you feel like making a PR? We could use some help!

[2017-11-07 11:14] amygdaloideum commented on #922
@nchanged I might! I will look into it after work! :)

[2017-11-07 11:28] dakom opened #924 "Line numbers are off with workers"
Some sample screenshots below from just `console.log` in a worker:

The console.log() happens at line 57 in the worker, but it's reported as line 48 in Chrome dev tools

sourceMaps === true in the producer config.

![screen shot 2017-11-07 at 13 06 11](https://user-images.githubusercontent.com/6406986/32491390-34c59ebe-c3bf-11e7-8432-1800e9372149.png)
![screen shot 2017-11-07 at 13 24 59](https://

[2017-11-07 12:01] zeniroy commented on #914
Ok, good. I really need that!

[2017-11-07 17:55] nchanged opened #926 "Smart Code Splitting"
https://github.com/fuse-box/fuse-box/issues/895

[2017-11-07 17:56] nchanged commented on #895
https://github.com/fuse-box/fuse-box/issues/926

[2017-11-07 17:59] nchanged opened #927 "Quantum file mapping"
* Make an ability to generate the entire file free map in Quantum.
* Make it possible to use imports using dynamic variables
e.g
[code]

[2017-11-07 18:00] nchanged commented on #923
@RPDeshaies do you think you can submit a PR? We can use some help

[2017-11-07 18:02] nchanged commented on #915
@sveinburne can you paste your fuse.js config please?

[2017-11-07 18:28] RPDeshaies commented on #923
Sure. I just need to know what are the properties :)

[2017-11-07 18:54] RPDeshaies commented on #923
@nchanged also the documentation is not very clear on how to handle the generation of npm packages properly without including dependencies in them

https://github.com/fuse-box/fuse-box-npm-package-seed/issues/3

[2017-11-08 12:32] rs3d opened #928 "SourceMaps for vendor files and bundle groups"
Freature Request for v3: Implementing SourceMaps for vendor files and bundle groups

Similar or related issues/requests:
https://github.com/fuse-box/fuse-box/issues/348
https://github.com/fuse-box/fuse-box/issues/849
https://github.com/fuse-box/fuse-box/issues/796
https://github.com/fuse-box/fuse-box/issues/651
https://github.com/fuse-box/fuse-box/issues/868

[2017-11-08 12:39] rs3d opened #929 "Memory caching of transpiled files"
Freature Request for v3: Implementing an option to use memory caching instead of files

[2017-11-08 12:44] nchanged commented on #929
thanks!

[2017-11-08 12:45] nchanged commented on #928
Would need more elaboration on that. For example handle external sourcemaps is a different issue

[2017-11-08 19:16] Shepless opened #930 "Proposal - Make Better Use Of Typescript"
When I contribute I often find areas of the code that look completely unlike other areas and are sometimes hard to follow and read. In addition, I have found instances where we don't return consistent types from methods/functions. This means issues could sneak into the code base as a contributor may not return correct types, or assume incorrect types from an `any` type.

Therefore I'd like to prop

[2017-11-09 16:12] dazzoh opened #931 "HMR with setStatefulModules fails to do dynamic view updates."
Hi,

I'm having trouble with getting HMR working properly on an Angular (4) project.  I've enabled the stateful modules test so that components and their templates do not trigger page refreshes, like so:
[code]
If I edit some text in app.component.html, I will see in the browser console: update "app/app.component.html"
No errors, but the view doesn't reflect the changes.  Am I missing something?

[2017-11-09 16:32] nchanged commented on #931
@dazzoh the page won't refresh, it will just re-trigger your entry point.

[2017-11-09 16:41] dazzoh commented on #931
Ok it appears I don't understand something fundamental here.  I will do a bit more reading up on the HMR logic first.  Thanks for your help & good job on FuseBox.. I hated webpack with a vengeance.

[2017-11-09 16:41] #931 closed

[2017-11-09 16:43] tomitrescak commented on #296
I'll help you ;)

[2017-11-09 16:43] #296 closed

[2017-11-09 16:44] tomitrescak commented on #681
Hmm, never figured this out actually, but I seem not to need it anymore ;)

[2017-11-09 16:44] #681 closed

[2017-11-11 14:38] matthiasak opened #932 "Allow auto-importing an aliased package or module"
so, I have a work library im trying to build through fusebox, and I've got some aliases like so:

[code]

if I write a file and just use `Query` somewhere I get the error that `X.modules.Query is not installed`.

Can we have the auto-importing feature include aliased packages/modules?

[2017-11-11 19:45] serkon commented on #700
Hi, i move my angular version to latest version that is v5.0.1. And, i have updated node_modules folder with npm install. After that, sourceMap has show one more line wrong position from correct position. When moves again to node_modules folder to old version (v4.4.5) then has been showing correct position again.

[2017-11-11 21:30] nchanged commented on #700
So you are saying that angular version affects sourcemaps?

[2017-11-11 21:50] serkon commented on #700
At the beginning i think cause. But This is not angular 5.0.1 version issue sorry for wrong info. I manually update just angular packages everythings goes fine.  I think I get this error while upgrade the some other packages. I am trying to find what happening and which one. I will share if i catch.

[2017-11-11 22:03] serkon commented on #700
I think, i catched the error. It's comes from "fuse-box" version. When i use "fuse-box": "^2.5.0-beta.1" sourceMaps moves 1 line below. If i return to "fuse-box": "^2.3.3" version everythings goes fine again.

[2017-11-11 22:04] nchanged commented on #700
How about 2.4.0 ?

[2017-11-11 22:05] nchanged commented on #700
Can u reproduce it in a repository ?

[2017-11-11 22:05] serkon commented on #700
I will try and update this comment

[2017-11-12 21:17] leon-andria opened #933 "Code Splitting"
There is a repo here: https://github.com/leon-andria/fuse-zxcvbn
How to make "zxcvbn" module into the bundle "pwd" rather than to the master bundle ?
Making code splitting becomes useless if it goes always to the master bundle.

[2017-11-12 21:25] leon-andria opened #934 "using import()"
It seems that the following code
[code]
is transformed to
[code]
This is a kind of issue that @mattoni had mentioned last time.
So after a debug, I figure out that "zxcvbn" is a npm module and fuse automatically replace it to the main entry point in the package.json of this module.
For me this is a side effect because the Fuse API Loader is not able to map "~/lib/main.js" when using code splitting

[2017-11-12 21:26] mattoni commented on #933
this is the issue i was having @nchanged, where it renamed it ~lib/main.js

[2017-11-12 21:32] leon-andria commented on #934
I forget to mention that if you do a Code-Spitting with bundle name like a npm module, you are dead.

[2017-11-13 08:17] nchanged commented on #934
@leon-andria I guess it should have been transformed into `import("zxcvbn/lib/main.js")`
But it won't work I guess, and imports are for dynamic loading, It should automatically split with the new code splitting in 3.0

[2017-11-13 09:38] leon-andria commented on #934
Thanks @nchanged
It's also related to https://github.com/fuse-box/fuse-box/issues/933
We should really tackle this in the 3.0 with a clear path how to make it. Today, the way how the code splitting is executed is so closed in term of implementation and combining with Quantum becomes like we need to be smart and blocking for contribution.
Either you listen my advice or not, trust me, you have to re

[2017-11-13 09:48] nchanged commented on #934
@leon-andria I am with the community on this one, you will be able to try out the new smart code splitting soon enough (with `3.0`)
We start with full automation first and then go for customisation.

[2017-11-13 17:05] Gouigouix opened #935 "Build Quantum multi modules"
Hello,

I have test many configurations for isolate multi modules loaded into the same page, without good result! For simplify my current project, I create a simple exemple.

**You can see it here :**
https://github.com/orchestra-ts/fuse-box-examples/tree/master/examples/quantum_multi_bundles

Thx for you help.

[2017-11-13 17:51] nchanged commented on #935
How about

[code]
You should set `containedApi` true

[2017-11-13 19:23] #895 closed

[2017-11-13 19:23] nchanged commented on #771
@FredericHeem that's coming very very soon. Stay tuned, you will be able to play with it already tomorrow.

[2017-11-13 19:23] #771 closed

[2017-11-14 15:24] nchanged commented on #934
https://github.com/fuse-box/fuse-box/blob/55bc66b3f756dfe87fc839610fe100e7d4489993/src/tests/dynamic_imports_test/ImportAutoSplitModules.test.ts#L33-L51

[2017-11-14 15:24] #934 closed

[2017-11-14 15:24] nchanged commented on #933
Fixed in 3.0 beta

[2017-11-14 15:24] #933 closed

[2017-11-14 15:39] #926 closed

[2017-11-14 15:50] nchanged commented on #912
![screenshot 2017-11-14 16 49 04](https://user-images.githubusercontent.com/1629088/32789305-c7642c12-c95b-11e7-9393-09e1c28297db.png)

I cannot reproduce the issue

src/index.ts
[code]

`src/utils/index.ts`
[code]

[2017-11-14 15:51] #912 closed

[2017-11-14 15:52] nchanged commented on #909
Closing due to inactivity, re-open elsewise

[2017-11-14 15:52] #909 closed

[2017-11-14 20:05] mrkstwrt opened #936 "hmr() with { reload: true } doesn't reload the page when using JavaScript target"
The following simple config will reload the page when a file is updated:

[code]

However changing the 9th line to (as well as having an `index.js` target):

[code]

Doesn't work as expected, is this by design? This seems to affect the latest beta and 2.4.0

[2017-11-14 20:42] nchanged commented on #936
How about adding useTypescriptCompiler option?

[2017-11-14 21:35] mrkstwrt commented on #936
Ah yes, that fixed it. Is this feature specific to the Typescript compiler?

[2017-11-14 21:39] nchanged commented on #936
well, the problem is that there are no plugins to handles HMR. Usually, either typescript or babel does it. But in this case, there are no plugins at all. (useTypescriptCompiler flag - enables typescript)

[2017-11-14 21:45] mrkstwrt commented on #936
I see, that makes sense. Thanks for the speedy reply.

[2017-11-14 21:45] #936 closed

[2017-11-14 22:14] sveinburne commented on #930
I am quite confident with TS typings and would love to participate. @Shepless just ping me and spot a small area of the codebase you would like me to work on. If you are satisfied with my contributions, I could do more :-)

[2017-11-15 21:21] Shepless commented on #930
@sveinburne awesome mate. Personally I'd start with all `Promise<T>` return types (which is a lot!) as fuse is relies very heavily on async and is probably the most vital area. Having said that, the ultimate aim (long term) should be no `any` types so any PR on any part you think can be improved is welcome!

[2017-11-16 10:38] nchanged opened #938 "Introducing ts:main in package.json - Ability to publish typescript sources to npm"
# Available in fuse-box@3.0.0-next.14
Introduce an ability to publish typescript sources to npm.
Should work in cases:
[code]
As well as

[code]

On top of that,  dynamic `import()` inside these packages should work too.
For example, e if you have a library `hello-world` that lazy loads a package called `foo`, FuseBox should be able to extract that package respecting your `output` config

[2017-11-16 12:11] nchanged commented on #938
Typescript package: https://github.com/fuse-box/fuse-ts-raw-package

Usage example: https://github.com/fuse-box/fuse-box-3-preview/blob/master/use-typescript-package/src/index.ts

[2017-11-16 15:17] RPDeshaies opened #939 "Quantum plugin crashes if undefined element is added to the plugin list"
In the Fusebox doc, we see a lot of stuff that does

[code]

So if the condition if false, an undefined element is added to the plugin list instead of the plugin

It works fine with Fusebox, but when using the Quantum plugin, Quantum crashes as it seems as it's trying to bootstrap a undefined plugin

[code]

[2017-11-16 15:22] RPDeshaies commented on #939
Quantum works if I use `_.compact()` on the plugin array

[2017-11-16 16:55] misantronic opened #940 "resolve.modules in fuse-box"
Just like webpack offers multiple modules-folders with [resolve.modules](https://webpack.js.org/configuration/resolve/#resolve-modules), is there a way to achieve this with fuse-box?

I need something like that:

`modules: ['.', 'node_modules', './src/my-module']`

[2017-11-16 18:26] nchanged commented on #940
currently, we have `customModules` folder which accepts only 1 folder, but we can tweak it to accept multiple

[2017-11-16 19:07] misantronic commented on #940
is `customModules` compatible with v.2.4.0. I can't find it in the docs.

[2017-11-16 19:32] nchanged commented on #940
@misantronic sorry ;-) http://fuse-box.org/page/configuration#custom-modules-folder
modulesFolder

[2017-11-16 21:03] devmondo commented on #940
yep multi-folders is really really important.

[2017-11-17 00:20] masaeedu commented on #559
So the approved solution is for users to go nuts trying to figure out the nonsensical error, arrive at this issue, then realize the issue has nothing to do with `fusebox-hot-reload`.

[2017-11-17 10:54] nchanged commented on #559
@masaeedu are you still experiencing it?

[2017-11-17 14:39] rdemetrescu commented on #431
@nchanged  @vegarringdal  yes, please !!  give Aurelia some love...   :)

[2017-11-17 15:49] misantronic opened #941 "FuseBox.import does not exist"
I'm on fusebox `2.5.0-beta.1`.
I want to use wildcard imports. Unfortunately, `FuseBox.import` is not a function.

Usage:

[code]

[code]

[2017-11-17 17:01] nchanged commented on #941
@misantronic you shouldn't import fuse-box in your app.` fuse-box` is a package is used ONLY for bundling, not for requiring in your app.
FuseBox variable, however, is available in your app globally.
Remove the import statement
[code]

[2017-11-17 17:01] #941 closed

[2017-11-17 19:27] vegarringdal commented on #938
@nchanged very cool
Do the tsconfig need to be same folder as main ?
I kinda like to have that on root of the module package

[2017-11-17 19:36] nchanged commented on #938
@vegarringdal you don't need tsconfig.json there, that's the whole point, your local config will deal with it (targets e.t.c)

[2017-11-17 21:38] masaeedu commented on #559
@nchanged Yes. I fixed the missing import in my code that was causing the error, but I was still seeing the irrelevant `fusebox-hot-reload` error message yesterday.

[2017-11-17 21:50] nchanged commented on #559
@masaeedu but there should be 2 stack traces, one about the missing imports and the other one whenever fuse has failed to update.

[2017-11-17 22:46] nchanged opened #943 "bug: dynamic imports and aliases don't work"
subj

[2017-11-17 22:46] nchanged commented on #943
@mattoni ^

[2017-11-17 22:50] #939 closed

[2017-11-17 23:51] freehuntx commented on #940
I really like this!
Typescript has something like this.
Its called "paths" where you can define some kind of mather for it.
It would then be possible to adopt that option from the typescript config. (Parsing its path option)

[2017-11-18 00:17] misantronic commented on #881
I've got the same problem as described above. The watcher without any args runs in an infinite loop whenever changes appear. Unfortunately, the watcher doesn't work with any args whatsoever.
My config:

[code]

[2017-11-18 09:03] nchanged commented on #940
We have plans on automatic aliasing based on tsconfig

[2017-11-18 19:36] Devgaze opened #944 "Unable to copy assets from `node_modules` to `dist` folder (CSSResourcePlugin?)"
Hi,

as suggested by @nchanged , I followed [this example](https://github.com/fuse-box/shimming-and-css-example/blob/master/fuse.js), but was unable to get FontAwesome fonts into my `dist` folder using `CSSResourcePlugin`.

I have created this repo [https://github.com/Devgaze/fusebox-example](https://github.com/Devgaze/fusebox-example) which demo the issue.

Thanks for the help!
Alen

[2017-11-19 21:15] jsamr opened #945 "ScssPlugin fails to resolve imports from nested node_modules"
As per the definition of the [recursive node module resolution algorithm](https://nodejs.org/api/modules.html#modules_loading_from_node_modules_folders), modules should be resolved recursively. It means that any build tool should search for `node_modules` from source directory upwards.

This is working fine with `javascript` modules, but it fails with `scss` modules.

Here is a [minimal working ex

[2017-11-20 07:41] Devgaze commented on #945
I think you are missing `importer: true` as described here [http://fuse-box.org/plugins/sass-plugin#macros](http://fuse-box.org/plugins/sass-plugin#macros)

[2017-11-20 08:52] nchanged commented on #945
@sveinburne actually @Devgaze is right, you can implement any kind of module resolution there.

[2017-11-20 09:47] #943 closed

[2017-11-20 15:05] sveinburne commented on #945
@Devgaze @nchanged This was an error when I worked on MWE, I forgot to add this option. But after I did, I could still reproduce. Have committed the change to the repo if you want to give it a try :-)

[2017-11-20 15:20] nchanged commented on #945
@sveinburne i think you add `paths` option to the SassPlugin pointed to `packages`

[2017-11-20 15:54] sveinburne commented on #915
@nchanged Here is a [minimal working example](https://github.com/sveinburne/fuse-box-socketuri-bug).

<details>
<summary>Working configuration (explicit <code>socketURI</code>)</summary>
<p>

[code]

</p>
</details>

<details>
<summary>Failing configuration (non-explicit <code>socketURI</code>)</summary>
<p>

[code]

</p>
</details>

[2017-11-20 16:11] sveinburne commented on #945
@nchanged That would mean I need to change `@imports` inside my local npm modules (replacing `~` with `$myPath`)? I don't think making my npm modules coupled to a specific bundler syntax is an acceptable workaround 🙁.
I _found_ a workaround for my specific setup (using `yarn workspaces` link all `node_modules` to project root) but I believe my feature request is still valid at this point 🙂

[2017-11-20 16:31] sod commented on #722
Followup:

Was interested if fuse-box now handles the usecase. Tested `3.0.0-next.14` and it indeed works. Don't know what commit fixed it, but thanks for that :)

[2017-11-20 16:43] nchanged commented on #722
@sod https://github.com/fuse-box/fuse-box/commit/91b3a287c5fd4a761d36af16982a392abfaf2a99
You now publish typescript packages to npm

The full doc isn't really yet, but there you go https://github.com/fuse-box/fuse-box/blob/doc-ver-3/docs/publishing.md

[2017-11-20 16:48] nchanged commented on #945
@sveinburne `importer` option enables macros replacement (we just replacing strings), so in fact, it's up to Sass to resolve it, (we don't do it) but we could, technically setup default `~` to respect node resolve. But I will repeat myself, that's how Sass works.

[2017-11-20 16:49] nchanged commented on #915
@sveinburne
That does work for me
[code]

[2017-11-20 16:51] sveinburne commented on #945
@nchanged OK
Perhaps you could add an `upstream` tag in this issue to emphasis the "bug" is comming from SASS and I'll submit an issue to node-sass.

[2017-11-20 16:53] sveinburne commented on #915
@nchanged precisely, my all post is about `socketURI` should be inferred from `port` instead of set explicitly 🙂

[2017-11-20 17:28] nchanged commented on #915
Would you mind taking a look and making a PR? ;-)

[2017-11-20 17:29] nchanged commented on #945
We could implement that too, and all preprocessors would benefit from having it ;-)

[2017-11-20 18:50] sveinburne commented on #915
@nchanged OK I'll look at it this week

[2017-11-20 20:14] nchanged opened #946 "Responsive target should affect tsconfig and Quantum uglify target"
[code]
`browser@[target]` should override `tsconfig.json` `compilerOptions.target` as well as affect `Quantum({uglify : { es6 : true/false}})` option.

When set `es6` or `es2016` or `es2016` or `esnext` Quantum should automatically switch `uglify` to `uglify-es` instead of `uglfy-js`

[2017-11-20 20:21] #938 closed

[2017-11-20 20:30] vegarringdal commented on #938
whats added with latest release 3.0.0-next.12 ?
I was able to use a npm module with 3.0.0-next.11 just fine.

[2017-11-20 20:32] nchanged opened #947 "feat: Introducing Quantum noConflictApi option"
# Introducing Quantum noConflictApi option

If you are using an isolated build along with other projected build with Quantum, you would want to set that option. Instead of the regular `$fsx` variable your build (and all split bundles) will look like
this:

[code]

[2017-11-20 20:33] nchanged commented on #938
You can check the commits after that =) @vegarringdal

[2017-11-20 20:34] nchanged commented on #914
https://github.com/fuse-box/fuse-box/issues/947

[2017-11-20 20:40] #947 closed

[2017-11-20 20:45] #914 closed

[2017-11-20 20:58] serkon opened #948 "Imported scss file by other scss when changed, Fuse-box not bundling changes"
i have **main.ts** and it is import **main.scss**. Main.scss imports my **imports.scss**.

main.ts ####
import '~/main.scss';

main.scss ####
@import 'src/assets/styles/imports';

imports.scss ####
@import "config";  // --> when change something inside this file
@import "mixins";
@import "reset";
@import "font";
@import "grid";
........

when i change something inside config.scss, this change not

[2017-11-21 00:07] mattoni opened #949 "Issue with shared files in split bundles (v3.0.0-next.14)"
Here's a repro of this issue:
https://github.com/mattoni/fusebox-split-issue

<img width="841" alt="image" src="https://user-images.githubusercontent.com/5110855/33047894-fa25ae9a-ce0c-11e7-99f6-e6dc415cb9c1.png">

When splitting bundles that share some common file, even if that file is referenced in what should be your main bundle, the first split bundle to reference it gets ALL of the files expo

[2017-11-21 04:46] bigdrum opened #950 "BundleProducer overrides NODE_ENV to production"
This commit seems to force NODE_ENV to production, even if the quantum mode is not used:

https://github.com/fuse-box/fuse-box/commit/e0442c83488a571f0f630c60ed3e5fe8e8076c41

Is this intentional or a bug? We have a build script that will create multiple project which calls Fusebox.init multiple times. It is very surprising that such call changes the environment variable.

[2017-11-21 10:04] #949 closed

[2017-11-21 15:02] nchanged commented on #950
@bigdrum that's only for Quantum, it's not affecting development.

[2017-11-21 16:56] #923 closed

[2017-11-21 18:02] Shepless commented on #948
@serkon do you have a repo available so we can investigate a bit more?

[2017-11-21 20:55] serkon commented on #948
@Shepless hi,
I create angular.io project with fuse-box. When you run npm start the project it will redirect to sample page. Then please inspect 'sample text' element. You will see the .text{...} style class in Elements/Styles tab of developer toolbar. Please click to <style>…</style> right top of corner. It will redirect to inline css.

But it must be redirect you to find-me.scss. I wish i explai

[2017-11-21 21:09] serkon commented on #948
Another situation, if you change something inside find-me.scss i expect to see on browser when hmr() is completed. But nothing has been changing. It will be change when restart to "npm start" or change something in main.scss

[2017-11-23 08:18] #946 closed

[2017-11-23 10:47] phamtm commented on #904
@calebboyd shouldn't you require `test-module` using `var test = require("./test-module")`, notice the `./` there?

I think without specifying the relative path then `fusebox` may think it is a third party module. Refers to https://nodejs.org/api/modules.html#modules_loading_from_node_modules_folders . So the problem should be that `fusebox` does not throws an error/warning when some module is not

[2017-11-23 11:08] nchanged commented on #904
@phamtm you are right
@calebboyd you either use `aliases` or `modulesFolder`

[2017-11-23 12:41] nchanged opened #952 "feat: Generate tsconfig.json if non found with default values"
If `tsconfig.json` was not found, it should be automatically generated in `homeDir`with these values:

[code]

On top of that, if importHelpers is true, we should warn users if `tslib` is not installed.

[2017-11-23 13:30] #952 closed

[2017-11-23 13:33] nchanged opened #953 "feat: Ensure Quantum target matches FuseBox.init target unless set explicitly"
When having a config:
[code]
`QuantumPlugin` defaults to browser target. However, target server is correct.

[2017-11-23 13:41] #953 closed

[2017-11-24 02:44] bigdrum commented on #950
If I'm tracing the logic correctly the `Fusebox.init` calls `new BundlerProducer` in all situation. And BundleProducer has the following statement:

[code]
Which will mutate `process.env` as well. Isn't that the case? Let me know if you want an actual test to reproduce this.

[2017-11-24 13:13] KnisterPeter opened #954 "UglifyJSPlugin in combination with CSSResourcePlugin throws"
I try to bundle a lib we have here for use in a browser.
This works fine but when I try to create a production ready version it fails during minifying code using the UglifyJSPlugin.

I removed all the plugins we used step by step and it fails when the CSSResourcePlugin is in the config.

[code]

Any idea?

[2017-11-24 13:46] nchanged commented on #954
@KnisterPeter hi
Yes, i have an idea. That means that your code contains es6 syntax.

You have 2 options:

1) with Quantum: Upgrade the very latest `3.0.0-next.25` and install `uglify-es` and of course, make sure you have the latest `uglify-js`
2) Without Quantum and version `2.5` still install `uglify-es` and use it

[2017-11-24 13:49] #950 closed

[2017-11-25 05:19] mattoni opened #955 "Issue with npm module dependencies being pulled into shared reference"
Not quite sure how to describe it but I mocked out my setup here:

https://github.com/mattoni/fusebox-split-issue

Basically the 'jwt-decode' library, though not being referenced in the 'test-component' function, is being moved out of vendor and into test-component even though another split bundle, 'another-test-component', and the shared bundle 'store' is referencing it:

![image](https://user-im

[2017-11-27 09:46] KnisterPeter commented on #954
@nchanged
Thanks for your hints but unfortunately with `3.0.0-next.25` and `uglify-es` it still fails with this error:

[code]

[2017-11-27 10:17] nchanged commented on #954
@KnisterPeter your config please?

[2017-11-27 14:38] #955 closed

[2017-11-27 16:12] KnisterPeter commented on #954
Ouch, sorry. Bundled with webpack now. I'll try to recreate a simple example when I find a bit free time.

[2017-11-27 17:46] jezikk opened #958 "QuantumPlugin - Possibility to bundle shims into app bundle"
Actual state:
- Shims.js is always bundled using QuantumPlugin into the separate file.

Required state:
- To have possibility to bundle shims into one main bundle using QuantumPlugin.

For gulp-like projects is must-have:
https://github.com/jezikk/fuse-box-foundation-starter

[2017-11-27 18:01] jezikk opened #959 "Test runner - throws ReferenceError: jQuery is not defined"
Hi,

can you help me please. I have a project that works great with fuse-box:

https://github.com/jezikk/fuse-box-foundation-starter

`npm start dev` and `npm start build` commands work without any issues. I would like to create some test scenarios and if I tried to integrate test runner into my project using:
[code]
I get the following error:
[code]

I don't know where is a problem, as I said, th

[2017-11-27 18:49] nchanged commented on #954
Ok the feel free to reopen it

[2017-11-27 18:49] #954 closed

[2017-11-27 21:00] Shepless commented on #958
@nchanged added to v3 milestone as its a new feature request - pls remove if it's not within scope.

[2017-11-28 14:03] devmondo commented on #959
jquery is a client-side only lib and not available on the server.

[2017-11-28 14:08] jezikk commented on #959
Yes, It's true. Thanks.

[2017-11-28 14:08] #959 closed

[2017-11-28 15:51] are1000 opened #960 "HMR fails to do anything"
Hi! I have created a basic project that uses fuse-box. Bundle gets correctly built, but HMR does absolutely nothing. I think I have followed the docs, but I might missed something, so any help would be appriciated.

### `fuse.js`
[code]
### `src/index.js`
[code]

### Network tab <small>after saving the file few times</small>

![](https://i.imgur.com/8grceRa.png)

There are no errors in the console

[2017-11-28 15:55] are1000 commented on #960
I just found #936 but it touches only on `.hmr({ reload: true })`. Without it still nothing changes.

[2017-11-28 16:06] nchanged commented on #960
@are1000
`.watch('src/**')`

Should be just `watch()`

Besides, you don't have any transpilers enabled.
add [useTypescriptCompiler](http://fuse-box.org/page/configuration#usetypescriptcompiler) That will setup the basics

[2017-11-28 16:08] are1000 commented on #960
I did that and it works :tada:, but why is transpiler required? Also, there is nothing in the HMR docs that say it is required, maybe thats where my confusion comes from?

[2017-11-28 16:53] nchanged commented on #960
@are1000 we will update the docs, of course.
You would need a typescript compiler to control script target, for example. Because FuseBox will use it anyway, to match the level, read up on [here](https://github.com/fuse-box/fuse-box/blob/doc-ver-3/docs/useful.md#understanding-targets-and-script-levels)

TypeScript and Babel both have their own logic on triggering the HMR

[2017-11-28 16:53] #960 closed

[2017-11-29 00:07] samirbr opened #961 "Custom Plugin"
Trying to make a custom Stylable plugin.

Everything works if the file is just imported.

[code]
[code]

If I try import a default module it stop working.

[code]
[code]

I cleared `.fusebox` and reinstalled the modules.

My plugin:

[code]
`fuse.js` configuration:
[code]

I'm using Typescript. I used `ImageBase64Plugin` as template, which works when I import a default module.

What I'm missing?

[2017-11-29 08:11] nchanged commented on #961
@samirbr TypeScript simply doesn't transpile it, because it's not in use.
[code]

Read up on how typescript transpile modules.

[2017-11-29 08:37] nchanged opened #962 "New Sparky Proposal 3.0"
It's time to do something about Sparky too.

It's almost 2018 and using `gulp` style doesn't cut anymore. Personally, i find it tedious.
[code]

I am proposing taking advantage of `async` `await` syntax instead, and completely re-design Sparky to use a single class. I've seen so many configs, and I noticed a tendency - people want to make a better structure, make it more readable.

[code]

`Sparky

[2017-11-29 09:55] leon-andria commented on #962
I really don't like !

[2017-11-29 09:58] nchanged commented on #962
@leon-andria you have to explain why, your arguments

[2017-11-29 10:00] devmondo commented on #962
we shall not force people into class-based code. Also, we could have something like `Sparky.parallel` etc...

[2017-11-29 10:04] nchanged commented on #962
@devmondo `await this.parallel("method1", "method2")`

[2017-11-29 10:23] leon-andria commented on #962
First, I would say that the API design of Sparky now is so beautiful because it's unobtrusive. What I mean is that, with a simple friendly name, you have defined an "Full descriptive" task with its internal logic (like when you do an Unit Test). Now, we are so familiar with this and can organize the tasks the way we want. Also, don't forget how other people use it as this way, more easier to take

[2017-11-29 10:33] devmondo commented on #962
@nchanged  ya could be like that, but I lean forward to what @leon-andria said too.

[2017-11-29 12:07] nchanged commented on #944
Ok, here is a problem.
When you reference an external file within a sass file FuseBox is unable to resolve resources. Simply because it's all inlined.

Here is the config
[code]

`index.ts`

[code]

So the trick is to load font-awesome via typescript.

[2017-11-29 17:48] samirbr commented on #961
Thanks. I totally missed that. I'm closing the isdue.

[2017-11-29 17:48] #961 closed

[2017-11-29 18:52] patrickmichalina commented on #962
We could leverage rxjs and go full observable streams. This is the most robust way of handling async events. async/await isn't nearly as clean.

[2017-11-29 20:21] leon-andria commented on #962
I disagree. This is not a competition of libs, it's about designing a API is an efficient way, feature versus techinical engineer.
And the simplicity should be the key factor. Using the tool to the right requirements is the recommended approach.

[2017-11-29 20:42] nchanged commented on #962
I personally like class approach, it's clean, you can set variables. Now you have to do
[code]

with classes, you can easily read these values from properties, which is neat.

[2017-11-29 21:02] leon-andria commented on #962
@nchanged We call these "Context" and it's something that is missing in Sparky.
I'm a fan of OOP and having class would be natural for me but using a class to represent a task for me doesn't mean anything. Imagine you create a class and what is the name of your class "TaskThatDoAllStuff" where you have config, dist and so on...
The concept of task lose the definition of unit of work !

[2017-11-29 21:08] nchanged commented on #962
@leon-andria you are wrong. Not just a task, a collection of tasks. A class is just a convenience. All tasks will be withing one class

[2017-11-29 21:15] mattoni commented on #962
i think it should be up to the user how to implement. I'm using a class based approach for my bundler and I honestly think it would be better as just a series of functions. Simplicity is the whole point of fuse right? Forcing class syntax is kind of the opposite approach in my opinion.

At the end of the day the task runner needs to say X -> Y(some context from X) -> Z. I think if we could streaml

[2017-11-29 21:21] leon-andria commented on #962
@nchanged A task should be a unit of work and you compose it ! It's what we are doing now.
@mattoni This is what we call composition and I agree with you.

[2017-11-29 21:35] mattoni commented on #962
@leon-andria yep huge fan of composition.

[2017-11-29 21:49] nchanged commented on #962
@mattoni you are right. It's just I personally feel that class would look and feel better. We might just have both.

Regarding the current implementation, it definitely needs to be revisited thoroughly, as even `async` functions don't work there. `dest()` should return a Promise, but it doesn't.

Regarding the context, guys, do you think you can propose something? How we can easily execute a serie

[2017-11-29 21:55] leon-andria commented on #962
[code]
And you have this as singleton or transient.

[2017-11-29 21:56] mattoni commented on #962
@leon-andria it should utilize async-await heavily imo. Ability to parallelize tasks OR run them in-sync is vital.

[2017-11-29 21:57] leon-andria commented on #962
@mattoni transient

[2017-11-29 22:02] nchanged commented on #962
[code]

[2017-11-29 22:03] nchanged commented on #962
@leon-andria @mattoni the most important part is how to define a task, change the context, execute series of tasks and then execute task itself. Like in the comment above.

[2017-11-29 22:04] mattoni commented on #962
Will also be important to consider typings for `ctx` and make sure we can keep the typings in sync down the line.

[2017-11-29 22:06] leon-andria commented on #962
And think it as we use it in a Workflow Orchestration.

[2017-11-29 22:06] mattoni commented on #962
What are your thoughts on 1 task = 1 function? `[() =>  ({ isProduction: false}), "dist"]` seems convoluted

[2017-11-29 22:08] leon-andria commented on #962
ahahah, look on top of my comment:
[code]

This is why a task should be consider as unit of work, I mean a definition of task, not about when you start to compose.

[2017-11-30 04:02] ccapndave commented on #962
I also dislike the gulp style, but I sort of dislike classes too (or at least I don't want to be forced into using them).  I'm also not too keen on magic like reflecting on `on<name>`.

After working with Elm for a while, nowadays I find myself tending towards using vanilla functions and built in language features where possible.  So, here is Dave's task runner proposal iteration 1.  The style is

[2017-11-30 10:01] nchanged commented on #962
@ccapndave awesome! I do, however, have a few things here.
I don't really pipelines `something().pipe(something().pipe(something()))` doesn't look much better than the other solutions. That's the gulp way. We really need something different here, I like `rxjs` idea, but just the idea. (Don't like the lib itself)

We should start avoiding `then` IMHO

[code]

[2017-11-30 10:11] ccapndave commented on #962
I'm not really sure what Rx (or any streaming library, or generators or whatever) would bring to the table; tasks just run once so Promises seem like the correct fit to me.

From my perspective I think there is a difference between using `.then` with normal promises compared to the mystical `.pipe` from gulp which was sort of half streams, half events, didn't work with some libraries, etc, etc.

I

[2017-11-30 10:22] nchanged commented on #962
@ccapndave I kind of like how it is right now. We have a chain, and if you want that chain to be executed you call `exec()` which will return a Promise, therefore can be used with async await
[code]
Whereas file is an object with convenient API (e.g file.copy(), file.remove(), file.move() )
[code]

[2017-11-30 10:34] ccapndave commented on #962
So, that's fine, except that then the implementation is hidden inside `SparkyFlow` or whatever.  For example, I wanted to `rename` a file and had to actually go and fiddle with the Fusebox code because I couldn't just stick a function that returns a Promise into the chain.

I wonder if its possible to implement this chaining style in terms of then `.then`able API, so its just a nicer syntax on top

[2017-11-30 11:19] Devgaze opened #963 "Glob not working as expected"
Following regex does not work as expected
[code]
but when you split it in two, it works fine
[code]

[2017-11-30 12:00] nchanged commented on #963
@Devgaze I think we've figured it out. You should add `exec()` for every procedure you define

[2017-11-30 12:20] Devgaze commented on #963
I thought this was just a workaround!?

The thing is [documentation](http://fuse-box.org/page/sparky#source) says we can use glob patterns with `Sparky.src` (as shown in the docs)
[code]
Unless I'm missing something here, it seems to me described behaviour looks like a bug.

Am I wrong here?

[2017-11-30 12:25] ccapndave commented on #962
Here is an example of how you could have the nice chaining API described above implemented as a wrapper on top of normal functions (untested!):

[code]

[2017-11-30 12:34] ccapndave commented on #962
Here is an example of having the nice chaining syntax built on top of a functional `.then` base:

[code]

[2017-11-30 12:49] nchanged commented on #962
@ccapndave but that's exactly how `SparkFlow` is done xD

[2017-11-30 14:12] calebboyd commented on #904
@phamtm yeah, typo, corrected the issue still persists, Looks like the latest (2.5.0-beta.1) also introduces #791 again.

Its probably time to add typescript as a peer dependency... /cc @devmondo

[2017-11-30 14:14] #783 closed

[2017-11-30 14:22] ccapndave commented on #962
So it is :)  That's awesome then; we can have both kinds of API

[2017-11-30 14:38] patrickmichalina commented on #962
@ccapndave rxjs is just an implementation of a [proposed language feature](https://github.com/tc39/proposal-observable). Not sure why you are hostile to one of the best way to manage async data flows.

[2017-11-30 14:47] calebboyd commented on #904
@phamtm Actually it wasn't a typo...(just back from holiday -- forgot how It was setup)

Its copied into node_modules - see https://github.com/calebboyd/fusebox-json/blob/master/package.json#L6

I did that to illustrate it with behavior with a node module. But it looks like its present as a non-node module as well.

[2017-11-30 14:48] nchanged commented on #962
Ok, so I have made a few tweaks

1) Shortcuts available for import
[code]

2) Context is passed to every task

[code]

That was really simple to make. I know some of you are not fond of using classes as context, but as i mentioned earlier you can make it immutable by passing a function

[code]

Check out the latest `next`  `fuse-box@3.0.0-next.29` and [this](https://github.com/fuse-box/fuse-box-3-

[2017-11-30 14:53] nchanged commented on #791
@calebboyd use the latest 3.0 it's fixed and polished
https://github.com/fuse-box/fuse-box/blob/doc-ver-3/docs/useful.md#understanding-targets-and-script-levels

[2017-11-30 15:30] ccapndave commented on #962
@nchanged That looks awesome!  I'll try it out.  Maybe I'll have a look at implementing the `series` and `parallel` functions if you don't mind?

@patrickmichalina I'm not at all hostile to Rxjs; in fact I use it all the time and think its great.  I was just saying I didn't think it was appropriate for this task runner.  I suppose you could model file processing as a stream where files, or file wi

[2017-11-30 16:40] nchanged commented on #962
@ccapndave oh yes!! Please help ;-)

[2017-12-01 06:14] ccapndave opened #965 "LessPlugin + PostCSSPlugin breaks HMR"
I have a less entry file called `app.less` that imports other less files:

[code]

If I have the following plugin chain:

[code]

then HMR works fine.  If, however, I add in PostCSS:

[code]

then HMR doesn't work anymore (notice this happens when not using any actual PostCSS plugins).  I've had a look at #723 and set the path to my stylesheets (although they are all relative to the entry CSS), bu

[2017-12-01 09:44] devmondo commented on #963
@Devgaze your syntax should work i have similar one and it works
`Sparky.watch(["./src/client/**/*.+(html|css)", "./src/shared/**/*.+(html|css)"])`

I see you have extra parenthesis after `gif`!

[2017-12-01 10:29] leon-andria commented on #962
@nchanged I'm not fully agree on the design !
Context is more about data, not for having methods and logic !
The given example, maybe it's me but I don't feel enthusiast about it !
And what is fuck me up is that it's looks like already implemented ! What is the goal of discussion if you implement it on behind. Does this apply to a team work ?
Man, you develop a feature when all parties are agreed

[2017-12-01 14:45] nchanged commented on #962
@leon-andria you need to cool down.

1) I have just added a context, I didn't change anything.
2) The API stays intact. No breaking changes
3) Yes, you can add methods there and call them (that's how I like them cooking. It's my personal preference). You like them separately - do it separately
4) Lower your tone.

[2017-12-01 15:51] arabsight commented on #962
I like the `class Tasks extends Sparky` style, is it an option?

[2017-12-01 20:02] nchanged commented on #962
@arabsight we can have yep, optionally, without extends tho ;-)

[2017-12-02 16:48] dzek69 opened #967 "ReplacePlugin is too naive"
The implementation of ReplacePlugin is very simple and has few lines only, it's just taking the keys from provided object and replacing that in the code directly, without analyzing the context.

I see three different cases when it's going to make a trouble:

1) We want to replace `$version` with `1.0.1`. We have an app that renders HTML on server and wants to expose that to client, so the code con

[2017-12-02 22:05] nchanged commented on #967
@dzek69 use `process.env.version`
Read up [here](http://fuse-box.org/page/quantum#dead-code-elimination), don't use ReplacePlugin

[2017-12-03 16:28] cryptoquick opened #968 "Escaped newlines are being added as Unescaped newlines"
Escaped newlines `\n` are being added as unescaped newlines throughout the resulting bundle.

The project is open source and can be found here:

https://github.com/arcjet/arcjet

Fusebox config is in:

https://github.com/arcjet/arcjet/blob/master/src/build.ts

You can test it by installing with `yarn`, then `yarn build`, then `yarn test-bin`.

[2017-12-03 20:24] nchanged commented on #968
@cryptoquick Hi
I can't check it right now, but I did check your config
1) Get rid of TypescriptHelpers (it's removed from 3.0 in favour of tslib
3) install the latest 3.0 beta (it will automatically create tsconfig with the required configuration

[2017-12-04 08:10] cryptoquick commented on #968
Thanks for the quick response. I will do what you recommended. I actually found the issue, it's related to my shell script I run on build, not the actual build tool itself. Removing this code makes it work:
`echo \"#!/usr/bin/env node\n$(cat bin/arcjet.js)\" > bin/arcjet.js`
Unfortunately, the shebang has to be added manually. Will look into solutions.

[2017-12-04 08:10] #968 closed

[2017-12-04 10:51] Zaitsev opened #970 "Code splitting vs Yarn fails"
Code splitting fails if yarn used on Windows 10 (other OS could be affected too)
[code]
How to reproduce
[code]

*expected*:
[code]

In examples above all is OK with `npm` and fails if  `yarn` used

[2017-12-04 15:35] nchanged commented on #970
IT says version 2.4.0, u must have the latest 3.0.0 beta

[2017-12-04 15:36] nchanged commented on #970
Besides it won’t work for development, u must run Quantum build (node fuse dist) for both 2.4.0 and 3.0.0 it clrearly states in the doc

[2017-12-04 15:36] #970 closed

[2017-12-04 17:49] nchanged commented on #965
@ccapndave can you reproduce the issue in a repository?

[2017-12-05 09:46] illumen opened #971 "~/component-indexof.js not found on request (ANTD)"
Hi!

I'm getting an error when I try to use [antd 3.0.0](https://github.com/ant-design/ant-design/) with fuse-box. It seems like "component-classes" (component-indexof.js) is the culprit but I can't seem to figure out why...

It's a dependency of "rc-select" and gets required like this:
[code]

While bundling I get the following error:

and my fuse config is:
[code]

Thanks for any help.

[2017-12-05 10:26] nchanged commented on #971
@illumen
1) `component-indexof` is not bundled for some reason.
2) `~/component-indexof.js` Points to the root of the project
3) You need to add `JSONPlugin`

[2017-12-05 21:23] hinell commented on #791
Getting the same error here.
[code]

After installation of the ``typescript`` I found node_modules folder empty of the `fuse-box` folder.
Only after reinstalling it again I got it working correctly.

## Steps to reproduce
[code]
### command
Then using default `fuse.js` provided by the [getting started](http://fuse-box.org/page/getting-started )
just run
`node fuse.js`

[code]

[2017-12-05 21:30] nchanged commented on #791
Well you need typescript of course… I don’t see any issues here, fuse doesn’t come with preinstalled to

[2017-12-06 07:14] hinell commented on #791
@nchanged Yep, it is okay with typescript peer but what about removal of the `fuse-box` from the `node_modules` when it was installed before but deleted after typescript installation?

[2017-12-06 12:47] ccapndave commented on #965
https://github.com/ccapndave/fuse-box-965

If you comment and uncomment the line at https://github.com/ccapndave/fuse-box-965/blob/master/fuse.ts#L10 you can see the issue happening and not happening.

[2017-12-07 01:10] cpunion commented on #971
Same here.

If I remove following lines of `component-classes/package.json`, it works fine. (https://github.com/component/classes/blob/master/package.json#L15-L17)

[code]

@nchanged Is that wrong? I guess it means pointing to `component-indexof` package.

[2017-12-07 06:21] nchanged commented on #971
Yes that’s an override

[2017-12-07 06:31] ccapndave opened #976 "Unable to specify precompiled HMR dependencies in a plugin"
I'm working on the plugin at https://github.com/ccapndave/fuse-box-elm-plugin/blob/master/src/index.ts

Let's assume that the entry point to my application is `app.ts`.

## fuse.ts
[code]

## app.ts
[code]

## Main.elm
[code]

So `elm-make` will compile `Model.elm`, `Update.elm` and `View.elm` into its output automatically.  I can get a list of the absolute
paths of all dependencies using a `find-

[2017-12-07 06:33] ccapndave commented on #976
Note that `paths` in
[code]

is an array of absolute paths to all imported Elm files:

[code]

Unfortunately elm-make can only take a file as input, not a string or things on stdin (hopefully this will be coming in a future version).

[2017-12-07 07:48] nchanged commented on #976
I think that the other files are simply not cached (for some reason). Could you investigate what is actually written to the file system
1) Clear `.fusebox` folder
2) Run the project, check the cache.

If it's in the cache then

[code]
This condition should work just fine. If it's not there we should start investigating why it's not there. The other thing that comes to my mind is that it takes a lo

[2017-12-07 11:23] KatSick opened #977 "Question: How to auto-reload browser on html change?"
My fuse.js config

[code]

My project structure is

[code]

I changing HTML file, but browser does not reloaded

[2017-12-07 12:05] devmondo commented on #977
because your html page is not part of the bundle, ( i think we should add this option to webindex plugin to watch the template if it changes)

you could work around this now by doing this

[code]

notice that we run `clientBundle.exec();` when sparky task detects change.

hope this helps :)

[2017-12-07 13:48] ccapndave commented on #976
Fixed with https://github.com/ccapndave/fuse-box-elm-plugin/commit/30fd879285431708978a67242853ee0cdc85bcd6

[2017-12-07 13:48] #976 closed

[2017-12-07 14:06] KatSick commented on #977
@devmondo

Unfortunately this does not work :(

<img width="1016" alt="screen shot 2017-12-07 at 16 05 38" src="https://user-images.githubusercontent.com/13982649/33719158-8837de52-db68-11e7-8257-793a6bf62799.png">

[2017-12-07 14:06] KatSick commented on #977
All up and running, but browser does not reloaded after index.html changes

[2017-12-07 15:12] devmondo commented on #977
@KatSick could you change the globbing to
[code]
it works perfectly on my side

[2017-12-07 15:14] Devgaze commented on #963
@devmondo actually double parenthesis is a typo from FuseBox website, my code snippet is described in the opening comment. Try this line in any of your projects

[code]

[2017-12-07 15:24] Devgaze commented on #963
@devmondo you are genius - look at that `+` sign in your example 😎

[2017-12-07 15:30] Devgaze commented on #963
feel free to close this one

[2017-12-07 15:30] #963 closed

[2017-12-07 15:42] #944 closed

[2017-12-07 16:37] devmondo commented on #963
@Devgaze  hahahah glad it worked ;)

[2017-12-07 20:25] vegarringdal opened #978 "Fusebox 3.0 and sourcemaps"
Hi

Been using FB 3 beta a few weeks now, love it
But sourcemaps is sometimes out of sync
@nchanged You said it was prb alias doing it on gitter, could be something else too. if I see it in projects not using alias I will update post

![image](https://user-images.githubusercontent.com/2901416/33736941-d1c712d2-db94-11e7-836e-a06f9f320df6.png)

![image](https://user-images.githubusercontent.com/290

[2017-12-07 20:30] nchanged commented on #978
Can u confirm that the file contains aliases

[2017-12-07 20:32] ksandin opened #979 "Suggestion: Named Sparky task CLI arguments"
Having Sparky automatically read named CLI arguments and pass them on to the task functions would be very powerful. It could be used for anything of course, but one interaction with fuse-box that I really want is something like this:

[code]
Then you could configure your build, devServer and whatever scripts generally and let the user or environment specific options come from ie. each developer or

[2017-12-07 20:35] vegarringdal commented on #978
Its importing from alias module on the to,
Decorators and interface is the alias module
this you wanted

[2017-12-11 12:37] nchanged commented on #978
@vegarringdal @matthiasak @mattoni `fuse-box@3.0.0-next.34` Please verify the fix ;-)

[2017-12-11 21:26] vegarringdal commented on #978
@nchanged

Looking very good on my last issue
Thank you :-)
Ill report back on this if I run into new issues

![image](https://user-images.githubusercontent.com/2901416/33854489-30623bc0-dec2-11e7-9a0c-bdb7b7dbb200.png)

[2017-12-12 11:54] wrench7 opened #980 "CSSResourcePlugin not working with border-image declaration"
I'm specifying a a `border-image` with a url and it's not getting picked up by the CSSResourcePlugin.

Adding `declaration.prop.indexOf("border-image") > -1` to the following line of code would fix this issue.

https://github.com/fuse-box/fuse-box/blob/4761af96cd8405f413af5b518c722b89546c537b/src/lib/postcss/PostCSSResourcePlugin.ts#L23

[2017-12-12 12:04] nchanged commented on #980
@wrench7 I would appreciate if you submitted a PR, please.

[2017-12-12 21:38] #980 closed

[2017-12-12 22:06] RPDeshaies commented on #962
I also like the `class Tasks extends Sparky` syntax.
The async/await operators makes things way more readable and manageable.

I was very surprised when I saw that `gulp` syntax when I first tried Sparky.
Never was a big fan of it.
It's also very hard to debug because you can't just do `go to definition` of a string..

I also agree that @leon-andria, you should calm down.
Everyone is in the same b

[2017-12-13 15:34] Gouigouix commented on #935
@nchanged @devmondo

I tested with `FuseBox 3.0.0-next.36` but I have the same problem.
You thinking resolve this issue into FB3 ?

Thank you.

[2017-12-13 16:13] nchanged commented on #935
@Gouigouix there is no issue with FuseBox, 99% you configured it wrong ;-)

[2017-12-13 16:16] nchanged commented on #935
https://github.com/orchestra-ts/fuse-box-examples/blob/f5b56e55706819c6c036e625d8a97e4738fe17e0/examples/quantum_multi_bundles/fuse_bundleA.js#L11-L15
there is you problem.  You package doesn't match with globals configuration. Make it the same, or simply remove `package ` property it should work

[2017-12-13 23:53] mattoni opened #982 "Splitting core-js results in broken bundle"
I tried importing corejs as an async bundle two different ways:

`await import("core-js/es6")` <- bundles I want
and
`await import("core-js");`

In the first case, all of the files are first put into vendor and then tree-shook, removing it completely from my application.

In the second case, it is split, but the split bundle only contains:

`fsx;`

which obviously won't work.

[2017-12-14 02:52] matthiasak commented on #978
Looking strong, here!

[2017-12-14 15:15] devmondo commented on #982
@mattoni, usually when Fuse removes your import from the bundle is when you don't use it in your code. maybe this is the issue?

[2017-12-14 15:18] mattoni commented on #982
It’s a polyfill. I wrote and use a function that detects certain features
and if they are missing does an a sync import of core-js. I’m not using the
functions out of it directly but they shouldn’t be removed.

On Thu, Dec 14, 2017 at 7:16 AM Feras Khoursheed <notifications@github.com>
wrote:

--
Alexander J. Mattoni
Chief Technology Officer
Petrichor, Inc.

[e] amattoni@petrichor.io / amattoni@cy

[2017-12-14 21:22] nchanged commented on #982
@mattoni I might know what's wrong with the second one -> it's being used someplace else and it's imported synchronously. And there is a small bug - it still creates a split bundle. Haven't figured out how to fix it just yet.

The first case - obviously a bug, I will take a look at it tomorrow.

[2017-12-14 21:25] nchanged commented on #978
I will close this one now ;-) Happy to hear it works ;-)

[2017-12-14 21:25] #978 closed

[2017-12-14 22:54] vegarringdal commented on #978
@nchanged Thanks again, keep up the good work :-)

[2017-12-15 10:16] #965 closed

[2017-12-18 10:31] jperezdavinchi commented on #584
Sorry @Shepless! I just read the comment. I removed fusebox from the dist flow and I didn't try again.
FuseBox has been changed a lot since then so I will check again and update/close the issue.
Thank you!

[2017-12-18 13:39] ZeroPie commented on #977
Can confirm this issue. Workaround does not work on my side either.

[2017-12-18 13:50] nchanged commented on #977
I will take a look

[2017-12-18 13:59] ZeroPie commented on #921
+1

[2017-12-19 08:55] #921 closed

[2017-12-19 09:25] nchanged commented on #921
[code]
// for the whole page reload
fuse.sendPageReload()

// for the HMR event
fuse.sendPageHMR();
[code]

[2017-12-19 12:12] sod commented on #699
This is how a poor mans integration could look like: https://github.com/sod/fuse-angular5

`fuse.js`
[code]

Just runs `ngc` in a separate process and fuse-box only touches the files that `ngc` emits.

[2017-12-19 21:25] ZeroPie commented on #921
Still not working.. or at least i could not figure out how.. put it inside the Sparky Task.. no reload after html change.
Could you post an example?

[2017-12-19 21:26] ZeroPie commented on #921
Can you post an example? I did not get it to work.

[2017-12-19 23:06] nchanged commented on #921
that was the example. You must upgrade to the latest `next` version. You should have `hmr()` enabled too

[2017-12-20 10:43] challenger532 opened #986 "TypeError: require(...) is not a function . . ."
I'm getting this error:

`path/to/projct/react/react-skeleton/build/ssr/development/bundle.js:7624     require("./streams")(iconv);                         ^ TypeError: require(...) is not a function . . .
`
babel plugin configuration:
[code]

[2017-12-20 11:04] nchanged commented on #986
@challenger532 have you considered using http://fuse-box.org/page/configuration#usetypescriptcompiler  instead of babel?

That means that `./streams` returns nothing.  Could be for multiple reasons. Babel + webpack specific? Try using typescript compiler instead of Babel,

[2017-12-20 11:25] challenger532 commented on #986
@nchanged I just did, it worked building the script, thanks for the ` typescript compiler ` it's great... but I still have the same error...

[2017-12-20 11:51] challenger532 commented on #986
I downgraded express to the version: `"express": "4.15.4",` this fixed it!

[2017-12-20 11:51] #986 closed

[2017-12-21 17:58] nahuel opened #988 "UglifyESPlugin: screw_ie8 is an invalid option"
Create a project:

[code]

with this `fuse.js`:

[code]

Then run fusebox:

[code]

If you remove the `screw_ie8` option, the bundling finishes ok. The `UglifyESPlugin` documentation is wrong, `screw_ie8` stopped being a valid option in the current `uglify-es` API.

[2017-12-21 19:34] nchanged commented on #988
@nahuel could you fix up and make a PR? Any help is greatly appreciated!

[2017-12-22 11:42] jollytoad opened #989 "Problems using Node APIs in Electron renderer"
I'm attempting to use fuse-box (2.5.0-beta.1) to bundle the renderer side of my Electron app, which makes use of the native Node modules available in the environment, ie, path, fs, etc.

Even after setting `target: 'electron'` these modules are empty.

I've read through a lots of issues here on this matter, eg. `serverBundle` option - which appears to have been removed now, and looked through the

[2017-12-22 13:04] nchanged commented on #989
hi @jollytoad
Thanks for submitting ;-). Let's determine first the cause of the issue. Maybe you could create a repository which reproduces the bug? and we could move forward after that.

And please, use the latest `fuse-box@next`

[2017-12-22 15:26] jollytoad opened #990 "ScriptTarget ESx/ESyyyy aliases are wrong"
The aliases from ES(edition) to ES(year) are mismatched

Should be:
ES6 = ES2015  (ie. 6th editor is ES2015)
ES7 = ES2016
ES8 = ES2017

This enum is wrong:

[code]

should be:

[code]

[2017-12-22 15:30] Cyberlane opened #991 "Decorators not handled"
Sample project can be found here: https://github.com/Cyberlane/fusebox-test

It currently fails on both Linux and Mac, with the following error:

![image](https://user-images.githubusercontent.com/1614416/34303411-70358952-e735-11e7-8f58-506af8afddec.png)

[2017-12-22 15:31] jollytoad commented on #990
Probably best to not have ES8 (and discourage use of ES6/7 in favour of year)

https://www.typescriptlang.org/docs/handbook/compiler-options.html lists...

ES5
ES6
ES2015
ES7
ES2016
ES2017
ESNext