[2017-03-16 11:43] mishengqiang commented on #413
I found that the arrow function modified to normal anonymous functions and template string modified to normal string, it is correct.
It seems that this is not a TypeScript compiler problem, but fuse-box caused.

[2017-03-16 11:49] nchanged commented on #413
@mishengqiang FuseBox does not alter your code, unless you use aliases

[2017-03-16 12:27] mishengqiang commented on #413
Now I will have the arrow function test.ts as entry file, the result is still wrong.
![Uploading image.png…]()

[2017-03-16 12:53] nchanged commented on #413
Something is off with your typescript configs. Works perfectly for me

[2017-03-16 13:02] nicolasg-playster opened #414 "fuse.bundle.catch() is never called on errors"
`fuse.bundle().catch()` is never called even if errors occurred during bundling.

[2017-03-16 13:06] mishengqiang commented on #413
@nchanged Oh! My! God!
I modified the contents of the tsconfig.json file, and then restored, but the run task is correct, in fact I did not change tsconfig.json content.
This is amazing.

[2017-03-16 13:07] nchanged commented on #413
Maybe you did not restart?

[2017-03-16 13:20] mishengqiang commented on #413
I tried many times and found that if you remove tsconfig.json targe attribute will not be an error, otherwise there is still an error.

[2017-03-16 15:47] nchanged commented on #413
can we close it now?

[2017-03-16 20:10] #413 closed

[2017-03-16 20:10] nchanged commented on #412
`fuse.dev` it is ;-)

[2017-03-16 20:10] #412 closed

[2017-03-16 20:32] charles-mathieus-jomedia opened #415 "Cache file name & path too long."
Because the name of my folder is a bit too big, I get that error:

Error: ENAMETOOLONG: name too long, mkdir '/home/cmseguin/dev/git/react-express-boilerplate/.fusebox/cache/1.3.128/%2Fhome%2Fcmseguin%2Fdev%2Fgit%2Freact-express-boilerplate%2Fhome%2Fcmseguin%2Fdev%2Fgit%2Freact-express-boilerplate%2Fdist%2Fpublic%2Fapp%2Findex.js'

As soon as I rename it to something shorter, it works.

Could we h

[2017-03-16 20:37] nchanged commented on #415
Oh yes, absolutely! Thanks for the issue

[2017-03-16 21:15] #411 closed

[2017-03-16 23:01] mattoni commented on #404
That did fix it, sorry for the late reply. Could you give me some more info on what that changes?

Thanks!

[2017-03-16 23:01] #404 closed

[2017-03-16 23:16] nchanged commented on #404
So it did help?

[2017-03-16 23:17] mattoni commented on #404
Yes, that removed the error I was seeing. Was wondering what wrapping it in `[]` changes.

[2017-03-16 23:17] nchanged commented on #404
it's called `bundle isolation` =) You don't need to bundle libraries on npm for server bundles -)

[2017-03-17 06:58] unlight commented on #383
demolishion commit: 0f0bb5bf2446b1ec80a6fdf9c2758ff685e296a7
Rollbacking to v1.3.123

[2017-03-17 07:10] aretecode commented on #383
@unlight https://github.com/fuse-box/fuse-box/pull/407

[2017-03-17 09:30] nchanged commented on #415
<img width="318" alt="screenshot 2017-03-17 10 30 00" src="https://cloud.githubusercontent.com/assets/1629088/24037097/cbdb6ff8-0afc-11e7-861e-e042b2c1e623.png">

Coming soon ;-)

[2017-03-17 09:30] #415 closed

[2017-03-17 15:10] vegarringdal commented on #170
@nchanged
Was this in the preview now ?

[2017-03-17 15:24] nchanged commented on #170
It's not yet complete :) i will create a demo today, after I have finished refining it

[2017-03-17 15:24] nchanged commented on #170
Don't worry man, it's partly implemented already, you will get this feature nice and shiny :)

[2017-03-17 15:27] vegarringdal commented on #170
ok :-) Just wanted to test it if it was ready :-)

[2017-03-17 22:57] nchanged opened #416 "1.4.1 Preview!!!"
Give it a spin!
https://github.com/fuse-box/preview-1.4.1

Feel free to ask questions, propose changes. After it's all clear let's cook some docs ;-)

[2017-03-17 22:57] vegarringdal commented on #416
Yay :-)

[2017-03-18 05:00] cmseguin opened #417 "Bundle promise should be fulfilled after file write is complete."
So I am trying to get the content of the bundled file in the `.then`, but I only get partial content... If I put a setTimeout, then it's fine!

[2017-03-18 11:46] arabsight commented on #416
Hi, thank you so much for this. you're the best :sparkles:
so I was trying the register option (awesome work), and I noticed that it doesn't bundle the code unless I import it, I was hoping it forces the code in the bundle whether its imported or not, and the reason why is that aurelia has other ways of importing modules, like this:

[code]
or this:

[code]
it would be great to remove those import

[2017-03-18 11:55] nchanged commented on #416
Thanks :) can't u just add it to the arithmetic section? If we force it will come to all bundles in the producer, which shouldn't happen

[2017-03-18 12:41] devmondo commented on #417
@cmseguin with 1.4.1 release coming soon, you ill have `run()` function that is a full promise.

but regarding current API, the `bundle` function itself returns a promise but it has an optional second param that takes a callback where the content is guaranteed to be written.

[2017-03-18 13:00] arabsight commented on #416
wow, adding it to the arithmetic section did it, works like a charm, thank you.

[2017-03-18 13:58] Thanood commented on #416
Does this work for css/html files, too? 😃

[2017-03-18 14:09] arabsight commented on #416
@Thanood it does, those go in the register method, in the arithmetic section you just put the name of the package.

[code]

[2017-03-18 14:17] Thanood commented on #416
This is awesome! 👍

[2017-03-18 14:44] cmseguin commented on #354
@nchanged I don't know if this is the right place for this, but if I bundle my server code __dirname does not return the full dir path, but just the dir name...

You think this will fix it?

[2017-03-18 15:07] vegarringdal commented on #416
![image](https://cloud.githubusercontent.com/assets/2901416/24073257/06d645d0-0bf5-11e7-8e81-862e8772470a.png)

Anyone else get this ?

[2017-03-18 15:31] nchanged commented on #354
@cmseguin it can't be `fixed`, as there is nothing to fix. Fusebox works with virtual files, therefore does not preserve `__dirname`, it gives your a virtual path e.g `component/myStuff.js`. IF you want to bundle for server, make sure to isolate your dependencies `[index.ts]`

[2017-03-18 16:05] vegarringdal commented on #170
@nchanged

[code]

You can add this to the 1.4.1 milestone now, since its in...

[2017-03-18 16:07] #170 closed

[2017-03-18 16:08] #401 closed

[2017-03-18 16:08] #350 closed

[2017-03-18 16:08] #349 closed

[2017-03-18 16:08] #403 closed

[2017-03-18 16:10] nchanged commented on #134
Implemented in 1.4.1

[2017-03-18 16:11] nchanged commented on #104
Implemented in 1.4.1

[2017-03-18 16:11] #104 closed

[2017-03-18 16:11] nchanged commented on #52
Implemented in 1.4.1

[2017-03-18 16:11] #52 closed

[2017-03-19 13:51] arabsight commented on #416
Hi, it would be nice if we the instructions option (in the register method) is optional .
helpful when bundling css only libraries (like font-awesome...) right now I'm doing this:
[code]
that works fine but it adds this to the bundle:
[code]

if I do this:
[code]
then the css file gets duplicated in the bundle, and I can't remove the instructions option since its mandatory.
but providing a fake in

[2017-03-19 15:30] nchanged commented on #416
I see, yes. It makes sense, along with the code splitting, that is cooooommmiiing ;-)

[2017-03-19 18:17] unlight opened #418 "HMR doesnt work for https server"
` fuse-box@1.3.128`

fusebox server:
[code]

own https server is created by `gulp-connect`
[code]

[2017-03-19 21:42] nchanged commented on #418
I think I need more info, cuz we had similar issues, and all have been resolved.
[code]
Maybe like this

[2017-03-19 22:32] unlight commented on #418
I didnt realize about socketuri setting.
Thaks, I will check.

[2017-03-20 11:08] tomitrescak opened #419 "Uglify error"
Hi, Am running the latest fusebox and uglifyjs plugin always gives me this error:

[code]

My tsconfig.json is set to es5 with commonjs modules
I deleted the .fusebox cache

Removing the uglify plugin it builds and I can confirm that code inside is es5 with commonjs stuff.

Any idea what can be going wrong? Thanks. ...

[2017-03-20 11:29] tomitrescak commented on #419
Since I was getting the same error with external uglify, I found out that the error was in your TypescriptHelpers and generator function. Uglify blew up on that.

[2017-03-20 11:33] tomitrescak commented on #419
Hmm, it explodes on following (clearly not ES5):

This time is comes from the"buffer" package. I just do not get how this es6 notation made it to the vendor bundle.

[code]

[2017-03-20 11:46] tomitrescak commented on #419
Hmm, the original file in buffer: index.js contains following:

arr.__proto__ = {__proto__: Uint8Array.prototype, foo: function () { return 42 }}

yet following is bundled:

arr.__proto__ = { __proto__: Uint8Array.prototype, foo() { return 42; } };

WHY?

[2017-03-20 11:50] tomitrescak commented on #419
Hm, it is a bug in your code guys.
I've found it in the dist folder > modules > buffer

[code]

This breaks the uglify

[2017-03-20 12:09] tomitrescak commented on #419
And nevermind .. I had fusebox and fuse-box in my project ... :/

[2017-03-20 12:09] #419 closed

[2017-03-20 20:15] unlight commented on #418
[code]
This works.
This `wss://localhost:3333` doesn't.

[2017-03-20 20:15] #418 closed

[2017-03-20 20:42] devmondo commented on #418
@unlight `wss` is when you have `https` so you need to handle that on server

[2017-03-20 21:21] geowarin commented on #419
I've install fusebox a couple of times by mistake too :laughing:

[2017-03-20 22:33] unlight commented on #408
@leon-andria
`fusebox-gulp-plugin` with `gulp-preprocess` plugin can do that.

[2017-03-20 22:55] #417 closed

[2017-03-20 23:07] nchanged commented on #419
I will add it to the publish script ... ;)

[2017-03-21 12:33] aretecode opened #421 "clear cache when .rc files change"
when rc files change, automatically clear cache

- [ ] babelrc
- [ ] typescript

[2017-03-21 16:05] aretecode commented on #332
@nchanged @xdave @unlight http://fuse-box.org/#replaceplugin works?

[2017-03-21 17:27] unlight commented on #332
@aretecode
Not for me.
Removing unused code from bundle is more complex task than just simple string replace.
I already described result [here](https://github.com/fuse-box/fuse-box/issues/332#issuecomment-283739976 )

[2017-03-22 12:15] nchanged opened #422 "Meet Sparky! A sophisticated task runner that loves FuseBox"
We have our own task runner now! And he (Sparky) loves FuseBox.

Git it a spin
https://github.com/fuse-box/fuse-box-sparky-example

[2017-03-23 07:01] aretecode opened #424 "BabelPlugin + ReplacePlugin do not run together"
- add babel plugin
- add replace plugin
- only the first babel plugin runs
- same thing happens if order is reversed
- same thing happens if you use two babel plugins

[2017-03-23 15:40] Thanood commented on #393
Btw: this is working with `"fsbx": "^1.4.1-preview.6",` ✨

[2017-03-23 15:42] vegarringdal commented on #393
yay :-)

[2017-03-23 16:10] aretecode opened #425 "Root config should override app-root-path"
currently, app root path is used to resolve the root, which can often be wrong:
- if I have a monorepo,
- or any subfolders with a package json,
- or I put the fusebox build config in a reusable package

Babel plugin (and possibly others) only checks app-root-path and does not respect my root, since I cannot set my own app root.  The `root` property in `WorkflowContext` should be used for all.

[2017-03-23 20:13] nchanged commented on #425
Eh, it's already changed in 1.4.1 :) no more appRoot :)

[2017-03-23 20:42] unlight commented on #282
@ConneXNL
Are you alive?

[2017-03-23 21:26] skiabox opened #426 "No step by step guide"
--- TO BE REMOVED --

Before summiting an issue, please make sure that:

* You have removed the `.fusebox` folder in your project root
* Removed node_modules, (re-installed everything)
* Started the bundling process again.
* Read the documenation on your subject here -> fuse-box.org

Please create a step by step guide.

[2017-03-23 21:35] nchanged commented on #426
Hi, thanks!
`--- TO BE REMOVED --` i think that line explicitly says to remove it from the body.

[2017-03-23 21:35] devmondo commented on #393
awesome 👍

[2017-03-23 21:35] devmondo commented on #425
shall we close this then :)

[2017-03-23 21:36] nchanged commented on #425
I guess Babel Plugin needs to be checked

[2017-03-23 21:39] skiabox commented on #426
No prob man.
I am writing here because in the gitter channel I saw a very light atmosphere and although I am trying to help you some kids in there were laughing at me.
Keep up the good work.

[2017-03-23 21:43] skiabox commented on #426
You might have the best product in the market and loose clients because of bad docs.

[2017-03-23 21:43] devmondo commented on #426
@skiabox  no worries man, and thanks for your interest, we will constantly keep improving fuse :)

[2017-03-23 21:44] skiabox commented on #426
If I rate the product with 10 the docs are rated with 2.

[2017-03-23 21:46] nchanged commented on #426
@skiabox Instead of ranting how bad docs are fork this repository and start improving.

[2017-03-23 21:46] devmondo commented on #426
@skellock thanks for the honest words, again, by all means, if you have anything you see can be added or rewritten, this project is open source, u can fork the docs and improve them and we will be more than happy :)

a fresh perspective is always needed

[2017-03-23 21:47] skiabox commented on #426
I am working on a personal project so I don't have the time for a second job.

[2017-03-23 21:48] devmondo commented on #426
@skiabox whenever you get time, don't hesitate to contribute

[2017-03-23 22:00] skellock commented on #426
@devmondo I think you accidently summoned me 3 posts up.  Sadly I am not a genie and you do not get 3 wishes.

Instead, have these 3 cookie: 🍪 🍪 🍪

[2017-03-23 22:27] ConneXNL commented on #282
@unlight I've only recently jumped into the project again. I might be able to test this tommorow.

I browsed over your library but couldn't really understand what its supposed to do from the Readme.

Any description?

[2017-03-24 00:11] trusktr opened #427 "Fresh install, simple config, then Error: Cannot find module 'source-map'"
I just `npm install fusebox`ed fusebox, then wrote a simple `fusebox.js` file in my project:

[code]

then it results in the error

[code]

[2017-03-24 00:17] trusktr commented on #427
I was using webpack before, but I made sure to delete webpack.config.js to start from scratch, just to see what happens. Never used fusebox before.

Basically, I just have a `src` folder full of JS/TS files, and `tsconfig.json` is still in the root of my project.

`fusebox.js` is also at the root of my project, and I run it with `node fusebox.js` at the moment.

[2017-03-24 00:30] trusktr opened #428 "TypeError: FuseBox.init is not a function"
I have a really simple fusebox.js file:

[code]

When running my `node fusebox.js` in my project, I get an error:

[code]

[2017-03-24 00:30] trusktr commented on #427
Apparently updating from NPM v2 to NPM v4 solves this problem, and now I have a [new problem](https://github.com/fuse-box/fuse-box/issues/428).

[2017-03-24 00:30] trusktr commented on #427
Actually, re-opening, because fixing this for NPM v2 might be nice for those users.

[2017-03-24 01:37] trusktr commented on #428
It's supposed to be

[code]

This is not apparent until http://fuse-box.org/#full-config. It should probably be near the top, in both CommonJS and ES6 format, to make it obvious.

[2017-03-24 01:37] #428 closed

[2017-03-24 01:41] trusktr opened #429 "There's no output."
I have a simple fusebox.js file in my project:

[code]

When I run `node fusebox.js`, nothing happens. There's no `outDir` created.

What am I missing?

[2017-03-24 01:49] trusktr commented on #429
I tried the following which doesn't work:

[code]

[2017-03-24 01:50] trusktr commented on #429
Ah, but this works:

[code]

Note the extra `./` in front of the file names.

I'm just trying to get this to work as quickly as possible. I think this shows that some things can be improved to make the API more intuitive.

For example, if I supply an `outDir` but not `outFile`, just take my file and put it there. Also make it work without the `./`.

[2017-03-24 01:50] trusktr commented on #429
Is there a way to compile all files in a directory? Or do I need to manually make a FuseBox.init for each file?

[2017-03-24 02:00] trusktr opened #430 "Error: Debug Failure. False expression: Output generation failed"
Some files give this error, not sure what it means:

[code]

[2017-03-24 02:02] trusktr opened #431 "How to output AMD define() modules?"
I'd like to output my bundles in AMD `define()` format to load them in a legacy RequireJS environment. Can that be done?

[2017-03-24 02:18] trusktr commented on #429
Not sure what made me try `outDir`. That isn't even.. listed in the docs.

[2017-03-24 02:18] #429 closed

[2017-03-24 02:19] trusktr commented on #431
I guess I need to make a plugin to wrap output in define, just to run it as a entry point (it doesn't need any dependencies).

f.e.

[code]

[2017-03-24 05:00] trusktr opened #432 "Empty files?"
I see some files look like this:

[code]

There doesn't seem to be any of my code in them?

[2017-03-24 07:52] aretecode commented on #425
https://github.com/fuse-box/fuse-box/blob/1.4.1/src/plugins/js-transpilers/BabelPlugin.ts#L3

[2017-03-24 07:52] aretecode commented on #425
https://github.com/fuse-box/fuse-box/issues/424

[2017-03-24 07:53] aretecode commented on #427
@trusktr see right here https://github.com/fuse-box/fuse-box/blob/master/package.json#L31

[2017-03-24 07:53] aretecode commented on #383
@nchanged should be closed
@unlight can you verify?

[2017-03-24 07:54] aretecode commented on #374
@PodaruDragos seems like an issue for https://github.com/DoumanAsh/fuse-box-eslint-plugin
if you want to throw errors, you'll need to throw them.

[2017-03-24 08:43] unlight commented on #383
Keep it open until release a new version, but #407 should fix it.

[2017-03-24 09:08] nchanged commented on #383
Yeah, it's in 1.4.1 already

[2017-03-24 09:30] devmondo commented on #426
@skellock so sorry man :) and thank you for the delicious cookies :)

[2017-03-24 10:00] Thanood commented on #429
Just for completeness sake: your `homeDir` is spelled `homDir`. 😃

[2017-03-24 10:37] nchanged commented on #432
Yeah, it's a know issue. When you do vendor, `default`is still created

[2017-03-24 10:38] nchanged commented on #431
hm... so just a wrapper? Does this function need to return anything?

[2017-03-24 10:39] nchanged commented on #428
or

[code]

And please use `fuse-box` not `fusebox` for consitency

[2017-03-24 12:00] unlight commented on #282
I'll add some description later.
Just think about it as better version of `[]`, so instead of `[SassPlugin(), CSSPlugin()]`, you should use:
[code]

[2017-03-24 12:43] Thanood commented on #426
I think a step by step guide would be a good idea.

The way I've been using fuse-box is mix and match examples.

Maybe I can take a shot at a guide when 1.4.1 is out of preview. If nobody else is faster. 😃
I'd rather get my hands on a guide for 1.4.1 - I like the usage.

[2017-03-24 13:23] ConneXNL commented on #286
It seems like no changes were done to CSSResourcePlugin so you cannot use it to reference fonts and images.

This is however, what other libraries are doing too.

[2017-03-26 10:38] vegarringdal opened #435 "Fusebox 1.4.1, plugin events"
Hi

Would have been nice with a "completed" event for plugins when all bundles are done/ and is re-bundled.

Also looks like bundleEnd is triggering twice during first run.
Ive tried disable the dev server to see if that helped, buit it did not.

On 1.4.1:preview.7 atm

Ref plugin:
https://github.com/fuse-box/fuse-box-typechecker/issues/9

[2017-03-26 18:53] nchanged commented on #435
I was looking into it.. and there seems to be a complication with watches, as it defers the calls (locks/unlocks) Do you think it's better to setup a plugin individually instead?

`fuse.bundle("app").plugin(TypescriptChecker())` ?

[2017-03-26 19:33] nchanged commented on #430
That's a typescript error. Any update on that?

[2017-03-27 06:48] aretecode opened #436 "output is in wrong directory, not-changeable, no warnings"
config:
[code]

actually winds up going to
[code]

and this configuration is not changeable, and there is no debugging for it

[2017-03-27 09:30] unlight commented on #332
Workaround (only for typescript)
[code]
where preprocess is [npm preprocess](http://ghub.io/preprocess)

[2017-03-27 10:11] vegarringdal commented on #435
Lost me on this one.

fuse.bundle("app").plugin(TypescriptChecker()) ?

This could be useful, maybe not all bundles need same plugins

I was thinking just a "complete" event when all bundle have run "bundleEnd".
Because withing 1 bundle there is usually just one tsConfig, so I really just need to run it once.

[2017-03-27 10:17] venil7 commented on #247
Any update on this issue?

[2017-03-27 12:34] nchanged commented on #247
@aretecode ?

[2017-03-27 16:07] orta commented on #391
Jest works really well with TypeScript (and then you can also use [vscode-jest](https://github.com/orta/vscode-jest#readme) ) - would recommend that, if you can

[2017-03-27 18:55] vegarringdal commented on #409
Any new updates on the preview how to figure out if dev server is being used?

It will kind be connected to this one
https://github.com/fuse-box/fuse-box/issues/435

If we had a final complete event for plugins I would know there is dev server was used and if I needed to quit the slave process after its done

[2017-03-27 19:03] nchanged commented on #409
I will resolve it tomorrow =)

[2017-03-28 16:32] arabsight commented on #159
Hi, @nchanged  this is still happening in 1.4.1-beta-9

[2017-03-28 17:06] nchanged commented on #159
Hi! Is that so? Can u repro it?

[2017-03-28 20:43] arabsight commented on #159
Hi, here you go: https://github.com/arabsight/fusebox-env-issue
first build works (this is injected: **var process = require("process");**), but when you modify something it gets removed.

[2017-03-29 09:29] nchanged commented on #435
You can use now
[code]
You have to put on plugin `init`.  It has be bound once,

Let me know if it works, and close the issue ;-)

[2017-03-29 09:31] nchanged commented on #409
Try `context.bundle.producer.devServerOptions !== undefined`

[2017-03-29 10:04] nchanged commented on #159
thanks, i will check it!

[2017-03-29 23:56] mbilling opened #444 "Object prototype may only be an Object or null: undefined"
Observed with fuse-box 1.3.129
.fusebox dir has been removed
(My code bundles fine with Webpack, and runs without errors)

Running my fuse bundle code below produces 2 bundles which are loaded into a browser like.
[code]

Fuse bundler code:
[code]

While singlestepping it fails on the statement

`import request = require('request');`

with
[code]

[2017-03-30 08:08] xyyjk opened #445 "HMR not work in preact"
Each edit will copy the previous component:

![](https://ww4.sinaimg.cn/large/006tKfTcly1fe4xj8vs9xj31kw0yjjxm.jpg)

Example: https://github.com/xyyjk/fusebox-preact-example

[2017-03-30 08:11] nchanged commented on #445
Well of course, because each time it executes your entry point. You need to hande it OR create your own HMR

http://fuse-box.org/#loader-plugins

[2017-03-30 08:13] nchanged commented on #444
Hi @mbilling
Sure, you can extract your dependencies automatically. Please check this repo -> that's a bleeding edge version https://github.com/fuse-box/preview-1.4.1/tree/master/examples/react-code-splitting

Regarding `request` I will check it soon

[2017-03-30 11:00] mbilling commented on #444
I tried the bleeding edge stuff and modified the example you suggested to my needs.
Wow! (apart from it not working for me yet :), it will be fantastic, and save me tons of time.
I love the html output template stuff, too.
Good job.

1. hmr loading part
The 2 hmr() calls are getting in the way of each other.
[code]
Both takes port 4444, so I get following error message
`Uncaught Package not found

[2017-03-30 11:08] nchanged commented on #444
Ok,
It seem that HMR related code isn't bundled. Did you check the example? is it working for you?

* That symbol `~` grabs all dependencies. Make sure you have correct arithmetics.
* Move that `+react` to vendor.
*  Change your vendor (deps) to `.instructions(`~ index.tsx`)
* Import tslib in your index.tsx `import("tslib")`
* Clear the cache

Let me know if that helps. And check the example on gi

[2017-03-30 11:23] nchanged commented on #444
P.S make sure of your files order `deps.js` and then `app.js`

[2017-03-30 11:32] devmondo commented on #445
@xyyjk this will help you getting started
https://medium.com/@basarat/rethinking-hot-module-reloading-58ce15b5f496

[2017-03-30 14:05] mbilling commented on #444
I striped down my code only to load a react component with react, react-dom, react-bootstrap. This worked fine. HMR worked, splitting, html template and the works.
A soon is I added more components it broke the build phase, HMR died etc.
When I have time for it I will break it further down to see exactly what component breaks what.
I use v 1.4.1beta18 and I don't get en error on request. Maybe its

[2017-03-30 14:28] nchanged commented on #444
Cool, if you add an external dep you need to restart your vendor, or watch it, but I find it faster restarting.
If you add a new file, HMR should reload the page

[2017-03-31 12:15] aretecode commented on #444
that is why there is this rule http://eslint.org/docs/rules/no-prototype-builtins

[2017-03-31 12:16] aretecode commented on #391
as does https://github.com/avajs/ava

[2017-03-31 21:22] wiredprairie opened #446 "Bundling lodash-es doesn't work as desired"
I am trying to bundle `lodash-es` into a project with FuseBox

As a sample, I've used the [React Reflux Seed](https://github.com/fuse-box/fuse-box-ts-react-reflux-seed) to replicate the issue.

With that repo:

    npm i -S lodash-ex

Add lodash to `REACT_DEPS` in `gulpfile.js`:

    +lodash-es

And then `gulp dev`.

If you look at `vendor.js` which now includes `lodash-es`, the syntax isn't valid

[2017-03-31 23:08] devmondo commented on #446
@wiredprairie  hi :)
did u try aliases?
http://fuse-box.org/#alias

[2017-04-01 04:44] aretecode commented on #446
@wiredprairie I know you said you experimented with the BabelPlugin, but I'd like to check: have you tried using `limit2project: false` ?

[2017-04-01 11:57] wiredprairie commented on #446
Yes, I did try that.

[2017-04-01 15:59] nchanged commented on #446
@wiredprairie after you toggled it, you need to clear the cache. (remove `.fusebox` folder)

[2017-04-02 00:45] ma2ciek opened #449 "Many `any` types in the FuseBox constructor options"
Playing recently with Fusebox I encountered the problem with available types in the FuseBox constructor
Especially the [sourceMaps](https://github.com/fuse-box/fuse-box/blob/9506950c85196a2e061d7bdd4a603d41b0f8436e/src/core/FuseBox.ts#L33) part is at least confusing and I had to read a few tickets to get everything in my project working.

The proper type definitions may help people to work with th

[2017-04-03 15:11] wiredprairie commented on #446
I deleted the cache directory with the `limit2project` set to `false` and it still doesn't work. The code is left unchanged as shown above.

[2017-04-03 17:56] nchanged commented on #446
Does your babel preset convert es6 to es5?

[2017-04-04 02:41] knpwrs opened #451 "Anything equivalent to html-webpack-plugin?"
Is there anything in the FuseBox ecosystem that matches the functionality of the [`html-webpack-plugin`](https://www.npmjs.com/package/html-webpack-plugin)? Essentially it generates your `index.html` for you, either from a base template or a template that you provide, and then injects any script tags needed for your app wherever you want (head, bottom of body, etc). I did a little searching and di

[2017-04-04 09:32] devmondo commented on #451
hi @knpwrs
we already have `HTMLPlugin` http://fuse-box.org/#html-plugin

but what you are looking for we call it `CopyPlugin` it is currently in 1.4.1 branch which will be released soon but you can check it out and try it :)
https://github.com/fuse-box/fuse-box/blob/1.4.1/docs/plugins/CopyPlugin.md

[2017-04-04 09:48] arabsight commented on #451
this looks close enough https://github.com/fuse-box/preview-1.4.1/blob/master/examples/react-code-splitting/fuse.js#L61

[2017-04-04 10:44] knpwrs commented on #451
I saw `html-plugin` but that seems to be closer to [`html-loader`](http://npm.im/). `html-webpack-plugin` creates `index.html` but you don't get a reference to the file anywhere in the code, it just acts as your application's entry point, one large advantage being if your bundle name has a hash in it you don't need to worry about including the right file on the page.

`CopyPlugin` seems closer, bu

[2017-04-04 13:06] knpwrs commented on #451
Here is my minimal example: https://github.com/knpwrs/minimal-webpack-html

Just run the following:

[code]

You'll get a server running on 8080 serving the bundle and an `index.html` file that has a script tag pointing at the bundle. Notice that the repository doesn't include an `index.html` file, this is because it is generated. The bundle will always be included properly regardless of the filen

[2017-04-04 17:39] devmondo commented on #451
@nchanged any input on this ?

[2017-04-04 18:33] knpwrs commented on #451
Just to make this more generic, essentially webpack has the ability to emit artifacts which are not based on source. Plugins are able to just pop artifacts into existence, and they can base those artifacts based on other artifacts. `html-webpack-plugin` is the most common usage of this, but there are others as well.

[2017-04-04 19:40] nchanged commented on #451
@knpwrs plugins are in fuse-box transform files, however, it makes sense to perform that kind of operations. We need to introduce onProducerEnd in the plugin API, which will get triggered once.

[2017-04-05 09:26] aretecode commented on #451
I am working on one, small bits at a time.

[2017-04-06 18:38] alex-klock commented on #139
I just published a plugin that works similarly to angular2-template-loader but for fuse-box, it'll take care of the templateUrl and styleUrls.

https://github.com/alex-klock/ng2-fused

[2017-04-06 19:29] nchanged commented on #139
Oh! nice! looking cool!

[2017-04-06 19:30] nchanged commented on #139
added it here: https://github.com/fuse-box/fuse-box/blob/master/docs/third-party-plugins.md

[2017-04-06 19:45] fmoessle commented on #139
Thanks :),

if there will be an aot-plugin and a router-plugin for lazy loading I would love to use fuse-box for my angular applications

[2017-04-06 21:49] alex-klock commented on #139
Thanks @nchanged!

@fmoessle, I'm working on a Ng2LazyPlugin (actually converting some hard coded FuseBox code in my routes to a more generic plugin form) and should have that available in ng2-fused hopefully within a few days.  As for the aot, been meaning to switch over an application I'm working on to use aot, so hopefully that'll give me a chance to attempt to tackle an aot fuse-box plugin for

[2017-04-06 22:22] nchanged commented on #139
@alex-klock please take a look at the upcoming version over here https://github.com/fuse-box/preview-1.4.1/blob/master/examples/react-code-splitting/fuse.js

[2017-04-07 13:27] alex-klock commented on #139
Thanks for the link @nchanged! :) Been watching those examples, I "think" my router plugin should be okay for both current version and upcoming 1.4.1, it's more about transforming the Angular2 loadChildren string which looks like `loadChildren: './+lazyModule/lazy.module.ts#LazyModule'` to the alternative function syntax which returns a Promise utilizing the Loader API (very similar to the fuse-to

[2017-04-07 21:48] wiredprairie commented on #446
For a few other reasons, I've decided to stop using Fuse-Box for my current project, so I won't have time to look at this further. Sorry for the interruption.

[2017-04-07 21:48] #446 closed

[2017-04-07 22:55] aretecode commented on #449
Maybe it should be converted to vanilla JavaScript!

[2017-04-08 05:51] nchanged commented on #449
Yeah we have this problem, but we are solving it step by step. 1.4.1 has many fixes already

[2017-04-08 07:40] pejalo commented on #426
I've started a guide called "Getting Started with FuseBox from Scratch" in my quest to get FuseBox working. A link to the draft, updates, and my n00b questions will all be shared in the FuseBox [gitter](https://gitter.im/fusebox-bundler/Lobby) chat room.

[2017-04-09 13:10] bhalperin opened #453 "The link to globtester is missing http://"
In section Bundle / Arithmetic Instructions - the link goes to https://github.com/fuse-box/fuse-box/blob/master/docs/www.globtester.com (404). Change it to http://www.globtester.com and it will work.

[2017-04-13 09:51] vtabary opened #457 "Dependencies management is missing when bundling a FuseboxBundle in an other"
The magic in FuseBox is really great, and its abilities to recognize a FuseBox bundled dependency when bundling is really great so it can be optimized.

To provide a npm package, I had to bundle a library without its dependencies. You don't want to get the dependencies bundled inside your dist file in order to get the last version when you are using it.

It works great when using nodejs, but not w

[2017-04-13 10:24] nchanged commented on #457
What about create a vendor package that contains your dependencies? Load vendor first, of course.

[2017-04-13 10:39] vtabary commented on #457
That could be a workaround. I'll give it a try.

But this means that the user is aware about all the dependencies of a library, and moreover, that the user is aware that the library is a FuseBox package, and so he has to create a vendor package manually.

If I import @angular/core for example, today, I don't have to know what are its dependencies, it's done automatically by FuseBox.

It should be

[2017-04-13 21:29] nchanged commented on #457
@vtabary ok, what i found
1) You need to load the API first
[code]

2) You packaging went wrong
[code]
You have 2 different versions of `whatwg-fetch` in your node_modules (somewhere nested), and fusebox resolved it by setting a custom rule

[code]

So `project` knows how to load the lib, but other packages don't.

[2017-04-13 21:37] vtabary commented on #457
1. I think that the Api is already at the end of the main.js bundle. So it shoud be ok without adding the api before, right ?

2. That's weird because when I do ```npm ls whatwg-fetch``` in my project, I only have line concerning the whatwg-fetch, and the 2 files are bundled in the same project.

I saw the "conflicting" part but I can't explain why.

I'm still digging in the fuse-box sources. The

[2017-04-13 21:39] nchanged commented on #457
Yeah, there is something weird. FuseBox thinks that it is a conflicting library.

[2017-04-16 11:21] mizchi commented on #421
I encountered runtime error after switching `.babelrc` resolver https://github.com/mizchi-sandbox/inferno-matter-sandbox/blob/master/.babelrc#L11-L19

[code]

@aretecode This issue resolve it?

[2017-04-17 20:05] #453 closed

[2017-04-18 15:40] rottmann commented on #125
Is there a short example on how to use VuePlugin?

i tried:

bundle
[code]

index.ts
[code]

output
[code]

when i remove `.vue` form the filename i got this error in browser console:
[code]

[2017-04-18 15:46] marshallswain commented on #125
For what it's worth, I created a `.vue` plugin for StealJS.  I haven't tried creating a plugin with FuseBox, yet.  But if it helps anybody to look at the code, it's here: https://github.com/icanjs/steal-vue/blob/master/steal-vue.js

[2017-04-18 18:45] nchanged commented on #125
Great! thanks!

[2017-04-18 20:10] jperezruiz opened #461 "FuseBox.addPlugin"
Hi!
I'm trying to add a hmr plugin, reading the doc for http://fuse-box.org/#loader-plugins I see FuseBox.addPlugin but it throws an exception:
![image](https://cloud.githubusercontent.com/assets/11233351/25150705/1adc52d0-2483-11e7-850f-a45e82791f71.png)

Trying to do the same with the fuse instance results in the same:
![image](https://cloud.githubusercontent.com/assets/11233351/25150738/3c4fc25

[2017-04-19 09:02] rottmann commented on #125
Found the problems, why my compile script not work:
1. Missing "vue-teamplate-compiler" plugin (not see it, cause of missing details in error message)
2. Scope problem with let/var view https://github.com/fuse-box/fuse-box/pull/462

[2017-04-19 21:19] nchanged opened #463 "FuseBox 2.0.0 - DOCS HELP NEEDED !"
FuseBox 2 is coming very soon! A brand new doc server will be launched along with the release:

http://fuse-box.org:3333/

However, there are some things to fix, for example, plugin documentation, it's quite a mess.
If you really love FuseBox, please help brushing it up here: https://github.com/fuse-box/fuse-box/tree/2.0/docs

If you working with a plugin, and you are fluent with it, please pick o

[2017-04-19 21:23] nchanged commented on #461
Hi!
Sorry for the late reply. You should do it at runtime.
https://github.com/fuse-box/fuse-box-ts-react-reflux-seed/blob/master/src/client/hmr.ts

[2017-04-19 21:23] #461 closed

[2017-04-19 21:23] #445 closed

[2017-04-19 21:24] #435 closed

[2017-04-19 21:24] #430 closed

[2017-04-19 21:25] #422 closed

[2017-04-19 21:25] #409 closed

[2017-04-19 21:25] #416 closed

[2017-04-19 21:26] nchanged commented on #400
@cellog still want to help with the docs? =)

[2017-04-19 21:26] #400 closed

[2017-04-20 00:21] trusktr commented on #430
@nchanged No idea, but I don't get any errors when I use plain `webpack`. I got this error when I tried to use FuseBox. I'll post back if I hit it again in a future project.

[2017-04-20 00:24] trusktr commented on #431
@nchanged Yes, the wrapper needs to return whatever is exported from the module, both named and default export. f.e.

[code]

The compiled entry points are loaded by RequireJS, and sometimes their export is used. I think this is an important feature for running modern code in legacy environments (there's plenty of legacy environments around).

The equivalent of this in Webpack is to use `output.li

[2017-04-20 15:44] Thanood opened #466 "improve debug output"
Currently, when running with debug and log activated, I'm getting an output like this:

[code]

There are several `index.js` and `foundation.js` and I would like to know the directory of these files.
Also, are the double newlines necessary? 😃

[2017-04-21 08:22] JosephAntoniou commented on #430
Issue relates to the request for a 'new' object in Typescript.

I have no issue compiling with 'tsc'. Running with 'ng serve' complains with the aforementioned stack trace. If I comment my 'new' out then it compiles.

I have a type definition for this but am not sure if there is anything actually wrong and why we have such discrepancies.

"

[2017-04-22 17:38] NGPixel commented on #279
The fix is simply to specify the paths in the LESSPlugin options:

[code]

Maybe this could be set by default to the value of `homeDir` which is what devs would expect?

[2017-04-22 18:38] nchanged commented on #279
That's a good idea! @NGPixel

[2017-04-30 13:23] mizchi opened #470 "Can not bundle internal package.json that has relative` main` like a redux-saga"
For example, this is `node_modules/redux-saga/effects/package.json`

[code]

next code passes but has no reference.

[code]

[2017-04-30 13:42] nchanged commented on #470
hi @mizchi we are not covering package.json in sub folders just yet, that's quite a heavy procedure. You can solve it using aliases for now.

[2017-04-30 13:48] mizchi commented on #470
@nchanged OK, thx. I solved by replacing to `redux-saga/lib/effects`

[2017-04-30 16:25] nchanged commented on #470
I will close this for now, as there are many related issues.

[2017-04-30 16:25] #470 closed

[2017-04-30 16:25] nchanged commented on #457
@vtabary i think this has been fixed in `fuse-box@2.0.0-beta.8` please, verify!

[2017-04-30 16:27] nchanged commented on #451
It's here temporarily http://fuse-box.org:3333/plugins/webindexplugin
please try `fuse-box@2.0.0-beta.8`

[2017-04-30 16:27] #451 closed

[2017-04-30 16:29] nchanged commented on #444
@mbilling please check if you have any issues with `fuse-box@2.0.0-beta.8`
Documentation is here: http://fuse-box.org:3333/

We are finalising the release, I am closing the issue for now, please feel free to re-open elsewise

[2017-04-30 16:29] #444 closed

[2017-04-30 16:31] nchanged commented on #427
Please, feel free to re-open the issue,  if you are still experiencing any issues. Also, check the upcoming version `fuse-box@2.0.0-beta.8`
here http://fuse-box.org:3333/

[2017-04-30 16:31] #427 closed

[2017-04-30 16:34] nchanged commented on #394
Not changing it anytime soon, it has been established for a very long time.
Also, check the upcoming version `fuse-box@2.0.0-beta.8`
here http://fuse-box.org:3333/

[2017-04-30 16:34] #394 closed

[2017-04-30 16:34] nchanged commented on #414
Please, feel free to re-open the issue,  Check the upcoming version `fuse-box@2.0.0-beta.8`
here http://fuse-box.org:3333/

It has it all solved

[2017-04-30 16:34] #414 closed

[2017-04-30 16:35] nchanged commented on #384
@mattoni closing this for now =) Clean up before the release.

[2017-04-30 16:35] #384 closed

[2017-04-30 16:39] #402 closed

[2017-04-30 16:41] nchanged commented on #393
Closing this for now. Please feel free to check the latest bleeding edge version `fuse-box@2.0.0-beta.8`
and documentation for it http://fuse-box.org:3333. You are welcome to re-open it elsewise ;-)

[2017-04-30 16:41] #393 closed

[2017-04-30 16:45] #354 closed

[2017-04-30 16:47] nchanged commented on #325
I think this bug is related to the broken Sass build... will get on it very soon.

[2017-04-30 16:47] nchanged commented on #325
Please feel free to check the latest bleeding edge version `fuse-box@2.0.0-beta.8`
and documentation for it http://fuse-box.org:3333 ;-)

[2017-04-30 16:48] nchanged commented on #312
Closing this for now. Please feel free to check the latest bleeding edge version `fuse-box@2.0.0-beta.8`
and documentation for it http://fuse-box.org:3333

[2017-04-30 16:48] #312 closed

[2017-04-30 16:49] nchanged commented on #245
Closing this for now. Please feel free to check the latest bleeding edge version `fuse-box@2.0.0-beta.8`
and documentation for it http://fuse-box.org:3333. You are welcome to re-open it elsewise ;-)

Please check the official electron seed https://github.com/fuse-box/fuse-box-electron-seed

[2017-04-30 16:49] #245 closed

[2017-04-30 16:49] nchanged commented on #242
Closing this for now. Please feel free to check the latest bleeding edge version `fuse-box@2.0.0-beta.8`
and documentation for it http://fuse-box.org:3333 You are welcome to re-open it elsewise ;-)

[2017-04-30 16:49] #242 closed

[2017-04-30 16:50] nchanged commented on #237
Closing this for now. Please feel free to check the latest bleeding edge version `fuse-box@2.0.0-beta.8`
and documentation for it http://fuse-box.org:3333. You are welcome to re-open it elsewise ;-)

[2017-04-30 16:50] #237 closed

[2017-04-30 16:52] nchanged commented on #212
serverBundle is removed in 2.0
http://fuse-box.org:3333

Feel free to open a separate discussion. But I think we have many related issues. And one of them is `target` it will come in 2.0 at some point.

[2017-04-30 16:52] #212 closed

[2017-04-30 16:52] #187 closed

[2017-04-30 16:54] nchanged commented on #139
I think we are talking about this one:
https://github.com/alex-klock/ng2-fused

Closing this for now. Please feel free to check the latest bleeding edge version `fuse-box@2.0.0-beta.8`
and documentation for it http://fuse-box.org:3333 You are welcome to re-open it elsewise ;-)

[2017-04-30 16:54] #139 closed

[2017-04-30 16:55] #463 closed

[2017-04-30 16:56] nchanged commented on #466
We could polish it sure. Feel free to submit a PR ;-) We are busy with 2.0 ATM

Please feel free to check the latest bleeding edge version `fuse-box@2.0.0-beta.8`
and documentation for it http://fuse-box.org:3333

[2017-04-30 17:04] dragosbulugean opened #471 "SassPlugin on Windows 10"
SassPlugin with options { importer: true } doesn't work on Windows 10.
It generates an @import from full filesystem path with backslashes and doesn't import it.

Also, SassPlugin only works with .scss files (.sass files (prettier syntax) don't get picked up)

[2017-04-30 20:26] aretecode commented on #466
https://github.com/fliphub/fliplog

[2017-04-30 21:17] skellock commented on #245
Working great on `2.0.0-beta.8`.

[2017-05-01 07:09] Thanood commented on #466
Sure, I can try. I just don't know where to start. 😃
Probably `IPathInformation` and classes which use that I guess.. I will have a look.

[2017-05-01 20:29] guillaume86 commented on #279
I added this in LESSPlugin.js to fix relative imports:

[code]

Not sure if it should be default (could break a use case?).

[2017-05-01 20:42] nchanged commented on #279
How about this http://fuse-box.org:3333/plugins/sass-plugin#macros
?

[2017-05-01 20:52] guillaume86 commented on #279
It seems to be for different use cases (overkill for my case), I'm just doing this:

file1.less contains:
`@import "./file2.less";`

and file2.less is in the same directory.

[2017-05-01 23:02] Sirikon commented on #125
Was trying to get FuseBox working with .vue files... couldn't at start, but could make it work making a modification to the resulting .js file.

[code]

[code]

[code]

The result  component's code fragment looks like this:

[code]

It didn't worked, __but__, If I change the last line manually like this:

[code]

It works.

This change should be done here, right?: [VuePlugin.t#55](https://github.c

[2017-05-02 07:17] nchanged commented on #125
@Sirikon that's right, if you propose as change, please do it on 2.0 branch.

That's the latest documentation fuse-box.org:3333

[2017-05-02 20:32] Sirikon commented on #125
@nchanged Was trying to get working the vue template compilation, but found out that Vue used "with" statement, wich isn't allowed in strict mode, and that's something that acorn checks. (Maybe that's why the 'parsed' variable is commented).

Is there any conversation about this? I'm investigating work-arounds, but can't find any previous conversation about this here.

[2017-05-02 21:37] nchanged commented on #125
@Sirikon I am not sure about that

[2017-05-03 07:22] guillaume86 opened #475 "Path problems in 2.0 when starting from gulp"
There's a path issue when starting fusebox 2.0 from gulp (paths are resolved relative to the global gulp.js file).

The issue seems to originate from the line mentioned here:
https://github.com/fuse-box/fuse-box/commit/835221e30b0e5b57392eaccfbd9a52c90e07a5a4#commitcomment-21989868

[2017-05-03 07:58] nchanged commented on #475
Thanks, you think we could add a process variable to override it?
Like
[code]

[2017-05-03 08:03] guillaume86 commented on #475
It's ok for me, and maybe add a console.warning with this information if the main require filename is "gulp.js".

[2017-05-03 08:12] nchanged commented on #475
`fuse-box@2.0.0-beta.11`

[2017-05-03 08:44] tomitrescak opened #476 "Test runner API"

[2017-05-03 08:44] #476 closed

[2017-05-03 08:48] tomitrescak opened #477 "Test runner"
Guys, I really like your test runner and it's speeeed. I'm already talking to Artem Govorov the developer of wallabyjs to include it in their pipeline. I also would like to include new matchers, such as "snapshot" matcher, which I already developed for mocha.

To do all this properly, is there any Extensibility and Execution API? Extensibility for matchers and execution for wallaby (at least to re

[2017-05-03 08:54] guillaume86 commented on #475
Just a little touch: you can skip the warning if process.env.PROJECT_ROOT is set.

A little note for future users: you have to set the env variable before requiring fuse-box (just made the mistake).

[2017-05-03 08:54] #475 closed

[2017-05-03 08:58] nchanged commented on #477
@tomitrescak that's so cool!!
Yeah, fuse tests are 100% customisable. You can make a custom reporter for example. We could extend it to run in the browser for example. By `Extensibility for matchers` you meant that

https://github.com/fuse-box/fuse-test-runner/blob/master/src/FuseBoxTestRunner.ts#L40 ?

that's the only place where it's hardcoded at the moment.  But other than that, please feel fre

[2017-05-03 09:56] devmondo opened #478 "cant find jquery package when using shimming"
when using this
[code]
we got that error.

[2017-05-03 09:57] devmondo commented on #478
shimming does not work on the server, so if you use shared configuration for both your server and client bundle. remove the shimming option from the global one,  and `shim()` to your client bundle only like below
[code]

[2017-05-03 09:57] #478 closed

[2017-05-03 13:31] devmondo commented on #477
@tomitrescak yeah please man, FuseBox test runner is much better than what is out there, the only thing missing is wallaby.js. this would make us complete!!!

[2017-05-03 13:35] tomitrescak commented on #477
Well I don't have the best of news as wallaby is closed system and does not allow for easy extensibility, Artem would consider fuse box test runner only after it will reach "certain popularity". Yet, nothing is lost, I can still come up with mappings onto mocha test runner. It will NOT use fuse-box to package the app though, yet use raw typescript output processed with mocha. This way you will sti

[2017-05-03 14:46] devmondo commented on #477
@tomitrescak  this is a great start man!, if we can find a trade of solution until wallaby consider us worthy, it would be greatm thanks for your enthusiasm man :)

[2017-05-03 19:17] Martaver opened #480 "Example of using SVGPlugin in TS?"
Hey guys, great framework! Am leaving webpack in the wind for fuse-box.

So, I have nuked `.fusebox` and `node_modules` and rebuilt. Also tried several versions of fuse-box including `1.3.26`, `1.3.30`, `1.3.31` and even `2.0.0-beta.11` (since that's what the `react-example` repo is using).

In none of these scenarios have I been able to get the SVGPlugin working with Typescript. My img tag refere

[2017-05-03 21:03] nchanged commented on #480
Thanks :) and welcome
http://fuse-box.org:3333/plugins/image-base64-plugin

Try that one please with the latest beta. It should be working

[2017-05-03 21:05] nchanged commented on #480
Besides, make sure you import it correctly, note that it does not export defaults. Try import * as img from

Sorry for formatting, on my phone

[2017-05-03 22:30] Martaver commented on #480
Thanks!

I got the SVGPlugin working by using the * as syntax as your described e.g.

[code]
And consume it as:
[code]

In order for the `.svg` import to play nice with ts-lint, I added a:
[code]
in my `types` directory.

Overall, I find the `import * as logo` unexpected, and unnecessary. Any chance we can get this exporting as default so we can just do `import logo from`...?

[2017-05-03 22:38] nchanged commented on #480
Yep, for example, CSSModules has a neat switch `useDefault` - http://fuse-box.org:3333/plugins/cssmodules-plugin#options

We could add it to SVGPlugin. In fact, I think we need to remove SVGPlugin and leave Imagebase64Plugin only, as the latter converts all image formats.

And get familiar with the new version, there are many jaw-dropping features! ;-) It's coming soon.

http://fuse-box.org:3333

[2017-05-03 22:46] tomitrescak commented on #477
I'm on it. One thing .. to fully understand what is happening under the hood I tried to setup debuggin session in VS Code. The breakpoints are hit only in the main fuse.js file, everything from there is not hitting it. I made sure that `sourceMaps: true` is set.

[2017-05-04 00:04] tomitrescak commented on #477
First bit is done. Not sure where you want the contribution PR to be so here is description of what needs to be done:

1. You need to define wallaby transformer and save it in your root dir (it can become part of the fuse-box-test) package

[code]

Next bit is simply to include this transformer in the wallaby config:

[code]

E voila!

![screen shot 2017-05-04 at 10 03 39 am](https://cloud.githubu

[2017-05-04 01:51] tomitrescak commented on #477
I have also implemented snapshots, this I'll post as PR to fuse-test-runner

[2017-05-04 02:28] tomitrescak commented on #477
And with this transform, you can even use fusebox snapshots in wallaby ;) Just make sure you includ eyour snapshots in your config:

[code]

[code]

[2017-05-04 02:59] xdave commented on #302
Hi, so I've encountered this.... it would work if we could simply provide a glob or pattern for what to pass through to the typescript compiler in the same way that we can for plugins that do other transforms.

[2017-05-04 05:15] Martaver commented on #480
Switched to ImageBase64Plugin and works on SVGs like a charm.
SVGPlugin seems distracting - agree it should go.

Fuse-box is insane. I feel like I've discovered some kind of cheat.

I'll be working with this for a while I think, maybe I can contribute to the docs?

[2017-05-04 05:25] nchanged commented on #480
@Martaver that would be lovely! Docs need some love, i've been doing them for like 1 month in a row already, any help is greatly appreciated! We are so close to the release!

https://github.com/fuse-box/fuse-box/tree/master/docs

[2017-05-04 05:34] tomitrescak opened #481 "Hot reload on JSON change"
Hi, is it possible to hot reload a document on JSON change?
I see that Fusebox successfully rebundles my app, yet the HMR is not performed.
Thanks!

[2017-05-04 05:52] nchanged commented on #481
Please test this version `fuse-box@2.0.0-beta.13` and let me know if it works.

[2017-05-04 05:54] nchanged commented on #477
@tomitrescak that's just pure awesomeness!
So wallaby executes it without actually running fusebox.test()

[2017-05-04 06:08] tomitrescak commented on #477
That is correct. It works without the fusebox-test-runner ;)

[2017-05-04 08:18] nchanged commented on #477
Cool, could make PR? ;-)

[2017-05-04 09:34] devmondo commented on #477
@tomitrescak this is brilllllllllllllllllliant!!!! thanks a lot for it man :)

[2017-05-04 09:42] tomitrescak commented on #477
Where do you want me to make the PR? Which package you reckon it belongs to ? And I guess only the "transformer" should be there. The wallaby config will be part of the docs?

[2017-05-04 12:20] nchanged commented on #477
oh yeah!
i guess here https://github.com/fuse-box/fuse-test-runner ?!

[2017-05-04 14:18] PinkTiu commented on #324
@fknop How did you manage that?

First I tried to use this alias to import the animations module:
[code]

Then I got this error
[code]

So I imported the `@angular/platform-browser/animations` like this:
[code]

This leads to another error:
[code]

Do you have a hint? How did you managed it?

[2017-05-04 14:25] nchanged commented on #324
@PinkTiu these guys are changing the API every month, so annoying. I had to lock dependencies in the project...

[2017-05-04 22:19] Quramy opened #484 "Invalid entry for `@angular/core/testing`"
Hello. I've tried bundle Angular2 app unit test. But the created bundle does not work...

I think there are some issues about bundling `@angular/core/testing` package.

This issue can be reproduced with the following 2 files(reproducing repo is [here](https://github.com/Quramy/angular-testing-require)):

- src/main.ts:

[code]

- fuse.js

[code]

Fuse-box outputs the following:

[code]

And execut

[2017-05-05 07:31] nchanged commented on #484
hi!
have you tried aliases?
[code]

Something like that

[2017-05-05 08:09] Quramy commented on #484
Thanks @nchanged .

Great, it works well for me!

[2017-05-05 08:10] #484 closed

[2017-05-05 23:34] aretecode opened #488 "better .watch"
problem:
- using `.watch()` will include your `dist` folder by default if it is inside the homedir - which it usually is if you have a homeDir that is not `src`. this behaviour is not very smart, and is confusing when there is an infinite loop of rebuilding.

solutions:
- either throw if no glob is passed in
- or be smarter about which dirs to watch by default, if it is supposed to be easy
- canno

[2017-05-05 23:38] aretecode commented on #488
![infinity](https://cloud.githubusercontent.com/assets/4022631/25767777/43cc3e22-31b1-11e7-9617-7ddd174b3778.gif)

[2017-05-05 23:42] mattoni opened #489 "Fusebox fails to bundle some nested React components"
Some imports go missing if I have nested React components like such:
[code]

Referring to the import in any way outside of it's use here causes it to be imported properly. Happened twice in two different projects so far.

Error is as follows:
[code]

FAIcon.tsx is basic functional component:
[code]

[2017-05-05 23:44] mattoni opened #490 "Vendor Sourcemap breaks fusebox if caching is disabled"
I get the following error:

[code]

with a config similar to this:

[code]

enabling cache or disabling vendor sourcemap fixes it.

[2017-05-06 01:14] nspaeth opened #491 "LESSPlugin doesn't find relative imports from .less files"
`node fuse.js` reports that it is unable to find files that are imported from less files.

I've created a repro here: [nspaeth/fuse-box-less](https://github.com/nspaeth/fuse-box-less)

[2017-05-06 02:22] NGPixel opened #492 "Support Vue template preprocessors (e.g. Pug)"
It would be great if custom template languages, such as Pug, could be used when using .vue components.

[code]

vue-loader handles the `lang` parameter on `<template>` and `<style>` blocks. Fuse-box should provides similar support.

Thanks,
Nick

[2017-05-06 07:04] aretecode commented on #490
http://fuse-box.org/#sourcemaps
<img width="699" alt="screen shot 2017-05-06 at 12 04 26 am" src="https://cloud.githubusercontent.com/assets/4022631/25770633/9464381a-31ef-11e7-9a75-f3f1aeaef369.png">

[2017-05-06 08:59] nchanged commented on #490
@mattoni yep, it's in the docs, I haven't found any plausible solution yet.

[2017-05-06 09:00] nchanged commented on #492
hi @NGPixel the VuePlugin isn't working 100% as it supposed it, The original plugin is tightly coupled with WebPack, so we are missing some features. Please feel free to improve it.

[2017-05-06 09:02] nchanged commented on #489
so you leave that in your code `FAIcon;` it works fine right?
If it does - I am sure it's something to do with typescript, as its the one removing the import in the first. Can we have a repo to reproduce it?

[2017-05-06 09:05] nchanged commented on #488
You think you can check it [here](https://github.com/fuse-box/fuse-box/blob/master/src/core/BundleProducer.ts#L108)?

We can compare it with [this](https://github.com/fuse-box/fuse-box/blob/master/src/core/UserOutput.ts#L15) piece

[2017-05-06 11:22] devmondo commented on #488
i like second suggestion from @aretecode

[2017-05-06 11:22] Sirikon opened #493 "Sparky.watch() should have a way to define a basepath"
I have a test project using FuseBox with a folder called `src` on root. Inside that, `assets/logo.png`

With the next sparky task:
[code]
Will work as expected, create `src/assets/logo` inside `dist`, but I need to copy just `assets` inside `dist`. not `src`.

There's no documented way to to this, but found out that the watch() method can accept a second parameter which is a chokidar watch() metho

[2017-05-06 11:28] Sirikon commented on #493
## Fixing this

If I'm correct with my assumptions, the way to fix this would be:

Here: [SparkyFlow.ts#41](https://github.com/fuse-box/fuse-box/blob/master/src/sparky/SparkFlow.ts#L41), should add the content of `opts.cwd` at the start of `fp`.

In this file: [SparkyFlow.ts#42](https://github.com/fuse-box/fuse-box/blob/master/src/sparky/SparkFlow.ts#L42), should add the content of `opts.cwd` at t

[2017-05-06 11:40] devmondo commented on #493
@Sirikon yep you are right about this.

if you are interested in a temporary workaround until we enhance it. below will keep file structure as you like.

[code]

[2017-05-06 14:25] nchanged commented on #492
If you interested in helping - that's the [place](https://github.com/fuse-box/fuse-box/blob/master/src/plugins/VuePlugin.ts#L47) where we could abstract things, and attach different HTML compilers

[2017-05-06 14:58] devmondo commented on #493
works perfectly :)
we shall update the Docs accordingly.

[2017-05-06 18:25] NGPixel commented on #492
Sure, I'll implement it.

[2017-05-06 19:14] devmondo commented on #477
@tomitrescak do you have a full repo of this working ?

[2017-05-06 19:31] devmondo commented on #493
i think we have an issue, watch used to accept string or array of globs, now it is throwing if we pass array, as it accepts string only.

[2017-05-06 19:35] devmondo commented on #493
i also found another issue,
it is failing on system paths (which used to work before)
`C://customModules/sharedLib/package.json`

[2017-05-06 20:23] devmondo commented on #493
@Sirikon could you take a look at that please :)

[2017-05-06 21:23] Sirikon commented on #493
@devmondo Sure! Will look at it tomorrow morning :)

[2017-05-06 21:49] devmondo commented on #493
@Sirikon thank you again for the contribution :)

[2017-05-07 01:41] tomitrescak commented on #477
I do, have it running with the LUIS. I'll post it this afternoon.

[2017-05-07 01:42] tomitrescak commented on #477
I don't have full react testing stack ready yet though, as I miss those before all and after all hooks mentioned in #2

[2017-05-07 07:45] tomitrescak commented on #477
Here is the repo, yet, the snapshots will not work for you as they depend on the changes from the PR:

https://github.com/tomitrescak/fuse-box-react-test-app

I am also a bit blocked by the global setup and teardown function proposed in the test repo. If you want to test react component folloowing needs to be injected into global:

[code]

[2017-05-07 08:09] tomitrescak commented on #477
OKAY, I have included this afterAll and beforeAll in my PR. Luckily the only part that was touched was the fuseboxtestrunner component ... 4 lines added there. Yet I have used async/await notation, not sure if you are happy with that.

Anyways, the whole repo now works nicely in all three environments fuse(console) / wallaby / browser (luis). Check it out, I think it's really cool and veeeeery use

[2017-05-07 08:44] nchanged commented on #490
I guess that one `getPermanentCache` was fixed.

[2017-05-07 08:44] #490 closed

[2017-05-07 08:45] #481 closed

[2017-05-07 08:46] nchanged commented on #477
@tomitrescak awesome job! You think you can help with docs [here](https://github.com/fuse-box/fuse-box/blob/master/docs/test-runner.md) ?

[2017-05-07 09:53] nchanged commented on #480
Ok

[2017-05-07 09:53] #480 closed

[2017-05-07 09:55] nchanged commented on #480
http://fuse-box.org:3333/plugins/image-base64-plugin#options

[2017-05-07 11:02] devmondo commented on #477
@tomitrescak amazing job man!
thank you very much, we shall make an article about this and give credit to your contribution after we make the official 2.0 release

[2017-05-07 13:32] Martaver opened #498 "Clear console on HMR update?"
More of a nice-to-have, but it would be nice to have the option to clear the console just before a HMR update is applied.

[2017-05-07 13:58] devmondo commented on #477
@tomitrescak i cloned your react repo and ran it but i get this error any idea why ?
[code]

[2017-05-07 22:18] NGPixel opened #500 "Docs site bug with # in code blocks"
The docs site has an issue with # in code blocks being parsed as headers and are shown in the sidebar.

e.g. http://fuse-box.org:3333/plugins/vueplugin

[2017-05-07 22:25] nchanged commented on #500
Thanks, good one! 👍

[2017-05-08 00:45] tomitrescak commented on #477
@devmondo I did not have time to clean the project up over weekend .. give me a bit of time and I'll have a look. There must be something fishy with the transformer. Sorry about that ...

[2017-05-08 01:24] aretecode commented on #498
`console.log('\x1Bc')`

[2017-05-08 08:21] devmondo commented on #477
@tomitrescak  or must be a fuse bug hahahha :)

[2017-05-08 11:24] leedut commented on #491
I also found this bug when I bundle my react-app with [antd](https://github.com/ant-design/ant-design) .

antd uses [less-importer](https://github.com/webpack-contrib/less-loader) to import its styles.

So `@import './index.less'` caught errors.

[2017-05-08 11:36] leedut opened #501 "characters in bundle.js is not all utf-8 encoded"
I used react + fuse-box@2.0 in my website. But I found that some chinese characters in JSX would be encoded into unicode , but some chinese characters woudld not.

e.g.
1. `<Input placeholder="中文"/>`, this writing style would be encoded as `<Input placeholder="\u4e2d\u6587" />`

2. `const str = '中文';` or `<Input placeholder={"中文"} />`, these writing styles would not be encoded in bundle.js.

So is

[2017-05-08 11:51] nchanged commented on #501
Hm, do you need some config set for babel? Cuz I don't think we encode those...

[2017-05-08 13:29] devmondo commented on #491
@nchanged did we fix the paths for this ?

[2017-05-09 08:25] vtabary commented on #457
Great ! I'll give it a try this week.

[2017-05-09 08:45] nchanged commented on #493
I guess we can close this one =)

[2017-05-09 08:45] #493 closed

[2017-05-09 08:45] nchanged commented on #492
Closing this one

[2017-05-09 08:45] #492 closed

[2017-05-09 08:45] nchanged commented on #489
Has it been solved?

[2017-05-09 08:46] nchanged commented on #491
Will check it soon

[2017-05-09 08:57] Thanood commented on #466
If anyone is interested in status, I completely failed to do it. 😃

There are some TypeScript transpiler errors because of wrong type declaration and I don't know if I should try to fix that. Maybe I can set my TS to ignore them.

Also, I failed to find the correct spot.

That's not to say I'm giving up. 😏

[2017-05-09 08:59] nchanged commented on #466
@Thanood I've removed extra spaces already =) But it requires improvements anyway.

[2017-05-09 15:25] geowarin opened #504 "Upgrade Postcss"
Hello!

I'm using FuseBox 2.0.0-beta20 and I'm loving it so far.

However, I have some problems with postcss because versions in fuse-box's package.json do not match latest version available on github.

I'm getting this error:

[code]

Workaround is to downgrade postcss and related plugins, for now.

I guess postcss should be a peer dependency of fuse-box with a large version range to let the user

[2017-05-09 15:53] devmondo commented on #504
@geowarin welcome to the party :)
we don't include plugins deps so we won't bloat the source, you should be fine installing them on your own.

let us know :)

[2017-05-09 15:54] devmondo commented on #504
oh, after checking this one slipt the radar! we shall remove it

[2017-05-09 16:18] nchanged commented on #504
@devmondo we can't remove it. We are using it internally. We just need to upgrade it. Thanks @geowarin

[2017-05-09 16:26] nchanged commented on #504
This should

[2017-05-09 16:26] #504 closed

[2017-05-09 17:55] mattoni commented on #489
Sorry, not a lot of time to get a repo up, been pretty busy. I'll see if i can get to it this week.

[2017-05-09 21:34] nchanged commented on #491
Thanks to @CantGetRight82 `fuse-box@2.0.0-beta.22`

[2017-05-09 22:16] devmondo commented on #491
we will close this, for now, feel free to open it otherwise

[2017-05-09 22:16] #491 closed

[2017-05-09 22:21] devmondo commented on #383
this is supposed to be fixed now.

we will close it, but feel free to open it otherwise :)

[2017-05-09 22:21] #383 closed

[2017-05-09 22:23] devmondo commented on #185
This is now awesomely available in version 2.0

we will close it, but feel free to open it otherwise :)

[2017-05-09 22:23] #185 closed

[2017-05-09 22:23] aretecode opened #509 "as-needed/configurable api"
## configurable

- [ ] node backend stuff
- [ ] css loading stuff
- [ ] hmr stuff
- [ ] dynamic socket stuff **including `new Function` / `eval`**
- [ ] electron stuff
- [ ] plugin adding event stuff
- [ ] target - should help improve this

## related
https://github.com/fuse-box/fuse-box/issues/354

[2017-05-09 22:24] devmondo commented on #163
as mentioned above, this should be part of an external plugin.

by the way, check our new Sparky task runner, you can manipulate files with any templating engine you want.

we will close it, but feel free to open it otherwise :)

[2017-05-09 22:24] #163 closed

[2017-05-09 22:26] devmondo commented on #133
try latest and let us know if it does not work still.

we will close this for now, but feel free to open it otherwise :)

[2017-05-09 22:26] #133 closed

[2017-05-09 22:28] devmondo commented on #159
this should be fixed in version 2.0 let us know.

we will close this for now, but feel free to open it otherwise :)

[2017-05-09 22:28] #159 closed

[2017-05-09 22:30] devmondo commented on #352
this is supposed to be fixed in version 2.0

we will close this for now, but feel free to open it otherwise :)

[2017-05-09 22:30] #352 closed

[2017-05-09 22:31] aretecode opened #510 "plugins should be required only when used"
the plugins should be exported with `object define` and only required when used, here is an example:

[code]

[code]

[2017-05-09 22:31] devmondo commented on #325
this is supposed to be fixed in version 2.0

we will close this for now, but feel free to open it otherwise :)

[2017-05-09 22:31] #325 closed

[2017-05-09 22:32] devmondo commented on #321
this is supposed to be fixed in version 2.0 and new upgrade to the CSS plugin.

we will close this for now, but feel free to open it otherwise :)

[2017-05-09 22:32] #321 closed

[2017-05-09 22:32] devmondo commented on #320
this is supposed to be fixed in version 2.0 and the new CSSPLugin update

we will close this for now, but feel free to open it otherwise :)

[2017-05-09 22:32] #320 closed

[2017-05-09 22:33] aretecode opened #511 "magic detect"
should have some sort of detection logic, and it should have plugins to allow for extendability on what the detection should do:

# what

### ts
- when ts is detected, tsplugin is configured
- tsplugin is the same one the user uses, so the core logic is not in the core domain, leaking logic, duplicating the ts bundling (can be seen if you use tsplugin and enable logging, everything is done twice)

[2017-05-09 22:34] devmondo commented on #279
this is supposed to be fixed in version 2.0 and the new update to the LessPlugin.

we will close this for now, but feel free to open it otherwise :)

[2017-05-09 22:34] #279 closed

[2017-05-10 10:39] eddow opened #512 "half-dynamic requires"
Some libraries (I had this with mongo-db) use half-dynamic requires that look like this :
`var package = require(__dirname + '/../package.json')`
It makes fuse-box react badly : it doesn't find the 'lib/../package.json' file

[2017-05-10 10:58] nchanged commented on #512
Oh yeah, fusebox can't handle it. All dynamic imports are evil

[2017-05-10 11:11] eddow commented on #330
Good news! I wanted to open an issue on their github, but since last month, they corrected it ... !

[2017-05-10 11:20] eddow opened #513 "SourceMap files path"
When making bundles in subdirectories, the sourceMappingURL gets the path based on the "dist" root folder

example:
with `fuse.bundle("server/express")`,the last line of `dist/server/express.js` is:
`//# sourceMappingURL=server/express.js.map`

I am using the module `source-map-loader` as it seems nothing was planned natively in node nor fuse-box to use the sourceMap server-side, but therefore tha

[2017-05-10 12:17] eddow commented on #512
Good news! I wanted to open an issue on their github, but since last month, they corrected it ... !

[2017-05-10 12:38] devmondo commented on #512
this shall be closed then :)

[2017-05-10 12:38] #512 closed

[2017-05-10 12:59] RPDeshaies opened #515 "The socketURI property is not used in fusebox 2.0"
I was using the following code in v1

[code]
And it was working fine.

But since v2, Fusebox always try to connect to the web socket using the `port` but doesn't care about the `socketURI` property.

e.g. If I change the `port` to `3333` but leave the `socketURI` to `ws://localhost:4444`, I can see the following log in the chrome dev tool :

[code]

So it seems like it's not even taking the `socke

[2017-05-10 13:08] nchanged commented on #515
try

`hmr({ socketURI: 'ws://localhost:4444' })`
it will work there, i forgot to update that in the docs

[2017-05-10 13:22] RPDeshaies commented on #515
Fixed ! Thank you

[2017-05-10 13:23] #515 closed

[2017-05-10 17:56] nchanged opened #516 "FuseBox 2.0"
FuseBox 2.0 is released!

https://medium.com/fusebox/fusebox-2-0-the-beast-reborn-e4ec0443b782

[2017-05-10 20:53] devmondo commented on #513
Thank you very much :)

[2017-05-10 20:53] #513 closed

[2017-05-10 22:26] eddow commented on #125
What I could notice was that the normalization of the file is a bit complex.
Getting inspiration from vue-loader (and its normalization function) we can see that
- we need to apply the built renderer to the object or its options if it is a function
- the scopeID must be managed in case of scoped styles
- There is style injection
- special care has to be taken or ssr

Basically, it might become int

[2017-05-10 22:46] eddow commented on #125
this is already helping (I declare my components with classes and typescript decorators) but still doesn't allow styles
[code]

[2017-05-11 06:05] eddow opened #518 "XHR and error reports"
When playing around or trying to configure heuristically, fuse-box could have more barriers to help you find a way.
There is one about the source-file loading : some source files are just present in the sourcemap after bundling but are unavailable for download.
I happen on some typos to have the browser part of Fuse downloading infinitely each 1/2s the same file (that doesn't exist)
The infinite l

[2017-05-11 06:23] nchanged commented on #518
That's a tricky one. I am sure your request returns `200OK` that's why fusebox is confused. Try setting it to `404`

[2017-05-11 06:38] eddow commented on #518
Indeed, the infinite loop is solved in my case (and no 404 allowed in SPA, it returns the main index.html on unknown route)
This is not about how I should do not to get in an infinite loop, these "barriers" are comfort for the ones that are still uneasy with fuse and make mistakes without knowing : a simple error message can save them 1/2h of searching what might be wrong in their config (I did sp

[2017-05-11 08:30] nchanged commented on #518
@eddow absolutely. We will solve it ;-)

[2017-05-11 09:26] eddow opened #519 "Uncaught syntax error"
A syntax error in the source file goes unnoticed and gets an uncaughts exception from fuse source

Buggy source file:
`import {stuff} from require('module')`
Will be transpiled into :
`const module_1 = require();`
Will throw TypeError: Cannot read property 'type' of undefined at FileAnalysis.nodeIsString (.../node_modules/fuse-box/dist/commonjs.analysis.FileAnalysis.js:71:20)
[code]
This function

[2017-05-11 09:39] aretecode commented on #168
- [ ] multiple html files,
- [ ] callback or config for output paths for use when deploying,
- [ ] adding assets (imgs, fonts, styles),
- [ ] outputting as an html file,
- [ ] ordering script tags

[2017-05-11 09:50] eddow commented on #330
Up - about the sourceMap full path
The work-around is tough to get working (I still didn't succeed) and, anyway, it is a workaround...
Sourcemap path would - I think - definitely deserve several kind of treatment - at least one for the server and one for the client. Indeed, the present behaviour is perfect client-side - so the `srcRoot` solution is relevant

[2017-05-11 12:29] rquast opened #520 "Create a Service Worker plugin or boilerplate code example."
I am requesting a new feature:

A service worker plugin, similar to the popular offline-plugin for webpack.

https://github.com/NekR/offline-plugin

Initially, just some boilerplate code/example to do this would be enough, if the task is too big.

Thanks!

[2017-05-11 21:54] eddow opened #522 "Package exports"
If I understood well, a bundle should expose the exports of its main file.
Well, it just doesn't - we tried with @devmondo
I made a little repository here:  https://github.com/eddow/fuse-exports-bug
There is 20 lines of code in total.

[code]
Trying this, we can see that the imported member is undefined

[2017-05-12 13:10] daflair commented on #430
I got a similar error (slightly different stack-top) and traced it as follows:

**Condition:**
- using a `+ [… whatever]/**/*.ts` glob
- having a `.d.ts` file matching that glob
- I'm using 2.0.0-beta.6 with Typescript 2.4.0-dev.20170430

**Stack:**
[code]

**Resolution:**
Changed globs to `**/index.ts`

** Downside:**
If it is not imported by an index or it extension, it is not bundled!

[2017-05-12 13:40] guillaume86 commented on #145
@xdave I'm interested in this as __rest is not in the TypescriptHelpers plugin.
How did you get the importHelpers flag to work in fusebox?
I tried adding tslib to the project and setting the flag in my tsconfig but it doesn't seem to work.

[2017-05-12 13:43] guillaume86 opened #523 "__rest helper missing in TypeScriptHelpers plugin"
It would be nice to have this one as well :)

[2017-05-12 14:00] nchanged commented on #430
@daflair please upgrade to `fuse-box@2.0.0` it has been released ;-)

[2017-05-12 14:03] eddow commented on #430
Yes, it's the .d.ts files that make a problem - and it is still present in 2.0 unfortunately ...
This is a hack to make things work :
"+ [whatever/**/*.ts] - whatever/**/*.d.ts"

[2017-05-12 16:14] devmondo commented on #523
@guillaume86, we are thinking of deprecating this plugin, as with Typescript 2.2 and higher u dont need this anymore, just install TSLib https://github.com/Microsoft/tslib

[2017-05-12 16:50] devmondo commented on #522
@nchanged can we look at this with priority

[2017-05-12 18:05] guillaume86 commented on #523
Thanks it did the trick (don't know why it wouldn't work earlier today...).

[2017-05-12 18:05] #523 closed

[2017-05-12 19:09] devmondo commented on #523
maybe cache :)

[2017-05-12 20:02] xdave commented on #145
Use this

[code]

[2017-05-12 20:03] xdave commented on #145
I am not using the TypescriptHelpers pllugin

[2017-05-12 20:03] guillaume86 commented on #145
Thanks it was probably a cache problem it works now.

Le ven. 12 mai 2017 22:02, xdave <notifications@github.com> a écrit :

[2017-05-12 20:16] arabsight commented on #522
using fuse-box api you can access the exports:
[code]

[2017-05-12 20:58] devmondo commented on #522
@arabsight that is true, but we should be able to access it like any NPM package and that is what `package` option provides

[2017-05-12 22:36] nchanged commented on #522
@eddow how about that one? http://fuse-box.org/page/configuration#global-variables

[2017-05-13 05:42] eddow commented on #522
Well, this is a way of exporting values, yes - that's not the way NPM does for a good reason : if all libraries export on the global object, this one is going to end up "full".
Here, I noticed that trying to use Fuse for my npm libraries indeed - and I can definitely not publish a general library that demands a special syntax for import aka `FuseBox.import('pack/index.js')` nor that exposes its fu

[2017-05-13 11:47] tomitrescak commented on #477
Guys, sorry for the delay, was busy with congress preparations.

I just cloned the repo and upgraded the fuse-test-runner to 1.0.13 and all worked out of the box got all test running in wallaby and in wallaby app.

Can you confirm that all works for you ?

I am also preparing a rather large blog post on testing React front end with fuse-test-runner, will let you know before I post it for your revi

[2017-05-13 12:16] nchanged commented on #477
@tomitrescak great news! if you planning on doing it on medium, would you consider submitting it over [here](https://medium.com/fusebox) ?

[2017-05-13 13:35] devmondo commented on #477
@tomitrescak I upgraded to latest using your repo, but I still get this error with wallaby
[code]

@nchanged i don't know if this log helps out
[code]

[2017-05-13 13:49] nchanged commented on #477
Worth a mention - you are running it on windows

[2017-05-13 13:58] devmondo commented on #477
yep, windows, it seems transpiling is not kicking somehow!

[2017-05-13 15:10] devmondo commented on #477
@tomitrescak @nchanged, I finally solved it!
wallaby was using node version 4 by default. once I set it to latest, all worked out!

it is awesome, fully working and as fast as rocket!!! thank you very much, Mr. @tomitrescak

[2017-05-13 15:45] devmondo commented on #522
@eddow, i cloned your repo and i was able to make it work, you just did not do correct NPM conventions :)
first, you need to provide `package.json` file in your npm package folder.
second, your bundled file name is `bndl` because of the below you did
[code]

if you do that, you need to add `main` property to your npm package `package.json` so any bundler would know that this is the entry file. oth

[2017-05-13 19:42] JiDai opened #525 "If bundle name contains dot, no extension will be added in output file"
Hi,

[code]

Will generate a `dist/my.app` file instead of `dist/my.app.js`

[2017-05-13 20:20] eddow commented on #522
So, as we were chatting, I don't understand how an external script (not transpiled nor using Fuse) can access "pack" as there are no `pack.js` file.
Also, the test-repo is still giving `undefined` after `node fuse` - `node test`; I am afraid I miss something on the resolution.

[2017-05-13 20:46] marko-mlinarevic opened #526 "sass and postcss in fusebox"
This is my code for css

`
[
            SassPlugin({ importer: true }),
            PostCSS({
                plugins: [ 'autoprefixer' ],
            }),
            CSSPlugin({ group: 'app.css', outFile: './dist/app.css' })
        ]
`

I get error
`TypeError: plugin is not a function
    at LazyResult.run (E:\Stacks\fuseBox\node_modules\postcss\lib\lazy-result.js:270:20)
    at LazyResult.asyn

[2017-05-13 21:26] devmondo commented on #522
@eddow your package output should be used as npm link on mac or use `customModules` fuse feature if u r on windows as there is a problem with symlink on windows. all of this is required only for local testing!
if you bundle your project after i added the fix and publish it to npm it should work.

let me know if you need more details, i still have a doubt that you are not acquainted with NPM packag

[2017-05-13 21:37] devmondo commented on #526
@marko-mlinarevic looks like a `postcss` plugin issue, are you sure you installed required `postcss` plugins?

in simple words, make sure you install any postcss's plugin you want to use as we don't ship them by default.

so i doubt you need to install `autoprefixer` plugin in your project.

[2017-05-13 21:39] marko-mlinarevic commented on #526
I installed it already

my package.json file

`
  "dependencies": {
    "bulma": "^0.4.1",
    "fuse-box": "2.0.0-beta.22",
    "node-sass": "^4.5.2",
    "typescript": "^2.3.2",
    "vue": "~2.3.2",
    "vue-template-compiler": "~2.3.2",
    "autoprefixer": "^7.0.1",
    "postcss": "^6.0.1",
    "vue-template-es2015-compiler": "~1.5.2"
  },
  "devDependencies": {
    "autoprefixer": "^7.0.1",

[2017-05-13 21:47] eddow commented on #522
I think there is a real misunderstanding on what to achieve.
If a file touches its `module.export` and set a value in there, there is no question of symlimk.
If a file.js sets `module.exports = { test: 42 };`, it will export a test-value of 42 - under mac, windows or whatever.
Here, the bundle file only exports `{ FuseBox: [Object] }`

I tried to publish a little library : https://www.npmjs.com/pa

[2017-05-13 21:52] nchanged commented on #526
@marko-mlinarevic are you sure your config is wrapped?

[code]
+ maybe ` PostCSS({ plugins: [require( 'autoprefixer') ], })` ?

[2017-05-13 21:53] nchanged commented on #525
That's not a bug, but expected behavior.  FuseBox thinks that you set an extension

[2017-05-13 21:55] marko-mlinarevic commented on #526
I needed to do this

`[require( 'autoprefixer')`

now this is passing

[2017-05-13 22:05] eddow commented on #522
okokokok - I understood by looking at the loaderAPI : it was indeed in the 'global' configuration; @nchanged was right and I misunderstood the meaning of "global".
The "global" configuration indeed doesn't modify the global variable (global/window) but the global exports of the bundle - I look more but I reached some results already.

[2017-05-13 23:02] eddow commented on #522
So, after readings and testing, I understand better now the logic under "globals".
I still see a little problem though, in how the configuration sometimes writes in the global object (in browser), sometimes in the exports (in node)
If someone wants to make a library, the library is to be used without knowledge of the bundler used to build that library - so, the one who `require` the bundle shouldn

[2017-05-14 06:08] #526 closed

[2017-05-14 08:29] JiDai commented on #525
Ok, I expected there will be an extension because I put `.js` in output setting

[2017-05-14 09:49] marko-mlinarevic opened #529 "ElementUI library usage throws error document not defined"
I'm trying to add ElementUI framework that is built on vue to the project. This is my fuse.js file

[code]

and this is my error log

[code]

[2017-05-14 11:01] nchanged commented on #529
Hi,
What is `require('element-ui')` on the fuse plugin list? You can't put non-fusebox plugin there.

[2017-05-14 12:22] devmondo commented on #529
@marko-mlinarevic all of the below should be required in your app code and not `fuse.js`
[code]
and all should work

[2017-05-14 15:04] marko-mlinarevic commented on #529
now I get this

⠼ dev server running http://localhost:4444{ message: 'File contents for E:\\Stacks\\fuseBox\\node_modules\\axios\\package.json were not loaded. Missing a plugin?' }

[2017-05-14 15:20] devmondo commented on #529
@marko-mlinarevic  you forgot to add [`JSONPlugin`](http://fuse-box.org/plugins/json-plugin) to fuse :)

[2017-05-14 15:21] devmondo commented on #522
@eddow check the new [npm package seed](https://github.com/fuse-box/fuse-box-npm-package-seed) we have

[2017-05-14 16:29] marko-mlinarevic commented on #529
That solved it... thanks, and I'm officially going to move from webpack to fusebox

[2017-05-14 16:29] #529 closed

[2017-05-14 16:58] eddow commented on #522
That seed is a pretty good idea.
Now, I got bad news ... it doesn't seem to work ...

I git-cloned `fuse-box-npm-package-seed` in the `node_modules` of an empty project (of course `npm install` and `node fuse`) and wrote a test `index.js` :
[code]
 The result is how I expected somehow : `[ 'FuseBox' ]`

[2017-05-14 17:45] fullc0ntr0l opened #530 "Stop method on fuse.run"
When I'm clossing electron window, fuse.run() is still there and running. How I would stop it inside this promise? Can't find anything inside docs. Can we have some featured methods?

  if (electron) {
    const electronWindow = spawn('${__dirname}/node_modules/electron/cli.js', ['electron.js']);
    electronWindow.on('close', (code) => {
      console.log(code); // How I would stop bundle here?

[2017-05-14 17:47] devmondo commented on #522
@eddow, u have to clone it, and npm link it then in your other project you can use it. or publish it online and install it.

it really works, we have at least 10  shared libs like this on our team :)

[2017-05-14 17:48] devmondo commented on #529
@marko-mlinarevic thank you very much for putting your trust and patience in us, we hope that we will keep you happy :)

[2017-05-14 17:58] devmondo commented on #530
we will solve this, but for now, you can do `process.exit() ` :)

[2017-05-14 17:59] Inlustra opened #531 "Importing a node_module with imports in JS"
To explain the issue, I've created a repository with an example package that causes the issue at:
https://github.com/Inlustra/fusebox-ionic-import-bug-test

**The issue:**
Importing the @ionic-native/facebook module causes an `Uncaught SyntaxError: Unexpected token import` when using it in the browser.

The cause for this is that the module itself imports other files:
[code]

How do you get around

[2017-05-14 18:00] devmondo commented on #525
will close this for now, let us know otherwise :)

[2017-05-14 18:00] #525 closed

[2017-05-14 18:00] eddow commented on #522
Ok, could you publish it then? or should I?
note: I see in the package.json that fuse-box is in the dependencies - I understand why it is in the dev-dependencies but I would make a test without dependencies to export a const string

[2017-05-14 18:31] devmondo commented on #531
@Inlustra , that is because the code above is not transpiled :)

[2017-05-14 18:33] devmondo commented on #531
you need to use Typescript or babel plugins to compile your code to es5
http://fuse-box.org/plugins/babelplugin or
http://fuse-box.org/page/typescript

[2017-05-14 18:36] devmondo commented on #522
@eddow you can publish it to test it.

FuseBox is there because it is a seed project so people can run it, bundle it :)

[2017-05-14 18:38] devmondo commented on #522
oh crap, I see what u mean, fixed and pushed, thank you :)

[2017-05-14 18:39] Inlustra commented on #531
@devmondo Thanks for the swift response!

For context, this using ionic, Webpack was handling the compilation automatically and I guess I haven't really understood how to easily do this with fuse-box.

Is it safe to say then that I would need to compile the modules manually using typescript before going through fusebox?

[2017-05-14 18:46] devmondo commented on #531
@Inlustra , u r welcome :) all bundlers need to transpile something, in your case, it is really simple, you have es5 code that browser don't understand (import statement) so u need to plug in a transpiler.

i it is really simple, check our ionic seed https://github.com/fuse-box/fuse-box-ionic2-seed

[2017-05-14 18:48] devmondo commented on #531
oh, and just to make sure, i was clear, fusebox has typescript support built in, you just need to set your typescript config if you want :)

[2017-05-14 18:50] devmondo commented on #531
by the way, your fuse.js looks fine, try to clear `.fusebox` cache folder and rebundle.

[2017-05-14 18:54] devmondo commented on #531
also, just so you would know, we are going to auto transpile `import` statements in the near future for you, stay tuned for awesome new enhancements coming to a cinema near you :)

[2017-05-14 19:14] Inlustra commented on #531
@devmondo Hmm, I've tried removing the .fusebox folder to no avail. Is there a way I can get more detailed logging of the typescript output other than: http://fuse-box.org/page/configuration#debug-and-log ?

The output was:
[code]

Again thanks for taking the time!
As for the new features; awesome, I look forward to ditching Webpack!

[2017-05-14 19:35] eddow commented on #522
https://www.npmjs.com/package/fuse-box-npm-package-seed
https://github.com/eddow/fuse-exports-bug
The file test-npm contains `console.dir(Object.keys(require('fuse-box-npm-package-seed')));` (with `npm install` after `git pull`)

And desperately the same result : `[ FuseBox ]`

Please try,
[code]

[2017-05-14 20:11] devmondo commented on #531
@Inlustra, please don't give up, we will help you till it works :)

i downloaded your sample and found out many issues
* Your `tsconfig` is not set to ` "module": "commonjs",` and ` "target": "es6" `
* The `@ionic-native/facebook` has es6 code inside of it!!! and Typescript won't reach it, this is why we add babel plugin like this to fix it `BabelPlugin({limit2project: false})`
* you don't have an

[2017-05-14 20:36] devmondo commented on #522
@eddow thank you very much for your patience, I think you helped us discovering a bug :) it seems that fuse can't find the entry file of your npm package if the `main` property in `package.json` for that package is not pointing to an entry file in the root.

so this wont work for now` "main":"./dist/index.js"` but this works ` "main":"./index.js"` .
so for now if your bundle output goes to package

[2017-05-14 20:38] Inlustra commented on #531
@devmondo You put me to shame!

I purposefully didn't add the required libs rather to just demonstrate the lack of transpilation :)

Perhaps this is something that could be added to the https://github.com/fuse-box/fuse-box-ionic2-seed ?
I think all of the @ionic-native packages will likely have the same issue, when I get a moment I could possibly put in a pull-request even if it's just to add it t

[2017-05-14 20:40] devmondo commented on #531
@Inlustra  awesome man:) we are soo happy that u r feeling better with fuse.

please don't shy from doing your PR we need your help :)

[2017-05-14 20:40] #531 closed

[2017-05-14 21:05] nchanged commented on #522
Sorry, that was closed automatically ;-)
I guess we could do a beta to test it right?

[2017-05-14 21:07] nchanged commented on #522
Please. verify it with `fuse-box@2.1.0-beta.1`

[2017-05-14 21:09] devmondo commented on #522
@eddow, could you please try `npm install fuse-box@2.1.0-beta.1` and let us know :)

[2017-05-15 05:48] eddow commented on #522
So, I made some tests with no luck yet.
What I did :
- In `fuse-box-npm-package-seed`:
[code]
- in `fuse-exports-bug`:
[code]

I got the annoying usual `[ 'FuseBox' ]` (reminder: it's the export's object keys, it means only `FuseBox` is exported)

I should give you the access to the fuse-box-npm-package-seed npm package : I don't know how this work, that's why I proposed you to publish it :p - so

[2017-05-15 08:09] nchanged commented on #522
@eddow I will look into this bug ASAP, I know it's origin.

[2017-05-15 20:20] xdave commented on #332
Using the ReplacePlugin is broken for me.

When I add:

[code]
to my config, it throws an error when bundling:

`(node:20118) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 6): TypeError: Cannot read property 'replace' of undefined`

[2017-05-15 21:30] geowarin commented on #332
The [env plugin](http://fuse-box.org:3333/plugins/env-plugin) works for me `EnvPlugin({ NODE_ENV: "production" })`.

[2017-05-15 22:56] marko-mlinarevic opened #537 "Element imports whole VueJS library whenever a module is imported on demand"
in my app file I have

[code]

and this is my fuse.js

[code]
There was a same problem with webpack and they said in that post

https://github.com/ElemeFE/element/issues/2553

that the solution is using "webpack commonsChunk" is there something like that for fuse.js

[2017-05-15 23:29] devmondo commented on #332
@xdave  is it still an issue ? @geowarin says it works for him

[2017-05-15 23:32] devmondo commented on #537
@marko-mlinarevic  u can try code splitting http://fuse-box.org/page/code-splitting
it is the equilibrant of webpack's common chunk

[2017-05-16 06:17] nchanged commented on #537
I don't think it's related to code splitting. Does the Vue dist contain everything in the first place?

[2017-05-16 06:49] devmondo commented on #537
@nchanged he is using `import * as element from 'element-ui'` and if you check it here https://github.com/ElemeFE/element/blob/dev/src/index.js you would see why this is happening.

So, I think he needs to split his code, maybe i am wrong :)

[2017-05-16 07:12] nchanged commented on #537
@devmondo code splitting works on your default project only. There is something else we need to do

[2017-05-16 07:59] guillaume86 opened #538 "Shimming issue when using a separate vendor bundle"
I'm using shimming for jQuery and including it in my vendor bundle:

[code]

It works fine with the production bundles, but in dev mode (hmr + watch), it works at first launch then fails after a hot reload occurs (after I change a source file). Once it has failed, the only solution is to clear the cache before starting the server again.

I just get an error `Uncaught Package not found jquery` in t

[2017-05-16 08:29] nchanged commented on #538
Thanks for reporting! We will get to it soon.

[2017-05-16 10:49] aretecode commented on #509
https://github.com/fuse-box/fuse-box/blob/master/src/core/WorkflowContext.ts#L400 in refactor, this should be in plugin

[2017-05-16 11:04] nchanged commented on #509
@aretecode this should NOT be in a plugin. Typescript should work without plugins in fusebox

[2017-05-16 11:17] aretecode commented on #509
@nchanged for code structure, was meant to be on this https://github.com/fuse-box/fuse-box/issues/511

[2017-05-16 11:22] devmondo commented on #537
@nchanged  u r correct, but that is why webpack advised him to do chunking, the way this lib is structured is cumbersome as it is. so we indeed we need a solution

[2017-05-16 11:59] josdejong opened #540 "How to generate an UMD library?"
I'm trying to create a library that can be used both in node.js and the browser, a standalone UMD library. With some puzzling with the configuration of package name and globals I managed to generate a bundle that can be used from node.js, but I can't manage to get the library working in a browser by exposing it on `window`. This is my configuration:

[code]

In node.js I can use the library like:

[2017-05-16 13:39] nchanged commented on #540
Hi!
I think your main file is wrong
You homDir points to `src`

[code]
Could you try it without src?

[2017-05-16 13:47] josdejong commented on #540
Thanks for your fast reply. I tried `main: 'index.js'` and `main: './index.js'`, both no success in the browser (and all work fine in node.js)

[2017-05-16 14:03] nchanged commented on #540
Could you copy paste the last bit of your bundle? It can find by searching for `FuseBox.expose`

I will check the functionality later on today, to verify it.

[2017-05-16 14:09] josdejong commented on #540
I think you mean this part of the bundle:

[code]

[2017-05-16 14:15] nchanged commented on #540
@josdejong thanks a lot for your patience. I confirm the bug related to the recent change to the [root](https://github.com/fuse-box/fuse-box/blob/master/src/loader/LoaderAPI.ts#L58)

It points to an external FuseBox reference where all modules are stored. That will be fixed today/tomorrow.

[2017-05-16 14:15] josdejong commented on #540
That's good news, thanks for all your work!

[2017-05-16 14:19] aretecode commented on #540
@josdejong https://twitter.com/_developit/status/844260377546440705

[2017-05-16 14:22] josdejong commented on #540
@aretecode I don't use AMD myself but when publishing a library I think it's still relevant to have it working in AMD too.

[2017-05-16 16:24] geowarin commented on #258
Piggybacking on this issue.
I'm using [reactstrap](https://github.com/reactstrap/reactstrap) which defines several fields in its [package.json](https://github.com/reactstrap/reactstrap/blob/master/package.json#L5-L7).

Those are: `main`, `jsnext:main` and `module`.
The main field refers to the minified package and this is causing some issues for me (warning that I might be using the minified versi

[2017-05-16 16:25] geowarin commented on #258
More info [here](https://github.com/rollup/rollup/wiki/pkg.module)

[2017-05-16 19:01] nchanged commented on #538
I can't seem to reproduce your issue. Could you check [this](https://github.com/fuse-box/jquery-shimming-example) repository please?

[2017-05-16 19:10] guillaume86 commented on #538
Ha, so there must be something else causing this. I'm trying to reproduce the minimal case and get back to you.

[2017-05-16 19:25] devmondo commented on #258
@geowarin good idea! we are studying it, stay tuned and we are extremely sorry for the delay :)

[2017-05-16 19:31] guillaume86 commented on #538
I didn't manage to reproduce in the minimal repo it's weird, but I did fixed my issue by removing `.watch().hmr()` from my vendor bundle!

Sorry for the waste of time...

[2017-05-16 19:37] nchanged commented on #540
@josdejong false alarm!
After an investigation, it turns out you are using globals wrongly.  By setting `*` you are actualy exposing every single **exported** object to window. To achieve want you want, please change `*` to any suitable name.

I have prepared a [github](https://github.com/fuse-box/fuse-box-globals-example) example and updated the [docs](http://fuse-box.org/page/configuration#globa

[2017-05-16 19:39] nchanged commented on #538
@guillaume86 no worries, I wonder is `watch` is killing it. Does it work with `hmr()` in place?

[2017-05-16 19:48] guillaume86 commented on #538
So it gets weirder... I just restarted the dev server and I have the jquery not found again.

The issue was just delayed it seems:

1. with .hmr().watch() on vendor
- clean .fusebox
- start server
- open in browser OK
- change file
- browser fails (via HMR)
- restart server
- open in browser fails

2. without .hmr().watch() on vendor
- clean .fusebox
- start server
- open in browser OK
- change fi

[2017-05-16 20:36] nchanged commented on #522
Should be fixed in here `fuse-box@2.1.0-beta.2`

[2017-05-16 20:55] nchanged commented on #538
So odd.. can't reproduce any of that ;-((
Doesn't work at all for you?

[2017-05-16 20:57] nchanged commented on #537
@marko-mlinarevic so webpack solved by NOT bundling some files from that repository?

[2017-05-16 21:07] devmondo commented on #522
i confirm on my side it works :)

[2017-05-16 21:09] devmondo commented on #538
i confirm on my side it works now!

@guillaume86
* upgrade to latest beta
* make sure delete cache
* make sure to delete dist folder
* show us your full config :)

[2017-05-16 21:36] geowarin commented on #258
@devmondo Usually, when you say that, it means the problem is about to be solved. :smile:

Anyways, no worries, it's just a warning message for now.
I'll try to see if shims solve my problem tomorrow.

Keep it up, guys. :+1:

[2017-05-16 21:42] geowarin commented on #258
Now that I think of it, I might deserve its own issue.
Preferring `module` to `main` when available should also improve uglify/rollup performance, don't you think?

[2017-05-16 21:51] nchanged commented on #258
@geowarin I think fuse already taking into consideration `jsnext:main` over here
https://github.com/fuse-box/fuse-box/blob/master/src/core/PathMaster.ts#L331

But it will be extended to `target("browser")` and handled accordingly

[2017-05-17 03:59] xdave commented on #332
Env plugin works fine.  It injects the variables into the environment through the global `process` object.  That's not the issue here.  The issue is, we want the if branches that check for it's value to be optimized.   ie. dead code removal when it checks if you're comparing `'production' === 'production'`.

[2017-05-17 07:39] josdejong commented on #540
Changing `myLibrary: '*'` to `myLibrary: myLibrary` indeed solves the issue in the browser, but that gave a problem with node.js: you then have to load the library like `const { myLibrary } = require('myLibrary')` instead of `const myLibrary = require('myLibrary')`. I found the configuration I'm looking for by using `default` global and removing the package name:

[code]

Thanks for your help and

[2017-05-17 08:11] guillaume86 commented on #538
I tried the latest beta with the usual clearing everything and still has the issue, it's not a dealbreaker as I just need to include the shims in the app bundle in dev mode to workaround, the dist/ bundles are ok.

Here's my config for reference (extracted the revelant parts from my gulpfile):

[code]

[2017-05-17 08:23] guillaume86 commented on #538
@nchanged would it help if I sent you the vendor.js from my dev folder? or do you need to look at something in the app.js too (I can look for you but not share it unfortunately).

[2017-05-17 08:30] nchanged commented on #538
It would help if you managed to reproduce the issue  in a repository ;-)

[2017-05-17 08:53] guillaume86 commented on #538
I tried from your example repo but didn't manage, I don't know what's different in my ~300 .tsx files project...

I diffed the broken and working vendor.js files and here's what I found:

![image](https://cloud.githubusercontent.com/assets/441850/26145813/2c6a1a6a-3aee-11e7-8cdf-f399ba739a1e.png)

[2017-05-17 10:01] aretecode commented on #332
@xdave I'm confident replace plugin & envplugin does work for this, I made a minimal example testing it

[2017-05-17 10:36] devmondo commented on #332
@xdave yes i remember @aretecode  discussing this and it even works with minification too, to achieve what you want

[2017-05-17 12:14] whitecolor opened #541 "Import module issue with HMR"
fuse-box 2.0.0
The issue can be reproduced with the repo https://github.com/whitecolor/fuse-box-xstream
[code]

[2017-05-17 14:21] devmondo commented on #541
@whitecolor
just cloned your repo and everything works fine, just make sure you do the following
* install xtream and loadash deps from npm
* install the latest fuse beta `npm install fuse-box@^2.1.0-beta.2` ( not required, just to make sure)
* clear `.fusebox` cache folder
* `node fuse.js` (after you compile `fuse.ts` it as you did it with typescript)

here is a picture to show you how it is runn

[2017-05-17 15:12] devmondo commented on #541
will close this for now, let us know otherwise :)

[2017-05-17 16:27] eddow opened #542 "Vue import are not bundled"
When a `file.vue` imports a module (local or npm), this one is not included in the result bundle, resulting in an `Error: Cannot find module`

https://github.com/eddow/eddow-bug-expo/tree/vue-import

[2017-05-17 16:46] devmondo commented on #542
it is `import * as testImp from './testImp'` not `import * as testImp from 'testImp'` as it is relative file and not node module.

will close this for now, feel free to open otherwise :)

[2017-05-17 16:48] eddow commented on #542
The typo is corrected - the bug is still there

[2017-05-17 17:25] RPDeshaies opened #543 "Using UglifyJS with sourceMap is not handled by the browser"
Here's the fusebox Config :

[code]

The `app.js` and `app.map.js` files are generated but my browser (Chrome) doesn't detect the source

![image](https://cloud.githubusercontent.com/assets/6224111/26167290/63878bac-3b04-11e7-87e3-ef9b3528a214.png)

[2017-05-17 17:29] nchanged commented on #543
We never handled it. It's possible but requires an update to the UglifyJS Plugin.

[2017-05-17 17:42] whitecolor commented on #541
See this is my flow with this repo:
![fuse-box-xstream-issue](https://cloud.githubusercontent.com/assets/736697/26168009/17d4e65c-3b52-11e7-8406-9c567a1fbebb.gif)

[2017-05-17 17:44] xdave commented on #332
I upgraded from an old 2.0 beta, removed the EnvPlugin, and changed the order of plugins so that ReplacePlugin appears last, and it seems to work.

[2017-05-17 17:45] devmondo commented on #332
@xdave, awesome, we shall close this now, feel free to open it otherwise :)

[2017-05-17 17:49] devmondo commented on #541
something is weird, it is really working, I tried npm install and not yarn, maybe yarn is the issue?

[2017-05-17 17:54] whitecolor commented on #541
Not sure how it can even be related. But I removed `node_modules` and made `npm install` - **the same result**.

Did you follow the flow described: Load page, first uncomment first two lines (debounce), reload should occur, and then uncomment the rest two lines (throttle)?

[2017-05-17 17:58] devmondo commented on #541
please, nuke your node_modules folder, fuse cache folder and build folder, start fresh.

I assure you that i followed something is really off! try to nuke everything, including your build folder!

[2017-05-17 18:06] marko-mlinarevic commented on #537
@nchanged yes

[2017-05-17 18:12] whitecolor commented on #541
Well I do this, the same result, maybe someone else will try? I'm doing this on Windows, though not sure why it should really matter for this case.

[2017-05-17 18:14] devmondo commented on #541
@whitecolor, i am on windows too!

[2017-05-17 18:42] Ebuall commented on #541
Having exactly the same on linux
![screenshot_20170517_214023](https://cloud.githubusercontent.com/assets/10381141/26170323/b7d9f52e-3b49-11e7-80f3-c7b444ecfdea.png)

[2017-05-17 19:11] nchanged commented on #541
Ok, when you first load the page, your bundle doesn't contain the target library. On an HMR you are getting an error, and fusebox is trying to reload the page cuz the module wasn't loaded at all. My assumption is that something wrong happens in between.

Does it work for you if you bundle with uncommented section of your code, and keep working?

[2017-05-17 19:12] nchanged commented on #537
@marko-mlinarevic this has to wait for 2.1.0+ where tree shaking will be introduced. It will remove these modules automatically. Keep tracking this issue.

[2017-05-17 19:14] nchanged commented on #540
@josdejong indeed that is not the case, I will fix that ;-)
Closing the issue now, feel free to re-open elsewise ;-)

[2017-05-17 19:14] #540 closed

[2017-05-17 19:55] nchanged commented on #258
@alloy @geowarin let's verify `fuse-box@2.1.0-beta.3` and close it already...

Don't forget to set `target("browser")` [here](http://fuse-box.org/page/configuration#target)

[2017-05-17 20:43] whitecolor commented on #541
Yes of course it works, check the repo yourself.

[2017-05-17 21:53] nchanged commented on #541
Well I don't have any problem there, whatsoever ;-) like @devmondo
NodeJs version?

[2017-05-17 22:19] whitecolor commented on #541
v6.10.2

[2017-05-17 22:29] devmondo commented on #541
could you update to latest node please and see

[2017-05-17 23:32] aretecode opened #544 "glob for which files to cache"
https://github.com/fuse-box/fuse-box/issues/488
should be able to use a glob to match which files to cache, and/or which to ignore

[2017-05-17 23:33] aretecode opened #545 "modulesFolder loses files"
https://github.com/aretecode/fuse-flop

- files are in the bundle
- running the code says the request cannot be found, even though the files are in the bundle

[2017-05-18 00:30] aretecode commented on #541
I tried

## setup
- used yarn install
- ran watch with yarn
- followed these steps https://github.com/fuse-box/fuse-box/issues/541#issuecomment-302170461
- on mac with node 7.10

## result
- worked for hmr
- had no errors

[2017-05-18 07:03] nchanged commented on #545
@aretecode you can't require files outside of a modules homeDir` here https://github.com/aretecode/fuse-flop/blob/master/example/modules/eh/index.js#L1

[2017-05-18 08:32] aretecode commented on #545
@nchanged why? it *includes my files in the output bundle* https://github.com/aretecode/fuse-flop/raw/master/Screen%20Shot%202017-05-17%20at%202.35.12%20AM.png

[2017-05-18 10:45] nchanged commented on #545
@aretecode it won't work =) that's against fusebox concepts

[2017-05-18 16:59] whitecolor commented on #541
I'm installed latest stable 6.10.3, the same result.

[2017-05-18 17:32] whitecolor opened #547 "Add ability to pass chokidar options"
Add ability to pass chokidar options.

[2017-05-18 17:46] whitecolor commented on #541
I've added watch via docker and latest node image, it should use more immutable environment, please try it, see changed instructions in readme.

[2017-05-18 17:51] nchanged commented on #547
Be more specific,  please where and why?

[2017-05-18 17:56] whitecolor commented on #547
For example `usePolling` is needed for watching docker attached volume (on docker for windows), and other SMB attached volumes would require the same. I think that probably other options maybe needed as well in some scenarios.

But if you wan't to abastract this layer from chokidar, well this issue maybe about adding `polling` option to watch.

[2017-05-18 17:57] nchanged commented on #547
Have you tried that one? http://fuse-box.org/page/sparky#watch
you can pass options there. `watch` on a bundle works differently

[2017-05-18 18:11] jperezdavinchi opened #548 "modulesFolder import empty"
Good afternoon,
I hope someone could help us.
We are developing a web framework and we would like to import it inside the project using the npm name (for developing purposes)

We have the project divided into 2 parts, each one with his own fuse-box bundle:
- dev: Playground, with```homeDir``` to the root of the project and with ```modulesFolder``` to ```dev/modules```.
- src: The source, with ```h

[2017-05-18 18:21] devmondo commented on #541
@whitecolor, I really think this is some OS related or hardware issue on your side. This is crazy as per above you can see that 3 different people on 3 different OSes and machines cloned and tried your repo, and there was no issue.

@nchanged  is there anything else possible we are missing, you might think of here?

[2017-05-18 18:24] whitecolor commented on #541
@devmondo did you tried docker version?

[2017-05-18 18:26] nchanged commented on #548
@jperezdavinchi Hi!
A warm welcome to the community!

We will solve your problem, no worries. But before that, it would be nice to have a test repository, it's a little hard to grasp at once what are you trying to achieve here.

* How are you requiring your submodules?  If you use the actual bundle - you should not use file exports from a virtual package explicitly (there is only 1 file)

* You pa

[2017-05-18 18:35] nchanged commented on #541
I just tried it.
![tesss](https://cloud.githubusercontent.com/assets/1629088/26217907/6c31c8fc-3c09-11e7-98d3-3061feb53231.gif)

No success;-( i mean failure.

[2017-05-18 18:36] whitecolor commented on #547
@nchanged it is not clear for me from docs what it is about.

I'm talking about watching sources for bundling, in such config

[code]

[2017-05-18 18:41] nchanged commented on #547
## Sparky
Sparky is a Task-Runner like Gulp or Grunt, but what sets it apart is that it is built on top of FuseBox technology. This means that it takes benefit of the whole architecture behind, This includes an ability to use FuseBox plugins and many other things.
----

`.watch()` on bundle works differently. But with sparky you can pass anything you like there and launch a process manually

[code

[2017-05-18 18:41] whitecolor commented on #541
@nchanged
try just to uncomment last two lines, **first two should not be commented** when running first time, follow steps in updated readme.

[2017-05-18 18:44] devmondo commented on #547
@whitecolor,
if you use the approach above, you can pass whatever options to `chokidar` using `sparky` `watch`

the concept is simple, with ` app.exec()` you basically manually kick bundling, which will achieve what you want.

[2017-05-18 18:44] whitecolor commented on #547
@nchanged why not add such ability to :

[code]

[2017-05-18 18:45] nchanged commented on #547
@whitecolor because a producer can have many bundles in it. In fact `run()` initiates everything

[2017-05-18 18:47] nchanged commented on #541
No matter how I tried, I cannot reproduce the issue

![sss222](https://cloud.githubusercontent.com/assets/1629088/26218374/0baa2446-3c0b-11e7-972e-0f8f4fe46ec2.gif)

[2017-05-18 18:54] whitecolor commented on #547
And what? Not sure why I understand why you can't:

[code]

[2017-05-18 19:07] nchanged commented on #547
@whitecolor because one chokidar instance is responsible to all the bundles in the producer. That's why

[2017-05-18 19:20] whitecolor commented on #541
This his still a `heisenbug` I too sometimes have no error.
![fuse-box-xstream-issue-docker](https://cloud.githubusercontent.com/assets/736697/26219574/efdb9d44-3c28-11e7-949e-3e05867bd762.gif)

[2017-05-18 19:22] nchanged commented on #541
Could it be related to how fast you click save?

[2017-05-18 19:29] whitecolor commented on #547
Then need to add this ability to pass this options in other place, without using sparkly, not to complicate config.

[code]

or here:
[code]

[2017-05-18 19:33] whitecolor commented on #541
I just save one time when I uncomment. It probably can relate to that change event is firing multiple times or something and fuse-box doesn't handle it well. Need to debug.

[2017-05-18 20:00] devmondo commented on #541
i think i know the issue, it is race condition, it happened to me with webstorm, try to open your project in notepad and not in VS code and see if this helps

[2017-05-18 20:02] nchanged commented on #547
It can be in `run()` options yes.

[2017-05-18 20:56] whitecolor commented on #541
I tried with nodepad++ (notepad doesn't hanldle well LF line endings). Error is still here. And see nothing wrong with handling events https://github.com/fuse-box/fuse-box/blob/master/src/core/BundleProducer.ts#L98 there is no any racing events.

[2017-05-18 21:29] devmondo commented on #541
man! your case is crazy, can you try it on another machine( real not VM)

[2017-05-18 21:32] whitecolor commented on #541
We tried (two different people) and get the error on two different machines windows and linux. I'm not sure why don't get the error. In some case it is still should occur. I will try to provide better example or debug myself.

[2017-05-18 22:26] nchanged commented on #541
@whitecolor I believe that can happen. We have been struggling for a very long to get it to the state where it is now, but it's not perfect. Let me know if can help debugging it.

[2017-05-19 06:56] jperezdavinchi commented on #548
@nchanged Hi!
Thanks for the welcome and for your fast answer.
I created a branch for test [here](https://github.com/haztivity/core/tree/fusebox)

All the submodules are imported with```import {submodule} from "@haztivity/core"``` I never import files directly like ```import {submodule} from "@haztivity/core/somefile"```, but the exports in the core bundle are (inside src folder)
[code]
I tried al

[2017-05-19 07:16] nchanged commented on #548
@jperezdavinchi I will check it later, but what is wrong for sure, is your `@` in the name.

`@` is used to identify a scoped package. So this should be renamed. You will use `@` when referring to your package though.

[2017-05-19 07:39] marko-mlinarevic commented on #537
Will do.. Looking foward to it

[2017-05-19 08:42] eddow opened #550 "Impossible package out of `default` client-side"
I noticed a problem that is easier explained than made a repository for.

Client-side, loading a dynamic file is done after XHR through `FuseBox.dynamic`. The third argument is the `options` argument that allows to specify a package.
[code]
This function is never (beside in tests) called with `options` set, Following is the call from `xmlhttp.onreadystatechange`
[code]
I checked and saw a file `pk

[2017-05-19 09:21] nchanged commented on #550
So this [part](https://github.com/fuse-box/fuse-box/blob/master/src/loader/LoaderAPI.ts#L569) doesn't make any difference?

[2017-05-19 10:49] hilarycheng opened #551 "Webpacket DefinePlugin Like Plugin ?"
I am migrating my project from webpack to fuse-box 2.0. I found a problem that I cannot find a DefinePlugin like replacement.

I have tried the following methods:
1. globals setup.
2. EnvPlugin
3. ReplacePlugin

all these plugins cannot replace/define a constants inside React JSX files.

Is there any way to do it ?

[2017-05-19 13:54] nchanged commented on #551
Hi @hilarycheng !
So [this](http://fuse-box.org/plugins/replace-plugin#replace-plugin) plugin doesn't work for you?

[2017-05-19 14:44] hilarycheng commented on #551
Finally, it works now. I just put the ReplacePlugin like the followings:

`
CSSPlugin(),
[
 BabelPlugin(),
 ReplacePlugin({ "VERSION": JSON.stringify("1.0") })
]
`
Originally, I haven't put the '[ ]' for those two plugins.

[2017-05-19 14:44] #551 closed

[2017-05-19 16:27] eddow commented on #550
well, as `opts` is never given, these two lines miss each another: (350-351)
https://github.com/fuse-box/fuse-box/blob/master/src/loader/LoaderAPI.ts#L350

`FuseBox.dynamic` register the path `pkg/file.js` in package `default`
`FuseBox.import` looks for the path `file.js` in package `pkg`

[2017-05-19 16:35] nchanged commented on #550
@eddow because you are not setting it

[code]

It's all simple.

[2017-05-19 16:43] eddow commented on #550
I was getting to this conclusion in parallel indeed - I guess then the user has to load the packages "manually" if he wants to do it with ajax, execute it and then import it.

[2017-05-20 06:58] nth-commit opened #552 "Any migration path from angular-cli?"
Has anyone been down this path?

Love angular-cli but it is painfully slow to build, compared to the couple of years I've had with JSPM. Would love to give FuseBox a try now.

[2017-05-20 07:23] xdave commented on #332
I am feeling free to open this.  After my initial tests, I was satisfied because a simple piece of code like this was removed with ReplacePlugin & UglifyJSPlugin:

[code]

However, if I use `require()` anywhere in one of these blocks, the packages that I'm importing using `require` are _still_ included in the bundle.  For example:

[code]
`some-pkg` is _always_ included.

If I alias `require` to s

[2017-05-20 07:29] xdave commented on #332
OK, it works if I use `FuseBox.import()` instead of require.  While this is nice, it would be nicer if my code didn't depend on the build system API.

[2017-05-20 07:33] xdave commented on #332
I suppose I have to explicitly add the package(s) in dev to the bundle in the `instructions()`:

[code]

[2017-05-20 09:44] xdave commented on #541
Happens to me, too

[2017-05-20 10:05] devmondo commented on #332
@xdave, when you use `FuseBox.import` you are doing lazy loading, so your file won't be bundled unless you explicitly say soo like you did here
[code]

another way to do it is using code splitting, did you check the example here? https://github.com/fuse-box/fuse-box-examples/blob/master/examples/code-splitting/fuse.js or react one https://github.com/fuse-box/fuse-box-examples/blob/master/examples/

[2017-05-20 10:07] devmondo commented on #552
@nth-commit welcome to FuseBox :)
did you check this example https://github.com/fuse-box/angular2-example ?
it so simple, fast and works :)

do you have any specific suggestions? we are opened ears :)

[2017-05-20 10:42] tobico opened #553 ".watch doesn't detect file changes on a mounted volume in Docker for Windows"
Docker for Windows (and also Docker for Mac) runs software inside of a Linux VM, with configurable volumes from the host system mounted in, so that your latest development code is accessible from the VM.

When my assets are being compiled by an instance of FuseBox running inside of Docker, with the `.watch` option on, changes to files on the host system are not detected by FuseBox. With FuseBox ru

[2017-05-20 11:13] arabsight commented on #541
I'm getting the error too (linux, node 7.10)

[2017-05-20 14:25] devmondo commented on #553
@tobico welcome :)

FuseBox uses `chokidar` under the hood, so it seems we need to add the ability to pass options for `chokidar` to use pooling. stay tuned, we are working on it :)

[2017-05-21 05:10] aretecode commented on #332
@xdave ah, now I see this as an issue indeed. The code is dead-dropped, but the require statements statements still parse and cause issues. Seems to be a fundamental part of the requiring and related to https://github.com/fuse-box/fuse-box/issues/545 since that also requires files that are not used in the bundle (though they _should_ be, opposite of this case, same core issue).

[2017-05-21 05:13] aretecode commented on #541
so windows & mac work, linux seems to have an issue...

[2017-05-21 05:33] nchanged commented on #332
This will be solved in 2.1+

[2017-05-21 06:25] whitecolor commented on #541
I'm getting this on Windows too, [you may see on my comment](https://github.com/fuse-box/fuse-box/issues/541#issuecomment-302170461)

[2017-05-21 06:38] nchanged commented on #541
You guys ... is it a blocker? :)

[2017-05-21 06:50] xdave commented on #541
Nope.  Tree-shaking is more important. :)

[2017-05-21 07:04] nchanged commented on #541
Good cuz I rather focus on a feature I am working ATM, it's quite an important one, and yes tree shaking is coming soon

[2017-05-21 12:26] devmondo commented on #541
out of interest, those of you who are facing this issue, do you have SSD drives or normal drives?

[2017-05-21 13:22] whitecolor commented on #541
Just an annoying bug.

SSD drives, Docker on windows uses SMB protocol

There is seem to be something wrong with a logic of injecting new dependencies, not platform specifics.

[2017-05-21 14:26] nchanged commented on #541
@whitecolor Does fuse refresh the page automatically? (Cuz it should if a package is not found)

[2017-05-21 14:52] devmondo commented on #541
@nchanged  could it be polling issue? should we test it with `chokidar` polling option?

[2017-05-21 16:16] thomas-jeepe opened #556 "Uglify-es"
Uglify-js recently came out with uglify-es, essentially uglify-js for es6.

How does one use uglify-es with fusebox?

[2017-05-21 16:47] nchanged commented on #556
We don't have this plugin just yet, feel free to create one :)

[2017-05-21 17:07] thomas-jeepe commented on #556
Thanks for the response. I might make one later, its not critical to me right now.

[2017-05-21 17:07] #556 closed

[2017-05-21 17:59] devmondo commented on #518
Fixed by #549

[2017-05-21 17:59] #518 closed

[2017-05-21 18:48] kylecordes commented on #324
This "just works" with NPM module resolution. If fuse-box could be tweaked to follow work with module resolution normally, then this library and others would work fine.

[2017-05-21 18:58] xdave commented on #541
Normal drive here.  Haven't tested on my laptop SSD.

[2017-05-21 19:09] nchanged commented on #553
http://fuse-box.org/page/development#chokidar-options

[2017-05-21 19:11] nchanged commented on #553
Please test the beta.

[2017-05-21 20:35] devmondo commented on #541
guys could you upgrade to latest beta we enabled passing options to `chokidar`  http://fuse-box.org/page/development#chokidar-options

let us know please :)

[2017-05-21 21:21] Tenvan commented on #552
Hi,
this sample didn't work with current angular 4.

[2017-05-21 22:25] nchanged commented on #324
This version should fix the bug `fuse-box@2.1.0-beta.7` please verify

[2017-05-21 22:25] devmondo commented on #552
@Tenvan check https://github.com/fuse-box/fuse-box/issues/324#issuecomment-302967564

[2017-05-22 01:52] aretecode opened #558 "convert gulp to sparky"

[2017-05-22 08:07] dziamid opened #559 "Uncaught Package not found fusebox-hot-reload"
Importing a json file without JSONPlugin() produces this error message, which is hard to correlate to the actual problem. Would be great if error message were more descriptive so it is easier to introduce FuseBox to existing webpack-driven codebases.

[2017-05-22 09:15] nth-commit commented on #552
@devmondo This is what I got stuck as well, thanks.

[2017-05-22 11:04] Tenvan commented on #324
did not work, gives this error:

Connecting to fusebox HMR at ws://localhost:4445
vendor.js:23274 Uncaught TypeError: Cannot read property 'ɵDomAnimationEngine' of undefined
    at vendor.js:23274
    at vendor.js:23074
    at Number.<anonymous> (vendor.js:23080)
    at c (vendor.js:99090)
    at w.require (vendor.js:99090)
    at Number.<anonymous> (app.module.ts:2)
    at c (vendor.js:99090)

[2017-05-22 11:33] nchanged commented on #324
@Tenvan i personally tested it and it works. Make sure you have cleared the cache. I can provide a test repository

[2017-05-22 11:34] aretecode commented on #548
https://github.com/fuse-box/fuse-box/issues/545

[2017-05-22 11:36] nchanged commented on #559
Yep, that happens in you get a syntax error

[2017-05-22 11:40] nchanged commented on #324
@Tenvan unless there is something fishy. Could you share a github repo with the problem above?

[2017-05-22 11:52] Tenvan commented on #324
yes, of course:
https://github.com/Tenvan/angular2-example/tree/feature/ng4-upgrade

[2017-05-22 12:42] nchanged commented on #324
@Tenvan interestingly enough, it launched without any problems.

[code]

Like a charm ;-)  Maybe you do a fresh clone on your own repo?

[2017-05-22 12:44] nchanged commented on #324
Unless your forgot to upgrade dependencies.

[2017-05-22 12:57] Tenvan commented on #324
my output iss different:

└── default (0 files,  53 Bytes)
└── fusebox-hot-reload (1 files) 1.8 kB
└── fusebox-websocket (1 files) 2.9 kB
└── events (1 files) 9.8 kB
└── core-js (81 files) 57.1 kB
└── zone.js (1 files) 92.2 kB
└── @angular/platform-browser-dynamic (1 files) 6.7 kB
└── @angular/compiler (1 files) 973.1 kB
└── @angular/core (1 files) 460.5 kB
└── rxjs (75 files) 160.7 kB
└── @angula

[2017-05-22 12:58] nchanged commented on #324
I installed it with npm. Yarn tends to lock deps, maybe you remove yarn.lock?

[2017-05-22 13:04] Tenvan commented on #324
nope.. same error with clean npm-installation:

[code]

which node.js version do you use?

[code]

[2017-05-22 13:07] Tenvan commented on #324
installed packages after npm install:

[code]

[2017-05-22 13:07] nchanged commented on #324
`v7.8.0`
It's strange. I had no problems whatsoever. Cloned, npm install, hit the browser.

[2017-05-22 13:09] nchanged commented on #324
@Tenvan i see, you didn't commit package.json
[code]
Could you save it all there?

[2017-05-22 13:12] Tenvan commented on #324
you have to checkout the correct branch ^^
my posted links directs to them: feature/ng4-upgrade

[2017-05-22 13:14] nchanged commented on #324
sorry, my bad. Checking it now

[2017-05-22 13:18] nchanged commented on #324
I see, i guess we need to favor `module` over `main` property in `package.json` if present

[2017-05-22 13:19] jperezdavinchi commented on #548
Hi @aretecode!
I already saw that post, but my custom package is inside of the homedir of the devBundle, the ouput of the custom module is `"dev/modules/@haztivity/core/$name.js"` and the homedir of  the devBundle is "."

[2017-05-22 13:19] nchanged commented on #324
One thing i don't get, what is this ` require('@angular/platform-browser/bundles/platform-browser-animations.umd.js/browser')`

Doesn't seem to be a valid package

[2017-05-22 13:22] nchanged commented on #324
@Tenvan ok i found the problem
first:
[code]

second:

remove your alias config, it has been fixed in beta.7

But now there is a different problem with angular-materials, I hope not fuse-box related

[2017-05-22 13:22] Tenvan commented on #324
yepp.. this themes to be an 'angular4 animation' problem... but i cant figure out, how to resolve this :/

[2017-05-22 13:23] nchanged commented on #324
read above ^ =)

[2017-05-22 13:23] Tenvan commented on #324
ok.. i try..

[2017-05-22 13:26] Tenvan commented on #324
ahhh.. one step further :)
ich will investigate material-problem ...

[2017-05-22 13:29] nchanged commented on #324
Cool thanks!! at least it resolves it correctly.

[2017-05-22 13:59] Tenvan commented on #324
ok.. now all works, also material...
i have made an pull-request, so you can merge the changes.

[2017-05-22 14:01] nchanged commented on #324
Oh!! so cool man! Thanks a lot, i will merge it at home along with some tweaks (WebIndexPlugin)

[2017-05-22 14:13] nchanged commented on #484
Fixed without aliases in `2.1.0-beta.4`

[2017-05-22 14:14] #324 closed

[2017-05-22 14:14] nchanged commented on #324
Fixed in `2.1.0-beta.4`

[2017-05-22 20:30] nchanged opened #560 "Transpile es6 modules in node_modules automatically"
2.1.0 will automatically detect module type and transpile the code seamlessly.
No need in Babel. Even in node_modules.

Finally.

🎆
!!!!!!
`2.1.0-beta.9`

[2017-05-22 21:23] #258 closed

[2017-05-22 23:38] aretecode commented on #560
https://github.com/fuse-box/fuse-box/issues/511

[2017-05-23 05:45] nchanged commented on #560
It's magical already

[2017-05-23 14:16] geowarin opened #563 "Support for baseUrl and paths options of tsConfig"
Hello,

In a ts project, I could not get `baseUrl` to work as I expected.

My wish is to get the following to work:

With this tsConfig:

[code]

And given the following structure:

[code]

Importing `Root.tsx` from `index.ts` should work by writing:

[code]

instead of

[code]

Related is the [paths](https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping) option of the t

[2017-05-23 15:13] nchanged commented on #563
isn't it easier to set `homeDir` to point to `src/` ?

[2017-05-23 15:28] geowarin commented on #563
My `homeDir` does points to `src`.
It doesn't seem to impact module resolution from source files, though.

It is supposed to?
I thought that homeDir was used to resolved source in bundle arithmetics.

Another thing is I will need to keep `baseUrl` in my typescript config anyway since I need to tell the compiler about my intentions.

[2017-05-23 15:32] nchanged commented on #563
I see now what you mean
[code]

That is an `npm_module` We don't support this kind of black magic yet. Cuz `components` could be easily in `node_modules`

Aliases, yes - it could be solved with aliases.
Let's think about it

[2017-05-23 15:36] nchanged commented on #563
Answering to your original question - of course, if it comes with typescript we should support it ;-)

[2017-05-23 15:49] devmondo commented on #563
Rock on!!!

[2017-05-23 16:15] geowarin commented on #563
It's kind of like aliases but dynamic:

pseudo-code:
[code]

PS: ❤️  you guys

[2017-05-23 17:07] nchanged commented on #563
@geowarin I don't think that a pseudo code ;-) that' exactly how you do it =)

[2017-05-23 17:24] jperezdavinchi commented on #548
Thank you for your patience, I finally found how to do this and it was pretty simple: remove `modulesFolder` and add the output of fuseCore to the html file.
[code]
[code]
Thank you!

[2017-05-23 17:24] #548 closed

[2017-05-23 22:49] forabi commented on #37
I think I have a better approach. Typed CSS Modules are just one type of imports that need to have type definitions so they can be imported in TypeScript. So what if we **require** that each fuse-box plugin generate those typings for every import automatically. For example a plugin equivalent to Webpack's file loader could generate an `*.d.ts` file which exports a `string`.

[2017-05-23 22:54] mohsen1 commented on #37
now that TS supports plugins it can be done in a plugin without generating `css.d.ts` files:

https://github.com/HerringtonDarkholme/ts-css-plugin

[2017-05-24 07:34] nchanged commented on #37
@mohsen1 @forabi you guys think you could help here?

[2017-05-24 09:36] axross opened #564 "Import statements are lost if use object spreads"
I found a buggy output using FuseBox v2.0.0 and 2.1.0-beta.10 with TypeScript 2.3.2.

The `import` statements not related it are lost if I use object spreads `{...obj}` in JSX.

### Normally Case

#### TypeScript

[code]

#### JavaScript

[code]

### Buggy Case

#### TypeScript

[code]

#### JavaScript

[code]

There `import`s are lost. This code occurs a reference error.

[code]

[2017-05-24 10:01] nchanged commented on #564
Hi!
Thanks for submitting the issue. FuseBox doesn't remove require statements. We have encountered a similar bug,  and it turns out it's typescript when used with its API.  We need to submit a bug to TypeScript

A simple hack with the reference usually fixes it:
[code]

So you are saying as soon as you add ` {...selfStyle}` it all breaks?

[2017-05-24 10:20] axross commented on #564
@nchanged Thank you for your comment! I know it hack and already care this bug with it.

Yes. If I remove `{...selfStyle}`, it output right code.

For reference, I show code I used only tsc with following and its output.

#### TypeScript (same as [buggy case of this comment](https://github.com/fuse-box/fuse-box/issues/564#issue-230978297))

[code]

### JavaScript (generated using only tsc)

[code]

[2017-05-24 22:10] bradenhs opened #569 "Livereload Support"
Currently to get classic live reload support you have to do something like this:

fuse.ts
[code]

index.ts
[code]

Since every module is marked as stateful any change in your app will result in a page reload which is the desired behavior.

With webpack this is a simple as running `webpack-dev-server`. I'm not sure the best way to resolve this but I think it should definitely be consolidated to the

[2017-05-25 12:12] iceekey opened #571 "SASS indent syntax support"
For ones who want to use SASS indent syntax:

`fuse.js`
[code]

Maybe it worth to add `.sass` extension to default `SassPlugin`? I think it's what we should do, but maybe I'm wrong. What you guys think?

[2017-05-25 12:47] nchanged commented on #571
Thanks, @iceekey it think we could just add it to the Sass Plugin ;-)

[2017-05-25 12:53] iceekey commented on #571
Nice @nchanged , thank you!

[2017-05-25 13:31] #571 closed

[2017-05-25 15:59] whitecolor opened #573 "HMR doesn't handle package version change"
Workflow:
1) Start HMR.
2) Load page.
3) Update package in `node_modules` (content and **package.json version have changed**)
4) Nothing happens (old code is in use)
5) Remove .fusebox (with cache) folder, trigger reload
6) Nothing happens (old code is in use)

So have to restart fusebox process - new code in use.

[2017-05-25 16:07] nchanged commented on #573
Yes that's expected behavior, fuse caches modules in memory that's why it's darn fast. you don't really update modules all the time do you? But we could have a workaround for that. Nothing is impossible :)

[2017-05-25 16:46] whitecolor commented on #573
Nothing is impossible, right, so why not: watch `package.json` for loaded modules, and if version changed then reassemble the bundle.

While development it is obviously usual situation when one update dependency version. And in my workflow, I use local dependencies often with [yalc](https://github.com/whitecolor/yalc) which may change even more often, but they support different package.json `verso

[2017-05-25 17:06] nchanged commented on #573
You could do it with [Sparky](http://fuse-box.org/page/sparky) and re-trigger your bundle manually. Like that:
[code]

[2017-05-25 17:09] nchanged commented on #573
Just to make it clear, HMR doesn't reload modules, it reloads only your local files, however, we should introduce an API that will force a page to get reloaded

[2017-05-25 17:17] whitecolor commented on #573
What is the actual different between my "local files" and code in node_modules? It is all the code that application is composed of, and the code in `node_modules` may change, the same way as my local code does. Packages code usually excluded from watching because of speed, as they supposed to change rarely. But why not handle this case out of the box, esp when we have single file `package.json` in

[2017-05-25 18:26] nchanged commented on #573
Absolutely! We can plan it, 2.1.0, however, is quite full already, and we are working on finalising it.
But I agree, developing submodules should be easier.

[2017-05-25 23:58] NGPixel opened #574 "VuePlugin: module imports not working correctly"
import statements are not working as expected.

# Case 1

The following line works in a standard .js file:
[code]
using the same import inside a <script> tag in a .vue file won't work.
The following workaround must be used instead:
[code]

# Case 2

The following line works in a standard .js file:
[code]
using the same line inside a <script> tag in a .vue file results in the debounce code not bein

[2017-05-26 05:24] nchanged commented on #574
Import * as is.l not a workaround. Check our FAQ please ... You don't have default exports. Regarding bundling, that's true there is a bug.

[2017-05-26 06:34] rafde opened #575 "Does fuse-box support require.js style amd?"
I've been trying to get something like
[code]
or
[code]
or
[code]
working and it's not panning out. It made me question if it's supported. I wanted confirmation.
If any of these are not support, I'll make a PR against https://github.com/fuse-box/fuse-box/blob/master/docs/faq.md to inform future surveyors about any of these not having support.
Thanks.

[2017-05-26 07:05] nchanged commented on #575
Hi! Thanks for the issue. Yes we don't support it yet, However, there are 2 PR's pending on the issue.
https://github.com/fuse-box/fuse-box/pull/566
https://github.com/fuse-box/fuse-box/pull/567

It will be probably solved after the upcoming release

[2017-05-26 15:06] rafde commented on #575
Cool. Something for me to test over the weekend.

[2017-05-26 15:41] timsuchanek opened #577 "Using Typescript and Babel"
Is it possible to still use babel after the typescript loader? Our use case is, that we run a custom babel plugin https://github.com/zeit/styled-jsx, that is not available for TypeScript.
Besides that, keep up the awesome work!

[2017-05-26 15:44] nchanged commented on #577
Yes, you can do that!

[2017-05-26 15:51] Martaver opened #578 "How to handle assets in CSS/SCSS?"
Heya,

Does Fuse-box support assets/fonts etc in CSS/SCSS?

I have CSSModulesPlugin set up with SCSS, and I'm trying to use the following:

[code]
`logo.svg` is in the same folder as the scss file.

I checked out the CSSResourcePlugin but it seems to be for an entirely different purpose. Can fuse-box handle this?

[2017-05-26 16:16] nchanged commented on #578
Hi @Martaver and how would you like to handle it?
http://fuse-box.org/plugins/cssresource-plugin#resolve

[2017-05-26 16:42] Martaver commented on #578
Okay, I guess I was being a bit daft... So IS CSSResourcePlugin supposed to handle CSS assets!

I got it to work with the following setup.
[code]

But it wasn't actually doing anything out of the box with no options...? I guess I would have expected some sane defaults, like copying assets to fusebox's configured output path and rewriting to that.

[2017-05-26 17:10] timsuchanek commented on #577
Ok, I tested it, actually that doesn't seem to be the problem,
but the real problem is the following:
I would like to set `"jsx": "preserve"` in the tsconfig.json.

This is how my tsconfig.json looks like
[code]

In  a webpack project this works. (this is needed so babel and not typescript is reading the jsx)

Is that possible with fuse? Thanks!

[2017-05-26 17:23] devmondo commented on #577
i think it should work, as FuseBox is not responsible for that, FuseBox only takes what ts Transpiles, are u sure you have your `tsconfig` in root of your project ?

[2017-05-26 18:36] nchanged commented on #577
@timsuchanek compiler options are respected. What might have happened, is that you transpiled your code, then changed `tsconfig.json` but the cache wasn't busted. Remove `.fusebox` folder and see what happens.

[2017-05-27 17:34] marko-mlinarevic opened #580 "fusebox and vue error "Uncaught TypeError: Cannot read property '_lifecycleHooks' of undefined""
I got this error when I tried to load vuex into my project

[code]

This is my store.js file

[code]
this is my index.ts
[code]

[2017-05-27 17:49] nchanged commented on #580
hi! It would help if you pasted an offending line in the transpiled output. We need to know why is it undefined.

[2017-05-27 17:58] marko-mlinarevic commented on #580
here you go. bolded is where error shows up

[code]

[2017-05-27 18:24] nchanged commented on #580
Hard to tell, Vue config isn't loaded?! I am not a Vue expert, but that's something I could think of

[2017-05-27 19:12] marko-mlinarevic commented on #580
I'm baffled as well. don't have idea

[2017-05-27 19:57] nchanged commented on #580
Ok, the first thing is to find what is `Vue.config` Could you find a reference in the code?

[2017-05-27 19:59] nchanged commented on #578
That would be lovely! And kind of help is appreciated! Thanks @Martaver
Shall we close the issue now?

[2017-05-27 22:33] devmondo commented on #580
it is a `vuex` issue, if u disable `vuex ` for testing purpose, most probably u would see it working

[2017-05-28 00:09] marko-mlinarevic commented on #580
jup it's not because of fuse-box, it's a vuex issue.

[2017-05-28 00:09] #580 closed

[2017-05-29 22:26] stevensheehy opened #581 "Opinionated Project Structure"
All the other web build tools seem to take a configuration-centric or a code-centric approach. I really like how fuse-box instead takes a more convention over configuration/code approach than the others. Having an opinionated project structure would help further this goal, while still allowing users to override defaults if they want a different structure.

Coming from the Java world with its [Mave

[2017-05-30 07:19] nchanged commented on #581
hi @stevensheehy thanks for suggestions. There is a convention for testing. IT does not really matter which folder your tests are in. If you have `Foo.test.ts` it will be picked up by the test runner. Pattern `*.test.ts` is a convention.

[2017-05-30 14:23] dziamid commented on #559
So are you working to improve error handling or something? I tried running some of my webpack-driven codebases with fusebox and always got stuck with error and didn't have a clue how to fix it.

[2017-05-30 15:56] devmondo commented on #559
@dziamid as a temporary solution, u can disable `HMR` and test your app to see if there is any syntax error and then enable it. usually `HMR` works with errors as it would be reported to you in the browser, but sometimes, there are those severe errors that would prevent it from working, we should improve that :)

[2017-05-30 16:48] nchanged commented on #559
The solution is to clear the cache. (remove `.fuse-box` folder)

[2017-05-30 20:44] #560 closed

[2017-05-31 03:18] carloslfu opened #582 "HMR doesnt reload globals"
When I have globals like globals: { default: 'some' } and HMR enabled and then modify the code, the HMR charge the modules but the globals are still in the past version

[2017-05-31 05:29] nchanged commented on #582
HI! HMR works only on "default" project. Make sure to change the package when actually packaging. We could tweak it of course.

[2017-05-31 10:14] vtabary commented on #457
Hey, I'm back !

I tried the 2.0.0 with the same project. Still the same issue.

I updated my repo in order to use the latest fuse-box.

[2017-05-31 11:09] nchanged commented on #457
@vtabary it's not fixed in 2.0.0, update to the latest `2.0.11`

[2017-05-31 14:20] vtabary commented on #457
Yep, sorry, I indeed was testing with 2.0.11 and still not working because... I was on a wrong file -_-

But it doesn't change anything.

My external libraries from "dist/lib.js" are still not imported in my final package "dist/project.js".

I found your project : https://github.com/fuse-box/fuse-box-npm-package-seed/blob/master/fuse.js

But I didn't see anything special in it :(

[2017-05-31 15:46] nchanged commented on #457
Have u rebundled it?

[2017-05-31 15:47] vtabary commented on #457
Yes, I removed my dist folder and built it.

I tried to change some configuration, but nothing changed.

[2017-05-31 22:36] devmondo commented on #457
@vtabary i tried to clone your example, but it is incomplete for me, could you please give a full repo use case so we can investigate more and solve this issue for you ASAP :)

[2017-06-01 04:18] stevensheehy opened #583 "Default Sparky Tasks"
It would be nice if fuse-box came with some default Sparky tasks for common tasks out of the box. This would reduce code duplication across projects and allow developers to get their projects up and running faster. Example tasks (missing necessary implementations):

[code]
Then the user would configure with FuseBox.init({...}) and run:

[code]

Having default tasks would provide a standardized pro

[2017-06-01 05:45] nchanged commented on #583
I agree with you, so in a nutshell "dist" task would enable hashing and uglify, right!

[2017-06-01 12:00] jperezdavinchi opened #584 "Scoped packages doesn't work without importing index"
Hi!
with the new update of fuse-box the npm scoped packages created as bundles with fuse-box are out of action giving the "not found on request" error.

I tried with [fuse-box-npm-package-seed](https://github.com/fuse-box/fuse-box-npm-package-seed) with a npm local install (not link)  and it works, but when I add the scope `@f/use-box-npm-package-seed` the console shows the error.

You can find th

[2017-06-01 12:18] nchanged commented on #584
@jperezdavinchi i don't think you can have a package name with `@`
`@` is a scoped repository. So you need to create a subfolders and use aliases instead for development.

Could you try it?

[2017-06-01 12:25] jperezdavinchi commented on #584
@nchanged this is for production not for development.

If I create a npm package and publish it to npm, `@haztivity/core` in my case,  it should be imported with `import {} from "@haztivity/core"`, right? (in production, doing `npm i @haztivity/core`)

In the package.json the name is `@haztivity/core` and in the docs sais that the package in fuse-box must be the same that in the package.json

node

[2017-06-01 12:32] nchanged commented on #584
that's right! You know what, can you omit @ in your package name, it will work as long as it's a unique name. My guess that `@` in the package name messing up with scope package resolving.

[2017-06-01 12:41] jperezdavinchi commented on #584
@nchanged remove the `@` from the fuse.js?
![image](https://cloud.githubusercontent.com/assets/28526655/26680121/5f71692c-46d8-11e7-8ef4-33a989a53333.png)

[2017-06-01 12:50] nchanged commented on #584
without slashes ;-) remove `/`

[2017-06-01 12:57] jperezdavinchi commented on #584
the same happens :(
![image](https://cloud.githubusercontent.com/assets/28526655/26680614/6cb5f84e-46da-11e7-8561-249d28c2a5a6.png)
![image](https://cloud.githubusercontent.com/assets/28526655/26680635/7e10bf20-46da-11e7-9417-8e4edc8e8559.png)

Now with the /index doesn't work neither.

[2017-06-01 12:57] nchanged commented on #584
that's what i am saying, you need alias it, and leave in the real @f/blba folder in production

[2017-06-01 12:59] jperezdavinchi commented on #584
so, anyone that want to use this package and do the `npm i @f/fuse-box-npm-package-seed` has to config an alias in fuse?

[2017-06-01 12:59] nchanged commented on #584
no it's only for development

[2017-06-01 13:00] jperezdavinchi commented on #584
I had the package installed in npm like in production
![image](https://cloud.githubusercontent.com/assets/28526655/26680799/06eb858c-46db-11e7-8d97-7104f937c9a0.png)

[2017-06-01 13:11] nchanged commented on #584
and that is correct. Now what you need to change is your project name. Don't add `@` there.  And when you are developing alias the real path in to a fake one.

[2017-06-01 13:19] jperezruiz commented on #584
Sorry I don't understand, could you share a screenshot please?

[2017-06-01 13:34] nchanged commented on #584
I don't have a screeтshot
[code]

whereas foo-bar is a folder in your `customModules`

[2017-06-01 14:40] steven-sheehy commented on #583
Yes, exactly. I called "dist" in the example above "package", but same thing. Although, advanced functionality like automatically enabling plugins could be done in a later iteration. So init(), bundle(), etc. would declaratively configure FuseBox to tell it _what_ to do and the tasks would determine _when_ to do them. So the run task may be a no-op if the user didn't configure a devServer() and th

[2017-06-01 22:50] jcmoore0 opened #585 "Package not found process"
Fuse team:
I am trying to use Fuse-Box on an Angular2 project for the browser.
When importing rxjs, fuse injects a require("process").
I am not sure how to solve this.

__scope___.file("util/Immediate.js", function(exports, require, module, __filename, __dirname){
/* fuse:injection: */ var process = require("process");

Best regards,
John

[2017-06-02 06:20] nchanged commented on #585
Is it happening on an HMR event? Tried clearing the cache?

[2017-06-02 06:56] jperezdavinchi commented on #584
I'm sorry but I still don't understand.
Why I have to add the alias if the package is installed with npm and it's in the node_modules folder?
Please see https://github.com/jperezdavinchi/fusebox-scoped-package

[2017-06-02 07:09] nchanged commented on #584
Yes i have seen it. All i am saying that for development you trick it. And for production you will use the real scoped repository

[2017-06-02 10:51] vtabary commented on #457
Well, everything should be ok.

Did you checout the library branch ?

[code]

And you should see something like :

[code]

[2017-06-02 16:59] devmondo commented on #83
Done in 2.0.2, thanks a lot for the input :)

[2017-06-02 16:59] #83 closed

[2017-06-02 17:51] devmondo commented on #457
@vtabary I just tried your code in separate project and it works, check image below
![image](https://cloud.githubusercontent.com/assets/1266367/26737943/57c709c4-47dd-11e7-98fc-0a8d1024ed20.png)

the problem I think is with phantomjs and not FuseBox, because I get this error anyways in your project
`SetProcessDpiAwareness failed: "COM error 0x80070005  (Unknown error 0x0ffffffff80070005)"`

[2017-06-02 17:57] devmondo commented on #160
Hope the above plugin works out for you.

Closing this for now, let us know otherwise :)

[2017-06-02 17:57] #160 closed

[2017-06-02 17:58] devmondo commented on #206
To Focus efforts and make sure your suggestions are taken into account we will close this and move to #312 :)

[2017-06-02 17:58] #206 closed

[2017-06-02 18:03] devmondo commented on #134
as long as this was Implemented in 1.4.1, we will close this. let us know otherwise :)

[2017-06-02 18:03] #134 closed

[2017-06-02 18:07] devmondo commented on #374
Will close this for now. Let us know if this is still an issue :)

[2017-06-02 18:07] #374 closed

[2017-06-02 18:15] devmondo commented on #220
We will close this now for being inactive. by the way, check the new version 2.0, let us know otherwise :)

[2017-06-02 18:15] #220 closed

[2017-06-02 18:21] devmondo commented on #385
@mattoni you could use `modulesFolder` or `bundle.register`, maybe create a sparky task to bundle your `src` first to a shared folder then use this output in your `docs` folder?

[2017-06-02 18:42] mattoni commented on #385
I ended up getting it working, and with HMR support too.

[code]

And then npm publish just runs `tsc` and outputs it since it's meant to be imported as a lib.

[2017-06-02 19:31] devmondo commented on #385
@mattoni as usual, you are da playa with Fuse ;)

[2017-06-02 19:31] #385 closed

[2017-06-02 21:35] aretecode commented on #547
@devmondo isn't this added now? https://github.com/fuse-box/fuse-box/pull/494

[2017-06-02 22:06] devmondo commented on #547
@aretecode yes, thank you for the reminder :) will close this now.

[2017-06-02 22:06] #547 closed

[2017-06-03 05:00] calebboyd opened #589 "Bundling `.node` files (as required by the bindings util)"
Great Project! I've been working on identifying an adequate way to handle bundling in [nexe](https://github.com/nexe/nexe/tree/next) And I concluded that a virtual filesystem for modules was the best route, and it looks like fusebox has solved that problem quite well. So my goal is to use it as the primary opt in bundling tool for the project. I had a few questions before I began. (might need sepa

[2017-06-03 09:12] xaviergonz opened #590 "fuse-box ignoring 'extends' in tsconfig.json"
Hi, i just noticed that "when a tsconfig file uses "extends" it gets ignored when using fuse-box, yet works correctly when using tsc directly.

For example, say I have these two files:
../tsconfig.json, with compiler options such as "jsx": "React"
./tsconfig.json, with "extends": "../tsconfig.json"

If I run tsc againt .tsx files it works correctly, since ./tsconfig correctly extends the base one.

[2017-06-03 09:43] xaviergonz commented on #136
+1, it breaks the package uuid

var rb = require('crypto').randomBytes;

function rng() {
  return rb(16);
};

[2017-06-03 13:18] nchanged commented on #590
Hi, Could you provide an example with `extends` because FuseBox reads is a bit differently than typescript

[2017-06-03 16:11] devmondo commented on #589
@calebboyd welcome and thank you for the kind words :)

Yes, FuseBox takes a great approach to creating a virtual file system.

Did you check FuseBox Dynamic Modules feature http://fuse-box.org/page/loader-api#dynamic-modules?  we use it all the time in our project to dynamically create and load modules.

Regarding other questions @nchanged could you elaborate please.

[2017-06-03 18:32] nchanged commented on #589
Welcome @calebboyd
From what I understood you want to modify the behaviour at runtime, Which is possible with plugins.
A simple plugin would look like:

[code]

Please describe the logic there, we will help you.

[2017-06-03 22:41] calebboyd commented on #589
Thanks for your fast replies.

I don't think this will help at all for enabling `bindings` to discover the `.node` file. I'd also note that it isn't clear in the docs that its referring to the global FuseBox present inside the bundle. It held me a up a bit since the only static method on the FuseBox class is `.init`. Am I correct in assuming that the dynamic module declarations should be emitted i

[2017-06-04 01:11] a-s-o opened #591 "Dependencies not being bundled"
Hi,

I am just trying out fuse-box with a very simple file and it is not bundling the dependencies of that file. Here is my sample code:

src/index.ts

[code]

~/fuse.js

[code]

After running `node fuse` from the root folder, I end up with the following code in dist/app.js:

[code]

I would expect to see whole of the `mithril` package included in the bundle since I am importing it in index.ts

An

[2017-06-04 03:36] calebboyd commented on #589
Attaching to bundleEnd and inspecting `context.nodeModules` doesn't appear to have `dependencies` set.
Is there some hook that would work better to pursue my approach (or will that approach even work)

[2017-06-04 07:30] nchanged commented on #591
Hi! Is that lib properly installed? Can we have a repo to reproduce it?

[2017-06-04 07:31] nchanged commented on #591
Are u using tsx with pragma? That might be a problem, add +mithril to instructions

[2017-06-04 09:11] nchanged commented on #589
Isn't it easier to process this [part](https://gist.github.com/calebboyd/c5144a319b2f676345c0f1c9913eae1b#file-fuse-js-L17-L22)
at build time? and write the actual contents?

[2017-06-04 09:12] nchanged commented on #589
If you want to add dependencies, try

[code]
OR
[code]

[2017-06-04 12:38] a-s-o commented on #591
Yes, that is what I was doing. Thanks and you suggestion fixed it. Appreciate the help and thanks for providing such a great package. Keep up the good work.

As an aside, I think the test runner might be the killer feature for FuseBox.

[2017-06-04 12:38] #591 closed

[2017-06-04 12:59] nchanged commented on #591
Thanks, we have a test runner already, check it out in the docs :)

[2017-06-04 14:39] calebboyd commented on #589
at build time? and write the actual contents?

Since the bundle is for [nexe](https://github.com/nexe/nexe/tree/next) the goal is a single file. Other than that, when is "build time" if not when fusebox is running?

I noticed that the dependencies don't populate until the files are analyzed. How can I have a plugin trigger for node_modules. It seems if I use a test `\.js$` it only triggers for "Yo

[2017-06-04 19:17] nchanged commented on #589
Of course, we analyse it and then populate the dependencies, how else? ;-)
What do you mean? You can trigger any module from your plugin.  And inject any code that triggers anything. Please clarify, maybe easier if you write down the steps

[2017-06-04 19:39] calebboyd commented on #589
Hah, excuse my naiveté as I discover the api. I found that my `.allowExtension` call more restrictive than my `test` regexp.

[2017-06-06 14:57] aretecode opened #592 "css plugin link broken for example"
link is broken, goes to here
http://fuse-box.org/plugins/css-plugin#css-plugin
http://fuse-box.org/plugins/Plugin%20configuration

[2017-06-06 16:05] devmondo commented on #592
for me the first one is working, where is the second one location?

[2017-06-06 16:51] aretecode commented on #592
` #list-of-plugins ` link on first page

[2017-06-06 21:35] nchanged opened #593 "Sparky tasks should be recursive"
Sparky isn't handling the following:

[code]

[2017-06-06 21:36] #593 closed

[2017-06-07 11:22] nchanged commented on #589
So it's all good now?

[2017-06-08 04:32] aretecode commented on #592
@devmondo the https://github.com/fuse-box/mastering-css link is broken on there too, all on the very first line

[2017-06-08 06:42] aretecode opened #596 "custom caching & optimized/simplified css config"
[code]

as chain
[code]

cache busting & customizing

[code]

[2017-06-08 06:43] aretecode opened #597 "cli flags"
example usage, discussion about which ones would be best

[code]

[2017-06-08 10:00] jperezdavinchi opened #598 "Suddenly error: Uncaught Package not found fuse-box-css"
I was working but after restart fuse-box an error appears in the browser: Uncaught Package not found fuse-box-css
I haven't change anything in fuse.js

It's failing for the scss errors

fuse.js file
[code]

[2017-06-08 10:03] nchanged commented on #598
`fuse-box@2.1.0-beta.17` fixes it, please verify

[2017-06-08 10:14] jperezdavinchi commented on #598
Thank you a lot! (L)

[2017-06-08 10:14] #598 closed

[2017-06-09 04:16] calebboyd commented on #589
Sorry, I haven't had much of a chance to look into it more.
There isn't much documentation on the `ast` parameter of the transform function

- When is it populated?
- If changes are made to the ast do they need to be serialized to `file.contents`? Or will that be done automatically if ast exists (or when it is created using makeAnalysis)

[2017-06-09 05:29] nchanged commented on #589
* during the AST traversing
* yes, you can set a flag and fusebox will generate the code (requiresRegenation or something)

[2017-06-11 20:03] #522 closed

[2017-06-11 20:44] nchanged opened #599 "FuseBox Quantum"
And finally, 2.1.0 is out with its grand, the most challenging-to-implement feature.

# Quantum

http://fuse-box.org/page/quantum

Make sure to check it out and let us know what you think. It required lots of effort and thinking. I hope you guys could start testing it and submit your ideas and of course, our favourite - bugs.

https://github.com/fuse-box/angular2-example
https://github.com/fuse-bo

[2017-06-12 08:29] Tenvan opened #601 "fusing error with 'rectangular' package (Angular2 example)"
following runtime-error on fusing with package 'ractangular':

[code]

with the following workaround it works in older versions (2.0 and older)):

[code]

but now you get follwing fusing error:

[code]

see on angular2-example fork in develop-branch: https://github.com/Tenvan/angular2-example

[2017-06-12 08:31] nchanged commented on #601
Thanks, milestoned

[2017-06-12 16:37] xdave opened #603 "Sourcemaps for split bundles"
I'm not getting working source maps with split bundles.  Is this expected behavior at the moment?  Or am I missing something that's not currently documented?

[2017-06-12 16:38] nchanged commented on #603
yes, source maps for split bundles aren't working yet. But they should!

[2017-06-12 18:52] nchanged commented on #603
These bundle source maps should load source maps dynamically, I am not sure how that would be possible in the context. But feel free to suggest your ideas

[2017-06-13 15:43] xdave commented on #603
Shouldn't the JS runtime pick up the source map url in the file when it needs it?  As far as I know, only if console.log() happens or debugging.

[2017-06-13 19:37] yihongang commented on #424
have you tried doing this with a nested array? e.g.

[code]

I don't know why, but the `tryPlugins` code seem to only allow for 1 target plugin (or 1 target chain of plugins)

[2017-06-13 20:24] nchanged commented on #424
@aretecode Quantum solves this issue already

[2017-06-13 20:26] nchanged commented on #603
@xdave yes and no. A split bundle is instantiated via `new Function` So there are some limitations.

[2017-06-14 00:02] xdave commented on #603
So, it seems that the JS universe is moving towards the in-browser module system (via the `import` function, if it exists or poly-filled).  Typescript 2.4 RC just added `await import(...)` syntax, which they expect bundlers to optimize for code-splitting purposes.

In either case, perhaps loading the bundle some other way would allow the source map to load?  What about JSONP ?

[2017-06-14 01:47] NGPixel opened #604 "Quantum - FuseBox.import() throws warnings"
When using Quantum, any usage of `FuseBox.import()` results in a *Computed statement resolution* warning, even though the source is a static string.

### Example

The following code:
[code]
results  in:
[code]

[2017-06-14 03:40] xdave commented on #603
https://medium.com/webpack/how-to-use-webpacks-new-magic-comment-feature-with-react-universal-component-ssr-a38fd3e296a

[2017-06-14 04:01] xdave commented on #603
https://github.com/tc39/proposal-dynamic-import#using-host-specific-mechanisms

[2017-06-14 04:14] xdave commented on #603
(window || global).import() in FuseBox could work such that:

- If the module is not resolved,
    - Assuming that the parent bundle is already loaded
    - If any part of path resolves to something that may be in a split bundle
        - Load that split bundle,
        - Load that module from the split bundle

This would require that the parent bundle already know where it's child bundle's files

[2017-06-14 05:30] nchanged commented on #603
Yep, you have just described how lazyLoad works with code splitting :) we just need to make a support for "import" statement!

[2017-06-14 06:23] nchanged opened #605 "import statement and code splitting proposal for 2.2.0"
Typescript will support `dynamic imports` in 2.4, therefore it's imperative for FuseBox to officially support it too.

https://blogs.msdn.microsoft.com/typescript/2017/06/12/announcing-typescript-2-4-rc/

In light of these changes some things like `code splitting` need to be reconsidered and consolidated.

The proposal follows:

## Actual splitting in Quantum
Quantum is a powerful extension on top

[2017-06-14 06:23] nchanged commented on #604
#605

[2017-06-14 06:23] nchanged commented on #603
#605

[2017-06-14 07:17] nchanged commented on #604
@NGPixel it will be resolved, currently Quantum doesn't support async loading. We need `import` functionality.

[2017-06-14 13:54] yihongang commented on #599
The docs mention that uglify is enabled by default but it requires an `{ uglify: true }` passed to Quantum.

Also, why does it generate

`var A = $fsx.r('index.js');`

when I can only see number ids? The code works when I change the `'index.js'` into the correct number, that I have to find by going through `$fsx.r`.

Also what's the correct way of using it with the babel plugin? The docs on `remov

[2017-06-14 14:04] nchanged commented on #599
`> Also, why does it generate $fsx.r('index.js')`

It wasn't able to find a node module (and it is an invalid node module that you put there)
Check your bundle without Quantum.

You should `import "./index.js"` and not `import("index.js")` furthermore, please read up on javascript import statement basics.

You can use any plugin you like, Quantum does processing after everything else (babel, types

[2017-06-14 14:10] yihongang commented on #599
The build worked before adding Quantum, and I am also not doing imports like that

I am doing `import * as Abc from "abc";` as instructed from http://fuse-box.org/page/faq#imports-exports

[2017-06-14 16:14] nchanged commented on #599
Ok, could you reproduce the error, please?  (in a GitHub repository)

[2017-06-14 16:55] yihongang commented on #599
Try this: https://github.com/yihongang/test_quantum

Thanks for the fast response. If it's an issue with how I am doing stuff, I apologise in advance.

[2017-06-14 17:01] nchanged commented on #599
@yihongang that was an easy one
[code]

Make sure you have the right order.
First `vendor` then `client`

All started working after I have swapped them.

[2017-06-14 17:11] yihongang commented on #599
Welps that was embarrassing. Is there somewhere where this is documented? Thanks for the help! 😅

[2017-06-14 17:12] nchanged commented on #599
@yihongang no worries, I don't think so but, I though it goes without saying ;-) As vendor should be loaded first ;-)

[2017-06-15 06:44] xdave commented on #605
What I described in https://github.com/fuse-box/fuse-box/issues/603#issuecomment-308314921 involves resolving individual files from a bundle, which is (I believe) what the `async import()` syntax will want.  ie. Typescript will actually resolve the module and it's exports.

[2017-06-15 06:47] xdave commented on #605
Here's an example of how `import()` is supposed to work: https://github.com/tc39/proposal-dynamic-import#example

[2017-06-15 07:39] nchanged commented on #605
It will work exactly like it in the next release

[2017-06-15 10:12] vegarringdal commented on #601
@nchanged
fyi
This will break the Aurelia-seed if anyone tries it
in case someone complains about the seed in gitter

[2017-06-15 15:41] erkkaha opened #610 "Browser target and deep overrides"
There seems to be and issue with deep browser overrides. Issue is reproduced [here](https://github.com/erkkaha/react-example)

Problem is in this case [asap](https://github.com/kriskowal/asap/blob/master/package.json)
from asap package.json
[code]

"./asap.js" --> "./browser-asap.js" works fine, but "./browser-asap.js" requires  "./raw" and that is not resolved to "./browser-raw.js".

Same issue c

[2017-06-15 15:56] mquandalle commented on #356
For reference, Create-React-App [v2](https://facebook.github.io/react/blog/2017/05/18/whats-new-in-create-react-app.html) has an excellent CLI UX.

[2017-06-15 16:23] aretecode commented on #356
@magnushiie this is wip, `filelist` can be filtered out currently

[2017-06-15 17:53] nchanged commented on #356
sorry @magnushiie I am sure, @aretecode meant @mquandalle

[2017-06-15 17:59] whitecolor opened #611 "Passing chokidar options to run doesn't work"
Passing chokidar options to run doesn't work.

[2017-06-15 18:17] nchanged commented on #611
Could you be more specific please

[2017-06-15 18:20] whitecolor commented on #611
Doesn't work:
[code]

[2017-06-15 19:51] whitecolor opened #612 "Issues with homeDir/output locations"
First problme with `homeDir: '.'`:

[code]

When I change app.ts rebuild happens multiple times, not inifinit loop just multiple times:
![image](https://user-images.githubusercontent.com/736697/27198977-bd36cc9a-522d-11e7-9afa-c13799c153d9.png)

If I place `output` inside of `homeDir`, I have infinite loop.

[2017-06-15 21:29] whitecolor opened #613 "Modules (packages) resolution?"
I have following structure for project

[code]

`fuse.js` is run config. `homeDir` is `client`

So this doesn't work. `Package not found some-module`, so from docs I see that fuse requires node_modules only in folder wher fuse.js is located? This is really strange to me.

Actually one should be able to have flexibile structure with multiple node_modules:
[code]

And modules should be resolve using

[2017-06-15 21:45] whitecolor commented on #613
Seem to be a problem with cache. Will close for now.

[2017-06-15 21:45] #613 closed

[2017-06-16 06:43] leonardoanalista opened #615 "Sass plugin"
Quick question: do you know if the sass plugin support .sass syntax out of the box?

Cheers
Leonardo

[2017-06-16 06:53] leonardoanalista commented on #615
Never mind. I guess the indented syntax option might be the trick

[2017-06-16 06:53] #615 closed

[2017-06-16 12:24] whitecolor commented on #611
Also probably chokidar default `ignored` option should be `/node_modules/`. But at least docs should state that if one do not exclude modules folder it may significantly slow down things.

[2017-06-16 13:21] nchanged commented on #611
Fixed in `2.2.0-beta.1`

[2017-06-16 13:21] #611 closed

[2017-06-16 13:45] JohnGalt1717 commented on #552
Also it doesn't support server side pre-rendering.

[2017-06-16 13:47] JohnGalt1717 opened #616 "Server Side Pre-Rendering ReferenceError: FuseBox is not defined"
HI there. I'm trying to get an angular 4 project working and everything works fine (ng2-fused works nicely except for lazy loading) on browser side however I can't get the server side node execution to recognize FuseBox.

I tried adding this to my entry point: import { FuseBox } from 'fuse-box';

But it doesn't seem to work.

How would i get node.js to recognize fuse.js and execute?

Thanks!

[2017-06-16 13:56] nchanged commented on #616
hi @JohnGalt1717 don't import `FuseBox` in your code. It's already recognised by server. Just use it, it's global.

[2017-06-16 13:57] nchanged commented on #552
Well, you guys could poke angular so they could help us. It seems like the stuck with webpack.

[2017-06-16 17:22] xdave opened #617 "Quantum is removing Provider from react-redux"
I'm using it like this:

FuseBox plugins:
[code]

Entry point `index.tsx`:
[code]

Quantum output:
[code]

Runtime Error in production mode:
[code]

Test project to reproduce: https://github.com/xdave/fuse-box-quantum-test

[2017-06-16 17:29] nchanged commented on #617
Thanks! in the meantime please disable tree shaking, it's in a very early stage ATM

[2017-06-16 18:17] xdave commented on #616
If you're using typescript, you could do:
[code]

Imported types are removed by the typescript compiler after.

[2017-06-16 18:25] xdave commented on #616
I guess you'll have to do something like:
[code]
At the top of the file or something.

[2017-06-16 18:43] xdave commented on #603
@nchanged so, for loading a split bundle with source maps, why not use this?

[code]

[2017-06-16 18:46] nchanged commented on #617
Ok, I cracked it. Two easy-to-fix bugs:

1) Removed `export` from a function should listen to `removeExportsInterop`
2) Removed `default` property. Should listen to `removeExportsInterop`

[2017-06-16 19:17] xdave commented on #603
It works as is for now, except that the source for any modules inside of the bundle point to the bundle itself, because the bundle doesn't have it's own sourcemap.

[2017-06-16 19:51] nchanged commented on #617
Here you go `2.2.0-beta.5`

[2017-06-16 19:54] devmondo commented on #616
@xdave have a file called `declarations.d.ts` in your project and put the line you mentioned above, and it should work.

[2017-06-16 20:16] #617 closed

[2017-06-16 21:32] xdave commented on #617
Nice.  Works, thanks.

[2017-06-17 11:31] aretecode commented on #612
already an issue for this https://github.com/fuse-box/fuse-box/issues/488

[2017-06-17 11:47] whitecolor commented on #612
It seem to that the problem is not only in `wathing` atleast using chokidar options I excluded (put into `ignored`) bundle files, but it still doesn't work as expected: I get module resolution error (`can not find module`).

[2017-06-17 19:06] xdave commented on #605
@nchanged

So, simplifying the split syntax would be cool.

[code]
Which would be shorthand for:
[code]

- Helps with resolving what bundle the module is coming from at runtime
- Ensures that FuseBox's `import()` function doesn't have semantics that stray from the standard
- Ensures that Visual Studio Code can infer the module types for Widget, etc

[2017-06-17 19:33] nchanged commented on #605
@xdave so you want us to copy Webpack? ;-) I find this solution extremely tedious.

[2017-06-17 19:40] nchanged commented on #605
@xdave we could use generic types, I hope those will be available
[code]

[2017-06-17 19:56] xdave commented on #605
I think vscode is going to want to resolve the module in the same way as
[code]
would.

So, "about" would need to be a module it can do a type lookup with, not a bundle.

[2017-06-17 20:02] xdave commented on #605
OK, how about just
[code]

If you copy webpack, people will switch.  The less code they have to change, the better.

[2017-06-17 20:02] nchanged commented on #605
I have a solution in mind of mapping to a bundle
[code]
It's possible, but there will difficulties with the Vanilla API, Quantum, however, has no problems with it.

[2017-06-17 20:04] nchanged commented on #605
Since we know the entires

[code]

There should not be any problems achieving the goal without any extra comments and not breaking typescript. But as I said, Vanilla API won't really like it.

[2017-06-17 20:13] xdave commented on #605
Another thing to consider: https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#dynamic-import-expressions

[2017-06-17 20:13] xdave commented on #605
If you don't use the `esnext` module target, it translates the `import()` call to `require()`

[2017-06-17 20:15] xdave commented on #605
I'm testing this with typescript@next right now, and even vscode is playing nicely with it.

[2017-06-17 20:17] xdave commented on #605
Can't use module type `es2015`:

[2017-06-17 20:20] nchanged commented on #605
@xdave I just did it.. AND OH MY LORD!!!
https://github.com/fuse-box/fuse-box/blob/master/src/quantum/plugin/modifications/DynamicImportStatements.ts#L14

[code]

with the config
[code]

It's automatically mapped and resolved!!!!

P.S Vscode doesn't really like the syntax (it's a June update right)?

[2017-06-17 20:22] xdave commented on #605
I'm using vscode 1.13.1 and I have `"typescript.tsdk": "./node_modules/typescript/lib",` in my settings.

So when installing `typescript@next`, it uses that version.

[2017-06-17 20:23] nchanged commented on #605
@xdave btw, fusebox doesn't require `typescript@next` for dynamic imports. It's replaced long before it actually gets to transpiling

[2017-06-17 20:25] xdave commented on #605
I know that much, I was talking about vscode support.

[2017-06-17 20:26] nchanged commented on #605
![screenshot 2017-06-17 22 26 03](https://user-images.githubusercontent.com/1629088/27256083-fee04a84-53ab-11e7-809d-b3e4c2c90bbc.png)
I got it working! And FuseBox maps it and lazy loads a bundle!!!

[2017-06-17 20:29] xdave commented on #605
nice.

[2017-06-17 20:33] xdave commented on #605
Only thing we lose is the ability to declare the split config when the dynamic module is imported.  However, that would require more info in the code (such as a comment or other magic).

[2017-06-17 21:14] nchanged commented on #605
What do you mean? it will be in the config yes.

[2017-06-17 21:51] nchanged commented on #605
@xdave https://github.com/fuse-box/fuse-box-examples/blob/2.2.0/examples/code-splitting/src/index.ts

[code]

[2017-06-17 22:31] nchanged commented on #610
Fixed in `fuse-box@2.2.0-beta.7`

[2017-06-17 22:31] #610 closed

[2017-06-17 22:57] nchanged commented on #604
Should be solved in `2.2.0-beta.6` with `import()` support
https://github.com/fuse-box/fuse-box-examples/blob/2.2.0/examples/code-splitting/src/index.ts#L1

[2017-06-17 22:57] #604 closed

[2017-06-18 04:55] xdave commented on #605
So, with `2.2.0-beta.7`, it seems that the vanilla API has a couple of issues:

- The split bundles are not processed
- Hot reloading does not occur for files in a split bundle anymore

[2017-06-18 05:12] calebboyd commented on #589
Haha, Yes, of course. I should've phrased my question differently. It sounds like it is the responsibility of the plugin to invoke "makeAnalysis" if the ast is not already populated when the plugin's transform function is invoked.

Following up with a previous question:

Is there a mechanism to emit the bundle in memory instead of writing to a file? For example, webpack uses `memory-fs` for this.

[2017-06-18 06:54] nchanged commented on #605
@xdave what do u mean not processed? There is a bug yes, but not related to processing, check the demos I sent

[2017-06-18 07:37] xdave commented on #605
What I meant was the files for a split bundle are not separated with the vanilla API, they're included in the parent bundle.  It otherwise works as if I didn't do the split at all.

[2017-06-18 10:28] aretecode commented on #589
would be fairly simple if one could hook into `context.bundle.bundleSplit.beforeMasterWrite` & `context.writeOutput` & `context.output.writeStaticCache`

[2017-06-18 16:10] devmondo commented on #605
i confirm this.

[2017-06-18 17:10] nchanged commented on #605
Yes and this is by design

[2017-06-18 17:12] nchanged commented on #605
Physical split happens with quantum, vanilla is just faking it for development purposes

[2017-06-18 18:43] xdave commented on #605
OK, understood.  However, the hot reloading of the files inside of a split bundle (vanilla API) does not work.

[2017-06-18 18:50] xdave commented on #603
So, with the latest changes, it looks like this is fixed.  Because split bundles are not technically split with the vanilla API, source maps work for them now.

[2017-06-18 18:59] nchanged commented on #605
Hm, it should, but I will check, that's for sure.

[2017-06-18 19:00] nchanged commented on #603
@xdave that's correct!

[2017-06-19 13:12] davidanaya opened #621 "dev server with an extra route"
Hi,

I have a problem with the dev server.

I'm using jsonServer in my development build to simulate a server on json data. So, what I want is to access my app (Angular) with http://localhost:4444 and my api with http://localhost:4444/api.

If I try this

[code]

my app works but my /api doesn´t.

If I try this

[code]

then my /api works but my app doesn´t.

I also tried

[code]
so trying to defi

[2017-06-19 13:17] nchanged commented on #621
hi @davidanaya and welcome to the community!
To begin with, that's just an express [server](https://github.com/fuse-box/fuse-box/blob/master/src/devServer/HTTPServer.ts#L30)

So technically you could wire up any functionality or even create your own server in java or any other language. Make sure your setup works without `dev server` in fusebox and then you can easily port it to fusebox, or simply

[2017-06-19 13:40] davidanaya commented on #621
Hi @nchanged, thanks for your reply and sorry I know this is not the place for this question but there's still not much support out there.

This is the setup I'm using at the moment in webpack and it works nicely.
[code]
But it's like something with { root: false } is not doing what I expected :(

[2017-06-19 13:47] davidanaya commented on #621
Ok, I got it.

It seems that when you define a route you also HAVE to define the root. I thought that would be done automatically.
So I tried this
[code]
and it works! 👍

[2017-06-19 13:57] UncleDave opened #622 "PostCSSResourcePlugin not bundling multiple src urls"
[Example in fresh project.](https://github.com/UncleDave/fuse-box-css-resource-plugin-font-issue)

FontAwesome declares its font-family with multiple font formats:

[code]

In this form, after being run through CSSResourcePlugin it seems to process the .woff, the .eot(s), and the .svg, while it skips the .woff2 and the .ttf.

However, when I change the above code to:

[code]

or

[code]
It does ma

[2017-06-19 13:59] nchanged commented on #622
You are absolutely right, we are not processing lists of fonts. That's a good catch.

[2017-06-19 14:08] #621 closed

[2017-06-19 14:33] vegarringdal commented on #601
Any update on this ?
Is there a fix in the beta ?

[2017-06-19 18:10] rosensama commented on #444
FWIW, when I find that neither of my bundles has my vendor dependencies causing console errors like `Uncaught Package not found react`, it's because the BabePluginClass capture failed.   There was no strong error message for this.   In the most recent instance, a module was loading the mime module which in turn was including a JSON file.  I need to add the JSON plugin to my config.   It would comp

[2017-06-19 18:26] nchanged commented on #444
@rosensama please add JSONPlugin and use `2.2.0-beta.12`

[2017-06-19 19:06] rosensama commented on #444
@nchanged since I added JSONPlugin, my vendor bundle is improved and contains many packages.   I get the same `TypeError` regarding prototype with `2.2.0-beta.12` as I did with `2.1.0`.   Debug logging doesn't reveal any interesting messages.

[2017-06-19 19:19] nchanged commented on #444
Could you reproduce it in a separate repository please?

[2017-06-19 20:11] rosensama commented on #444
@nchanged I'll try.

[2017-06-19 20:23] nchanged commented on #444
@rosensama and in a new issue, please. Much appreciated.

[2017-06-19 20:41] rosensama opened #623 "Enabling Quantum plugin triggers error from node-formidable"
Seems like node-formidable has a "special" test hook.   Can find issues from a few years ago where this can be remedied by a config in webpack.  Is there an equivalent way to toggle the global var for their test hook?   Note I only hit this bundling for dist using QuantumPlugin.

See https://github.com/felixge/node-formidable/issues/295

[code]

Offending code
[code]

Suggested webpack fix:
[code]

[2017-06-19 20:48] nchanged commented on #623
@rosensama You can solve it now with the ReplacePlugin
`ReplacePlugin({ "global.GENTLY" : "false" })`

http://fuse-box.org/plugins/replace-plugin#usage

[2017-06-19 20:56] nchanged commented on #616
@JohnGalt1717 a side note, you can try `import()` statement instead with `2.2.0-beta.12`

[2017-06-19 21:12] JohnGalt1717 commented on #616
Ok thanks!

[2017-06-19 21:32] nchanged commented on #616
@JohnGalt1717 https://github.com/fuse-box/fuse-box-examples/blob/2.2.0/examples/code-splitting/fuse.js#L9

[2017-06-19 22:45] rosensama commented on #623
Thanks.   This was what I was asking for.   But i don't get the expected result and it's sensitive to how it's sequenced.

If I run it before the JSONPlugin I get the following . . .
[code]
[code]
If I place it after JSONPlugin and before BabelPlugin, the bundling fails in the QuantumPlugin processing.  I've tried removing `.fusebox` and reinstall acorn.
[code]

[code]

If I move it after BabelPlu

[2017-06-20 02:13] rosensama opened #624 "Object prototype may only be an Object or null: undefined"
Spawned from #444

Requested repro in https://github.com/rosensama/fuse-box_cannot_read_prototype

[2017-06-20 05:44] nchanged commented on #624
I might know, you are using auth lock, try setting target : browser (and clear the cache)

[2017-06-20 05:49] nchanged commented on #623
Could u the try limiting ReplacePluginf to js files with chaining? I will fix it when I get to my laptop

[2017-06-20 06:48] nchanged commented on #624
Ok, there is some severe problem with auth-lock... Trying to find out what's wrong

[2017-06-20 07:11] nchanged commented on #624
[code]

This one fixes one problem, but then there is another

[code]
`_core2.default` is never a function. It's a function. It's bundled correctly, but i am afraid there is a bug in the library

[2017-06-20 07:21] nchanged commented on #624
Please check this issue. I can't seem fix it, cuz it's not really fixable. FuseBox bundles it correctly with `target("browser")`.
https://github.com/styled-components/styled-components/issues/271

And it's not resolved. You could try shimming it maybe?

[2017-06-20 07:27] nchanged commented on #623
`2.2.0-beta.13`

Should be the first one.
[code]

[2017-06-20 09:12] ixjakub commented on #624
Wow, I had the same issue with superagent and fuse-box. Adding `.target('browser')` helped. Thank you!

[code]

BTW Should it be added to both vendor and app?

[2017-06-20 09:14] nchanged commented on #624
@ixjakub with the latest beta you can set it in the parent config
[code]

[2017-06-20 10:05] UncleDave opened #625 "Quantum - bakeApiIntoBundle broken by uglification"
When bakeApiIntoBundle is set the Quantum bundle writer will attach the fuse-box api to the front of the given file and then append a newline, if uglify is enabled this newline will get removed.

`targetBundle.generatedCode = new Buffer(this.core.api.render() + "\n" + targetBundle.generatedCode);`

This produces (after uglification):

`!function(){ *api bundle* }()(function(n){ *our bundle* })($fs

[2017-06-20 10:14] nchanged commented on #625
@UncleDave I think you need to update `fuse-box`
It has been fixed `2.2.0-beta.13`

[2017-06-20 10:17] UncleDave commented on #625
Oh cool I've just been sitting on 2.1.0

[2017-06-20 10:18] nchanged commented on #625
@UncleDave check betas from time to time. there is a major update [coming](https://github.com/fuse-box/fuse-box-examples/blob/2.2.0/examples/code-splitting/src/index.ts#L4)

[2017-06-20 10:20] UncleDave commented on #625
That is a juicy one.

[2017-06-20 10:21] #625 closed

[2017-06-20 10:38] UncleDave opened #626 "2.2.0 beta - Object.values usage"
2.2.0 introduces usage of Object.values, the earliest version of Node that implements this (without using the --harmony flag) is 7.0.0, whereas package.json still refers to 6.9.5 being the minimum required node version.

http://node.green/#ES2017-features-Object-static-methods-Object-values

[2017-06-20 10:45] nchanged commented on #626
Hm, which module is using it?

[2017-06-20 10:48] nchanged opened #627 "Dynamic imports support"
Subj

* import json
* import CSS
* import ANY other extension (give strings)
* import javascript file (+commonjs)
* import split bundles

Should work in all environments with targets set (server, browser, universal)

[code]

[2017-06-20 10:49] nchanged commented on #626
oh right, @aretecode could you remove it from there?

[2017-06-20 10:57] nchanged commented on #578
Closing it for now, feel free to re-open elsewise

[2017-06-20 11:27] Martaver commented on #578
Yep sure, I meant to close after I submitted the PR :) Thanks!

On Tue, Jun 20, 2017 at 1:57 PM nchanged <notifications@github.com> wrote:

[2017-06-20 12:12] nchanged commented on #626
Fixed in `fuse-box@2.2.0-beta.14`

[2017-06-20 12:12] #626 closed

[2017-06-20 12:15] nchanged opened #628 "Quantum - ContainedAPI or Isolated Quantum Bundles"
Option added
[code]

If a producer has only 1 bundle in place and `bakeApiIntoBundle` option the API will be contained. Scopes will not be shared. It will be used for packaging quantum bundles to NPM in order to ensure that other bundles' scopes don't collide with everything else. An isolated bundle that is.

Introduced in `fuse-box@2.2.0-beta.14`

[2017-06-20 18:45] vegarringdal opened #629 "watch(true, callback)"
Hi

Possible to add callback function to watch() we put in the bundles?
Would have been very useful for handling linting/type checking

[2017-06-20 18:54] nchanged commented on #629
there is such thing, called `completed(proc => {})`

[2017-06-20 19:03] vegarringdal commented on #629
ok, if that triggers every time watch(true) would trigger then Im closing this :-)

[2017-06-20 19:03] #629 closed

[2017-06-20 19:10] nchanged commented on #624
![screenshot 2017-06-20 21 06 00](https://user-images.githubusercontent.com/1629088/27351200-cda832f8-55fc-11e7-9109-42d7b0e3b141.png)

@ixjakub I hope this will be helpful 👍

[2017-06-20 19:11] ixjakub commented on #624
Cool :)

[2017-06-20 19:13] nchanged opened #630 "Warning are displayed when "browser" field is detected in package.json but target is not set"
![screenshot 2017-06-20 21 06 00](https://user-images.githubusercontent.com/1629088/27351331-3c0d0be2-55fd-11e7-8601-a37d8f262da4.png)

[2017-06-20 19:13] #630 closed

[2017-06-20 19:13] #628 closed

[2017-06-20 19:14] rosensama commented on #624
@nchanged thanks.  I'll test the target('browser') bits over the next few days.  I've reported a defect to Auth0, but we'll see where that goes.

[2017-06-20 19:14] rosensama commented on #623
@nchanged thanks.   I'll test this over the next few days.

[2017-06-20 19:15] nchanged commented on #624
@rosensama that's cool, we will keep it open for now. I tested it thoroughly, and it really seems like fusebox has nothing to do with the build.

[2017-06-20 19:21] devmondo commented on #471
@dragosbulugean for `.sass` format, from the docs
n order to use Sass indented syntax set indentedSyntax option:
[code]

[2017-06-20 19:34] #471 closed

[2017-06-20 19:39] devmondo commented on #530
This is supposed to be solved in latest, let us know if it does not.

[2017-06-20 19:39] #530 closed

[2017-06-20 21:01] devmondo commented on #501
your first `jsx` Chinese characters are encoded because of the `jsx` compiler capable of that as it is a string. but the rest is out of its scope because it is interpreted as normal js code. I don't think this is a FuseBox responsibility.

will close this issue for now, but let us know otherwise :)

[2017-06-20 21:01] #501 closed

[2017-06-20 21:05] devmondo commented on #541
this should be working now with the latest version.

we will close this for now but let us know otherwise :)

[2017-06-20 21:05] #541 closed

[2017-06-20 21:07] devmondo commented on #563
the comment above seems like a solution.

we will close this for now but let us know otherwise :)

[2017-06-20 21:07] #563 closed

[2017-06-20 21:11] devmondo commented on #373
could you try the latest version, and if it still exists could you please create a repo to reproduce it?

we will close this for now but let us know otherwise :)

[2017-06-20 21:11] #373 closed

[2017-06-20 21:17] devmondo commented on #229
If you are using Typescript with FuseBox, unfortunately, we can't do much as this is how it works. on the other hand, if you use Babel then there is already a plugin for it.

we will close this for now but let us know otherwise :)

[2017-06-20 21:17] #229 closed

[2017-06-20 21:21] devmondo commented on #168
This should be handled now with the new enhancements and Sparky.

we will close this for now but let us know otherwise :)

[2017-06-20 21:21] #168 closed

[2017-06-20 21:22] devmondo commented on #203
Unfortunately, we won't be able to provide this, but our logging is very rich now, especially with `debug` option.

we will close this for now but let us know otherwise :)

[2017-06-20 21:24] devmondo commented on #241
According to the new `quantum` feature, `dynamic imports` and tree shaking. this is mostly not gonna happen as it would defeat the purpose of those new enhancements.

we will close this for now but let us know otherwise :)

[2017-06-20 21:24] #241 closed

[2017-06-20 21:26] devmondo commented on #426
glad to tell you it is there now :)
[fusebox-faster-webpack-alternative](https://www.sitepoint.com/fusebox-faster-webpack-alternative)

we will close this for now but let us know otherwise :)

[2017-06-20 21:26] #426 closed

[2017-06-20 21:26] #516 closed

[2017-06-20 21:27] devmondo commented on #424
and you need to put `.js` extension. `[“.js”, ReplacePlugin()] `

we will close this for now but let us know otherwise :)

[2017-06-20 21:27] #424 closed

[2017-06-20 21:28] devmondo commented on #408
done FuseBox.isServer replaced with Quantum.

we will close this for now but let us know otherwise :)

[2017-06-20 21:28] #408 closed

[2017-06-20 21:30] devmondo commented on #406
Done, we now have [ fuse-box-examples ](https://github.com/fuse-box/fuse-box-examples)

we will close this for now but let us know otherwise :)

[2017-06-20 21:30] #406 closed

[2017-06-20 21:31] devmondo commented on #332
It is solved now with the latest version.

we will close this for now but let us know otherwise :)

[2017-06-20 21:31] devmondo commented on #302
this is already solved.

we will close this for now but let us know otherwise :)

[2017-06-20 21:32] devmondo commented on #282
this is fixed.

we will close this for now but let us know otherwise :)

[2017-06-20 21:32] #282 closed

[2017-06-20 21:34] devmondo commented on #253
as mentioned above, this is outside the scope of FuseBox, it should be handled on HTTP Servers

[2017-06-20 22:22] aretecode commented on #253
there is gzip size reporting though in beta

[2017-06-20 22:23] aretecode commented on #626
https://github.com/fuse-box/lego-api/pull/4

[2017-06-20 22:24] aretecode commented on #302
@devmondo since when was this solved? is there an example of using ts to compile js when you want it to? by using quantum ensure-es5? links?

[2017-06-20 23:02] GunterGlad commented on #253
When we bundle we gzip, the reason we do this is to now need the web server to do that on the fly, that means less cpu demand to get the bundle. I know it is small, but everything adds up when you start getting thousands of requests

[2017-06-20 23:19] aretecode commented on #253
@GunterGlad if you already do this, you could add a plugin for it?

[2017-06-20 23:21] aretecode commented on #406
@devmondo not all examples are in there, for example, vue example, angular example

[2017-06-21 00:34] devmondo commented on #253
@GunterGlad, could you add a plugin like @aretecode said ?

[2017-06-21 00:34] devmondo commented on #302
@nchanged is this still not solved?

[2017-06-21 00:35] devmondo commented on #406
@aretecode those are seeds and not the core example.

@nchanged should we reopen this?

[2017-06-21 02:01] xdave commented on #302
ya i wanna know, too...

[2017-06-21 02:02] xdave commented on #332
Is it?  Quantum hasn't removed stuff I `require` inside of a `process.env.NODE_ENV !== 'production` block.

[2017-06-21 02:17] GunterGlad commented on #253
Sorry to clarify. We do a gzip in web pack. I am looking to switch to fuse instead and want to get the same results. In webpack we use "compression-webpack-plugin".

[2017-06-21 02:18] devmondo commented on #253
@GunterGlad, we will reopen this, for now, to see how we can tackle it :)

[2017-06-21 02:21] devmondo commented on #332
@nchanged i thought we solved it?

[2017-06-21 02:51] xdave commented on #627
Yes.

[2017-06-21 05:52] nchanged commented on #332
@xdave Quantum replaces it with string "production" and uglify js actually removes it. IsServer is being replaced to true/false

[2017-06-21 05:55] nchanged commented on #406
No, these examples will stay in separate repositories

[2017-06-21 06:23] davidanaya opened #631 "Separate bundle for vendor"
Hi, I'm trying to configure my Angular project to have 3 different bundles, one for polyfills, one for vendors (Angular libraries, rxjs) and one for just my project files.

In webpack I use this
[code]
where my main.ts is the entrance point of my Angular app, polyfills is this
[code]
and vendor.ts
[code]
In rxjs.extensions.ts I define the imports for the operators I use with my observables
[code]

[2017-06-21 06:44] nchanged commented on #631
Hi
* Use [WebIndexPlugin](http://fuse-box.org/plugins/webindexplugin#webindexplugin)
It makes sure of the bundle order (vendor.js) should come first

* Vendors are created differently
http://fuse-box.org/page/bundle#creating-vendors

[code]

* Modify your application instruction to avoid vendors in the bundle

[code]

Use `2.2.0-beta.16` it will spit warning if you have libraries in use which use

[2017-06-21 07:25] davidanaya commented on #631
Sorry, I copied the wrong config for my fuse, I was actually using this:
[code]
I included vendor.ts in the second bundle just to make sure my rxjs was included, but it doesn´t make a difference to do it or not, same error displayed in either case.

I was already using WebIndexPlugin, and the order in my index.html seems fine, the same I have defined.

I updated to ```2.2.0-beta.16``` and now I ha

[2017-06-21 07:32] nchanged commented on #631
it @davidanaya it says add target("browser") or target : browser to the config.
http://fuse-box.org/page/configuration#target

[2017-06-21 07:33] nchanged commented on #631
And always clear the cache if you change `fuse.js`

[2017-06-21 12:24] jperezdavinchi commented on #584
With the version 2.1.0 this still failing.
I put the alias as you said but still failing
![image](https://user-images.githubusercontent.com/28526655/27383842-038b8632-568d-11e7-8b03-b85b4e56ba83.png)

I check it with FuseBox.exists
![image](https://user-images.githubusercontent.com/28526655/27383913-40406bf6-568d-11e7-8090-e268180b2ad4.png)

Any idea? :'(

[2017-06-21 12:40] nchanged commented on #584
@jperezdavinchi check your bundle source
for `FuseBox.pkg("@haztivity"` and copy paste the header please, also just __scope__.file("core/index)

[2017-06-21 15:48] devmondo commented on #406
@aretecode is it clear? or you have more input?

[2017-06-21 19:55] vegarringdal opened #632 "sparky - watch"
[code]

Would have been nice to know what event it is
Is it the capture phase (first run when it calls back on all files), changed, new or deleted file ?
That way we could use it better.