[2018-10-29 02:21] brad-jones opened #1419 "Build a bundle at a time for CI/CD purposes"
**Background:** We have a fusebox based SPA, it has 2 bundles (app & vendor). So far pretty simple.

The difference is that the app is built for many different customers with different themes applied. We achieve this by injecting some environment variables at build time, eg: `CUSTOMER=foo node fuse.js`

We also have some other config, mainly feature flags and other things injected like so:

[code]

[2018-10-29 07:58] nchanged commented on #1419
Hi @brad-jones
I understand the problem. Unfortunately there is no clear path or solution for that exact issue you're having. However, I can suggest some tricks on how to make your build better.

Having these hardcoded numbers doesn't mean that Quantum can't be dynamic.

## Dynamic configuration at runtime

Use dynamic [json loading](https://fuse-box.org/docs/development/dynamic-imports#loading-js

[2018-10-29 21:57] misantronic commented on #1403
nope. unfortunately, I haven't had the time to look into it, yet.

[2018-10-30 00:55] brad-jones commented on #1419
Thanks for the suggestions, I'll have to have more of a play around with things.

When you mentioned [custom mapping](https://fuse-box.org/docs/production-builds/quantum-configuration#computed-statement-resolution) did you actually mean to link to [runtime bundle mapping](https://fuse-box.org/docs/production-builds/quantum-configuration#runtimebundlemapping)?

Again I need to play with it but I th

[2018-10-30 03:25] tomitrescak opened #1420 "Cannot use React.lazy"
Hi, I tried to use Ract.lazy functionality for code splitting but it does not seem to work. For some reason, the "object" is returned.

Following works in Create React app, does not work in FuseBox ;(

[code]

[2018-10-30 08:09] nchanged commented on #1420
@tomitrescak it returns whatever the module is returning. Try exporting your component using  `default`

[2018-10-30 09:00] nchanged commented on #1419
Nope, runtime bundle mapping is when you manually map strings to Quantum numbers.

[2018-10-30 14:36] RXminuS commented on #1375
So just to be clear, this is currently not available in 3.6 or it is available just not enabled?

[2018-10-30 15:59] guillaume86 commented on #1375
Not available

[2018-10-30 16:18] nchanged commented on #1375
I will publish a next version this week  which will contain this feature and let you guys know

[2018-10-30 23:54] tomitrescak commented on #1420
@nchanged thanks for your support. I know that this is not your job to support other libraries. Of course that was the issue.

Yet, there is one more problem. If I am at url /foo/bar, the code splitted urls are loaded from `/foo/bar/hashed.js` which leads to 404, instead of `/hashed.js`. I could not find a documentation that would force loading the file from the root

[2018-10-31 06:00] nchanged commented on #1420
Its in the code splitting section

splitConfig

[2018-10-31 06:00] #1420 closed

[2018-10-31 22:35] jrubstein opened #1421 "Watch does not stop after changing homeDir from ./ to ../"
Hello,

I am trying to build a project using fuse-box (great tool, btw) that includes several sub-project in a monorepo. The `watch` was working perfectly until I changed the homeDir to the root path, that way I can use the `alias` to get the other projects into my bundle.
Once I changed the homeDir, the bundle works perfectly, however the watch does not stop. It kept re-building the same bundle.

[2018-11-01 08:35] nchanged commented on #1421
Hi @jrubstein
That's a known issue. Try to fit it all in your src folder. The problem is that `dist/` isn't ignored. I will fix it in this release

[2018-11-01 09:17] PPehrs commented on #1366
yes, would be great if you can port it, is it possible?

[2018-11-01 12:44] cptnhaddock opened #1422 "Hot module reload does not work for separate css-files in a Vue-project."
Hot module reload does not work for separate css-files in a Vue-project.
Steps to reproduce:
Clone https://github.com/fuse-box/fuse-box-vue-seed
Add a new css file and a class which alters the background, i.e.
`.my-class {
background-color: red;
}`
Add the class somewhere where it makes a difference in Home.vue, i.e.  `<div class="logos-container my-class">`
Do `npm start`
Change the background co

[2018-11-01 12:58] nchanged commented on #1422
@cptnhaddock thanks
Can you submit a PR please?

[2018-11-01 13:05] cptnhaddock commented on #1422
Yes, will do!

[2018-11-01 14:42] #1422 closed

[2018-11-01 16:07] sential opened #1424 "Uncaught Package not found fuse-box-css"
Hi,
I'm trying to add Sass to my project, but there's `Uncaught Package not found fuse-box-css` error thrown.
Here's the repo where the error comes up with: https://github.com/sential/sets

[2018-11-01 17:49] nchanged commented on #1424
`const app = fuse.bundle("app").instructions("> [index.ts] + fuse-box-css");`

You have it ignored.

[2018-11-01 17:49] #1424 closed

[2018-11-01 18:20] jrubstein commented on #1421
Hello @nchanged ,

Thank you for your answer. Looking forward to the new release.
Regards,

[2018-11-01 19:02] nchanged opened #1425 "Watcher should ignore dist folder when homeDir points to './'"
subj

Many people complained about It. it is confusing indeed.

[2018-11-01 19:02] nchanged commented on #1421
#1425

[2018-11-01 19:03] nchanged commented on #612
#1421

[2018-11-01 19:05] nchanged commented on #612
#1425

[2018-11-01 19:08] nchanged commented on #1425
FIxed in `3.7.0-next.1`

[2018-11-01 19:08] #1425 closed

[2018-11-01 19:09] nchanged commented on #1421
FIxed in `3.7.0-next.1`

[2018-11-01 19:09] #1421 closed

[2018-11-01 19:09] nchanged commented on #612
FIxed in `3.7.0-next.1`

[2018-11-01 19:09] #612 closed

[2018-11-03 17:08] Gustorn commented on #1378
I would send a PR for this, my only questions is: how do I handle the transation between `uglify-es` and `terser`:

1. Add a new plugin (`TerserPlugin`) and when uglifying in Quantum, try requiring `terser` first. If that fails, fall back to `uglify-es`. The advantage is that it does not break compatiblity.
2. Same as 1. but also delete `UglifyESPlugin` and no fallback. Needs a major version bump

[2018-11-03 21:02] forgo opened #1426 "Build output directory no longer created, but Sparky tasks running successfully?"
My `/build` output directory is not being generated, but I am able to run cleanly with FuseBox. Maybe I have a fundamental misunderstanding of how this works, but shouldn't my dev server fail if there is no bundle?

I have a project which you can easily recreate this scenario:
[code]

After you finish running those commands, I am curious why there is no `build/` directory generated with bundled as

[2018-11-03 21:12] forgo commented on #1426
For posterity's sake, here is the contents of my troublesome `fuse.js:

[code]

[2018-11-03 21:39] forgo opened #1427 "Upgrade merge to version 1.2.1 or later."
GitHub has alerted my repository for remediation on the following issue:

### [CVE-2018-16469](https://nvd.nist.gov/vuln/detail/CVE-2018-16469)

**high severity**

**Vulnerable versions:** < 1.2.1
**Patched version:** 1.2.1

The merge.recursive function in the merge package in versions before 1.2.1 can be tricked into adding or modifying properties of the Object prototype. These properties will be

[2018-11-03 21:58] forgo commented on #1427
I believe the issue lies with the version of `watch`, as downstream of that, it appears the latest versions have either addressed the issue or removed the `merge` dependency entirely.

Here is the issue I opened with `merge`:
[https://github.com/mikeal/watch/issues/144](https://github.com/mikeal/watch/issues/144)

[2018-11-03 22:58] nchanged commented on #1427
@forgo Hi, thanks for brining this up. I don't think we are using that library at all. It's just in package.lock.json
Gotta remove that one.

[2018-11-03 23:02] nchanged commented on #1426
@forgo
[code]

I just tried it, it's being generated. You have to returns a Promise. I think that's clear enough. You were missing a `return` statement.

[2018-11-03 23:02] #1426 closed

[2018-11-03 23:07] nchanged commented on #1378
@Gustorn let's spit out a warning that UglifyEs is not longer supported and will be remove in the next major release.
* Make a warning if UglifyES is used.
* Add new plugin based on UglifyES (to keep it synced)
* Updated the docs with cross references

Be aware of that too:

https://github.com/fuse-box/fuse-box/blob/92ccfa701ad12b48e470cb5cdf18a33f4f70a51a/src/quantum/plugin/BundleWriter.ts#L64

T

[2018-11-05 05:16] andrewcourtice opened #1429 "Watch and rebuild linked packages in yarn workspaces monorepo"
Hey guys

Firstly I'd like to say fusebox is epic! It is a breath of fresh air coming from webpack and babel. Well done to all contributors for all of your hard work in making this such a great build tool with a well thought out api.

I just have a quick question in regards to using fusebox with yarn workspaces. Consider the following file structure:

[code]

Currently with my webpack setup if I m

[2018-11-05 08:08] nchanged commented on #1429
@andrewcourtice Hi and thanks for such kind words!
modulesFolder is one of the oldest features and it requires some love. Due to the amount of requests for this workspace setup (You aren't even the first nor the second to ask for this feature), I will try to implement and squeeze it into 3.7 release.

There is one thing that might be helpful in `fuse-box@next`. You can keep fuse.js in your homeDir

[2018-11-05 08:10] #1378 closed

[2018-11-05 10:33] Gustorn opened #1430 "Incorrect module resolution when running custom TS transformers"
I ran into a problem when using custom TS transformers that add new import declarations to a source file programatically. The problem is that the newly added symbols won't be handled correctly by fuse-box:

Let's take the following code snippet:

[code]

If it was manually written, the transpiled code looks something like this:

[code]

But if I generated the code with a transformer, here's what i

[2018-11-05 10:57] nchanged commented on #1430
@Gustorn FuseBox doesn't do anything special with it. It's all a default behavior. You should take a look at your transformer.

I am not really sure what you are trying to do there, but maybe [auto import](https://fuse-box.org/docs/3.5.0/development/configuration#auto-import) will help?

[2018-11-05 12:35] nchanged commented on #1375
Hey guys, Give it a try `fuse-box@3.7.0-next.6`

* Make sure you have cache disabled and `sourceMaps: true`
* Make sure that the source maps are reachable, (check the output) If it's wrong - do the following

[code]

Add `vendor : true` if you want to see the vendor Source maps (however it will take ages to generate and all I could do it just map the file names - so it won't be  "true" VENDOR sour

[2018-11-05 13:30] Gustorn commented on #1430
Indeed, the transformer was actually wrong, it just happened to work with bundlers that use `ES2015` modules as their native format (webpack, rollup). Sorry for the false alarm!

[2018-11-05 13:30] #1430 closed

[2018-11-05 14:43] forgo commented on #1426
@nchanged

Thanks for looking at it. I should have known better.

[2018-11-05 15:00] forgo commented on #1426
@nchanged

Just as a side note, this will create the `/build` directory, but there is nothing produced underneath it. The only way I can get anything to generate underneath is to comment out the QuantumPlugin.

What are the limitations referred to here? It appears I might be running into them or using the plugin incorrectly, still.

[code]

[2018-11-05 15:55] nchanged commented on #1426
@forgo we can move definedExpression into FuseBox.init (have a shared config) and make dev build understand it too.

[2018-11-05 23:42] andrewcourtice commented on #1429
@nchanged You sir, are a legend! I'm looking forward to the 3.7 release. In the meantime I'll give `fuse-box@next` a go. Thanks again for your help 👍

[2018-11-06 10:07] laekem34 opened #1432 "$css make wrong path with quantum"
Hello,

I recently started on fusebox, and I find it very convenient to manage a simple project.

I encounter a little difficulty when I want to build my application in production, I do not know if it comes from the Quantum or WebIndex plugin.
The css file comes out in the / dist / styles folder (which is wanted) but in the index.html file, the template's $ css variable returns the file at the roo

[2018-11-06 10:42] nchanged commented on #1432
Hi, that's your solution. Adjust WebIndexPlugin path variable. It's not up to Quantum to fix your public paths.
[code]

I will close this issue now as i've just verified it and it works as expected. Feel free to join Gitter. You are always welcome there!

[2018-11-06 10:54] #1432 closed

[2018-11-06 10:56] nchanged commented on #1432
@laekem34 sorry for that. I've figured out that the best way of doing it is adding additional option to WebIndexPlugin. It's available in `fuse-box@3.7.0-next.7`

Here is the [documentation](https://github.com/fuse-box/fuse-box/blob/c8239d957586518cdb81874d166b31534e5f4b1e/docs/plugins/web-index.md#resolving-paths)

I hope this option will help you!

[2018-11-06 13:06] laekem34 commented on #1432
Hello !

yes of course, thanks you very much :)

an official release date for this version ?

[2018-11-06 14:02] nchanged commented on #1432
@laekem34 it's published already `fuse-box@next`

[2018-11-06 14:03] laekem34 commented on #1432
Ok thank you !

[2018-11-06 15:57] athrunsun opened #1433 "Is it recommended to write fuse configuration in TypeScript?"
Is it recommended to write fuse configuration in TS, i.e. fuse.ts?

I can't find anything about that in official documentation. Do we have a update to date example repo for that purpose?

I love TS as fusebox did, so really want to know how is it officially supported as for configuration file.

Thanks!

[2018-11-06 18:42] nchanged commented on #1433
hi @athrunsun
Of course you can use `fuse.ts` in fact many people do so with `ts-node`
I had ideas on making cli understand either or `fuse.ts` or `fuse.js`. But this is just in plans. If you have further questions please use our Gitter channel ;-)

[2018-11-06 18:42] #1433 closed

[2018-11-07 08:39] wmathes opened #1434 "problem when uglifying multi-line strings starting with escape character"
Hello guys, first off... amazing job you're doing here! Love fuse-box and spreading the word whenever i can :p

While trying to bundle `postgraphile` i came across a problem which only appears in combination with `fuse-box` and `uglify-es`. I wasn't able to recreate it using just `uglify-es` itself.

If a function returns an inline multiline string, which starts with ``\` follwed by a linebreak, t

[2018-11-07 10:29] nchanged commented on #1434
@wmathes uglify-es is no longer supported and will be removed from FuseBox soon. Please use `terser` plugin in `fuse-box@next`

[2018-11-07 15:39] laekem34 commented on #977
Hello Katsik,

I tried this and it worked for me
in fuse.js

add a property 'fuse' to the object:
[code]
then add this task:
`task("watch:index", (context) => watch(['src/**.*']).file("*.html", () => context.fuse.sendPageReload()))`

then in your default task assign fuse configuration to fuse property and start the watch task:
[code]

Is it working for you ?

[2018-11-08 05:13] MaxSvargal commented on #1220
The same problem at now. Any news?

[2018-11-08 05:54] nchanged commented on #1220
Which variable is missing now ?

[2018-11-08 17:54] nchanged commented on #1434
Any update ?

[2018-11-08 22:25] jimmybaker opened #1435 "DevTools failed to parse SourceMap"
<img width="1024" alt="image 2018-11-08 at 4 24 13 pm" src="https://user-images.githubusercontent.com/50668/48231186-ee625a00-e372-11e8-8d86-b773427f7074.png">

Does anyone know how to get rid of these messages?

[2018-11-09 01:51] wmathes commented on #1434
Just tried it out and it seems to work. Apparently `terser` though just removes the `\` altogether, which is working, but still slightly changes the string. I won't worry about this though.

Thanks for the heads up :)

[2018-11-09 01:51] #1434 closed

[2018-11-09 05:31] nishidashib commented on #1410
@nchanged

sorry , my response was late.
but  the error was happend.

fuse-box 3.6.0
[code]

[2018-11-09 05:35] nishidashib commented on #1410
@nchanged

the error was happend too (fuse-box 3.6.0)
[code]

[code]

my test repo: https://github.com/nishidashib/amplify-not-working

[2018-11-09 19:20] cptnhaddock commented on #612
I just tested the fix with build 3.7.0-next.7 and I still see the problem. I have one easy setup where one change triggers 13 builds. And I have one more complex project where a change triggers infinite builds.

It is not exactly as described above. Instead the setup for both project is that homeDir is `../` and output is `./dist`. So it is still related to homeDir and output.

[2018-11-09 19:36] nchanged commented on #612
@cptnhaddock and your platform is? OSX? Window?

[2018-11-10 10:35] cptnhaddock commented on #612
This is a simplyfied structure of my project. It is a monorepo and contains multiple webapps with a shared common folder in the root. No magic with yarn workspaces or the like... yet.

    .
    ├── common             # Common code shared by the webapps below and contains Vue components, images, libs and css
    ├── webapp1            # First webapp
        ├── components     # Vue components

[2018-11-10 12:43] vegarringdal commented on #961
@samirbr

Did you make a working stylable plugin ?

[2018-11-12 14:33] nchanged commented on #612
@cptnhaddock I've made the exact same structure, And it works as expected. Attaching a working project based on the example above.
[multi.zip](https://github.com/fuse-box/fuse-box/files/2572267/multi.zip)

[2018-11-12 19:52] cptnhaddock commented on #612
@nchanged Thanks for looking into this issue! But I can still reproduce it with your project. I have added package.json so that you will have exactly what I have. Just do a npm install and node fuse. :)

When I change the text in SharedModule it just builds infinitely.

[multi_updated.zip](https://github.com/fuse-box/fuse-box/files/2573403/multi_updated.zip)

[2018-11-13 15:54] misantronic opened #1436 "CSSModules with variables"
The `CSSModulesPlugin` works well with FuseBox (https://fuse-box.org/docs/plugins/css-modules-plugin)
Now, I want to [export variables](https://github.com/css-modules/css-modules/blob/master/docs/values-variables.md). I think to make this work I have to install https://www.npmjs.com/package/postcss-modules-values.

[code]

The first thing failing is the folder pointing to my css-file. It always do

[2018-11-13 19:38] misantronic commented on #1375
I just tested it in my production system and it works without any problems! thanks a million!! <3

[2018-11-13 20:57] misantronic commented on #1436
Ok, I took some time to dive into postcss, but actually I'm a bit overwhelmed.
Would need some time to first learn how to (write and) use postcss-plugins.

[2018-11-15 08:51] nchanged commented on #612
@cptnhaddock sorry it took a while, Been very busy. It has been fixed.

[2018-11-17 01:45] #1427 closed

[2018-11-20 00:51] RXminuS commented on #1375
Also tested in production...seems to work great for me too! Awesome job, can't tell you how much of a life save this is in Sentry

[2018-11-20 18:02] repl-sean-heintz opened #1437 "Syntax error in domain polyfill"
https://github.com/fuse-box/fuse-box/blob/162afc3c5da8213dc2a32be8ab142bb6f8518d32/modules/domain/index.js#L67

This line contains a syntax error as `return` is being used outside of a function. This appears to have been an artifact that was left in when adapting the polyfill for use with fusebox.

I will open a PR with my proposed fix. I've made the change in the browser editor so can someone wit

[2018-11-20 19:15] nchanged commented on #1437
@repl-sean-heintz nice one thanks! That totally makes sense and has been merged! Thanks a lot!

[2018-11-20 19:15] #1437 closed

[2018-11-21 09:16] mweiczorek opened #1440 "Sparky Context with Typescript"
Hi,
I found this answer, but it doesn't answer the question:
https://github.com/fuse-box/fuse-box/issues/1152

The Sparky context method example in the docs:
[code]

But this is not compatible with TypeScript. Since you can't use anonymous class as an argument in TS, how do I instantiate the context?

[2018-11-21 11:58] nchanged commented on #1440
@mweiczorek
[code]

[2018-11-21 15:52] RXminuS commented on #1375
It doesn't seem to work on `fuse-box@3.7.0-next.8` anymore. `Object literal may only specify known properties, and 'sourceMaps' does not exist in type 'IQuantumExtensionParams'`

[2018-11-21 17:09] nchanged commented on #1375
@RXminuS it's only in `fuse-box@3.7.0-next.6` as mentioned above

[2018-11-23 01:55] jpike88 opened #1441 "Silent/quiet bundling"
The bundling information seems a bit verbose to me, would be nice to be able to quiet it right down

[2018-11-23 07:50] nchanged commented on #1441
Don't we have a log option?

[2018-11-25 12:30] riglar commented on #1410
I patched this as follows:
- go to node_modules/fuse-box/modules/
- to fix domain polyfill - edit domain/index.js and comment out line 67 `return domain`
- to fix steam polyfill - `yarn add --dev stream-browserify`
- edit stream/index.js and change line 4 to `module.exports = { Stream: require("stream-browserify") };`

@nchanged - would you like a PR for this?

[2018-11-25 15:35] nchanged commented on #1410
@riglar please do that ;-) thanks

[2018-11-26 08:47] riglar commented on #1410
Should be fixed by #1442

[2018-11-26 18:35] paxperscientiam opened #1443 "Processing CSS *without* adding it to virtual filesystem?"
Hey, I've scoured the docs and issues, but I cannot find an answer to this question. I thought that setting Quantum's `css` option to `false` would do it, but that hasn't been the case.

In my `index.ts`, I have the command `import "./css/app.scss"`, which is processed beautifully by the CSS processors.

Use-case: loading CSS when JavaScript is disabled. So, when JS is disabled, one cannot load CS

[2018-11-26 19:55] nchanged commented on #1443
@paxperscientiam did you add `$css` macro to your template? It will be replaced with the generated CSS file

[2018-11-26 22:55] paxperscientiam commented on #1443
Hi @nchanged . Sorry, I should have noted that I do not use WebIndexPlugin.

[2018-11-27 06:59] nchanged commented on #1443
@paxperscientiam then you should utilise `manifest.json` in Quantum and place it there yourself.

[2018-11-27 16:52] paxperscientiam commented on #1443
I'm confused. I thought `manifest.json` was for pointing to icons for apps?

[2018-11-27 18:05] nchanged commented on #1443
Quantum [manifest](https://fuse-box.org/docs/production-builds/quantum-configuration#manifest)

You can process it with the language of your server choice and add css files to your template

[2018-11-28 14:23] wrench7 opened #1444 "Position of dynamically loaded CSS in DOM needs to be configurable"
After upgrading from v3.3.0-next.4 to v3.6.0 I noticed that the dynamic loading of CSS scripts provided by Quantum breaks the order in which the CSS is written to the DOM.

I tracked the issue down to this line of code:
https://github.com/fuse-box/fuse-box/blob/c8239d957586518cdb81874d166b31534e5f4b1e/modules/fuse-box-responsive-api/index.js#L171

Simply changing this line to `head.appendChild(tar

[2018-11-29 13:16] nchanged commented on #1444
Yes we can make it configurable. Feel free to open a PR with your suggestions. Have you tried Quantum CSS option with lazy loading yet?

[2018-11-29 13:45] wrench7 commented on #1444
Yes I believe it's the lazy loading that is causing me the issues. Here's my QuantumPlugin setup:

[code]

If I was to do a PR, it would simply be to make the change I've already suggested above. Are you happy with that?

[2018-11-29 13:50] nchanged commented on #1444
@wrench7 so your fix is pretty much in `appending` not inserting before the scripts? Then yes, it should be fine. Make sure that nothing is broken ;-)

[2018-12-01 04:00] natew commented on #1364
This still seems relevant, when using @babel/core 7 I get an error where it's looking for babel-core via FuseBox.

[2018-12-01 06:23] pungggi opened #1445 "custom cache folder"
hello , would be nice define a custom location for the `.fusebox` folder.
https://fuse-box.org/docs/development/configuration#cache

Good job, by the way, I just started with fuse box, i love it!

[2018-12-01 12:45] nchanged commented on #1445
Hi there is in fact,please check Configuration.ts

[2018-12-01 13:02] pungggi commented on #1445
Not sure what you mean by Configuration.ts

[2018-12-01 20:44] nchanged commented on #1445
@pungggi
https://github.com/fuse-box/fuse-box/blob/7b7a76b14f47bee0da56d804327e2697ad2e2c4c/src/Config.ts#L14

FUSEBOX_TEMP_FOLDER=.some node fuse.js

[2018-12-01 20:44] #1445 closed

[2018-12-01 20:45] #1440 closed

[2018-12-01 20:47] nchanged commented on #1435
@jimmybaker you can't really get rid of them, since it's baked into the source code, but you could try exposing `node_modules` for development purposes.

Should be clear enough ;-)

[2018-12-01 20:47] #1435 closed

[2018-12-01 20:48] nchanged commented on #1419
Closing this for now.

[2018-12-01 20:48] #1419 closed

[2018-12-01 20:49] nchanged commented on #1429
Closing this for now. I believe the `@next` version solves the problem

[2018-12-01 20:49] #1429 closed

[2018-12-01 20:50] #1443 closed

[2018-12-01 20:50] nchanged commented on #1403
Closing this for now. Feel free to re-open once relevant.

[2018-12-01 20:50] #1403 closed

[2018-12-01 20:51] nchanged commented on #1401
Closing it for now, feel free to re-open when relevant

[2018-12-01 20:51] #1401 closed

[2018-12-03 05:10] paxperscientiam opened #1446 "[contributing] error related to node ~10 and `gulp dev`"
This issue pertains to development of `fuse-box` itself.

After cloning the repo and running `yarn` or `npm i` in the repo root, dependencies are installed as. However, `gulp dev` fails when using `node` ~10 with the following error:

[code]

No idea what this means, but the prevailing wisdom seems to be that downgrading `node` works. Indeed, I downgraded to `node` 9 and all is well.

[2018-12-03 06:18] nchanged commented on #1446
Do u have node-gyp installed ? I am using node10 without any problems

[2018-12-05 11:14] RXminuS commented on #1366
I put up a bounty if anyone is eager https://www.bountysource.com/issues/62705770-typescript-plugin-styled-components

[2018-12-06 12:23] RXminuS opened #1448 "Case Sensitive Imports Plugin"
Hey I would like to make a plugin to check that all imports are case sensitive (we had a few bugs on certain platforms because of this) but I have no idea where to start.

Had a look at some existing plugins and the documentation but I don't really feel like I'm grasping the core concepts yet to visualize how it would fit together. And there's no clear interface or something I can implement.

Coul

[2018-12-06 16:40] DaveO-Home commented on #1220
I have this problem with, new release of CanJS 5,  ```process.call```
config;
[code]

[2018-12-06 20:00] nchanged commented on #1220
@DaveO-Home will defining `window.process = { call : function(){}}` help?
I definitely need to replace more of these variables.

[2018-12-06 20:04] nchanged commented on #1448
hi @RXminuS
[Here is](https://github.com/fuse-box/fuse-box/blob/master/docs/plugin-api.md#dependencies) some information. For some reason it's not included in the doc. But, if you want to start with something simple I'd recommend taking a look at the [HTMPlugin](https://github.com/fuse-box/fuse-box/blob/master/src/plugins/HTMLplugin.ts)

[2018-12-06 21:06] DaveO-Home commented on #1220
@nchanged  the function is a bit complicated so redefining would be difficult.  Does Quantum ignore if window is coded?  The function is actually used with at least stache templates.

[2018-12-07 06:52] nchanged commented on #1220
@DaveO-Home I believe you need to add it to your `index.html`
And implement as you want

[2018-12-07 07:00] nchanged commented on #1446
@paxperscientiam I've just tried it with `v10.14.1` no problems. Something is wrong with your environment. Try re-installing nodejs

[2018-12-07 07:00] #1446 closed

[2018-12-07 08:30] nchanged commented on #1375
Hey guys, the branch has been finally merged! `fuse-box@3.7.0-next.10`

[2018-12-07 11:33] rope-hmg opened #1450 "ConsolidatePlugin: How to specify handlebars helpers"
Hi, I am unable to find any documentation for registering handlebars helpers via the consolidate plugin.

I have the following for my plugin:

    ConsolidatePlugin({
        engine    : 'handlebars',
        extension : '.tpl',
        includeDir: 'src/templates',
    }),

The helpers live under `src/templates/helpers/`.

Also. I noticed a typo on the `ConsolidatePlugin` page.
The `includeDir` se

[2018-12-07 13:35] rope-hmg commented on #1450
I have worked around it manually for now. I have created a `Sparky` `task` that requires all the files and uses `Handlebars` directly to register the helpers.

[2018-12-08 02:30] misantronic opened #1451 "Uncaught ReferenceError: require is not defined"
I wanted to outsource a node_module by using a dynamic import where needed. So I did

`const pdfjsLib = await import('pdfjs-dist')`

in my code.
The production-build compiles correctly and loads the external js-file when needed. But it will trigger the error

`Uncaught ReferenceError: require is not defined`

I am on fuse-box `3.7.0-next.6`

[2018-12-08 02:58] misantronic commented on #1451
Seems to be a problem with pdfjs itself when minifying it using terser or uglify.

[2018-12-08 02:58] #1451 closed

[2018-12-11 18:38] SephReed commented on #1415
Very true, but that doesn't mean there aren't good cases for it.   In any case, what I would expect from any graph traversal algorithm (in this case dependency mapping), is to do what a human would do.

In this case:
1. Parent starts off as type any and incomplete
2. Parent imports Child which is at first also of type any and incomplete
3. Child tries to import Parent, it gets back the type any an

[2018-12-11 19:12] nchanged commented on #1415
@SephReed Thanks for such kind words ;-)

I can tolerate circular dependency as typing In TypeScript - the way you described `(parent : Parent)`. But an explicit circular dependency is usually a bad practice, and there are better ways.

In regards to in-browser circular dependency the only solution I've come up with is to return an `undefined` Object. Otherwise it's  a `maximum call stack size exc

[2018-12-11 19:38] SephReed commented on #1415
It's funny, but at least once per major project, I'll come across a situation where I have to choose between callback hell, globals, or circular dependencies.  I was definitely taught in school to choose callback hell, but it was too late: I'd already found easier solutions that involved circular dependencies.  I still do it the standard way at work, but I do so knowing just how much extra effort

[2018-12-11 20:00] SephReed commented on #1415
So, I'm not sure what the file function does, but it looks like it should not give undefined in circular cases.

It appears parent gets required, creates a cache item, passes it on to `file.call(cached.exports, cached.m, cached.exports);` which presumably fills it up with details on it's existence and purpose, then returns that item.  So, by that logic, parent should be an empty cache object by th

[2018-12-11 20:31] SephReed commented on #1415
Hmmm... thought more about the suggestion, it would just lock up with circular promises.  I think the real trick is for one of them to go ahead without completion and see if everything works out, and if it doesn't, try the other one.  Only when neither of them can complete their exports without the others import is it a truly blocked circular reference.

I think I can write the code fairly quickly

[2018-12-11 20:40] SephReed commented on #1415
Hey, sorry for all the chattiness.  I'll try to just keep it to questions.

When `Parent` is imported to `Child` it should reference a cache object.  Is this cache object `module`?

If so, it would make sense that it would assign `module.exports.default` to Parent, making it undefined.  If that's the case, where can I find the lines of code which are doing this module extraction?  If those are mad

[2018-12-11 21:07] nchanged commented on #1415
It's impossible due to the runtime limitation. You can't access an object
which hasn't been yet created

On Tue, Dec 11, 2018, 21:40 Seph Reed <notifications@github.com wrote:

[2018-12-11 22:11] SephReed commented on #1415
It's definitely not impossible, but after thinking about this more, I think using an inline require is a workable solution.

But to show you how this could work, all you have to do is transpile imports so they return a module with observable exports.  Like so:

[code]

transpiles to =>

[code]

[2018-12-14 09:56] eds-snippets commented on #1366
Please close this issue, because it is already solved. Documentation about the plugin you can find [here](https://github.com/fuse-box/fuse-box/blob/master/website/versioned_docs/version-3.6.0/plugins/styled-components-plugin.md). If you have any additional questions about the plugin, just don't hesitate to ask. Thank you.

[2018-12-18 08:08] nchanged commented on #828
@danielbodart please try `fuse-box@3.7.0-next.12`

[2018-12-20 18:44] RXminuS commented on #1366
Awesome job! You just saved me hours of headaches! @nchanged do I need to do anything for the bounty to pay out?

[2018-12-21 08:01] nchanged commented on #1366
@RXminuS thank @eds-snippets ;-) You should contact him ;-)

[2018-12-21 08:01] #1366 closed

[2018-12-21 08:07] nchanged commented on #1366
@eds-snippets I guess you should click "claim bounty" on that page

[2018-12-24 14:00] 0xorial commented on #1298
Link seems broken. Could you please update, or copy info here?

[2018-12-24 15:34] eddyw commented on #1364
Merry Christmast PR 🙌
I've taken time-off until end of year and decided to work on this today. I haven't done anything about the polyfills (it'll just complicate it) but I've ported all the logic from babel plugin to make it work with babel7.

I'm starting a new project next year which will likely use FuseBox and I'd love to have babel7 plugin, so I'll be more focused on making it work and solve a

[2018-12-24 16:49] 0xorial commented on #717
I am using TypeScript because I want compiler to find certain errors that I make as early as possible. Why would this not be enabled by default somehow? And what do I need to do to get those?

[2018-12-24 16:51] 0xorial commented on #146
This should be mentioned in the docs.

[2018-12-25 15:48] nchanged commented on #1298
useJsNext option type in the search

[2018-12-26 12:51] sentialx opened #1454 "Check if the page is about to update by HMR"
I need to check whether the page is about to update. I'm not using React so I can't use componentWillUnmount(). How can I achieve that?

[2018-12-26 12:55] nchanged commented on #1454
In this case you need to go for custom HMR, you can search for it on the official doc site. There are examples

[2018-12-31 16:32] DaveO-Home commented on #1220
@nchanged
It looks like Quantum is changing any "process" parameter in a function signature to "undefined".  This works fine in most cases, however canjs has a method the includes a closure and the "process" name is not modified for the closure.
[code]
App fails with process undefined.....

[2018-12-31 23:37] booninite opened #1455 "Feature Request: Also publish Sparky as a standalone module"
I have a project that is using Sparky as a task runner, because it is simply awesome.  However, we cannot leverage fuse-box as a bundler at the moment, so we are bringing in those dependencies needlessly in our project.  It would be a huge help if Sparky could additionally be published as a standalone `npm` module.

Cheers 👍

[2019-01-02 15:45] nchanged commented on #1220
@DaveO-Home and what does it exactly `process.call` do?

[2019-01-02 16:05] nchanged commented on #1455
@booninite hi
Do you think you could help making a gulp task? Similar to this one?
https://github.com/fuse-box/fuse-box/blob/c8958a7b23178e71b1057cca0555cb70cbe0b67c/gulpfile.js#L216-L227

I would accept a PR for that. It's just currently the process is manual, however, linking it to the release of `@next` would automate things. I don't mind that.

[2019-01-02 16:16] DaveO-Home commented on #1220
@nchanged HTMLSection is part of the helpers module that renders templates.  The maintainer just used "process" as an arbitrary name in the function signature. It is actually an object named "renderer" instantiated in the can-stache module. I did suggested that maybe they could rename it to say; "rendererProcess". But as shown above, Quantum does corrupt the code.

[2019-01-02 16:48] nchanged commented on #1220
Oh I see now, I though it was fixed, apparently not in all cases

[2019-01-04 07:51] swASO opened #1456 "process is not defined"
Before summiting an issue, please make sure that:

* You have removed the `.fusebox` folder in your project root
-> yes
* Removed node_modules, (re-installed everything)
-> yes
* Started the bundling process again.
-> yes
* Read the documentation on your subject here -> fuse-box.org
-> yes

Hi!,

i tried to create a little test project for me but i can not get it to work, with webpack i dont have

[2019-01-04 13:00] swASO commented on #1456
mhm, downgrade to "react-jss": "8.6.1" works
i close this issues, seems not really a problem with fuse-box, but why works webpack then ? ¯\_(ツ)_/¯

[2019-01-04 13:00] #1456 closed

[2019-01-04 14:53] nchanged commented on #1456
@swASO process is quite a tricky one. I think FuseBox fails to autoImport process due to the syntax. Also check your build target. If you change it to es5 it should work.

[2019-01-04 20:37] swASO commented on #1456
@nchanged Hi, thats why i attached "fuse-box.zip"
i already set `target : "browser@es5"`

[2019-01-04 20:50] eddyw opened #1457 "FuseBox doesn't report diagnostic error on tsconfig.json file"
When certain mis-configured options are set on `tsconfig.json` file, those are not actually reported by FuseBox. For instance `{ jsx: "asd" }`

Could we use `ts.convertCompilerOptionsFromJson(...)` instead on `TypescriptConfig.ts`?
This would require to check for `typescript` to be included first.

The reason is because, `File.transpileUsingTypescript` uses `ts.transpileModule` which will transpil

[2019-01-05 19:14] nchanged commented on #1457
Fair enough , do you know how to fix that? Can you propose a PR?

[2019-01-07 10:04] eddyw commented on #1457
@nchanged yes, I'm working on it. I'll have a PR in a couple of days or so

A couple of questions:
- we're currently not catching syntax errors. `transpileModule` will try to "repair" broken code and will always transpile but enabling diagnostics we can catch syntax errors. Catching syntax errors is not the same as type errors, so it shouldn't affect transpilation time. It's basically:
[code]
Note

[2019-01-07 10:27] eddyw opened #1458 "Can we have type-checking plugin officially?"
TS supports incremental compilation as well as type-checking only files that have changed. I've been doing some testing and we can even cache the diagnostic errors of the files that we type-checked and trigger new type-checking only on the files that have changed and its dependents without having to trigger whole project type-check.

Is it possible to have a good TS checker integrated within FuseB

[2019-01-07 11:54] nchanged commented on #1458
@eddyw That's a good idea, I've been thinking myself of integrating the existing type checker, I think it pretty stable. But, if you are saying there is a solution that does it faster/or better, please suggest.

Regarding caching - I don't think we can take advantage of it, since the diagnostic are should be ran against the entire project, otherwise it won't make sense. Imagine changing an interfa

[2019-01-07 11:56] nchanged commented on #1457
* How will `reportDiagnostics` affect the overall performance? We could include it by default if doesn't affect it.
* The check should anywhere where we use typescript ;-)

[2019-01-07 12:36] eddyw commented on #1457
- I still don't know. I'd set a flag, later on we can test if has a negative effect or performance or not. If negative, defaults to false, if not then true but we can leave the option for the user to enable/disable for whatever reason
- I feel this may break some things. For instance, in `FuseBox.ts`, there is:
[code]
which doesn't check if `typescript` is installed but `TypescriptConfig.ts` impor

[2019-01-07 12:56] nchanged commented on #1457
I think we should require typescript to be installed. Maybe in FuseBox.ts right on start?

[2019-01-07 13:10] eddyw commented on #1457
What about people who use it without TS? with `useTypescriptCompiler` set to `false`?
Or .. add it as `peerDependency` maybe?, so the user can know that once installing FuseBox, NPM will scream `I need typescript` :P if so, then we'd need to specify minimal version of TS package as well. Then check on `FuseBox.ts` at start.

[2019-01-07 14:10] nchanged commented on #1457
@eddyw TS is required by default, since it might transpile node_module in the background ;-)

[2019-01-10 08:46] eddyw commented on #1457
@nchanged I worked a bit on this today and.. thanks to diagnostics I found out that `ESNext` points to wrong target on latest TS version (not sure if enums changed).

In FuseBox:
[code]
In TS:
[code]
Could we use instead `ts.ScriptTarget`? so it'd be more dependent on the TS version installed rather than having it hard-coded which could be inconsistent as those enums differ from different TS versi

[2019-01-10 09:07] eddyw commented on #1458
It's not completely true. If using language services (as if FuseBox was a code editor), it can trigger type-check in dependent files only for the types that have changed. For instance, vscode does this pretty fast and doesn't do whole project type-check. Actually, it triggers only type-check on the current file being edited for the type that has changed. The un-changed type declarations are kind o

[2019-01-10 10:17] eddyw commented on #1448
There is an option in tsconfig `forceConsistentCasingInFileNames` which when true should report those errors. From my point of view, I'd be better if FuseBox read this option and decided how to treat files if case sensitive or not. I believe on Windows there is no difference when importing files with casing madness, we've had those bugs before on a typo on import that somebody on Windows have forg

[2019-01-11 06:49] nchanged commented on #1457
@eddow that I noticed too (VSCode reports that) Could you fix it? Also in tsconfig generator.

[2019-01-11 10:33] eddow commented on #1457
That was confusing :D (I guess a misstype)

[2019-01-13 14:08] bkniffler opened #1459 "Issues with react-native-web libraries due to jsnext"
Hey there,
I see there is a `useJsNext` option. But when using libraries like https://github.com/JesperLekland/react-native-svg-charts or many other react-native-web related ones, jsnext/esmodules are pretty much solely relied on in the published packages. Is there any way to force fuse to use jsnext even in absence of `jsnext:main` or `module` fields in package.json?

By the way, even if adding t

[2019-01-15 19:05] dotnetprofessional commented on #1365
Do we have an update on this?

[2019-01-15 22:19] Ciantic commented on #1365
My 2019 look on this is that it's not Fuse box fault. Monorepo seems to be difficult to get working with other systems too. I currently use just barebones create-react-app with TypeScript support,

[2019-01-15 22:20] Ciantic commented on #1365
(I closed this accidentally, I had to comment)

[2019-01-19 02:21] #1459 closed

[2019-01-19 10:51] bkniffler opened #1460 "Window unavailable in worker"
Hey,
this is basically the same issue like webpack had: https://github.com/webpack/webpack/issues/6642
This makes it difficult to use worker with dependencies that rely on window.xxx.

Their solution is an option like this:
[code]

[2019-01-19 16:03] nchanged commented on #1460
I think use can use Banner plugin for that, but yes we would need a separate plugin for that. It can be based on Banner Plugin

[2019-01-19 20:46] bkniffler commented on #1460
Good to know. I will let you decide if you want to add that as a quality of life functionality, but I guess the banner plugin will be sufficient, though not super obvious for newcomers. Maybe its enough to have this in the issues, so people who search for that will get on the right track.

[2019-01-20 09:03] nchanged commented on #1460
@bkniffler well that plugin would make life much easier, since one would need to give it an object. If you want to help and introduce this plugin please go ahead ;-) That would be a real help. You can take a look at BannerPlugin and how it injects custom strings.

[2019-01-20 16:40] bkniffler commented on #1460
I've created a PR!

[2019-01-21 01:43] bkniffler opened #1463 "Babel7 issue with emotion babel plugin"
Hey there,
Here is a minimal example of my issue: https://github.com/bkniffler/fusebox-babel7-issue

Babel7 is now available as a plugin from @eddyw:
https://github.com/fuse-box/fuse-box/pull/1453

There must be a problem with the implementation though. I tried using the emotion babel plugin. While it works great with for example parcel bundler, it will not work with fuse. I included both in the e

[2019-01-21 02:10] bkniffler commented on #1460
I think the PR is not really required. If you want to make window available in your worker (maybe due to some dependencies you are using check for `typeof window !== "undefined"` to figure out if you are in a browser environment, you could:

[code]

[2019-01-21 02:10] #1460 closed

[2019-01-21 08:33] eddyw commented on #1463
Hey there,

Just a hunch, try setting `useTypescriptCompiler` to `false` and check if it works on a minimal example.

I'm currently really busy, so I won't be able to have a closer look at it soon. However, I'll check it out whenever I get some free time.

[2019-01-21 11:39] bkniffler commented on #1463
Seting the `useTypescriptCompiler` to false doesn't seem to make a difference unfortunately.

[2019-01-21 21:52] bmatcuk opened #1464 "Typescript type of SparkyContext's "target" param is incorrect"
According to the documentation and confirmed in code, the `SparkyContext` should be able to take a class, a function returning a plain object, or a plain object. However, the typescript type of the `target` param says that target **must be a function** that returns a plain object, a class, or a plain object (duplicated). Seems to just be an issue of incorrect curly brace placement. PR incoming...

[2019-01-22 03:54] eddyw commented on #1463
I had some time to check it out today and it turns out that there is a library being imported `react-html-attributes` which requires a json file. Add `.plugin(JSONPlugin())` and it works ;)

I haven't checked the library responsible but my guess is that one of (react-)emotion libs or related.

[2019-01-22 04:43] eddyw commented on #1463
I figured out the issue, the config passed to `transformSync` doesn't include `filename` which is used within the `babel-plugin-emotion` because it's undefined.

I haven't realized it before, but some plugins may use the filename for .. whatever reason. For now, if you set `autoLabel: false`, it works (remove cache first):
[code]
Since it's a port of previous babel plugin, I assume it may have sim

[2019-01-22 09:43] #1464 closed

[2019-01-22 13:04] eddyw commented on #1463
I opened a PR which should fix this issue.  I added some tests with a helper babel plugin which uses `filename` as well.

I have a project which uses emotion lib and will have a setup with FuseBox and Babel7, so I'll probably have some extra time if improvements are needed.

Btw, PR adds support for `babel.config.js` configuration files as well.

[2019-01-22 13:42] bkniffler commented on #1463
So cool, I'll close this then. Thanks for all your effort @eddyw

[2019-01-22 13:42] #1463 closed

[2019-01-22 14:36] LucasIcarus opened #1468 "Doubts about the css group API"
https://github.com/fuse-box/fuse-box/blob/ef6074289b206128f9ad32d3c133f9c1b55ec8b2/src/quantum/plugin/modifications/CSSModifications.ts#L81-L94

[2019-01-22 14:36] LucasIcarus opened #1469 "Doubts about the css group API"
https://github.com/fuse-box/fuse-box/blob/ef6074289b206128f9ad32d3c133f9c1b55ec8b2/src/quantum/plugin/modifications/CSSModifications.ts#L81-L94

Recently, I create a project with fuse-box. It's a internal platform with multi-SPAs which shared the same static first level navigations within a base template rendered by Node.js.

For create multiple SPA level stylesheet and js for docking old publish

[2019-01-22 15:47] LucasIcarus commented on #1469
reopen after editing.

[2019-01-22 15:48] #1468 closed

[2019-01-22 20:45] nchanged commented on #1469
I am not entirely understanding the purpose of splitting to many CSS files. Isn't better to have it all in one file? Just use Gzip. Besides with code splitting it will be automatically lazy loaded.

[2019-01-23 08:15] LucasIcarus commented on #1469
Split css files is kind of traditional strategy, avoid potential className conflicts...

[2019-01-23 18:19] jlslew opened #1471 "Tree shaking with d3"
Hello,
I am using fuse-box to tree shake d3.js but it is removing used modules.  I have tried with require and import but it is removed in both cases but requiring the module 'd3-hierarchy' works.  Maybe related to PR #1064.  Here is a git repo ([link](https://github.com/jlslew/animated-telegram)) if you want to fiddle.
[code]

<details>
 <summary>node fuse (whole library)</summary>
--- FuseBox 3.

[2019-01-23 21:31] nchanged commented on #1471
Could you show me your index file, I think typescript removes the statement

[2019-01-24 07:11] nchanged commented on #1471
@jlslew thanks, bug confirmed. Will be fixed ASAP

[2019-01-24 07:17] nchanged commented on #1471
Yeah, it can't really be tree shaken

there is some fishy export manipulation
[code]

[2019-01-24 08:06] #1471 closed

[2019-01-24 08:08] nchanged commented on #1471
`fuse-box@3.7.0-next.15`

[2019-01-24 22:01] eddyw opened #1474 "FuseBox doesn't resolve "autoImport" if target is server"
Reading the docs, there is no mention of `autoImport` not .. auto importing when `target` is `server`. I'm not sure if it was intentional or docs need some clarification.

I was testing a project with `target` set to `browser` which does:
[code]
However, when setting target to `server`, my script fails on runtime.

[2019-01-25 08:10] nchanged commented on #1474
Did you clear the cache? That's the most common problem. Please share you config too

[2019-01-25 09:17] eddyw commented on #1474
with `cache: false`:
Config:
[code]
I believe this are the lines responsible:
https://github.com/fuse-box/fuse-box/blob/489fb29287b012e95b96c99d3aae7cac0f786ac1/src/core/WorkflowContext.ts#L423-L432
In FuseBox constructor, it calls:
[code]
Maybe the nested if block was supposed to be after `if (this.target !== "server")` block?

[2019-01-25 11:00] nchanged commented on #1474
@eddyw yeah..indeed. The problem is that some of the internal modules need to be auto imported when the target is browser... If user specifies his own custom config, we need to feed users' config and ignore everything else. Do you think you can try to fix it?

[2019-01-25 16:01] jlslew commented on #1471
Sorry but I am a bit confused.  So if I use 3.7.0-next.15, the 'tree' module should not be removed, right?  But when running `node fuse`, it is still removed.
<details>
 <summary>node fuse (whole library)</summary>
--- FuseBox 3.7.0-next.15 ---

  → Typescript config file:  /tsconfig.json

  → Typescript script target: ES7

--------------------------
Bundle "app"

    index.js
└──  (1 files,  289

[2019-01-25 18:19] nchanged commented on #1471
It should not be removed, I have verified it myself

[2019-01-26 19:17] TylorS opened #1476 "emitHMRDependencies is undocumented"
I've been working on a project using fusebox and have come to realize this configuration option is currently undocumented. It seems like the intended use case is for custom hot module replacement plugins. Is that correct?

I'm currently making use of the values directly through `Bundle.context.dependents` while listening to file changes using the `BundleProducer.sharedEvents.on('file-changed', ...

[2019-01-26 20:03] nchanged commented on #1476
Yes, it's stable.I am not sure why this feature is undocumented , could you
help out on this one?

On Sat, Jan 26, 2019, 20:17 Tylor Steinberger <notifications@github.com
wrote:

[2019-01-28 15:17] LucasIcarus commented on #1469
tried lazy load, perfectly match!

thanks a lot. @nchanged

[2019-01-28 15:17] #1469 closed

[2019-01-28 19:18] #1474 closed

[2019-01-28 20:06] #1476 closed

[2019-01-28 20:42] nchanged commented on #1455
will close this for now.

[2019-01-28 20:42] #1455 closed

[2019-01-28 20:43] nchanged commented on #1450
@rope-hmg we are passing options as is. If you want you can propose a PR on how to handle it. Will close this for now

[2019-01-28 20:44] #1450 closed

[2019-01-28 20:45] nchanged commented on #1448
Will close this for now, feel free to propose a PR if still relevant

[2019-01-28 20:45] #1448 closed

[2019-01-28 20:46] nchanged commented on #1444
@wrench7 any update on that?

[2019-01-28 20:46] nchanged commented on #1436
@misantronic any update on that?

[2019-01-28 20:47] nchanged commented on #1416
will close it for now

[2019-01-28 20:47] #1416 closed

[2019-01-28 20:48] #1410 closed

[2019-01-28 20:50] #1364 closed

[2019-01-28 21:23] Gustorn commented on #689
I'm also running into this issue using the latest version of fuse-box. I made a minimal repro at [Gustorn/fuse-box-cache-issue](https://github.com/Gustorn/fuse-box-cache-issue). FuseBox has been a fantastic experience so far but this issue is becoming more annoying as packages start to modularize themselves this way. The issue is reproducible with:

* @material-ui/core
* @material-ui/icons
* date-

[2019-01-28 22:03] vegarringdal commented on #1416
k, version how is version 3.7 going ?

[2019-01-28 22:09] nchanged commented on #1416
@vegarringdal I think I will release it soon ;-)

[2019-01-28 22:11] nchanged commented on #689
@Gustorn I will take a look at it, it bugs me too sometimes. I think the workaround would be to request a module via socket connection.

[2019-01-29 08:10] eddyw opened #1479 "Question: is there a way to get `fuseBoxPath` from dependencies?"
Hey,

I'm working on a plugin which requires knowledge of dependencies of a file. What I currently do is in `transform` get `file.analysis.dependencies` if:
[code]
I get `['./foobar']`. However, I couldn't figure out if there is a way of getting the `fuseBoxPath` from it. Doing `this.context.convertToFuseBoxPath('./foobar.ts')` I get `./foobar.ts` expecting `foobar.ts` instead which is what `file`

[2019-01-29 09:45] nchanged commented on #1479
@eddow basically I am working on a branch (WIP)
https://github.com/fuse-box/fuse-box/commit/a318900677456a09eb95eb85810ce4f377952b18
Lookup for ModuleCollection.ts and `resolvedDependencies` this should give you an idea

[2019-01-29 09:46] eddow commented on #1479
@eddyw  :">

[2019-01-29 09:47] nchanged commented on #689
@Gustorn do you think you can help? I have a good progress, but I need to switch now
https://github.com/fuse-box/fuse-box/commit/a318900677456a09eb95eb85810ce4f377952b18

Basically, this peace needs to work

https://github.com/fuse-box/fuse-box/commit/a318900677456a09eb95eb85810ce4f377952b18#diff-b3b0577122b7966eac777eaf732a6685R301

It should collect the dependencies recursively.

[2019-01-29 10:05] eddyw commented on #1479
@eddow he did it again 🙈:')
@nchanged I had a quick look but I noticed that it still doesn't show `file.resolvedDependencies` in `transform` or `onTypescriptTransform`. I figured that it's because it happens async while `transform/onTypescriptTransform` is executing. I added an ugly `setTimeout` in `transform`:
[code]
Is there a way to wait for it in `transform` or `onTypescriptTransform`?

[2019-01-29 11:18] nchanged commented on #1479
my lord, you aren't the same, I've just figured it out xDD sorry
@eddyw the easiest way for you in this situation is to resolve it manually

[code]

[2019-01-29 22:42] eddyw commented on #1479
@nchanged hmm, I'll wait until your branch is merged. I've been working on type-checking plugin and besides the path info I'll need the `file` itself (as in `file.resolvedDependencies` in your branch) to notify the language service to do type-check on resolved dependencies. Otherwise, well, it won't :P

I'll probably submit a PR tomorrow if I can as WIP. It's working well (despite the limitation o

[2019-01-30 06:45] nchanged commented on #1429
@bkniffler this infinite loop is solved in the `@next` version. Please upgrade

[2019-01-30 06:46] nchanged commented on #1479
@eddyw I was thinking... if you have a good working (and fast) type checking plugin, it would make sense to integrate it directly to FuseBox behind an option

[2019-01-30 12:09] bkniffler commented on #1429
im on 3.7.0-next.17 actually :(

[2019-01-30 12:15] nchanged commented on #1429
@bkniffler since your fuse.js is somewhere deep down the homeDir, you need to ignore some of the directories like described [here](https://fuse-box.org/docs/development/watching#chokidar-options)

There is a failsafe in FuseBox, but it doesn't apply on folders that change after the build has been completed

[2019-01-30 12:56] bkniffler commented on #1429
Ah, I didn't see there was even a `bundle.watch(pathCheck)` function. I'm using that now and my CPU is very thankful of it :)

I'd like to say how awesome fuse-box is. I've had nothing but perfect results (except for this little one, that is now fixed), even with my super complicated yarn workspace setup, where my webpack config was super hacky. Even with electronjs main/renderer it works so nicel

[2019-01-30 12:58] bkniffler commented on #1429
Here is my watch function for the record:
[code]

[2019-01-30 13:20] nchanged commented on #1429
That only means that you have some other directories that are updated. For
example fuse.js file itself

On Wed, Jan 30, 2019, 13:58 Benjamin Kniffler <notifications@github.com
wrote:

[2019-01-30 13:22] bkniffler commented on #1429
Ah, since you answered by email, you probably didn't see the previous message. The issue is solved, thanks :)

[2019-01-30 13:33] nchanged commented on #1429
@bkniffler I am glad it all worked out well for you ;-)

[2019-01-30 17:39] Gustorn commented on #689
I'm swamped at work currently but I'll take a look this weekend if you don't get to it first. Thanks for the quick reply!

[2019-01-31 15:07] #1457 closed

[2019-01-31 15:07] #1458 closed

[2019-01-31 15:07] #1479 closed

[2019-01-31 15:40] eddyw opened #1480 "Discussion: FuseBox TypeScript type-checking"
Hey,

I've been working on integrating TS type-check on FuseBox since it's something all known bundlers seem to be missing out of the box. Since FuseBox has first class support for TS, it just seemed right. So these are the ideas I had, broken in several steps:
- Global type-check of `tsconfig` file (merged [issues/1457](https://github.com/fuse-box/fuse-box/issues/1457))
- Improve the check of `ts

[2019-01-31 19:04] nchanged commented on #1480
@eddyw hey,
Great job on the tsconfig btw ;-)

There are few things that come to mind, my mind flow:

* When a file is changed, we should take into consideration not only its dependencies but the **dependants** too, basically it should go both ways. That may result in grabbing pretty much the entire project (reading it into an object) which will degrade the performance - it will make a drastic imp

[2019-01-31 20:44] eddyw commented on #1480
Yes, I've seen the fusebox type-checker. However, I want to take advantage of TS incremental compilation [(language service)](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#incremental-build-support-using-the-language-services) which can be faster.

VSCode consumes a lot of memory and makes use of the language service. Using language service, all files are kept in a document r

[2019-02-01 01:12] bkniffler opened #1481 "overrideExtensions missing"
Hey, the docs state there is an option called overrideExtensions, but I found no traces whatsoever. What happened to it?

[2019-02-01 07:10] nchanged commented on #1481
@bkniffler you are right... I think it's called `extensionOverrides` xDD

[2019-02-01 10:06] wrench7 commented on #1444
Hey, I hacked it locally, as I wasn't really sure that changing the code, and then having everyone's CSS appear in a different place (without the ability to toggle it) was as a great idea. I can open a PR if you're ok with me making the one change I suggested above?

[2019-02-01 12:21] bkniffler commented on #1481
Ah, great to know! :) Cheers

[2019-02-01 12:21] #1481 closed

[2019-02-01 15:03] vegarringdal commented on #1480
Nice.

How does that work if the edit you do, breaks another file?
Because its referencing the file you edited ?

If you manage to build some awesome fast plugin then that would be great fusebox.
So keep up the good work :-)

[2019-02-01 17:48] nchanged commented on #1444
Good job! We will let it marinade a bit longer in the next 😉

[2019-02-01 17:48] #1444 closed

[2019-02-01 18:46] eddyw commented on #1480
@vegarringdal  If file `a` changes and it's referenced in `b` and `c` but not in `x`, only `a` source and version is updated in document registry, for `b` and `c` only get new diagnostics (file content has not changed in neither of both).

I realized that walking through dependencies may not have so much performance gain as to asking new diagnostics for all files (after cache them all in registry)

[2019-02-01 22:33] nchanged commented on #1480
That would be terrific! Fusebox supports aliasing I only on the root directory, if we could automate it that would be a great improvement! btw I did a nice progress on HMR. It can hydrate the modules with missing dependencies and (hopefully) update in-memory source maps )

[2019-02-01 23:21] eddyw commented on #1480
@nchanged cool, I'll add it to my to-do list then :D
I'll check those new changes on HMR :)
Btw, I made some progress myself on improving tsconfig check:
![image](https://user-images.githubusercontent.com/1407526/52154609-9e690a00-26b9-11e9-968c-8f7878407658.png)
- refactored a bit `read` on `TypescriptConfig`
- displays line|column and source text of where is wrong

![image](https://user-images.g

[2019-02-02 20:56] nchanged opened #1483 "Discussion: FuseBox 4.0 Changes and suggestions"
Hey dear fusers, It's time to make some breaking changes and major improvements to FuseBox.

## HMR
We all know it's not perfect. So here is what's coming in FuseBox 4.0 (that's actually the reason why I decided to go for a major release).

### Automatic dependency hydration.
We all know this annoying moment when you create a  **new file** and you need to refresh the page in order to make it work?

[2019-02-02 21:00] #1454 closed

[2019-02-02 21:01] nchanged commented on #689
#1483

[2019-02-02 21:01] nchanged commented on #689
@Gustorn follow the linked issue ;-)

[2019-02-02 23:40] vegarringdal commented on #1480
I pass inn pass in old program on files changed, thats why recheck time go down.
Giving a update on all errors to end user on edits with nice setup tured out pretty nice. Of course when there is a 100++ errors it might be a bit messy.
But anyways, will be cool to see how your solution works out in the end. Giving fusebox users more options will be good, especially if its built in and works without

[2019-02-04 08:33] nchanged commented on #1483
@eddyw you mean that autoImports that import a module by a variable? How come we need to involve tsconfig.json?

[2019-02-04 08:57] eddyw commented on #1483
@nchanged sorry, I meant automatic aliasing 🙈

[2019-02-04 11:15] nchanged commented on #1483
@eddyw brilliant, I will release 3.7 today, after that we can start making some order ;-)

[2019-02-05 23:48] orourkek opened #1486 "QuantumPlugin with replaceProcessEnv generates invalid JS for prototype methods"
When using `QuantumPlugin` with `replaceProcessEnv: true` (which is the default), `process.env` prototype method calls are incorrectly replaced with a string representation of the function which results in invalid JS being emitted. A simple and realistic example is `process.env.hasOwnProperty(...)`. This code is detected as a `process.env` property access and will be replaced with its "value" (via

[2019-02-06 07:31] nchanged commented on #1486
@orourkek that's right!
Here is the code responsible
https://github.com/fuse-box/fuse-box/blob/2d71ad9c045cf20ee22015cd8a2cf8bef63a00d7/src/quantum/core/FileAbstraction.ts#L377-L392

Would be great if you helped us out!

[2019-02-06 19:17] CapOM commented on #915
This still does not work, please re-open, thx!

[2019-02-07 12:01] misantronic commented on #1273
I also ran into this issue when updating to fuse-box@3.7.0
`instructions(">index.ts +util")` fixed it for me.

[2019-02-07 13:28] Zaitsev opened #1489 "bug in fuse4.0 quantum replaceTypeOf electron@esnext"
for react-router-dom it replaces
[code]
with
[code]
this throws `Hash history needs a DOM`

[2019-02-07 14:15] Zaitsev opened #1490 "target electron requires ignoreModules: ["electron"] for renderer"
It would  be nice to inject `electron` by default to ignores if target electron

[2019-02-08 22:44] Zaitsev commented on #1486
the same issue with `node_modules/debug/src/node.js`
with env as `EnvPlugin({ DEBUG: '*' }),`
[code]
transpiled to
[code]

[2019-02-08 22:57] mvladic opened #1491 "Applying automatic alias based on baseUrl in tsconfig.json stopped to work in version 3.7.0"
Let me show how I use fuse-box as short as possible.

In `fuse.js`:

[code]

In `src/tsconig.json`:

[code]

In `src/index.tsx` I'm importing `src/app/app.tsx` like this:

[code]

In version 3.6.0 this worked and during the build following was printed:

[code]

In version 3.7.0 there is no such note, but following is printed:

[code]

P.S. In version 3.7.0 there is a bug fix:

- tsconfig baseURL a

[2019-02-09 00:42] Zaitsev opened #1492 "Quantum replaceProcessEnv: false breaks React ap"
for FuseBox 3.7 and 4.0next.5
[code]
`replaceProcessEnv: false`  produces error `ReferenceError: process is not defined` which is expected since browsers don't have process, but from [EnvPlugin](https://fuse-box.org/docs/plugins/replace-plugin) docs

so I believe `process.env` should be added by fuse (and its added in dev-mode) but it missing in production bundle.

I've add  '+ fuse-box-process' b

[2019-02-09 08:11] nchanged commented on #1492
I will check , but maybe that's why it's on by default?

[2019-02-09 08:13] nchanged commented on #1491
Hi, I personally made sure that automatic aliases are working before the release. Do you think you can reproduce it?

[2019-02-09 08:39] jpike88 opened #1493 "3.6.0 => 3.7.0 breaks source maps"
Breakpoints are failing builds via 3.7.0... any idea why?

[2019-02-09 09:07] nchanged commented on #1493
Can u try @next ?

[2019-02-09 09:09] nchanged commented on #1493
They shouldn't be breaking tho

[2019-02-09 11:03] Zaitsev commented on #1492
Yes. you are right. But I believe that settings above should at least add process.env  and not remove `process` injection if docs are consistent

[2019-02-09 11:59] nchanged commented on #1491
@mvladic `fuse-box@3.7.0-patch.1` it should be patched here. Could you verify it? As soon as it's verified I will release `3.7.1`

Sorry for breaking you build.

[2019-02-10 09:53] mvladic commented on #1491
@nchanged Yes, I'm running on Windows.

I tried 3.7.0-patch.1. It now includes all the code, but now I have some other problem. I'm using styled-components which imports `stream`. I noticed, on version 3.6.0, `stream` looks like this:

[code]
and on version 3.7.0[-patch.1] it look like this:

[code]
So, `stream-browserify` is now used in the browser. But, importing "stream-browserify" fails with p

[2019-02-10 11:36] nchanged commented on #1491
Ok so the automatic alias is solved, the problem is with stream now. Can it be reproduced by just using the Stream?

[2019-02-10 17:10] mvladic commented on #1491
Yes, if I just import `stream` in `index.ts` I will also get `Uncaught Package not found util` error in browser.

index.tsx:

[code]

[2019-02-11 07:25] eddyw commented on #1491
@mvladic could you possibly share your `tsconfig.json` file? and FuseBox options passed to `init`? (more interested in `tsconfig` option, if array and has over-writes, then which options)

[2019-02-11 14:15] mvladic commented on #1491
Here is the complete repository:

https://github.com/mvladic/test-fuse-box-1

[2019-02-11 14:23] #1491 closed

[2019-02-11 14:34] nchanged commented on #1491
@mvladic https://github.com/fuse-box/fuse-box/releases/tag/v3.7.1

[2019-02-12 05:30] jpike88 commented on #1493
Breaks on 4.0.0-next.6

[2019-02-12 05:32] jpike88 commented on #1493
Breaks on 3.7.0-patch.1

[2019-02-12 05:41] nchanged commented on #1493
Please reproduce it ... I have spent so much tweaking these source maps . I don't believe you )) all my projects are working flawlessly especially on 4.0

[2019-02-12 06:12] jpike88 commented on #1493
Downgraded to 3.6.0... works. Maybe my tsconfig will give you some indication?

[2019-02-12 06:13] jpike88 commented on #1493
[code]

[2019-02-12 06:15] nchanged commented on #1493
And your fuse.js ?

[2019-02-12 06:16] jpike88 commented on #1493
[code]

[2019-02-12 06:23] nchanged commented on #1493
And how is it broken? Could you show an example ? One component

[2019-02-12 06:24] jpike88 commented on #1493
vscode breakpoints basically fail to kick in. Best I can do is provide the log from the debugger, I'll sort that today

[2019-02-12 06:50] nchanged commented on #1493
@jpike88
Add this `"inlineSources": true` to your `tsconfig.json` and clear the cache. It should fix it

@eddyw it seems that one is broken too with your new TypescriptScript, Please make sure it's tested

[2019-02-12 06:58] nchanged commented on #1493
@jpike88 there might be another case, please check your vscode configuration and source map override field. Also, please inspect a few source maps, and check the paths. Does it work in browser?

[2019-02-12 08:55] eddyw commented on #1493
@jpike88 hey, could you also share the typescript version installed that you're using?

[2019-02-12 08:56] jpike88 commented on #1493
3.3.1, ill try out the other suggestions you got shortly

[2019-02-12 10:47] nchanged commented on #1493
@jpike88 also please try `publish 3.7.0-next.13` and `15` let's see 15th broke it

[2019-02-12 12:33] NN--- commented on #1483
My biggest concern about FuseBox that WebPack is so popular that there are not enough devs who will use it.
If there was a conversion tool from WebPack to FuseBox that could really help.
It is not needed to be generic conversion, just support Angular CLI and Create React App based projects for instance.

[2019-02-12 12:35] nchanged commented on #1483
@NN--- I know, but I can't deliver it all. I am not working with angular for example.

[2019-02-12 12:37] NN--- commented on #1483
I mean that if you can have conversion tool to what "ng new" creates, it will be sufficient.

[2019-02-12 18:22] eddyw commented on #1493
@nchanged
https://github.com/fuse-box/fuse-box/blob/b476d491491d31e1ac5391fc2d2794eeef861a6b/src/core/TypescriptConfig.ts#L245-L246

The tests for `TypescriptConfig` include checking if `sourceMaps` and `inlineSources` are set to `true` when `useSourceMaps` is true

Btw, in v4. `await this.resolve(newFile, shouldIgnoreDeps);` should be `return` instead of `await`. Otherwise it maps each to array o

[2019-02-13 00:39] tomitrescak opened #1497 "Vendor maps not produced on @next"
Hi, am testing your @next version which awesomely promised vendor source maps. My issue is though that they are not generated. I waited fair bit for them to generate.

Here is my config. Anything fishy there?

[code]

BTW the flag: showBundledFiles: false is completely ignored.

[2019-02-13 05:33] nchanged commented on #1497
Oh you need to enable them ) read the changelog they are disabled by default. Pass and object and add vendor true

[2019-02-13 07:09] #1497 closed

[2019-02-13 19:45] nchanged commented on #1493
@jpike88 any updates?

[2019-02-13 21:20] eddyw commented on #1493
@jpike88  tested v4 with `launch.json`:
[code]
And breakpoints and sourceMaps work well :P
If you're have a mono-repo and you have, for instance:
[code]
The application root is set to `myapp` because it contains `node_modules`, so you'd need to override the path:
[code]

[2019-02-14 04:00] jpike88 commented on #1493
I had this
[code]

[2019-02-14 04:01] jpike88 commented on #1493
Changing it to your suggestion didn't work

[2019-02-14 04:08] jpike88 commented on #1493
adding inlineSources didn't help either.. going to keep thinking about it

[2019-02-14 04:10] jpike88 commented on #1493
ill keep my vscode/tsconfig settings the same while messing around

[2019-02-14 05:09] jpike88 commented on #1493
Ok based on a diff between 3.6.0 and 4.0.0-next.6

https://github.com/fuse-box/fuse-box/compare/21c1ea...619b6c#diff-cb5978b5d218f988ba81132ae01eb62fR717

result.sourceMapText is undefined for an app file... continuing to investigate

[2019-02-14 05:25] jpike88 commented on #1493
OK so it looks like the tsConfig.getConfig() calls produce different results.

Old result
[code]

new result:

[code]

[2019-02-14 05:26] jpike88 commented on #1493
I note that the `wildcardDirectories` property appears to have 'users' as lowercase instead of uppercase? I thought unix paths were case sensitive? Is that possibly a factor

[2019-02-14 05:42] eddyw commented on #1493
@jpike `sourceMap` is missing in your new result. Was it tested with the same FuseBox config that you have shared?

Could you try adding instead `sourceMaps: true` in FuseBox options instead of `bundle(..).sourceMaps(true)`

[2019-02-14 06:03] jpike88 commented on #1493
OK, but I don't want to generate source maps for my other bundle.

It doesn't work, but I noticed a difference in how the source maps were generated.

old output starts with
`"{"version":3,"file":"app.js","sourceRoot":"","sources":["file:///Users/joshua/Projects/aquipa/client/src/components/app.ts"]`

new output starts with
`"{"version":3,"file":"app.js","sourceRoot":"","sources":["../client/src/c

[2019-02-14 06:32] nchanged commented on #1493
Are u trying to v4? Since there it should start with a slash

[2019-02-14 06:33] nchanged commented on #1493
Remote outDir that might affect it too

[2019-02-14 06:37] jpike88 commented on #1493
Am using fuse-box@next for my testing, it should be up to date. I'll play with outDir shortly

[2019-02-14 06:49] nchanged commented on #1493
@jpike88 `sourceMaps(true/false)` sets a global config (I know it's wrong and needs fixing). Please set it into FuseBox.init

[2019-02-14 09:32] jpike88 commented on #1493
I've set it to true, and I'm getting source maps, just with the different path. I'll try to tweak things to suit it

[2019-02-14 11:35] bkniffler commented on #1298
I can't effectively use fuse-box due to useJsNext requiring the modules field in package.json. Here is a very simple example: https://github.com/bkniffler/fuse-box-rn

Package `/node_modules/react-native-status-bar-height/index.js` for example uses es modules and only defines a `main` field. This will work nicely in react-native metro bundler, but not with fusebox.

[2019-02-14 11:41] nchanged commented on #1298
@bkniffler could you submit a separate issue with more details? I will make sure it's fixed in `v4`. And `useJsNext` will be removed, as it will be enabled by default

[2019-02-14 12:52] bkniffler opened #1498 "Using dependencies with non-transpiled src code"
Here is an example repo:
https://github.com/bkniffler/fuse-box-rn

## Background
By building a react-native-web (https://github.com/necolas/react-native-web) based web application, I'm running into problems, since react-native-web allows to use react-native UI projects like react-native-elements (https://github.com/react-native-training/react-native-elements) by mapping react-native base elements

[2019-02-14 12:53] bkniffler commented on #1298
Okay, I opened a new issue (https://github.com/fuse-box/fuse-box/issues/1498). I figured it is not only an es-modules issue, but an issue of uncompiled dependencies.

[2019-02-15 11:47] bkniffler opened #1499 "Performance degradation by updating 3.7.0-next.17 to 3.7.0 and above"
Initial build times increased from 5s to 25s on cold booting my app the first time and reloading after changing a file was at 2s, while with later version it is around >12s.

Has there been any significant changes to fuse-box that could justify the performance degradation? I could provide a demo app, but maybe you have an idea?

Caching is enabled. Source maps are enabled. I'm only using typescrip

[2019-02-15 13:16] nchanged commented on #1499
Right, there was a bug in previous versions ignoring  the targets when dealing with node modules .set the target to esnext or es2017 and you will get back to your 5 secs

[2019-02-15 13:16] #1499 closed

[2019-02-15 15:29] nchanged commented on #1499
@bkniffler all good? Sorry for closing it before confirming. It's just I had the same "issue" with my huge project, the compile time spiked to 25 seconds too. Then I realised that I had target `es5` and it's natural for FuseBox to transpile all node modules if the target is not met.

[2019-02-15 23:21] bkniffler commented on #1499
Heya, sorry for the delay. Turns out your first guess was 100% right! I'm on latest v4 and its even faster than 3.7.0-next.17, beautiful! Also, it makes sense that having @es5 (which I had before, small typo) will make stuff considerably slower to build.

Thanks for all your hard work, I really appreciate the power and simplicity of fusebox (especially after being on webpack and parcel).

[2019-02-16 08:33] nchanged commented on #1499
I am happy its all resolved )

[2019-02-18 09:10] LukeHackett opened #1500 ""Blind" copy of files"
I have some json files that are not referenced directly in code, but I would like them to be copied over into the final `dist` folder, at a given location (they are fetched via XHR at application runtime).

I thought that it might be possible with the CopyPlugin, (e.g.):

[code]

However that only seems to work when the static files are referenced from within the source code.

Is it possible to pe

[2019-02-18 12:05] nchanged commented on #1500
@LukeHackett yes, that's how I use it one of my projects

[code]

[2019-02-18 17:14] #1500 closed

[2019-02-18 18:21] LukeHackett commented on #1500
Ah! that makes complete sense... I was still in "webpack" mode and thought that the CopyPlugin was the solution, however using Sparky makes complete sense.

Here's my Sparky task, should anyone else need a pointer:

[code]

[2019-02-18 19:07] tungd opened #1502 "automaticAlias doesn't work well with instructions"
Hi, I encountered some issues with `automaticAlias`. Following is my config:

[code]

This results in the code imported from alias (components, utils, etc.) isn't included in either of the bundles. I believe in both cases FuseBox confused the components with packages in `node_modules`. Note that I do have correct alias mapping logged to console:

[code]

If I create multiple bundles but don't use

[2019-02-19 03:07] tungd commented on #1502
After some debugging turns out `WorkflowContext.addAlias` only get called once if using `compilerOptions`, so the contexts of the bundles have empty `aliasCollection`. When using `alias` it gets called three times, once for `FuseBox.init` and two more times for each of the call to `FuseBox.bundle`.

[2019-02-19 11:00] nchanged commented on #1502
Thanks for the issue! We will look into it

[2019-02-19 15:55] DaveO-Home commented on #1220
@nchanged - still having this issue with 3.7.0....

[2019-02-19 16:12] DaveO-Home commented on #1483
@NN--- @nchanged I have a howto demo on using webpack and fuse-box  with Angular and React
at
[code]
the conversion is trivial....

[2019-02-19 16:27] eddyw commented on #1502
FuseBox didn't have `compilerOptions` option on init last time I checked :P
Try setting on `FuseBox.init`:
[code]
which over-writes `tsconfig.json` file compiler options (merges).

[2019-02-19 18:46] nchanged commented on #1220
@DaveO-Home Hey, I will make a fix in v4 which won't remove the process from the build. Too many complications and issue with it.

[2019-02-21 09:07] nchanged commented on #1502
that's correct. Closing this for now

[2019-02-21 09:07] #1502 closed

[2019-02-21 09:21] nchanged commented on #1493
closing this for now chainable `sourceMaps()` is removed. Re-open if needed.

[2019-02-21 09:21] #1493 closed

[2019-02-21 09:56] athrunsun commented on #1493
@jpike88 @nchanged Will generating vendor sourcemaps for the first time very slow?

[2019-02-21 10:22] nchanged commented on #1493
@athrunsun use `fuse-box@next` for this. It will cache it, and then it will be much faster.

[2019-02-21 11:17] #1492 closed

[2019-02-21 11:18] nchanged commented on #1005
It has been fixed in `fuse-box@next`

[2019-02-21 11:18] #1005 closed

[2019-02-21 13:22] nchanged opened #1503 "error in VUE common.prod.js"
`dist/vue.runtime.common.prod.js` is originally uglified. When parsed and printed back it has syntax errors. Either a bug in typescript on escodegen.

The error is reproduced here:

https://github.com/diwiny/fusebox-vue-371-error

[2019-02-22 07:51] tungd commented on #1502
Oh I see, thanks 👍

[2019-02-26 14:47] nchanged opened #1505 "v4: New logger"
Implement a new logging system.

Needs to be implemented with zero dependencies and as simple as possible

https://github.com/fuse-box/fuse-box/blob/bbc1da65f7dc3e181522139fd31c26bad6b4ee61/src/_v4/logging/logging.ts#L1-L28

It should be testable too.

[2019-03-01 10:11] andychiare opened #1506 "Source maps issues with npm packages and dynamic loaded bundles"
Hi all,
I have a few issues with source maps in a bit complex scenario. I tried to explain the scenario in the README of this [example project](https://github.com/andychiare/fuse-box-sourcemaps-issues).
In a nutshell, I'm experiencing a lack of source maps loading and source maps misalignments.
I hope the described scenario is clear enough. Please, ask if it isn't.

[2019-03-07 00:06] azdanov opened #1507 "Usage with external project"
I was wondering if it is possible to hook up fuse-box with Laravel similar to [laravel-mix](https://github.com/JeffreyWay/laravel-mix) that uses webpack.

[2019-03-07 07:07] nchanged commented on #1507
Hi, you should wait for v4. The API is greatly simplified, no need in some shady tools :)

[2019-03-07 08:22] jpike88 opened #1508 "fuse-box@4.0.0-beta.7 is not including JSON files correctly"
I updated from 3.6.0 to latest beta. JSON file that was referenced is still being referenced in output like so:

```const translations_json_1 = require("~/server/src/components/translations/translations");```

However, that require points to nothing, that path is the only path that comes close to what I'm looking for. I've changing nothing in my fuse.js code when updating (other than moving source

[2019-03-07 08:22] jpike88 opened #1509 "fuse-box@4.0.0-beta.7 is not including JSON files correctly"

[2019-03-07 08:23] jpike88 commented on #1508
I updated from 3.6.0 to latest beta. JSON file that was referenced is still being included in output like so:

```const translations_json_1 = require("~/server/src/components/translations/translations");```

However, that file isn't being referenced elsewhere in the file. I've changing nothing in my fuse.js code when updating (other than moving sourceMaps from chaining on instructions to the init

[2019-03-07 09:14] nchanged commented on #1508
Let's wait for `v4` with a complete re-write. It's all gonna be handled gracefully there.

[2019-03-07 09:15] nchanged commented on #1509
duplicate #1508

[2019-03-07 09:15] #1509 closed

[2019-03-07 09:39] azdanov commented on #1507
@nchanged Thanks for good news. Looking forward to it.

[2019-03-07 09:39] #1507 closed

[2019-03-08 05:55] jpike88 commented on #1508
Downgrading to 4.0.0-next.6 fixed this

[2019-03-08 07:10] jpike88 commented on #1508
And broke something else, getting ```uncaught package not found util``` in a browser build. The issue doesn't occur on quantum builds though. just fyi

[2019-03-08 07:18] jpike88 opened #1510 "Fatal error in , line 0 # unreachable code"
[code]

I get this rarely, any idea what it is? It doesn't happen straight away... might be when a change is
being reloaded?

[2019-03-08 07:28] jpike88 commented on #1510
Then got this:
```Segmentation fault: 11```

Seems to coincide with a changed file.

[2019-03-08 08:31] nchanged commented on #1510
That's some nodejs error

[2019-03-08 08:53] #1510 closed

[2019-03-08 16:52] nchanged commented on #1510
That's probably related to memory error. Not enough RAM? Stay tuned to v4, it's gonna be a blast ;-)

[2019-03-09 02:01] jpike88 commented on #1510
looking forward to it dude!

[2019-03-12 00:42] samueljc opened #1512 "sourcemaps not generated with TerserPlugin"
Disclaimer: I'm fairly new to fuse-box and typescript in general.

I'm using fuse-box 3.7.1

I'm pretty sure sourcemaps are broken with the TerserPlugin, though I'm not sure how they should be working.

Looking at the source, `includeSourceMaps` isn't getting carried over between the old source and the new one in the TerserPlugin so the source maps are never getting written. The `newConcat.add` at

[2019-03-12 06:48] nchanged commented on #1512
@samueljc could you share you fuse.js?

[2019-03-12 15:51] samueljc commented on #1512
I created a smaller example that's similar and still demonstrates the issue. Hope this helps.

https://github.com/samueljc/fusebox-sourcemap-example

[2019-03-12 16:14] nchanged commented on #1512
@samueljc I see the problem
here are the steps to improve and fix your build:

1) Remove Terser Plugin from the plugin list
2) For development use target `browser@esnext` for production `browser@2017`
3) Add [quantum plugin](https://fuse-box.org/docs/3.5.0/production-builds/quantum#docsNav) that's the one that should be used for generating production builds
4) Set [uglify](https://fuse-box.org/doc

[2019-03-12 16:46] samueljc commented on #1512
Thanks @nchanged

A few questions:

1. Is TerserPlugin not supported for direct use?
2. This is an electron project. Are [these docs ](https://github.com/fuse-box/fuse-box/blob/master/docs/development/configuration.md) wrong and we shouldn't be using the `electron` target anymore? Should we be using `browser` for both the main and renderer processes of our app?

---

After making the changes you m

[2019-03-12 16:49] nchanged commented on #1512
@samueljc my bad `electron@esnext` and `electron@2017`
This error is probably because of Terser, not fusebox

[2019-03-12 18:57] samueljc commented on #1512
@nchanged Thanks for the quick response time. Turns out that was related to our use of EnvPlugin, so I was able to get past that by setting `replaceProcessEnv: false` in the quantum config. Our app is now able to build with quantum, but running gives the following error:

[code]

If you're not sure of the immediate cause of this new error I can close this ticket as it seems to be resolved, do some

[2019-03-12 19:38] nchanged commented on #1512
@samueljc you should take a look [manifest](https://fuse-box.org/docs/production-builds/quantum-configuration#manifest) since Quantum produces more bundles (forgot to include them?) and [this](https://fuse-box.org/docs/production-builds/quantum-configuration#bakeapiintobundle)

[2019-03-13 15:42] samueljc commented on #1512
Still running into separate issues that are probably related to `process.env`, but my original issue has been resolved. Thanks again.

[2019-03-13 15:42] #1512 closed

[2019-03-14 18:47] dzek69 opened #1513 "Alias doesn't work for esmodules written libraries that requires aliased library"
Simple repository with demo: https://github.com/dzek69/fb-bug-demo

I'm using esmodules code style, and I'm using Babel for transpiling.
I'm aliasing `react` to `nervjs`.
If I import "react" directly in my code - it's all fine.
If I import a library that imports "react" - aliasing doesn't work and browser script crashes with `Uncaught Package not found react`
If I import already-transpiled library

[2019-03-17 11:26] bkniffler commented on #1093
Any news? I'd expect __dirname to behave like normal in a node target build.

[2019-03-17 13:14] nchanged commented on #1093
I will make sure to give it a proper test in v4 which is coming soon )

[2019-03-19 04:25] jpike88 commented on #1483
FuseBox.consume breaks, i get this error

```Uncaught ReferenceError: client is not defined```

my path looks like this:

```client/src/components/ng2/app/login/login.component.js```

maybe aliasing is interfering?

[2019-03-20 19:44] #1093 closed

[2019-03-24 07:49] david-benes commented on #1158
@ujjwalguptaofficial Hi, what was the actual chaining problem? I can see that you are loading CSSPlugin, but I can't see the chaining issue. What was the resolution?

[2019-03-25 07:50] machiaveli88 opened #1514 "less modifyVars"
Is it possible to use less modifyVars with fuse-box?

[2019-03-25 08:02] nchanged commented on #1514
Hi, Could you throw some links here please?

[2019-03-25 08:22] machiaveli88 commented on #1514
Oh sorry, I forgot: http://lesscss.org/usage/#using-less-in-the-browser-modify-variables

Example: https://codepen.io/seven-phases-max/pen/dPYxzR

[2019-03-25 19:27] nchanged commented on #1514
Gotcha, so the situation is .. that I am now in a complete re-write. I will keep that thing in mind, when moving the less plugin.

[2019-03-26 07:10] machiaveli88 commented on #1514
Okay, cool, thanks for your answer! What exactly are you re-writting? Do you already know about how long this will take?

[2019-03-26 07:29] nchanged commented on #1514
@machiaveli88
https://github.com/fuse-box/fuse-box/tree/v4/src

fuse-box ;-)

ETA:
2-4 weeks: First version (without production builds)
2 weeks - production ready

[2019-03-26 11:24] machiaveli88 commented on #1514
Ah, cool, I'm very excited. :)

[2019-03-26 12:26] machiaveli88 commented on #1514
Okay, I think It's working already with less options:
`LESSPlugin({
        modifyVars: {
          'color1': 'green'
        }
      })`

[2019-03-26 12:26] #1514 closed

[2019-03-26 20:31] kwhitley commented on #1492
@Zaitsev @nchanged - what was the solution to this?  I'm running into the same issue (with the react cjs loader dep when quantum building)

[2019-03-26 21:04] kwhitley commented on #1492
@nchanged Specifically I've been able to isolate the break to importing and using the following package in my deps:
https://www.npmjs.com/package/auth0-js

Implementation can be as simple as:
[code]

Fails with:
![image](https://user-images.githubusercontent.com/865416/55033248-b20d5e80-4fe0-11e9-922a-f79584eff12b.png)

Hope that helps!

[2019-03-26 21:13] kwhitley commented on #1492
More specifically here (within the module):
![image](https://user-images.githubusercontent.com/865416/55033836-02d18700-4fe2-11e9-8226-1bedcc622fe0.png)

[2019-03-26 21:14] kwhitley commented on #1492
...which is a reference to an internally defined function named simply "process"

![image](https://user-images.githubusercontent.com/865416/55033932-44fac880-4fe2-11e9-84bd-aad018694c99.png)

[2019-03-26 21:17] kwhitley commented on #1492
Renaming the function to `process2` and the assignment to:
`process: process2`

Solved the process failure issue... of course, this would require a fork/replacement of the pretty mainstream `auth0-js` lib to resolve.  Is there a way in the Quantum config/options to avoid this collision?

[2019-03-27 03:23] vutran1710 opened #1515 "crypto.createHash is not a function"
I stumbled on this error, cant figure out how to solve it.
Im trying to use a npm library called **@colony/purser-ledger**, it works well with other tools like `Create-react-app`, but not with my fusebox. When executing a specific function, it throws an error like below>
[code]

Here is my `fuse.ts` file
[code]
Also the tsconfig.json..
[code]

it would be awesome if somebody can tell me whats happ

[2019-03-27 06:59] nchanged commented on #1492
@kwhitley I will make sure it won't happen in `v4` which is being cooked ATM. There will be a lot of improvements to speed and quality ;-)

[2019-03-27 07:03] nchanged commented on #1515
@vutran1710 Hi
I can't reproduce your error
All I got is:

<img width="1055" alt="Screenshot 2019-03-27 08 02 21" src="https://user-images.githubusercontent.com/1629088/55056562-b4b29700-5066-11e9-9cca-7264a0fb7988.png">

Make sure to clear the cache (`.fusebox`) folder. Also, if you managed to narrow it down to a simpler example that would help too.

[2019-03-27 07:11] vutran1710 commented on #1515
Tks alot for noticing this so fast.
That error comes from the invalid url (APP_HOST), you can temporarily hard-code the API in `frontend/service/constant', changing it to localhost:8888 with tornado backend already running (using pipenv)

Btw, i tried to remove .fusebox more than a bunch of time and it never worked, so i think its not helpful

[2019-03-27 08:08] nchanged commented on #1515
@vutran1710 what you can do is:
Open the compiled bundle, find find
`FuseBox.pkg("crypto`
and find out why it's not a function. And what is it in the first place.

[2019-03-27 13:43] KonstantinSimeonov commented on #1123
@nchanged What's the status of this?

[2019-03-27 13:59] nchanged commented on #1123
Have you tried with the latest version? I am in the middle of a big refactor now

[2019-03-27 14:02] KonstantinSimeonov commented on #1123
Yes, latest and greatest. Would you like a minimal replicating sample?

[2019-03-27 16:07] kwhitley commented on #1492
@nchanged - let me know if you could use any help testing v4!  Love this builder, and now advocate it throughout my company, use it on all my personal projects, etc.  Such a breath of fresh air over the cumbersome webpack builds, and honestly, lightning fast in comparison as well...

[2019-03-27 16:59] nchanged commented on #1492
@kwhitley `v4` will be 7x-10x faster than `v3` with much less configuration ;-) Follow the updates on twitter, I will post and updated, when there will be something to test ;-)
https://twitter.com/FuseBoxJS

[2019-03-27 17:01] nchanged commented on #1123
Sure, I will make sure to give it a proper test with `v4`

[2019-03-28 09:06] KonstantinSimeonov commented on #1123
@nchanged Here's a repo to reproduce the issue with: https://github.com/KonstantinSimeonov/wavy-carrot

## Setup:

Node version: replicated with both `10.15.1` and `8.12.0`.

[code]
- Steps to reproduce the issue:
[code]

This outputs an empty javascript object, but should output an object with a single export, something like `{ add: (x, y) => x + y }`.

[2019-03-28 11:14] KonstantinSimeonov commented on #1123
If you don't have the time to do it, I can look into it and possible open a PR

[2019-03-28 12:10] jeremy-coleman commented on #1490
really you should only need to transpile your src directory if targeting electron, all the vendor stuff can just stay in node_modules

[2019-03-28 12:14] jeremy-coleman opened #1516 "mjs is real life"
https://nodejs.org/api/esm.html , first paragraph

Just thinking it might be easier to add .mjs to the list of executable files now, instead of raging about it later

[2019-03-28 12:15] nchanged commented on #1516
@jeremy-coleman I will make sure to include it to `v4` which is being cooked ATM

[2019-03-28 12:16] nchanged commented on #1490
@jeremy-coleman the more you bundle with electron the better. It's known to affect the CPU badly, and `require` is very slow there

[2019-03-28 12:17] nchanged commented on #1123
@KonstantinKai as I mentioned, `v4` will be a brand new product, with 7x-10x faster than `v4`. If you want to help push it faster, you are welcome ;-)

[2019-03-28 12:49] ronnievdc opened #1517 "Enabing ensureES5 results in Cannot read property 'rootName' of undefined"
Using the ClassicEditor from ckeditor5 in combination with Fusebox and **ensureES5** enabled breaks the ClassicEditor

Steps to reproduce
[code]
Open a browser and see the error: `Cannot read property 'rootName' of undefined`

In `fuse.js` change to `ensureES5: false` and run `node fuse` again. The error is gone and the editor is shown.

[2019-03-28 12:59] nchanged commented on #1517
@ronnievdc I wouldn't set ensureES5 on Quantum. Please do it in the `target` field when bundling for production, otherwise use `esnext` for development

[2019-03-28 14:10] jeremy-coleman commented on #1490
I have noticed electron runs really slow with fusebox (at least in dev) for some reason, i've compared the same app between browserify ,webpack and fusebox, and the one running under fusebox is always significantly slower and i cant seem to pin down why

[2019-03-28 14:22] nchanged commented on #1490
@jeremy-coleman it should be faster when using Quantum and bundle most of the dependencies

[2019-03-28 16:09] ronnievdc commented on #1517
@nchanged Thanks, i wasn't aware the `target` property also transpiles.

When setting the target a new problem arises
 - When i set `target: "browser"` the generated code still contains `class` which IE11 has not implemented.
 - When i set `target: "browser@es5"` fuse-box crashes with the following error

[code]

When debugging in acron i found the following code:
[code]

Which corresponds to this

[2019-03-28 16:26] nchanged commented on #1517
@ronnievdc that's uglify-js error, not `fuse-box`  You should run uglify-js separately with debug mode to identify the issue

[2019-03-28 16:46] Zaitsev commented on #1490
Could you provide some test-cases?

I tested it many times and I don't see any significant performance difference between webpack and fuse in my electron app. But only in production (Quantum-ed) mode

[2019-03-28 19:55] ronnievdc commented on #1517
Thanks for the quick response. After further investigation, it seems to be the output of acorn is correct, but when this output is transpiled by the Typescript compiler the error arises.

I'll get it contact with the Typescript team. Thanks again nchanged. Keep up the good work :-)

Output from acorn
[code]

Output from Typescript
[code]

[2019-03-28 20:01] nchanged commented on #1517
@ronnievdc no worries ;-) might be. I've submitted a few issues in the past too.

[2019-03-28 21:22] ronnievdc commented on #1517
Bug submitted: https://github.com/Microsoft/TypeScript/issues/30635

[2019-03-28 21:22] #1517 closed

[2019-03-31 18:06] jeremy-coleman opened #1518 "Module concat only with transpile optional"
I would love a feature that would allow me to just concat files together that dedupes imports/exports without transpiling.

Basically rollup that doesnt attempt to resolve external dependencies and optionally doesnt transpile, mostly for code organization and source code management.

Ie:
Sparky.concat(srcGlob, destFile)

[2019-04-02 08:43] nchanged commented on #1518
Hi we need more specs on that one. I am currently working on a brand new version of FuseBox, I will keep this issue open.

[2019-04-04 10:36] LukeHackett opened #1519 "QuantumPlugin: CSS Clean removing css because of a rouge comment?"
I'm seeing some strange CSS outputs when using QuantumPlugin.

I'm importing a compiled [CSS file](https://github.com/jpuri/react-draft-wysiwyg/blob/master/dist/react-draft-wysiwyg.css) from another [node module](https://github.com/jpuri/react-draft-wysiwyg), and I have noticed that part of my resulting CSS bundle is commented out, and thus is removed via the cleancss (or uglify) functionality of

[2019-04-05 08:01] nchanged commented on #1519
@LukeHackett hang in there, there is a [massive update](https://github.com/fuse-box/fuse-box/tree/v4/src) coming. Follow twitter to be the first one to try ;-) I will bear in mind the issue.

[2019-04-07 07:35] AndreyTretyak opened #1520 "Update ws version form 1.1.1 to 1.1.5 due to make fuse box for reliable"
Version of [ws 1.1.5 has some important security fixes](https://github.com/websockets/ws/releases/tag/1.1.5), and should not contain any breaking changes.
Could we switch to using it in fuse-box or there are some objections?

[2019-04-07 14:01] nchanged commented on #1520
@AndreyTretyak I will make sure to include to `v4` version. I will update every single issue and invite for the beta testing. Thanks

[2019-04-07 22:03] AndreyTretyak commented on #1520
Thank you it will help a lot

[2019-04-10 02:50] AndreyTretyak commented on #1520
@nchanged  sorry for so many requests, but maybe you can also consider updating to some newer versions of ws if it does not take too much effort (at least 3.3.1 or maybe even never)  it looks like 1.1.5 does not contain all fixes.

[2019-04-10 23:44] patgoley commented on #573
@nchanged For clarification, if I stop and restart the HMR server, FuseBox should pick up any changes to `node_modules`, correct?

I'm seeing an issue where even restarting the server, clearing `build` and `.fusebox` cache directories, a new npm version is not getting picked up. I have no idea where it's still finding the old code to bundle because it is nowhere in my project anymore. Even a produ

[2019-04-14 23:30] gilbert opened #1521 "npm audit showing braces as a vulnerability"
A fresh `npm install fuse-box` gives the following:

[code]

npm audit shows:

[code]

`npm audit fix` does not help:

[code]

[2019-04-15 07:10] nchanged commented on #1521
@gilbert Thanks for reporting this. FuseBox v4 is going to have all fresh dependencies

[2019-04-16 16:19] EnderDev opened #1522 "Strange error in fusebox 3.7.1"
Hi, I know this may be similar to #225 but it is almost 2 years old now, and I don't think what you discussed could help me, the test file is not on the repo anymore either.

Anyway, I am using Electron, and when I launch my app with the the command `cross-env NODE_ENV='dev' node fuse.js`, it builds everything and it creates the development server on port 4444, it then says HMR is enabled. However

[2019-04-16 17:27] nchanged commented on #1522
Thanks for reporting this. It's a bug. I will make sure it's fixed in `v4`

[2019-04-16 17:27] EnderDev commented on #1522
Thanks. When will v4 be released by the way?

[2019-04-16 17:40] nchanged commented on #1522
It's hard to say, but I was planning to roll out a first version, very soon. I will update the tickets. You can also follow FuseBox on twitter, I will post it there

[2019-04-16 20:32] EnderDev commented on #1522
Do you know how to fix it, I would love it if I could get a straight fix on the spot, as I'm developing a browser.

[2019-04-16 21:40] nchanged commented on #1522
`window.global.process = process` should do

[2019-04-16 22:02] zxti opened #1523 "Running fuse-box in the browser?"
Is it possible to run fuse-box in the browser?  I didn't see any way to do so but just wanted to check if I'm overlooking anything.  I'm looking to build a simpler codesandbox clone - fuse-box could be amazing for that.

[2019-04-16 23:48] EnderDev commented on #1522
I'll assign this in my app-window.ts, where my BrowserWindow is created for electron, this ok?

[2019-04-17 09:12] nchanged commented on #1522
You should do it before the scripts are loaded

[2019-04-17 16:47] EnderDev commented on #1522
Alright

[2019-04-18 12:14] EnderDev commented on #1522
Hi it didn't work

[2019-04-18 12:17] nchanged commented on #1522
FuseBox refers to a global object. Make sure that global object is reachable and contains `process` simple as that ;-)

[2019-04-18 12:23] EnderDev commented on #1522
My code is split into seperate files, and I'm not sure if I'm placing it in the correct place. I tried fuse.js, no luck, index.ts, no luck. I can't seem to get it working.

[2019-04-18 12:33] nchanged commented on #1522
fuse.js has nothing to do with it. You need to add it in your index.html, before the bundle files

[2019-04-18 12:34] EnderDev commented on #1522
OK, hopefully this works

[2019-04-18 12:37] EnderDev commented on #1522
`<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Dot</title>
  <script>
    window.global.process = process;
  </script>
</head>

<body>
  <div id="app"></div>

  <script   type="text/javascript" src="/app.js"></script>
</body>

</html>
`

Nope.
Uncaught ReferenceError: process is not defined
    at app.html:8

[2019-04-18 14:27] EnderDev commented on #1522
Yeah, can't get it working

[2019-04-25 08:04] robertkruis commented on #1503
@nchanged This error is indeed caused by the typescript compiler. This can however be resolved by enabling _useJsNext_ for the Vue library. This will result in using the _module_ property defined in the package.json of Vue, which points to _dist/vue.runtime.esm.js_. This is the same as how you would create an alias for Vue in webpack.

Adding the following to the FuseBox instance allows Vue to be

[2019-04-26 03:28] jcmoore0 commented on #1522
I use this in index.html for cross platform support:
<script>
      var global = global || window;
      var Buffer = Buffer || [];
      var process = process || {
        env: { DEBUG: undefined },
        version: []
      };
 </script>

[2019-05-03 06:01] jpike88 opened #1525 "SVGPlugin and ImageBase64Plugin don't remove default"
I want to use this library, it contains svgs.

https://github.com/MarcusCalidus/ts-material-icons-svg.git

Outputted code looks like this though, and breaks.
[code]

It doesn't work with I use these lines of code:
[code]

[2019-05-03 07:32] #1525 closed

[2019-05-09 06:36] MaxSvargal commented on #1523
@zxti you don't need it, use HTTPv2 and native ES6 Modules instead.

[2019-05-09 12:15] dazzoh opened #1526 "SassPlugin resources path slashes being stripped"
When trying to use a common resources file it looks like the generated imports are missing slashes:

ERROR File to import not found or unreadable: ..resources.scss.
 at [project]/src/styles.scss:1:1
ERROR File to import not found or unreadable: ........resources.scss.
   at [project]/src/lib/stdlib/web-app/WebApp.scss:1:1

fuse.js configuration for this was copied from the fuse docs:
[code]

I hav

[2019-05-09 14:15] nchanged commented on #1526
@dazzoh we are nearly there with `version 4`. I will update the ticket and invite you to help testing it (if you are interested)

[2019-05-09 14:17] dazzoh commented on #1526
Hi @nchanged , sure thing -  happy to help on that.  Any idea of an ETA?

[2019-05-09 16:42] nchanged commented on #1526
It was supposed to come out today, but I have discovered a critical bug. So the alpha should be here this week and early next one. V4 is at least 7 times faster, and your issue there is resolved )

[2019-05-10 12:24] nchanged opened #1527 "FuseBox 4.0.0 - Alpha release"
Hey all! Finally FuseBox 4.0 alpha is here.

You can try it out in this [repository](https://github.com/fuse-box/react-example/tree/v4)

New configuration is available for reading [here](https://github.com/fuse-box/fuse-box/blob/v4/src/config/IPublicConfig.ts)

There are plenty of breaking changes, but this version introduces a much simpler config, most of things are "assumed" therefore there is n

[2019-05-10 12:24] nchanged commented on #1526
#1527

[2019-05-10 12:25] nchanged commented on #1522
#1527

[2019-05-10 12:25] nchanged commented on #1518
#1527

[2019-05-10 12:26] nchanged commented on #1508
#1527 should be fixed there

[2019-05-10 18:59] nchanged commented on #1483
#1527

[2019-05-10 21:47] RXminuS opened #1528 "How to deal with Hooks & HMR?"
We recently rewrote the final piece of our app to exclusively use the new React Hooks API, and we absolutely love it. However, it has broken our HMR experience, since every time the module is reloaded all the `useState`'s are reset.

After a bit of Googling it seems there are some babel plugins (like babel-plugin-react-hooks-hot-load) that deal with this. But wanted to discuss if there is already

[2019-05-11 05:25] nchanged commented on #1528
I would love to have something out of the box for react! Could you explain the problem and possible solutions ? I know there is react-hmr module that wraps the application

[2019-05-11 08:18] RXminuS commented on #1528
So basically what seems to be happening is that when a module/file (not listed in stateful modules) is replaced it triggers a re-render but it also causes the hooks to re-run. It almost feels like the whole component tree is replaced rather than being patched. This causes all sorts of annoying behavior.

Practical example: I have one root component that uses `useEffect` to check if there's an upgr

[2019-05-11 08:52] nchanged commented on #1528
I hope you tried [v4](https://github.com/fuse-box/react-example/tree/v4) already.
HMR module in `v4` is extremely flexible. Basically before making an HMR update, fusebox asks for the loaded [modules](https://github.com/fuse-box/fuse-box/blob/v4/src/hmr/attach_hmr.ts#L87) and then checks what needs to [updated](https://github.com/fuse-box/fuse-box/blob/v4/src/hmr/attach_hmr.ts#L46)  and then sends

[2019-05-12 16:57] sentialx commented on #1522
@EnderDev try using `require('electron').remote.process`

[2019-05-12 17:39] sentialx commented on #1527
What is the new equivalent of the `CopyPlugin`? I use it, because bundling svg as base64 into bundle.js doesn't seem to work. I'm using styled-components, so I guess I can't use CSSResourcePlugin.

[2019-05-12 19:17] EnderDev commented on #1522
I fixed it ages ago, thank you though!

[2019-05-12 19:47] nchanged commented on #1527
@sentialx CSSResourcePlugin is now a part of the core, and every single preprocessor will respect that.  See `stylesheet` [property](https://github.com/fuse-box/fuse-box/blob/v4/src/config/IStylesheetProps.ts#L20)

* I will add the `copyPlugin` and include `svg` as a part of the core (no plugin will be needed)

[2019-05-12 19:50] sentialx commented on #1527
Thanks, but the CopyPlugin is rather a workaround for me. I would rather like to have my svg and png files bundled as base64 into one js file, but when I was using `ImageBase64Plugin` the images just didn't show.

[2019-05-12 19:52] nchanged commented on #1527
I am not sure how bundling png is better than referencing a static image tho. It will be huge

[2019-05-13 05:48] jpike88 commented on #1527
No clear instructions on how to use sparky, it's now a function?

[2019-05-13 06:03] jpike88 commented on #1527
- [ ] No ReplacePlugin, is that just a wip right now?
- [ ] What's this dependency? https://github.com/fuse-box/fuse-box/blob/v4/package.json#L28

[2019-05-13 06:10] nchanged commented on #1527
@jpike88 yes, sparky returns an object, every task has a context defined in that function
* ReplacePlugin will be added
* That's a user error ;-) I will remove it ASAP

[2019-05-13 06:24] jpike88 commented on #1527
What's an example of how to run a sparky call? I just want to define some tasks, and call src a few times, I didn't need any context for that before?

[2019-05-13 06:27] nchanged commented on #1527
[code]

[2019-05-13 08:13] dazzoh commented on #1526
@nchanged Just got round to trying this out. Same result, unfortunately (did a clean install too).

[2019-05-13 09:23] nchanged commented on #1526
Oh, I haven't added the resources yet. Will do today or tomorrow

[2019-05-15 18:45] Gustorn commented on #1527
The latest alpha (27) fails whenever I try to use the `@material-ui/core` library (but based on a larger project this does not seem to be an isolated case). [Here's](https://github.com/Gustorn/fuse-box-v4-repro) a repro using the tsconfig/fuse.js in the first comment for simplicity.

[2019-05-15 19:32] nchanged commented on #1527
thanks @Gustorn I will look into it!

[2019-05-16 06:32] nchanged commented on #1527
@Gustorn `fuse-box@4.0.0-alpha.28` please keep testing! it has been fixed!

[2019-05-20 06:49] RXminuS commented on #1528
No I haven't tried yet, I had some problem finding/understanding the docs on how to migrate. We have a bunch of small Sparky tasks setup (copying arbitrary html & manifest files, some icons and images that shouldn't be versioned etc) and just from the TypeScript types alone it wasn't clear to me how to update them.

But a flush of only the changed modules sounds like a good idea.

[2019-05-22 16:38] Gustorn commented on #1527
@nchanged Thank you very much, the issue is fixed! Unfortunately I ran into another issue, see the repro in the repository linked above.

[2019-05-22 17:20] nchanged commented on #1527
@Gustorn thanks, the issue is clear, it's this Babel and `_interopRequireDefault` should be easy to find a fix. I removed that line and everything is ok! The good news is that it's all bundled correctly

[2019-05-23 03:28] patrickmichalina commented on #1527
Strange error when using `.instructions(' ~ ')`. to declare a "vendor" bundle.

[code]

Everything else has worked great! AMAZING SPEED

[2019-05-23 06:17] nchanged commented on #1527
@patrickmichalina that's not `v4`, `v4` doesn't contain neither of the syntax. See [here](https://github.com/fuse-box/react-example/blob/v4/fuse.ts) for reference.

The latest alpha version is `fuse-box@4.0.0-alpha.28`

[2019-05-24 05:00] Gustorn commented on #1527
@nchanged I think I managed to fix it in #1531.

[2019-05-24 05:24] nchanged commented on #1527
Thanks ! I took a brief look, but I think it needs to be fixed on the transpiler level (plugin_js) by adding A statement (like ts does)

[2019-05-24 06:08] nchanged commented on #1527
@Gustorn I've decided that we need that fix too. Please check the comments there;-)

[2019-05-24 11:01] nchanged commented on #1527
`fuse-box@4.0.0-alpha.30`

[2019-05-25 03:13] patrickmichalina commented on #1527
[code]

this has strange behavior. It only emits the entry bundle, the vendors are not longer emitted when you set the "output" property parameter.

[2019-05-25 08:19] Gustorn commented on #1527
@nchanged Thanks, the issue was fixed again. After getting through this error I found two new ones, please see them in the same repository. Thank you for your continued work!

[2019-05-25 12:15] jeremy-coleman commented on #1528
Check out @hot-loader/react-dom as a shim for react dom , works great but not sure how to implement with fusebox

[2019-05-25 16:39] nchanged commented on #1528
@jeremy-coleman `sucrase ` is cool yes. But it doesn't support source maps, that's a big **NO** in development.

[2019-05-26 15:31] chrismcv commented on #1527
@nchanged - issue with alpha-30 we were chatting on gitter about.

[code]

[2019-05-26 18:24] nchanged commented on #1527
@patrickmichalina it needs to have `$name.js`

[2019-05-27 04:42] jcmoore0 commented on #1527
@nchanged  -  I am testing V4 with apollo-client and graphql.
Example: https://github.com/jcmoore0/fuse-box-v4-apollo.
There is an issue importing the zen-observable-ts dependency.
Appreciate any suggestions.

Uncaught TypeError: Object prototype may only be an Object or null: undefined
    at setPrototypeOf (<anonymous>)
    at Object.__extends (vendor.js.js:28587)

Thanks so much for V4! ... ver

[2019-05-27 06:26] nchanged commented on #1527
@Gustorn I know what's the issue about, again, custom transpiler isn't simple ;-) I think it's related @jcmoore0
I am at it ;-)

[2019-05-27 13:57] nchanged commented on #1527
@Gustorn all of your issues are fixed in `fuse-box@4.0.0-alpha.31`

@jcmoore0  you issue is fixed by adding `allowSyntheticDefaultImports: true` there is nothing FuseBox can do here, there is default module reference to a module that doesn't contain default exports... (and just in case, upgrade to `fuse-box@4.0.0-alpha.31`)

[2019-05-27 18:30] Gustorn commented on #1527
@nchanged Thank you very much! Unfortunately I'm back with a new issue. This time it has to do with the Node shims that fusebox bundles: they fail when they are used on the right hand side of an `instanceof` (the repro is in the same repository a usual).

[2019-05-27 19:13] nchanged commented on #1527
@Gustorn thanks a lot ;-) that's not unfortunate! that's fortunate that we can iron out these issues before going further for testing production builds.

[2019-05-27 20:36] jcmoore0 commented on #1527
@nchanged  - allowSyntheticDefaultImports worked great, thanks!

Do I need to manually copy assets/images (svg, jpg, png) into dist/resource?   or does a plugin take care of this?

[2019-05-27 22:00] patrickmichalina commented on #1527
@nchanged I don't understand how to define if a bundle should include/exclude packages. In v3, we can use the `.instructions()` command. Is there an equivalent here?

[2019-05-28 06:04] nchanged commented on #1527
@patrickmichalina I will add this functionality soon ;-) As of now, you can just include the files you need into your entry point.
Do you do server too?

[2019-05-28 07:41] nchanged commented on #1527
@Gustorn could you push your changes? there is nothing new

[2019-05-28 08:01] nchanged commented on #1527
@Gustorn resolved in `fuse-box@4.0.0-alpha.32`

[2019-05-31 13:21] chrismcv commented on #1527
@nchanged anything else you need for the `ParseError [SyntaxError]: Illegal character '﻿' (1:0)` (i'm still seeing in `fuse-box@4.0.0-alpha.33`)

[2019-05-31 13:36] nchanged commented on #1527
I will update the lib, I think than @KFlash has fixed it already I just need to update it

[2019-05-31 14:12] KFlash commented on #1527
@nchanged Yup. Fixed a few days ago. Just use Meriyah from NPM

[2019-06-01 02:22] jcmoore0 commented on #1527
I found a strange issue.
Problem: When 'var jwks' is first initialized, process is an object not a function.  It should be the function declared 16 lines before.

Could this be scoping / hoisting caused?
I thought I'd share.  It's not easy to share a repo.

This is an exact code snippet from vendor.js  (source code is from auth0-js):

function process(jwks) {
  return {
    modulus: base64_1.decod

[2019-06-02 19:10] nchanged commented on #1527
@chrismcv @jcmoore0 should be fixed here `fuse-box@4.0.0-alpha.34`

[2019-06-03 05:24] jcmoore0 commented on #1527
That fixed it nicely, thank you.
I would like to get assets working next.
Sparky copied assets to /dist but the target image files (jpg, png, ico) were corrupted.

[2019-06-03 07:28] chrismcv commented on #1527
@nchanged still seeing the same/similar.
[code]

[2019-06-03 07:42] nchanged commented on #1527
@KFlash could you take a look at this? It looks like an issue with `meriyah@0.2.2`

[2019-06-03 08:19] KFlash commented on #1527
@nchanged I can't do much with that issue when it's already solved, and there exist test cases for it. It's related to ZWJ. Before it didn't see ZWJ as a WS, and that error occured.  Both my own tests and Test262 test suite are agree that there is no such issue anymore.

[2019-06-03 08:31] nchanged commented on #1527
@chrismcv could you reproduce it in a repository? that would be helpful.

[2019-06-03 08:33] chrismcv commented on #1527
@nchanged - is there a way I can get more debugging info out of this? I'm not sure how I can work out what file is causing this?

[2019-06-03 08:47] KFlash commented on #1527
@nchanged You told me before that the `package react-swipeable-views-core:0.13.1` caused the issue. I used parsed it just fine - both the lib and src folder.

Based on the error reported this "Illegal character" has to be the first char in the source parsed. So I will verify that ZWJ doesn't screw up anything as  the first WS.

[2019-06-03 09:02] KFlash commented on #1527
@chrismcv @nchanged Use latest version of Meriyah from NPM and see if the issue still exist.

[2019-06-03 09:47] adam-risberg commented on #1456
Material-ui version 4+ uses jss version 10+, downgrading is jss is thus not an option. Is there a workaround for this issue?

[2019-06-03 10:11] nchanged commented on #1456
@adam-risberg please follow [v4}(https://github.com/fuse-box/fuse-box/issues/1527) version. It has been solved there

[2019-06-03 13:55] nchanged commented on #1527
Should be here `fuse-box@4.0.0-alpha.35`

[2019-06-03 16:22] jcmoore0 commented on #1527
@nchanged  - I added the image corruption issue to
  [Repo](https://github.com/jcmoore0/fuse-box-v4-apollo)
The jpeg is increased in size when copied.

[2019-06-04 00:27] SephReed commented on #1277
Oh man.  I'm so tired right now, and just want to enjoy a personal project.  Why exactly can't I just import a path with "../" in it?  Is this not something that could be automated?

[2019-06-04 00:44] SephReed opened #1532 "Typescript doesn't work with parent folder as homeDir"
I have a project like so

[code]

All of it is written in typescript.

I set my fuse file up like so:

[code]

Demos.ts references multiple typescript files for plugins, found in the Plugins folder.  I keep getting errors that the modules don't have a js file.  It would appear fuse-box is expecting all of these "parent folder modules" to not be in typescript.

ASFAICT, this means I can't use types

[2019-06-04 01:59] SephReed commented on #1532
I've found a more direct way to ask this question.  Closing, will open a new one later.

[2019-06-04 01:59] #1532 closed

[2019-06-04 04:44] nchanged commented on #1277
Yes you can, please try v4 all the issues are resolved there

[2019-06-04 06:03] nchanged commented on #1532
@SassNinja please try [version 4](https://github.com/fuse-box/fuse-box/issues/1527) this issue has been resolved there.

[2019-06-07 21:15] patrickmichalina commented on #552
I never quite finished this and with the imminent release of fusebox v4, it would need some tweaks! I may consider finishing it out though. The Angular team looks to be moving away from Webpack and using Bazel in Angular 9. This may end up being the answer for angular projects.

[2019-06-09 00:36] patrickmichalina commented on #1527
HMR closes down randomly on me (Mac OSX)

[code]

[2019-06-09 15:34] nchanged commented on #1527
@patrickmichalina yeah, that's cuz of the spinner. I think I am going to remove that....

[2019-06-09 17:01] patrickmichalina commented on #1527
@nchanged need help with anything? Maybe tag issues with v4?

[2019-06-09 19:47] nchanged commented on #1527
@patrickmichalina that would be helpful yes! ;-) I am very busy with production builds (treeshaking and stuff). Don't want to get distracted on anything else just yet.

[2019-06-10 09:48] jschill opened #1534 "High CPU load in Chrome with dev tools open"
When file watching with fuse-box (3.7) it takes really long time for chrome to refresh the page if the dev tools are open. Looking at the activity monitor the cpu for chrome is maxed out. Am I alone with this or is it a common issue?

[2019-06-10 12:30] nchanged commented on #1534
@jschill I don't think it's related to fusebox at all. Try incognito mode. It's probably one of your extensions

[2019-06-10 12:46] jschill commented on #1534
@nchanged Maybe not. I've tried incognito and it's the same problem. Works fine as long as dev tools is closed, but as soon as it's open and i save a file, the rebuild only takes a couple of seconds but chrome takes more like 30-40 seconds before it's refreshing. I was first thinking hmr+sourcemaps, but my hmr is disabled. Or can it be activated by enabling another option?

[2019-06-10 16:15] nchanged commented on #1534
Nope, HMR is quite simple, and doesn't not require any CPU computation. I've never experienced anything related. Maybe restarting helps? If you have too many chrome instance open - that might have an effect.

[2019-06-10 20:58] jschill commented on #1534
OK, been debugging this now for quite some time. I got the cpu spike (see graph) even when i disabled the watching, changing a source file and running fusebox. In incognito and not.
<img width="180" alt="Skärmklipp 2019-06-10 22 15 49" src="https://user-images.githubusercontent.com/224493/59224977-e8b24880-8bcf-11e9-8652-e2503d6ae6d4.png">

However, when removing my files from my "filesystem work

[2019-06-10 20:58] #1534 closed

[2019-06-11 22:47] csuich2 opened #1535 "react-redux causing error in v4"
Reproduction repo: https://github.com/csuich2/react-example/tree/v4-redux

Bundles with react-redux are failing to load with v4 with the error:
[code]

The relevant lines from the bundle:
[code]

[2019-06-12 05:17] nchanged commented on #1535
Oh that's not an error. React doesn't export default. You need to enable allowSyntheticDefaultImports

[2019-06-12 05:17] #1535 closed

[2019-06-13 11:31] sod commented on #1527
I tried to convert my project, but in alpha37 the VueComponentPlugin seems to be gone?

[2019-06-13 11:49] nchanged commented on #1527
@sod `v4` doesn't have VUE support just yet. I will try to move it as soon as I am done with production builds

[2019-06-15 17:42] valepu opened #1536 "How to implement subresource integrity"
I've recently read about Subresource integrity ( https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity ) and I was wondering if it was possible to use it with fusebox.
Particularly what I want to achieve is that when I build my application for production the script and link tags have the integrity and crossorigin attributes created by fusebox (the integrity attribute should b

[2019-06-16 12:47] nchanged commented on #1536
Sounds interesting. Yes it can be done. Follow [v4](https://github.com/fuse-box/fuse-box/issues/1527) issue and also gitter. Soon we will be testing production builds, and there we could implement it right away! Join Gitter!

[2019-06-17 14:08] jeremy-coleman opened #1537 "File watcher creates endless loop [windows - V4]"
when running in dev mode, changing any file will cause an endless loop on windows

(this was previously brought up in another thread but I think should have its own issue)

Current Behavior:
change source file ->
bundle ->
watcher sees output change ->
rebundles ->
sees output change again ->
rebundles ->
repeat

*update*
quick fix is just ignoring the dist folder in the config file:

watch: {

[2019-06-17 15:20] vutran1710 opened #1538 "React-SSR + code splitting not working in production"
I'm building a small application using ExpressJS, React-SSR, code-splitting with fuse-box.
Things work fine in dev mode but when it comes to production, well...
[code]

The bundles  are splitted but when I move to the inner route (`/calc`), it throws an error saying I got an incorrect minified of react.
[code]
Can anyone point out to me how to do this correctly?
Sorry heres my repo https://github.

[2019-06-18 06:17] nchanged commented on #1537
thank you @jeremy-coleman !

[2019-06-18 07:53] nchanged commented on #1538
@vutran1710 Hi
The main focus is on `v4` now.  What I can suggest doing - is check how it resolves it.

https://fuse-box.org/docs/development/code-splitting#docsNav

[code]

I believe it can't resolve it is all. Just check the paths.

[2019-06-18 18:11] nchanged commented on #1527
Production builds are here `fuse-box@4.0.0-alpha.39`
[code]

[2019-06-18 18:13] nchanged opened #1539 "FuseBox 4.0.0 Status"
EDIT: `fuse-box@4.0.0` has been released!

Starting from `fuse-box@4.0.0-alpha.39`  we are entering a new stage where we start testing production builds. Please give you feedback!
EDIT: `fuse-box@4.0.0-next.446` is the latest version and any issues not tested against version or newer will be closed.

Example [here](https://github.com/fuse-box/react-example/tree/v4)

Things to do:

### Logging
It's

[2019-06-18 18:14] nchanged commented on #1527
#1539

[2019-06-19 00:46] KFlash opened #1540 "Why both Cherow and Meriyah as dependency?"
I would recommend you upgrade to the latest NPM package, and use [Meriyah parser](https://github.com/meriyah/meriyah) instead of Cherow

[2019-06-19 06:05] nchanged commented on #1540
thanks for reminding ;-) I will clean up the dependencies soon. It's quite a mess ATM. Meriyah is in use already ;-)

[2019-06-23 21:37] SephReed opened #1541 ""ERROR Asset reference". While using sass and parent as homedir"
I'm getting an asset reference error while trying to import some sass.  The output belows says pretty much everything I know about what's going on.  But, to be clear, I'm really not sure why it's failing to resolve.  It appers the bundler is aware of the file.  The path name is correct, seems like it should work.  Thanks for the help.

[code]

Here is my import
[code]

This is my fuse.js
[code]

[2019-06-23 21:46] SephReed commented on #1541
Derp, it's `.scss` not `.sass`. I'm still getting an error,

at this line:

[code]

still looking into it though

[2019-06-23 21:49] SephReed commented on #1541
This is the issue:

[code]

I must be importing it improperly, but everything above looks the same as this (https://fuse-box.org/docs/plugins/sass-plugin#docsNav) to me

[2019-06-23 21:55] SephReed commented on #1541
Ah.  Figured it out.

This:
[code]

Needed to have sub array:

[code]

[2019-06-23 21:55] #1541 closed

[2019-06-23 21:59] SephReed opened #1542 "Feat request: SassPlugin documentations, highlight sass->css chaining syntax in FuseBox.init"
In these docs:  https://fuse-box.org/docs/plugins/sass-plugin#setup

It would be nice to change this code example:
[code]

To show a case in which other plugins already exist, and highlight the chaining of SassPlugin and CssPlugin:
[code]

The reason I am submitting this is that I had run into an issue due to overlooking that second pair of brackets in the original code sample.  (https://github.co

[2019-06-23 22:05] SephReed commented on #1542
I put in a pull request. https://github.com/fuse-box/fuse-box/pull/1543

[2019-06-24 03:15] SephReed opened #1544 "Feat request: RawPlugin, being able to import files that are also dependencies"
https://fuse-box.org/docs/plugins/raw-plugin#docsNav

https://github.com/fuse-box/fuse-box/blob/master/src/plugins/RawPlugin.ts

I've tried reading the docs and looking at the source code (above), but I can't seem to figure out if what I'm trying to do is possible.

I'm creating a demo, and I'd like to be able to simultaneously import my code as a source dependency, and import it raw to show peopl

[2019-06-24 06:04] nchanged commented on #1544
@SephReed hi, please pay attention to this ticket. V3 is no longer maintained. https://github.com/fuse-box/fuse-box/issues/1539

[2019-06-24 15:03] SephReed commented on #1539
A way to specify the which plugin (or plugin chain??) you want to use from the import line would be very nice.

Something like `import * as raw from "!!raw-loader!/myFile.ts"` could be the syntax.  All it would require in terms of coding is adding an `interface Plugin { importId?: string, ... }`, and then checking for that importId while doing the file imports.

[2019-06-24 15:43] nchanged commented on #1539
@SephReed changing the URL's won't happen.

* That's not a valid path
* That's a webpack way
* We know better ;-)

[code]

[2019-06-24 17:52] paxperscientiam opened #1545 "QuantumPlugin: unexpected behavior re `.cssFiles` and `.css`"
Hi folks!

After some time struggling with `QuantumPlugin.cssFiles`, I realized that keys are not meant to correspond to physical paths but rather, I think, virtual paths. Once I figured that out, this worked:
[code]

With `homeDir` as "src" and the following physical paths: "src/scss/{app/index.scss,bookblock/index.scss"  ...

and with the following in my index.ts file:
[code]

Great, it works! E

[2019-06-24 18:23] #1545 closed

[2019-06-25 22:58] FlorianRappl opened #1546 "Update Chokidar"
I think this is a fairly cool project and you guys put some good thoughts and efforts into the whole bundle - much appreciated!

Since the current chain of dependencies also involves Braces in a fairly outdated version (https://npmjs.com/advisories/786) where the root of this chain can be found in a quite old version of chokidar I was curious to hear if there is an option to upgrade to the latest

[2019-06-26 00:22] SephReed commented on #1539
Feel free not to do it the webpack way, but your solution is invalid for my use-case.

For my docs, I need to be able to simultaneously import the source code of a demo and display it.

[2019-06-26 00:23] SephReed commented on #1539
Unless the idea is that I could do this:

[code]
(Which I'm pretty sure does not work)

[2019-06-26 06:07] nchanged commented on #1546
@FlorianRappl thanks ;-)
[FuseBox v4](https://github.com/fuse-box/fuse-box/issues/1539) is already using chokidar 2, I will update it to chokidar 3 soon.
If you have time to help, please do so. `v4` features a drastic performance increase with a much more simplified configuration.

[2019-06-26 12:28] #1508 closed

[2019-06-26 12:48] jpike88 opened #1547 "v4 modules with form 'x/y/z' break with cache enabled"
example:

```npm I @angular/platform-browser```

then

```import { BrowserAnimationsModule } from '@angular/platform-browser/animations';```

[2019-06-26 12:55] jpike88 opened #1548 "v4: images break when using sparky due to toString when being read"

[2019-06-26 13:10] #1548 closed

[2019-06-26 15:40] sentialx opened #1551 "Multiple bundles, one devServer"
Hi, I'm trying to achieve multiple bundles in one devServer in my Electron app. I have two windows which load app.html and permissions.html, but HMR only works in the first window.

Here's my code:

[code]

[2019-06-26 18:34] paxperscientiam opened #1553 "[feature request] Use alternate port when default port is busy"
This is a feature request. Current behavior is that given the scenario whereby the default port (4444) is in use, fuse-box will fail to start. Suggested behavior is that fuse-box use another port rather than fail. And, perhaps, indicate what process is using the default port.

[2019-06-26 20:54] sentialx commented on #1551
Oh and also, after using QuantumPlugin with bakeApiIntoBundle set to true, I get an error in `permissions` window.

[code]

![image](https://user-images.githubusercontent.com/11065386/60214215-55cb0c80-9865-11e9-8374-d7cd08f1c8bb.png)

[2019-06-27 02:20] paxperscientiam opened #1554 "Sparky.src capture bug"
Hello, I may have discovered a bug pertaining to Sparky and its ability to capture files with various extensions per [this](https://fuse-box.org/docs/task-runner/sparky#src)

The scenario is such that there are images of differing formats under "./src/assets". For the sake of this post, let's say there are just PNGs and JPGs.

I am finding that this code does NOT work ...
[code]
... while this cod

[2019-06-27 06:18] nchanged commented on #1554
@paxperscientiam Hi ;-) Again, you should try `v4` with the latest chokidar. I believe all those problems are solved there.

[2019-06-27 15:36] tomitrescak commented on #1527
Hi, I am running alpha 39, but I am getting "unknown package tslib". Package is installed, am running with esModuleInterop: true.

I am using the same config as in the demo app. Any idea? What more information you need? Pretty much I changed all `import * as React ..` to 'import React ...` and added esModuleInterop to tsconfig.json.

[2019-06-27 15:52] jpike88 commented on #1527
You should update to latest alpha (48 I think)

[2019-06-27 16:16] nchanged commented on #1527
import "tslib" in your entry point. Add only allowSyntheticDefaultImports remove the other one

[2019-06-27 18:24] SephReed commented on #1539
So.. whats the resolution here?  Are we going to come up with a way to specify importers or am I going to have to make a work around?

[2019-06-28 06:19] nchanged commented on #1547
@jpike88 I can't reproduce it. It works fine...

[2019-06-28 06:26] #1547 closed

[2019-06-28 14:17] guillaume86 opened #1555 "CSS concatenation comment out CSS portions"
I found a issue with CSS concatenation. The issue is here:

https://github.com/fuse-box/fuse-box/blob/eafee772e5e0a3cc96580098a72e5bc9c489a9db/src/quantum/core/CSSCollection.ts#L29

I have a file which ended with

    /*# sourceMappingURL=data:application/json;base64,BLABLA= */

when running the replace, the result is `/*` which will comment all following files until a closing comment is found.

I

[2019-06-28 20:55] tomitrescak commented on #1527
Ok, will try that! One more thing, is the code splitting via dynamic imports supported? The app broke with undefined imports when I did Used Lazy React component.

[2019-06-30 09:44] nchanged commented on #1539
@SephReed there will be a plugin soon, be patient =)

[2019-06-30 09:45] nchanged commented on #1527
@tomitrescak it shouldn't be broken during development. However, production support will come later this month.

[2019-07-01 08:00] hollowcat opened #1556 "Dynamic imports from CDN"
Hello. Experiencing problems attempting dynamic imports from CDN. Doing something wrong?

Using in index.js,

[code]

With cdnjs.cloudflare URLs, it gives

Cloudflare has an example on how to simulate the OPTIONS method response via a service worker, but doing so didn't help.

With jsDelivr URLs, it gives

The errors occur for every import that I use. Everything works if imported via a script tag

[2019-07-01 08:18] nchanged commented on #1556
@hollowcat the problem with dynamic import from CDN is that we don't know which object is exposed and how it is exposed. Anyway, I am working on a brand new `v4` version which should address code splitting properly.

[2019-07-04 18:44] Martaver opened #1557 "EnvPlugin won't inject process.env into vendor bundle"
I'm playing around with an alpha build of `react-beautiful-dnd` which, for some reason, is using `process.env` in its published npm package. I'm pretty sure it's just there for debugging during alpha, but I wanted to get it working and test a feature I've been waiting for.

Seems like `EnvPlugin` isn't injecting `process.env` into the vendor bundle, though...?

Is this expected, and is there a way

[2019-07-04 19:48] nchanged commented on #1557
@Martaver are you sure you were using `v4`
Check [this](https://github.com/fuse-box/react-example/blob/v4/fuse.ts#L17) out. There is no EnvPlugin anymore. It's a part of the core.

[2019-07-04 20:06] Martaver commented on #1557
Nah I’m on 3.7.1 - its react-beautiful-dnd that’s on alpha I’m playing
with. Just trying to explain why I need process.env in the vendor bundle.

On Thu, 4 Jul 2019 at 22:48, nchanged <notifications@github.com> wrote:

[2019-07-04 23:10] SephReed commented on #1539
I ended up making a really neat work-around, so don't worry about that plugin for my sake.  Looking forward to the rest of everything else.  Thanks for the awesome codebase!

[2019-07-05 07:08] nchanged commented on #1557
`process.env` should be available across all the bundles. Unless there is a bug with Quantum. Do you think you could give me more details?

[2019-07-05 14:14] vegarringdal opened #1558 "V4 Alpha - bug or user fault ?"
Tried using lit-element in v4 alpha.

Getting error messages:
![image](https://user-images.githubusercontent.com/2901416/60727954-71a67080-9f3f-11e9-9d9f-74bcd1be3afb.png)

Created a simple test repo here:
https://github.com/vegarringdal/bug

Maybe Im doing something wrong, but it works in v3 when I tried.
Hopefully its just me using it wrong and a easy fix
Added a branch for v3 just incase it hel

[2019-07-06 11:30] sentialx commented on #1551
@nchanged I changed config a little bit, but now the bundles doesn't generate in dev mode. They only generate in production mode.

[code]

[2019-07-06 18:46] #1540 closed

[2019-07-06 18:47] nchanged commented on #1551
@sentialx `v3` is no longer supported, and all the efforts are put into `v4` which is currently in the alpha state
Some info here #1539 and #1527

[2019-07-09 06:56] dzek69 opened #1559 "Update `ws` to prevent security issues"
`ws` dependency of fuse-box has **high severity** vulenerability.

This may not be an issue if `ws` is only locally used for development, but still looks bad when audit tools and even github itself is triggering alerts about that.

Please consider updating `ws`.

[2019-07-09 07:14] Martaver commented on #1557
Actually this is in my dev build, so I'm not even using Quantum. FB options:
[code]

Vendor splitting:
[code]

Nothing really out of the ordinary...?

[2019-07-09 11:25] nchanged commented on #1559
Thanks,
I've updated it in `v4`

https://github.com/fuse-box/fuse-box/blob/89fd5d3caaf55151aff8426974b6f210aecbdd8d/package.json#L65-L67

[2019-07-09 11:25] #1559 closed

[2019-07-09 20:33] SephReed opened #1560 "How do I test a multi-page app with WebIndexPlugin?"
I'm making a multi-path single-page app, but the only url that forwards is `http://localhost:4444/`.

I'd like all urls to forward to the exact same place so I can conditionally render views depending on the path.

I've tried:

`WebIndexPlugin({path: "*"})` and `WebIndexPlugin({path: "."})`

[2019-07-09 20:36] SephReed commented on #1560
Or perhaps this is supposed to be done with `hmr()` not finding instructions there either.

[2019-07-09 20:39] SephReed commented on #1560
Found it

[code]

[2019-07-09 20:39] #1560 closed

[2019-07-10 03:48] 3cp opened #1562 "HTMLPlugin/CopyPlugin useDefault should also turn on __esModule"
When useDefault is turned on, HTMLPlugin simplify generates:
[code]

But this is not compatible with BabelPlugin and Babel7Plugin, where babel checks `__esModule` for esm format or commonjs format.

In babel project, `import foo from './foo.html';` results `foo` to be an object instead of a string.
TypeScript project is not affected.

To fix the compatibility with babel, suggest to add `module.exp

[2019-07-10 06:06] nchanged commented on #1562
@3cp v3 will be soon out of the equation. `v4` will be merged soon that offers a completely different API

Please take a look a [json](https://github.com/fuse-box/fuse-box/blob/v4/src/plugins/core/plugin_json.ts) plugin, If you could please add plugin_html

Some information with examples is [here](https://github.com/fuse-box/fuse-box/issues/1539) and [here](https://github.com/fuse-box/fuse-box/iss

[2019-07-10 06:18] 3cp commented on #1562
ok, I will have a look again when v4 is released.

[2019-07-10 09:19] kaaninel opened #1563 "Native Extensions"
It's really hard to use .node files with fusebox currently and there is no tutorial as far as i can see. whatever i try it treats file as text. And since require is hooked i cant get it working properly. I somehow managed to make it work using quantum (since no require hook?) but its not stable. So is there a way that i can use or can you help me write a plugin for it ? .node could stay out of bun

[2019-07-10 09:47] nchanged commented on #1563
@kaaninel I will make sure it works with `v4`! There is a total re-write. Give it a try!

[2019-07-10 10:07] kaaninel commented on #1563
Thank you! If you need any help let me know. I was messing with typescript compiler etc for long time. Not since I'm using fusebox tho its pretty much enough for what I need.

[2019-07-10 11:03] nchanged commented on #1563
@kaaninel there is plenty of work ;-) join Gitter for a chat! ;-)

[2019-07-10 11:07] jeremy-coleman commented on #1557
Im using react beautiful dnd without issue in fusebox3 , no vendor split tho. Ive found it breaks things often

[2019-07-10 11:16] jeremy-coleman commented on #1546
https://github.com/codeandconspire/postcss-watcher/blob/master/index.js

And

https://github.com/egoist/rollup-plugin-postcss/tree/master/src

Combining these would be a nice dx and make re implementing the style plugins much easier. The rollup postcss plugin just lets you import whatever extension as long as the compiler installed, no config needed

[2019-07-10 11:17] nchanged commented on #1557
@jeremy-coleman things are much more stable with `v4` give it a try

[2019-07-10 12:32] nchanged commented on #1546
that's a nice idea, however, FuseBox v4 doesn't require any plugins for css by default. Everything works out of the box. For now we have raw css and `sass` implemented. Soon, I am going to plug in more, if you feel like helping, please pitch in for the greatness ;-)

[2019-07-10 12:54] dzek69 commented on #1559
any plans for release date for v4?

[2019-07-10 13:09] nchanged commented on #1559
@dzek69 `4.0.0-alpha.56`

[2019-07-10 13:21] dzek69 commented on #1559
I mean stable version :)

[2019-07-10 14:59] vegarringdal commented on #1558
@nchanged Was it a bug or just me doing something wrong with v4.0.0 ?
:-)

[2019-07-10 16:33] nchanged commented on #1558
Will check it today/tomorrow )

[2019-07-10 16:36] nchanged commented on #1559
I wish it moved faster, I need help with the docs ( and there are a few
things to do still

On Wed, Jul 10, 2019, 16:21 Jacek Nowacki <notifications@github.com> wrote:

[2019-07-11 23:16] paxperscientiam commented on #1539
@nchanged what do you think about leveraging typedoc? I'm integrating it into a library I'm working on. Gotta say, very impressive!

[2019-07-12 01:52] SephReed commented on #1539
Couldn't typedoc stuff be done with sparky?  Or do you mean using specific comment types within fuse box?

[2019-07-12 01:53] SephReed opened #1564 "Fusebox not showing tsc errors"
I really like the error output of `tsc --watch`, but whenever I start a fuse.js, the only errors I get are really unhelpful ones about my bundle code in the browser.

How can I get fuse-box to show normal tsc errors?

[2019-07-12 04:07] nchanged commented on #1564
There aren't "normal" errors ) FuseBox doesn't do type checking, you should setup your IDE to do so or use a type checker (you can find it on the list of repos)

 I will close this one since this question has been asked already.

[2019-07-12 04:07] #1564 closed

[2019-07-12 09:28] Martaver commented on #1527
btw, inheriting tsconfigs is borked. The following tsconfig:
[code]
Will produce the following error on `4.0.0-alpha.56`:
[code]

[2019-07-12 09:54] jeremy-coleman commented on #1539
typedoc has a lot of AST related stuff that could be super userful. my brains full though , rip

[2019-07-12 14:43] nchanged commented on #1527
@Martaver yep, extends doesn't work yet

[2019-07-12 16:53] paxperscientiam commented on #1539
@SephReed @jeremy-coleman , i'm exploring typedoc stuff now.

[2019-07-12 18:37] paxperscientiam commented on #1539
@nchanged , I am running into some trouble with typedoc, though it may not be the per se problem.

When I execute `\npm run document`, I get the following error:
[code]
Here is my fork: https://github.com/paxperscientiam/fuse-box/tree/v4

[2019-07-12 18:59] SephReed commented on #1564
So, fusebox is using tsc to compile typescript.  tsc outputs errors.  These are the "normal" errors I'm talking about.  Maybe they're not normal, but given they're the output of running tsc, I think I should be able to see them somehow.

How can I see them?

[2019-07-12 20:02] vegarringdal commented on #1558
@nchanged
I tok a new look
From what I can see it skips renaming the templateFactory into `__req3__`
Looks like ES6 shorthand code tricks it
Dunno if this helps you figure out the bad parts 😄

![image](https://user-images.githubusercontent.com/2901416/61155093-51068980-a4f0-11e9-9928-e5bc3069a3a5.png)

from the source
![image](https://user-images.githubusercontent.com/2901416/61155168-7f846480-a4f

[2019-07-13 07:23] nchanged commented on #1564
FuseBox doesn't use tsc at all. It uses the compiler API directly.

https://github.com/fuse-box/fuse-box-typechecker

[2019-07-15 15:23] vegarringdal opened #1566 "fusebox does not like method named "process""
Sample
https://github.com/vegarringdal/bug2

You can see under dev what dev build generatesand dist what production build generates.
In dev mode it tried tries to import
- https://github.com/vegarringdal/bug2/blob/master/dev/app.js#L5

I could prob get around this in dev mode by using env plugin.

While in dist mode it renames the method name to undefined
https://github.com/vegarringdal/bug2/blob/

[2019-07-15 16:47] nchanged commented on #1566
Please check if it works with v4, and reproduce it, I am not going to apply any patches to v3 anymore

[2019-07-15 17:11] vegarringdal commented on #1566
it works in v4

[2019-07-15 17:11] #1566 closed

[2019-07-16 02:30] SephReed commented on #1564
Ah.  In that case, you're probably much more familiar with the compiler API then I.

Why not use
[code]

[2019-07-16 02:47] SephReed commented on #1539
Seriously, how does anybody both display and run example files using fuse-box?  I really need to be able to import a file as both raw and source.

So far, my solution is to just make `MyFile.ts.raw`, and then run a script which copies every `.raw` file and removes the extension making `MyFile.ts`.  Then I import `.raw` with raw plugin, and the ts file is imported normally.  But having to maintain

[2019-07-16 08:02] nchanged commented on #1539
what's your goal? to import a `typescript/javascript` file as string? If so, please create an issue, I will tag and make sure it's implemented before the release

[2019-07-16 20:38] SephReed commented on #1539
This is exactly the goal.  I have a feat request opened here: https://github.com/fuse-box/fuse-box/issues/1544.  The last response is a link to this current thread.

[2019-07-16 20:39] SephReed commented on #1539
Thank you very much for looking into it.  I know all the pieces are there, but I'm not familiar enough with the fusebox repo to put the pieces together.

[2019-07-17 06:59] nchanged commented on #1562
`__esModule ` is being set during the runtime with FuseBox `v4`
I will close this for now.

[2019-07-17 06:59] #1562 closed

[2019-07-17 07:17] nchanged commented on #1558
@vegarringdal confirmed
[code]

shorthand is the problem

[2019-07-17 08:18] nchanged commented on #1558
`fuse-box@4.0.0-alpha.57` fixed

[2019-07-17 08:18] #1558 closed

[2019-07-17 08:24] vegarringdal commented on #1558
@nchanged nice, that was quickly fixed after it got confirmed 😁
Do all plugins like postcss etc work with v4?

[2019-07-17 08:30] nchanged commented on #1558
@vegarringdal unfortunately there is only `sass` and `css` for now. But it should be coming soon, after i am done with production ;-) Sass should work out of the box without any plugins.

[2019-07-20 23:23] vegarringdal opened #1567 "V4 : import deep into module does not work"
Sample code not working:

[code]

There is a export of that object in the file

![image](https://user-images.githubusercontent.com/2901416/61585176-11761800-ab56-11e9-877d-47a3c1102a41.png)

[2019-07-20 23:29] vegarringdal opened #1568 "v4: plugin feature request: minify template literals"
Started using lit-html lately.
Would be great if fusebox could minify template literals

Found this, maybe it can help you make a plugin after v4 is released
https://github.com/asyncLiz/minify-html-literals#readme

[2019-07-21 20:40] vegarringdal commented on #1564
@SephReed

https://github.com/fuse-box/fuse-box-typechecker

This gives you the error and option for tslint also.
Is it not working ?

[2019-07-21 23:33] vegarringdal commented on #1480
Just started started on version 3 of the type checker.

Tested it on the fusebox repo

[code]

First run tok about 5-6sec on both.
Tok a random file and just did a save to trigger watch.
Version 2.12.0 after first run stayed around 3,5 sec.
Version 3.0.0-next.2 after first run stayed around 1,8-2 sec.
This was inside a virtual pc- 9 year old, might go faster on something better 😂

![image](https:/

[2019-07-22 14:37] vegarringdal commented on #755
@nchanged any news on this ?
Nice to think about it while making v4 so its easier to add

[2019-07-22 18:07] nchanged commented on #755
I will be adding an API for that in v4, but I need some help building the actual analyzer

[2019-07-24 13:28] vegarringdal commented on #1527
If anyone is testing v4 with typescript they can also try it with typechecker plugin.
Tslinting have been removed. Its been completly rewriten last days.

```npm install fuse-box-typechecker@3.0.0-next.5```

[code]

![image](https://user-images.githubusercontent.com/2901416/61797358-8c298680-ae27-11e9-96df-3b5fa4eae430.png)

[2019-07-24 17:31] tomByrer opened #1569 "v4: can't find path on Windows"
After reninstall, I get same error.
Windows 10 paths might be issue?

[code]

[2019-07-25 04:09] nchanged commented on #1569
I think it just can't resolve your modules. Make sure that package is installed. (Never tired with pnpm)

[2019-07-29 14:25] sentialx opened #1570 "Electron failed to install correctly"
Hi, I'm trying to bundle all my dependencies (excluding native and electron) using `QuantumPlugin` with `target` set to `electron` and also with `-electron` instruction, but it seems to be bundling `electron` anyway and it keeps me throwing:
[code]

I'm using fuse-box 3.7.1

Edit: It seems to be issue with bundling modules using `electron` as a dependency.

[2019-07-30 08:16] nchanged commented on #1570
@sentialx you can add `ignoreModules : ["electron"]` with v3, but I would encourage you to try `v4`

[2019-07-30 10:03] sentialx commented on #1570
@nchanged Now I get
[code]

Are there `QuantumPlugin`, `CopyPlugin`, `EnvPlugin` in v4? Is there a way to create multiple entries in one fuse-box instance so that there is only one `devServer`?

[2019-07-30 10:30] sentialx commented on #1570
With `v4` I get following errors:
[code]

[2019-07-30 11:06] nchanged commented on #1570
@sentialx that's a syntax error. Could you paste some code snippet?

[2019-07-30 11:07] sentialx commented on #1570
@nchanged Code snippet of what?

[2019-07-30 11:11] sentialx commented on #1570
Here's my fuse.ts config https://github.com/wexond/wexond/blob/fuse/fuse.ts

[2019-07-30 11:35] nchanged commented on #1570
Could you give me the steps on how to reproduce the error?

[2019-07-30 11:37] sentialx commented on #1570
If you didn't install windows-build-tools before, run this command as admin:
[code]
[code]

[2019-07-30 12:48] nchanged commented on #1570
@sentialx thanks! I think there a bug in the AST parser. I will keep you posted!

[2019-07-30 18:43] SephReed commented on #1026
I'm running into this issue randomly too.  If I clear my cache, it'll work for a few loads.  Then suddenly I'll start getting the tslib error again.

[2019-07-30 18:50] SephReed commented on #1026
So, it starts happening after the first hmr().  If I clear .fusebox, then start node fuse, it'll run fine until the first hmr.  At which point, I'll get the `Uncaught Package not found tslib` error.

At the moment, this has randomly become a huge blocker for me.  How do I fix it?

[2019-07-30 18:53] SephReed opened #1571 "Tslib being exported as FuseBox.pkg("tslib@1.10.0"), creating "not found" errors"
If I clear .fusebox/ and restart node fuse, it will work fine until the first hmr.  At which point I get this error, until I clear .fusebox/ and restart again:

This all started happening randomly, mid scss updates.  I hadn't even written any ts for a while.  Whatever this is, it's a pretty awful bug as it totally breaks fuse and appears to come out of nowhere.

[2019-07-30 18:54] SephReed commented on #1571
I've tried install tslib, but I still get the error.  It's completely broken my project.

[2019-07-30 18:59] SephReed commented on #1571
further, the output of fuse box shows that tslib should be included:
[code]

[2019-07-30 19:01] SephReed commented on #1571
I've tried disabling hmr(), and still no good.  This has 100% broken my project.  I can not work on it at all.  Please, somebody help me.  I'm totally fucked right now.

[2019-07-30 19:12] SephReed commented on #1571
I've tested it with different browsers, and clearing cache.  Not helping.  I've also tried installing tslib in the parent folder because my fuse project has a homeDir of "../"

That didn't help either.

[2019-07-30 19:17] SephReed commented on #1571
tslib should be included, it found the FuseBox pkg here:

[code]

This is a typical import from it:
[code]

Why aren't these two lining up?

[2019-07-30 19:28] SephReed commented on #1571
I've found the issue.  When I first create dist, fusebox makes a pkg for tslib titled tslib:

[code]

But after a hmr() it gets updated to this:

[code]

I currently have no idea why, but (if all else fails) I can force this thing to work by doing a regex replace.  Which is better than nothing.  I'm really glad fuse-box renders relatively readable dist code.  This is the kind of bug I would normal

[2019-07-30 19:43] SephReed commented on #1571
I've tried messing around with aliases in hope of fixing this problem.  I don't think that's the right solution.  Now I'm trying to brute force it with sparky, though I'm having difficulty figuring out how to modify the raw text content of app.js.  I'm guessing watch() is what I'm looking for... it's hard to tell.

[2019-07-30 19:50] SephReed commented on #1571
The following code does not work:
[code]

The docs really, really make it seem like that code should work.

[2019-07-30 20:12] SephReed commented on #1571
This code also does nothing:

[code]
These docs really needed to be updated to show working code, even if all it does is just console logs every changed file name.  Just something that already works so I don't users don't have to figure it out.  I just want it to do anything, anything at all.  Anything except nothing, which is what it's doing right now.

[2019-07-30 20:27] SephReed commented on #1571
Finally got something responding:
[code]

But when I look at app.js, the content is not "alert('hi');".

[2019-07-30 20:29] SephReed commented on #1571
Maybe this will work?
[code]

NOPE, SURE DOESN'T

Because, of course, no user would ever want to overwrite something.

[2019-07-30 20:48] SephReed commented on #1571
God dammmmmnnnnn.  Finally got one thing working:

[code]

But then this:
[code]

Outputs undefined.  The one example I was working with in the docs (https://fuse-box.org/docs/task-runner/sparky#setcontent) creates this for app.js

``` undefinedsome content```

[2019-07-30 20:52] SephReed commented on #1571
Okay, finally, finally got it:
[code]

Things not properly shown in the docs for sparky:
* All sparky flows must end in .exec().   Every single example on the page should show this.
* File.setContent is useless without file.save().  There is no reason to show two separate examples for each
* Getting file contents requires file.read();  .read() is not listed in the docs, and should really be part o

[2019-07-30 20:58] SephReed commented on #1571
One last bit.  In order to stop the infnite loop of updating app.js, then listening to updates to it, here is my final code.  This is just a stop gap solution until this tslib thing is fixed.  It's better than having a totally broken project:

[code]

[2019-07-30 21:40] vegarringdal commented on #1554
@paxperscientiam
FYI, base go into  dest as 2 argument in version 4
Like this:

Just incase you did not know about this 😄
It tricked me earlier.

[2019-07-31 03:43] SephReed commented on #1571
So this is only working so so.  About every 5 minutes I have to restart fusebox.  Which is better than every 20 seconds.  Any clues as to what's going on here?

[2019-07-31 06:03] nchanged commented on #1571
@SephReed please use `v4` version. That bug has been fixed there.

[2019-07-31 06:55] nchanged commented on #1026
@SephReed could you give `v4` a try?
https://github.com/fuse-box/react-example/tree/v4

[2019-07-31 19:44] jeremy-coleman commented on #1570
I have had this issue a few times, try removing the web index plugin and just use require directly inside your entry html file

[2019-07-31 20:02] jeremy-coleman opened #1572 "Idea: 2 stage bundle pipeline"
This is just an idea.
Tldr: separate the transpile and bundle process.
I started using this strategy with nextjs and browserify projects, and found it results in siginificantly less issues related to bundling. I think the v4 of fuse box could make use of it also. Basically, pre transpile everything , optionally write it to disk, and only introduce files to the bundler that are finalized for browse

[2019-08-01 05:35] nchanged commented on #1572
@jeremy-coleman it's already been implemented ;-)
Check [here](https://github.com/fuse-box/fuse-box/blob/v4/docs/cache.md#ftl-mode)

[2019-08-01 10:37] nchanged commented on #1570
@sentialx
Try this config with `4.0.0-alpha.66`

Note that autoStartEntry will launch the process, but I think I did something wrong as that should be executed in the browser too?  Anyway, put there you electron launcher.

Let me know if that helps, I would like to get it running to share as a complex setup for electron.

Here is a [something](https://github.com/fuse-box/fuse-box/blob/v4/docs/reso

[2019-08-01 10:48] nchanged commented on #1571
@SephReed any updates on this one?

[2019-08-01 11:52] sentialx commented on #1570
@nchanged Now, the `main` process doesn't build and `npm run dev` gives me following error:
[code]

The `BrowserView` class is imported from `electron`.
[code]

[2019-08-01 12:04] nchanged commented on #1570
@sentialx that's because it's being executed on the server side. Which Is wrong (Read my comment above)

`cfg.autoStartEntry = true;`

I guess you need to have one bundle right? Cuz Fusebox produces at least 4 by default.  Can you feed it something else by `main.js`

I will try to make it work this week.

[2019-08-01 13:16] vegarringdal opened #1573 "v4 bug, webindex and publicPath does not work as expected"
If I use just `.` and not `./` in `publicPath` in `webIndex` config.
Fusebox inserts `.`  infront of the bundle name when using code splitting

![image](https://user-images.githubusercontent.com/2901416/62296363-35e3c580-b46f-11e9-9e64-e92a0f68562b.png)

[2019-08-01 13:18] nchanged commented on #1546
v4 now uses the latest chokidar

Docs for the watcher [here](https://github.com/fuse-box/fuse-box/blob/v4/docs/watcher.md)

[2019-08-01 13:18] #1546 closed

[2019-08-01 13:19] nchanged commented on #1557
This is fixed in `v4` please re-open if needed.

[2019-08-01 13:19] #1557 closed

[2019-08-01 13:20] nchanged commented on #1569
@tomByrer any update on that one?

[2019-08-01 13:23] #1375 closed

[2019-08-01 16:19] sentialx commented on #1570
@nchanged These bundles have random file names, is there a way to turn that off? Also, I'm not really sure which bundle is for the main process:
![image](https://user-images.githubusercontent.com/11065386/62310035-ead6ac00-b488-11e9-9b24-aa8deab93110.png)

[2019-08-01 16:25] SephReed commented on #1571
I need to set aside some time to figure out how to update to v4.  I'm pretty sure these are not the right instructions (https://fuse-box.org/docs/getting-started/installation)

Once I do that, I suspect it'll work just fine, but I'll let you know.

[2019-08-01 16:30] sentialx commented on #1570
Also, it would be great to have a config like this:
[code]

[2019-08-01 17:06] nchanged commented on #1570
@sentialx I will give a manifest.json + an object, where you will get the entry. Hopefully this week.

[2019-08-01 17:07] nchanged commented on #1571
@SephReed yep, I will be working on the migration docs soon too.

[2019-08-02 21:32] SephReed commented on #1571
Can you please tell me why this is happening so I can fix it?  How could a version number ever make its way into my app.js file?

[2019-08-02 21:38] SephReed opened #1575 "Feature Request: Deadman switch plugin: (modify raw bundle output)"
I really, really, really, REAAALLLYY, REEAALLY need a feature right now.

Find and replace.  Before a file is saved and sent to hmr(), you can modify the text.  That's all.  This one feature alone would save my ass so much trouble.  I just need to modify the text, right before the file is saved/sent to hmr().

This has got to be the easiest feature you could ever make, and it could be used to solv

[2019-08-03 00:31] SephReed commented on #1575
This would pretty much be the equivalent of `{ dangerouslySetInnerHtml: string }` in React.  Nobody should ever need a deadman switch, but sometimes you really, really do.  Like right now.  I really need a deadman switch.  I need a way to force this thing into working, because it's a very big problem for me.

I'm currently building a framework which I have been intending to release with fuse-box a

[2019-08-03 00:36] SephReed commented on #1539
There's a feature I need right now an insane amount and I don't think it would take long:  RawEditPlugin.

It allows you to edit the raw text of a file before it is saved to `./dist` or pushed to hmr().  It's sort of a deadmans switch for when things go wrong and you really, really just need to duct tape some shit together.  Please, kindly consider adding something for doing this.  Fusebox will ne

[2019-08-03 00:39] SephReed commented on #1539
It's called ReplacePlugin.  God dammit.  Thanks you though.  I'm now sold on fuse-box.  Maybe I can help out with the docs though.

[2019-08-03 06:34] nchanged commented on #1539
@SephReed https://github.com/fuse-box/fuse-box/blob/v4/docs/plugins/pluginReplace.md

[2019-08-03 06:37] nchanged commented on #1575
@SephReed there won't be any fixes to `v3` anymore. Please move to `v4`.
The issue you are facing is fixed there.
Join Gitter if you need any help.

[2019-08-03 06:38] nchanged commented on #1571
@SephReed this is happening because of a bug in FuseBox v3. As I mentioned earlier, there won't be any changes to v3. You should move to v4. As The release will be soon during the fall.

[2019-08-06 08:18] nchanged commented on #1570
@sentialx the new docs can be found [here](https://github.com/fuse-box/fuse-box/blob/v4/docs/electron.md)
and a working [example](https://github.com/fuse-box/fuse-box-electron-seed)

Let me know if that helps.

[2019-08-06 08:19] nchanged commented on #1575
@SephReed any update on that?

[2019-08-06 16:26] vegarringdal commented on #1567
@nchanged
Unsure when it got fixed, but its working now in V4
Closing

[2019-08-06 16:26] #1567 closed

[2019-08-06 23:53] jeremy-coleman opened #1576 "injected css url not stringified in v4 productin build"
maybe windows related, but from the v4 react demo , the css in the head gets injected as
[code]
instead of
[code]

[2019-08-07 07:06] nchanged commented on #1576
@jeremy-coleman that's [clean-css](https://github.com/jakubpawlowicz/clean-css) work. It's optimising the output. It's a valid css.

[2019-08-07 18:45] vegarringdal opened #1577 "v4, feature request - option to pass argument when using target electron/server"
feature request - option to pass argument when using target electron/server

Then we could pass `--inspect-brk` and have own task i vscode to listen for debugger statements
Important its string, because there is also option to add host and post with this.

**Sample:**
Last part if this would be automatic if we could pass inn argument to how fusebox starts nodejs

https://github.com/vegarringdal/fu

[2019-08-07 19:08] nchanged commented on #1570
@sentialx please gimme an update. Issues are piling up.

[2019-08-07 20:19] sentialx commented on #1570
@nchanged It still doesn't work

[code]

My config:

[code]

[2019-08-07 20:58] nchanged commented on #1570
@sentialx you haven't read the documentation nor tried the example have you?  This is an incorrect setup.

[2019-08-07 21:17] sentialx commented on #1570
@nchanged I have read the docs, but I didn't notice I had `server` target instead of `electron`. Now I get this (node-window-manager is a native module):

[code]

Config:
[code]

[2019-08-08 06:05] nchanged commented on #1570
@sentialx please try the example. It looks like some dependency is missing. This error is caused by electron, not FuseBox

[2019-08-08 15:02] SephReed commented on #1575
The replace plugin appears to be working, though I'd already reorganized my project around not using tslib by the time I found it.  I think I'm finally hitting a patch where I'll have the appropriate time to move over to v4.  I'm absolutely interested in joining gitter.  What's your channel name?

[2019-08-08 15:36] nchanged commented on #1575
https://gitter.im/fusebox-bundler/Lobby

I am closing this issue for now.

[2019-08-08 15:36] #1575 closed

[2019-08-13 22:56] jeremy-coleman commented on #1576
hmm, i had to manually change it for it to render. The image didnt show until i added quotes.

[2019-08-14 07:22] nchanged commented on #1576
Which browser ?

[2019-08-14 10:39] jeremy-coleman commented on #1576
Chrome latest, on windows

[2019-08-14 10:54] jeremy-coleman commented on #1576
I think the issuebis because the starts with /, meaning it could be interpreted as an escape sequence when its not quoted

[2019-08-16 08:48] jschill opened #1581 "Wrong sourceMappingURL in css-file when using sass"
My css output file: `main.css`
My sourceMap file: `main.css.map`
My sourceMappingURL in main.css:
`/*# sourceMappingURL=main.scss.map */`

Note the reference is wrong, it says scss instead of css. Can I manually override it somehow?

Fuse-box version 3.7.1

[2019-08-16 09:34] nchanged commented on #1581
hi @jschill
please use `v4`, docs for stylesheet are [here](https://github.com/fuse-box/fuse-box/blob/v4/docs/stylesheet.md)

A configuration sample is available [here](https://github.com/fuse-box/react-example/tree/v4) Soon we are going to have a migration guide. I will close this for now, since `v3` is no longer supported.

[2019-08-16 09:34] #1581 closed

[2019-08-16 09:42] jschill commented on #1581
@nchanged OK, thank you.

[2019-08-17 14:32] vegarringdal opened #1582 "V4- sparky src/dist - bug ?"
If I have a sparky task script file inside folders it does not work as expected.
Best behavior would be if it used scripts location as basepath for src and dest.

Ready to test version of script is here
https://github.com/vegarringdal/bug-4
scripts
* `npm run copy-bug1`
* `npm run copy-bug2`
* `npm run copy-hack`

[code]

[2019-08-17 17:56] vegarringdal opened #1583 "v4: tsconfig and alias not working as expected all the time"
Not getting expected results on all parts when using tsconfig alias/paths
Atm its messing up if `./` is added in fusebox alias config, and its not able to make tsconfig paths correctly when using paths inside the packages

For testing code in issue use this:
https://github.com/vegarringdal/bug-5
* `npm install`
* `node fuse` to run

**TSconfig**
[code]

**fusebox config alias**
[code]
folder struc

[2019-08-17 18:54] nchanged commented on #1583
@vegarringdal It will not work since you tsconfig paths is incorrect.

[code]

The reason why this works  `import "@tsconfig/test1"`  and this `import "@tsconfig/test1/bar"` doesn't is obvious.

[code]

[2019-08-17 18:55] nchanged commented on #1583
Refer to this [test](https://github.com/fuse-box/fuse-box/blob/v4/src/resolver/__tests__/pathsLookup.test.ts)

It's 100% compliant with typescript specs.

[2019-08-17 19:01] vegarringdal commented on #1583
great 👍

[2019-08-17 19:01] #1583 closed

[2019-08-19 22:03] kyr0 opened #1585 "v4 - "npm run dist" fails"
Hi Ivan,

I'm evaluating fuse-box as the underlaying bundler implementation for `st-bundle` ([SpringType web app framework](https://github.com/springtype-org/springtype)). I find your approach to bundling amazing. It is exactly what I need and what I planned to implement on my own before I found this project. v3 already suits my needs but I was considering to use v4 alpha and to help with developm

[2019-08-20 07:49] nchanged commented on #1585
hey @kyr0 thanks for you interesting in the project. We are dropping out of alpha very soon!

As for the dist, there is an issue with tsconfig, that's why it's spitting so many errors, however that doesn't prevent it from building correctly.

For development you can use `ts-node`

[code]

There are plenty of example in the playground.

Please do help, I need it badly, as v4 isn't moving as fast as

[2019-08-23 14:41] vegarringdal commented on #1577
tried it, it works with debugger
just need to remeber to restart rebugger when watch triggers
 👍

[2019-08-23 14:41] #1577 closed

[2019-08-24 08:54] EnderDev commented on #1522
Hi, I am getting this error again. I had no idea how I fixed it though. I've tried all of your methods again, but no luck.

[2019-08-24 09:14] nchanged commented on #1522
Are you on v4 ?

[2019-08-24 09:15] ericlenio opened #1592 "ReplacePlugin example is misleading"
On https://fuse-box.org/docs/plugins/replace-plugin it uses `$versionPlaceHolder` as a replacement key so I followed a similar pattern. But it did not work for me. In examining the code in ReplacePlugin I see that this is interpreted as RegExp so the use of the dollar sign meant the replacement would never actually work.

[2019-08-24 12:35] nchanged commented on #1592
@ericlenio that has been fixed in `v4` version. Please refer [here](https://github.com/fuse-box/fuse-box/blob/v4/docs/plugins/pluginReplace.md)

[2019-08-24 12:35] #1592 closed

[2019-08-24 13:18] EnderDev commented on #1522
No, I am on 3.7.1.

[2019-08-24 15:33] nchanged commented on #1522
Please upgrade to v4, v3 is no longer supported. There are docs in the v4 branch

[2019-08-24 18:36] EnderDev commented on #1522
Hey, I got this error while running fuse.js on the latest v4
`TypeError: EnvPlugin is not a function`

Here's my code https://github.com/dot-browser/desktop/blob/master/fuse.js

[2019-08-24 18:58] nchanged commented on #1522
@EnderDev that's `v3` `v4` doesn't have `EnvPlugin`

Here is an [example](https://github.com/fuse-box/fuse-box-electron-seed) here are the [docs](https://github.com/fuse-box/fuse-box/blob/v4/docs/electron.md)

Install the latest v4 ` fuse-box@4.0.0-alpha.80` and remove `^` from `package.json` to prevent from jumping to a wrong version.

[2019-08-24 19:44] EnderDev commented on #1522
Hi. I've installed `4.0.0-alpha.80` and used the example (slightly modified), and I keep getting a lot of errors. I've tried including console and react-hot-load, but no luck there. Here's my [`fuse.ts` ](https://gist.github.com/EnderDev/b6d35423a26b12aff5cee773e9a63317)

[code]

[2019-08-24 21:56] nchanged commented on #1522
Do not use `react-hot-load` it's not webpack. It regards to other modules, they are either not installed or not reachable.

[2019-08-25 01:38] kurdin commented on #1570
@nchanged with `4.0.0-alpha.80` electron wont start anymore, `output.electron` in `undefined` on `handler.onComplete` it works if I rollback to `4.0.0-alpha.78`

Also `hash : false` wont work in configuration, I need to output 3rd bundle script for injecting js into webview, I have to use `useSingleBundle: true` and static bundle name something like `dist/injectapp.js` but I could not do it withou

[2019-08-25 04:59] nchanged commented on #1570
I will take a look, I think I know what might be broken. Install tslib. if it won't work could u reproduce and open an issue ?

[2019-08-25 09:52] EnderDev commented on #1522
Alright. I will be removing it.

[2019-08-25 12:28] kurdin commented on #1570
`npm i tslib` did not help but in `fuse-box-electron-seed` with `FuseBox 4.0.0-alpha.80` if I run `npm run dist` it works just fine, so look like `'productionModule' of undefined` error has to do with my code or configuration.

I still see with `FuseBox 4.0.0-alpha.80`
[code]
do you want me to open an issue about that ?

[2019-08-25 13:07] kurdin commented on #1585
@nchanged I guess I can use this issue to report my errors I told you in different thread

https://github.com/kurdin/fuse-box4-electron-seed-run-production-dist-bug-with-antd-/blob/master/README.md

FuseBox 4.0.0-alpha.80

1. issue

[code]
throws error

[code]
this error happends because of usage "antd": "^3.22.0" package

2. issue

[code]
throws error

[code]

[2019-08-25 19:22] nchanged commented on #1570
I will investigate and get back to you soon :)

[2019-08-25 21:07] kurdin commented on #1570
@nchanged I post it in here https://github.com/fuse-box/fuse-box/issues/1585#issuecomment-524629048 looks like related issues.

[2019-08-26 15:15] nchanged commented on #1585
@kurdin hey, the link you provided is broken. Nonetheless, here is a fixed version `fuse-box@4.0.0-alpha.84`

[2019-08-26 17:17] nchanged commented on #1585
Closing this issue for now.

[2019-08-26 17:17] #1585 closed

[2019-08-26 17:18] #1490 closed

[2019-08-26 17:44] nchanged commented on #1585
@kurdin please create a separate issue. Btw, you can now use `fuse-box@next`

[2019-08-26 17:48] #1573 closed

[2019-08-26 17:58] #1576 closed

[2019-08-26 17:58] kurdin opened #1593 "v4 - "npm run dist" fails with antd package as dependency"
with FuseBox 4.0.0-alpha.84  and election, building production dist fails if using `antd` package as dependency in React app

bug repo:
https://github.com/kurdin/fuse-box4-electron-seed-run-production-dist-bug-with-antd

[code]

[2019-08-26 17:59] nchanged commented on #1576
@jeremy-coleman I've just verified it. It should be fixed using [this](https://github.com/fuse-box/fuse-box/blob/master/docs/production.md#setting-up-cleancss)

[2019-08-27 12:26] #1593 closed

[2019-08-27 12:29] nchanged commented on #1593
It's fixed here.
`fuse-box@4.0.0-next.89`

You would need to check [this one](https://github.com/fuse-box/fuse-box/blob/master/docs/logging.md#tweak-logging-messages) too

[2019-08-27 12:31] nchanged commented on #1572
closing this for now

[2019-08-27 12:31] #1572 closed

[2019-08-27 12:31] #1571 closed

[2019-08-27 12:32] nchanged commented on #1570
Closing this issue, since electron build has been verified and works as expected. Re-open elsewise

[2019-08-27 12:32] #1570 closed

[2019-08-27 12:33] nchanged commented on #1569
Please re-open if the issue still present.

[2019-08-27 12:33] #1569 closed

[2019-08-27 12:34] #1554 closed

[2019-08-27 12:35] nchanged commented on #1553
Alternatively we could use ctx.fatal to exit gracefully

[2019-08-27 12:35] #1551 closed

[2019-08-27 12:36] nchanged commented on #1538
All Resolved and tested in `@next`

[2019-08-27 12:36] #1538 closed

[2019-08-27 12:38] nchanged commented on #1536
I Believe that is now supported, since v4 no longer uses XHR requests, but relies on script tags. We could introduce the support in `webIndex`

Please give a try for `@next` and open another issue if needed.

[2019-08-27 12:38] #1536 closed

[2019-08-27 12:38] nchanged commented on #1537
That has been fixed.

[2019-08-27 12:38] #1537 closed

[2019-08-27 12:39] nchanged commented on #1526
That has been fixed in v4. And it's called autoImport .
Available in `fuse-box@next`

[2019-08-27 12:39] #1526 closed

[2019-08-27 12:40] #1542 closed

[2019-08-27 12:41] nchanged commented on #1513
Aliasing has been tested in `fuse-box@next` Please give it a try

[2019-08-27 12:41] #1513 closed

[2019-08-27 12:41] #1523 closed

[2019-08-27 12:41] #1505 closed

[2019-08-27 12:41] #1480 closed

[2019-08-27 12:42] nchanged commented on #1383
That has been fixed `fuse-box@next`

Give it a try. It's a brand new version with major updated

[2019-08-27 12:42] #1383 closed

[2019-08-27 12:43] nchanged commented on #1381
All tests are now using `jest`

[2019-08-27 12:43] #1381 closed

[2019-08-27 12:43] nchanged commented on #1436
You can now use any CSS preprocessor with fusebox v4

[2019-08-27 12:43] #1436 closed

[2019-08-27 12:44] nchanged commented on #1367
This has been all fixed in `v4`. Please upgrade to the [major version](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

[2019-08-27 12:44] #1367 closed

[2019-08-27 12:45] nchanged commented on #1368
This has been all fixed in `v4`. Please upgrade to the [major version](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

[2019-08-27 12:45] #1368 closed

[2019-08-27 12:45] nchanged commented on #1361
Please upgrade to the [major version](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

[2019-08-27 12:45] #1361 closed

[2019-08-27 12:46] nchanged commented on #1343
all there =)

[2019-08-27 12:46] #1343 closed

[2019-08-27 12:46] #1309 closed

[2019-08-27 12:46] nchanged commented on #1295
This has been all fixed in `v4`. Please upgrade to the [major version](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

[2019-08-27 12:46] #1295 closed

[2019-08-27 12:46] nchanged commented on #1296
This has been all fixed in `v4`. Please upgrade to the [major version](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

[2019-08-27 12:46] #1296 closed

[2019-08-27 12:47] nchanged commented on #1290
This has been all fixed in `v4`. Please upgrade to the [major version](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

[2019-08-27 12:47] #1290 closed

[2019-08-27 12:47] nchanged commented on #1284
This has been all fixed in `v4`. Please upgrade to the [major version](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

[2019-08-27 12:47] #1284 closed

[2019-08-27 12:47] nchanged commented on #1275
This has been all fixed in `v4`. Please upgrade to the [major version](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

[2019-08-27 12:47] #1275 closed

[2019-08-27 12:47] #1272 closed

[2019-08-27 12:48] nchanged commented on #1263
Implemented in  `v4`. Please upgrade to the [major version](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

[2019-08-27 12:48] #1263 closed

[2019-08-27 12:48] #1230 closed

[2019-08-27 12:48] nchanged commented on #1219
This has been all fixed in `v4`. Please upgrade to the [major version](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

[2019-08-27 12:48] #1219 closed

[2019-08-27 12:48] nchanged commented on #1215
We are using jest now.

[2019-08-27 12:48] #1215 closed

[2019-08-27 12:49] #1203 closed

[2019-08-27 12:49] #1202 closed

[2019-08-27 12:49] #1089 closed

[2019-08-27 12:49] #1060 closed

[2019-08-27 12:50] #1043 closed

[2019-08-27 13:08] nchanged commented on #310
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:08] #310 closed

[2019-08-27 13:09] nchanged commented on #348
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:09] #348 closed

[2019-08-27 13:09] nchanged commented on #356
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:09] #356 closed

[2019-08-27 13:09] nchanged commented on #421
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:09] #421 closed

[2019-08-27 13:09] nchanged commented on #431
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:09] #431 closed

[2019-08-27 13:09] nchanged commented on #432
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:09] #432 closed

[2019-08-27 13:09] nchanged commented on #436
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:09] #436 closed

[2019-08-27 13:09] nchanged commented on #449
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:09] #449 closed

[2019-08-27 13:10] nchanged commented on #457
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:10] #457 closed

[2019-08-27 13:10] nchanged commented on #488
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:10] #488 closed

[2019-08-27 13:10] nchanged commented on #510
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:10] #510 closed

[2019-08-27 13:10] nchanged commented on #543
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:10] #543 closed

[2019-08-27 13:10] nchanged commented on #544
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:10] #544 closed

[2019-08-27 13:10] nchanged commented on #550
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:10] #550 closed

[2019-08-27 13:10] nchanged commented on #573
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:10] #573 closed

[2019-08-27 13:11] nchanged commented on #584
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:11] #584 closed

[2019-08-27 13:11] nchanged commented on #631
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:11] #631 closed

[2019-08-27 13:11] nchanged commented on #632
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:11] #632 closed

[2019-08-27 13:11] nchanged commented on #635
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:11] #635 closed

[2019-08-27 13:11] nchanged commented on #636
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:11] #636 closed

[2019-08-27 13:11] nchanged commented on #651
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:11] #651 closed

[2019-08-27 13:11] nchanged commented on #659
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:11] #659 closed

[2019-08-27 13:12] nchanged commented on #663
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:12] #663 closed

[2019-08-27 13:12] nchanged commented on #673
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:12] #673 closed

[2019-08-27 13:12] nchanged commented on #688
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:12] #688 closed

[2019-08-27 13:12] nchanged commented on #689
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:12] #689 closed

[2019-08-27 13:12] nchanged commented on #699
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:12] #699 closed

[2019-08-27 13:12] nchanged commented on #714
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:12] #714 closed

[2019-08-27 13:13] nchanged commented on #721
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:13] #721 closed

[2019-08-27 13:13] nchanged commented on #733
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:13] #733 closed

[2019-08-27 13:13] nchanged commented on #755
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:13] #755 closed

[2019-08-27 13:13] nchanged commented on #766
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:13] #766 closed

[2019-08-27 13:13] nchanged commented on #794
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:13] #794 closed

[2019-08-27 13:13] nchanged commented on #796
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:13] #796 closed

[2019-08-27 13:13] nchanged commented on #799
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:13] #799 closed

[2019-08-27 13:13] nchanged commented on #804
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:13] #804 closed

[2019-08-27 13:13] nchanged commented on #813
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w

[2019-08-27 13:13] #813 closed

[2019-08-27 13:14] nchanged commented on #819
### FuseBox v4 Major Upgrade

As of today, the latest major version of FuseBox `v4` is available in `fuse-box@next`. FuseBox has undergone a full re-write from scratch, learning from its mistakes in the previous versions.

There are a lot of improvements, speed and config wise.

Get started [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

We are still w