[2020-03-05 16:26] #1826 closed

[2020-03-05 16:27] #1801 closed

[2020-03-05 19:41] nchanged opened #1830 "punycode issue"
https://github.com/ArekusuNaito/fuse-box-socket-io-punycode-issue

[2020-03-06 09:27] #1829 closed

[2020-03-06 10:46] budiadiono commented on #1827
Thank you too! 👍

[2020-03-07 22:20] JakeHedman commented on #1818
Any update on this?

[2020-03-08 02:23] bsl-zcs opened #1834 "[v4] .sass files treated as .scss"
[code]

`❌ Invalid CSS after "b": expected 1 selector or at-rule, was "body" in ...`

tried to pass `indentedSyntax: true` to `pluginSass` - it doesn't help

[2020-03-08 02:29] bsl-zcs opened #1835 "[v4] ~ (node_modules alias) in SASS doesn't work"
[code]

`❌ File to import not found or unreadable: ~bulma/bulma.sass.`

it works in 3.7

[2020-03-08 02:55] bsl-zcs opened #1836 "consider switching to dart sass from node-sass"
for several reasons:

1. the dart sass is the primary implementation now and other implementations are lagging behind on latest features support (such as `@use` and new module system)
1. node-sass requires a native binary, which has to be downloaded (if the current environment fits in a limited set of platform/node version/node-sass version combinations of their pre-built binaries) or built locall

[2020-03-08 03:22] patrickmichalina commented on #1836
https://www.npmjs.com/package/sass

[2020-03-08 03:22] patrickmichalina commented on #1836
`This package is a distribution of Dart Sass, compiled to pure JavaScript with no native code or external dependencies. It provides a command-line sass executable and a Node.js API.`

[2020-03-08 03:56] bsl-zcs opened #1837 "quantum's tree shaking breaks self-modifying code in babel runtime"
it basically turns the file `node_modules\@babel\runtime\helpers\esm\setPrototypeOf.js` (out of `@babel/runtime@7.8.4`, generated [here](https://github.com/babel/babel/blob/master/packages/babel-helpers/src/helpers.js#L495), i believe) from this:

[code]

to this:

[code]

causing infinite recursion and stack overflow:
[code]

[2020-03-08 04:25] bsl-zcs commented on #1835
my bad, just noticed that i'm testing not the latest version (because `-next.165` is lexicographically greater than `-alpha.328` and `"^4.0.0-alpha.328"` actually fetches `@next`).

in latest alpha it works.  sorry for disinformation.

[2020-03-08 04:25] #1835 closed

[2020-03-08 07:19] nchanged commented on #1818
Please use the latest alpha, we are fews bugs away from merging into next

[2020-03-08 09:26] #1830 closed

[2020-03-08 09:28] vegarringdal opened #1838 "sourcemaps have some minor bugs"
Code sometimes does not stop on the correct line.
Like on the picture below it should have stopped on the debugger statement
![image](https://user-images.githubusercontent.com/2901416/76160100-540d5480-6127-11ea-8a2e-30d31243d528.png)

[2020-03-09 14:07] patrickmichalina opened #1840 "[v4 - grand refactor] "dialog" and other keywords overwritten when using decorators."
[code]

<img width="1119" alt="Screen Shot 2020-03-09 at 9 01 48 AM" src="https://user-images.githubusercontent.com/6701211/76219954-a2ccf400-61e4-11ea-87df-f580985b8275.png">

[2020-03-09 14:12] nchanged commented on #1840
I am assuming you have the other dialog imported, that matches the name of that local variable

Right?

[2020-03-09 14:48] patrickmichalina commented on #1840
@nchanged update the example

[2020-03-10 02:00] charsleysa commented on #1563
@nchanged recommend close issue as fixed.

[2020-03-10 05:53] #1563 closed

[2020-03-10 07:36] #1840 closed

[2020-03-10 08:05] charsleysa commented on #1520
Closing as issue is related to v3.x and versions prior to v4 are no longer supported.

[2020-03-10 08:05] #1520 closed

[2020-03-10 08:10] charsleysa commented on #1648
Here's a working plugin for v4 that includes the graphql file as a string in the resulting output, can be imported using default import.
[code]

Closing as this solution should be sufficient.

[2020-03-10 08:10] #1648 closed

[2020-03-10 08:14] charsleysa commented on #1519
Closed as related to v3.x which is no longer supported.

[2020-03-10 08:14] #1519 closed

[2020-03-10 08:18] charsleysa commented on #1837
Closed as related to v3.x which is no longer supported.

[2020-03-10 08:18] #1837 closed

[2020-03-10 08:18] nchanged commented on #1648
@charsleysa we could add it to `pluginAssumption` and let `plugin_raw` handle it!

[2020-03-10 08:23] charsleysa commented on #1645
@radicand @jcmoore0 can you please confirm whether this issue occurs with the latest v4 alpha?

[2020-03-10 08:24] charsleysa commented on #1638
@guins can you please confirm if the issue still occurs with the latest v4 alpha?

[2020-03-10 08:25] charsleysa commented on #1634
@koffmoff can you please confirm if the issue still occurs with the latest v4 alpha?

[2020-03-10 08:35] nchanged commented on #1634
here is a changelog https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md

[2020-03-10 08:40] charsleysa commented on #1556
@hollowcat can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:41] charsleysa commented on #1555
@guillaume86 can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:42] charsleysa commented on #1631
Closing as related to v3.x which is no longer supported.

[2020-03-10 08:42] #1631 closed

[2020-03-10 08:43] charsleysa commented on #1632
@verydanny can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:45] charsleysa commented on #1693
Closing as related to v3.x which is no longer supported.

[2020-03-10 08:45] #1693 closed

[2020-03-10 08:46] charsleysa commented on #1649
@Zaitsev can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:47] charsleysa commented on #1658
@DaveO-Home can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:48] guillaume86 commented on #1555
Hi, sorry I'm not using fusebox anymore on that project but it should be easy enough to try out, just end a css file with a sourcemap and import it in another css file, then add a rule under the import. Then check the rule is not commented when bundling.

[2020-03-10 08:49] charsleysa commented on #1660
Closing as related to v3.x which is no longer supported.

[2020-03-10 08:50] charsleysa commented on #1661
Closing as related to v3.x which is no longer supported.

[2020-03-10 08:50] charsleysa commented on #1662
@bogdandv can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:51] #1661 closed

[2020-03-10 08:51] #1660 closed

[2020-03-10 08:52] charsleysa commented on #1672
@bogdandv @SephReed can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:54] charsleysa commented on #1675
@jpike88 can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:55] charsleysa commented on #1676
@jpike88 can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:56] charsleysa commented on #1670
@bogdandv can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:57] charsleysa commented on #1681
@MrFoxPro can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:58] charsleysa commented on #1683
@jounii can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:58] charsleysa commented on #1685
@TrungRueta can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 08:59] charsleysa commented on #1688
@tomitrescak can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:00] charsleysa commented on #1708
@bogdandv can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:01] charsleysa commented on #1716
@SephReed can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:04] charsleysa commented on #1724
@bergkvist can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:04] #1555 closed

[2020-03-10 09:06] nchanged commented on #1708
Custom output has been implemented in the latest version. We can close this one.

[2020-03-10 09:06] #1708 closed

[2020-03-10 09:06] charsleysa commented on #1740
@Teoxoy can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:07] nchanged commented on #1688
This has been fixed. We can close it.

[2020-03-10 09:07] #1688 closed

[2020-03-10 09:08] nchanged commented on #1683
The latest next version supports custom output. Closing this one.

[2020-03-10 09:08] charsleysa commented on #1752
@stijnvanlieshout can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:08] #1683 closed

[2020-03-10 09:09] charsleysa commented on #1791
@Martaver can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:10] charsleysa commented on #1798
@foisonocean can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:12] charsleysa commented on #1799
@paxperscientiam can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:12] nchanged commented on #1798
@charsleysa would be nice to actually implement this one ;-)

[2020-03-10 09:13] nchanged commented on #1740
I am confirming that this bug has been fixed and covered with tests

[2020-03-10 09:13] #1740 closed

[2020-03-10 09:14] charsleysa commented on #1816
@sulf can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:15] nchanged commented on #1676
this one is fixed ;-) closing it

[2020-03-10 09:15] #1676 closed

[2020-03-10 09:15] Teoxoy commented on #1740
Yeah, it has been fixed.

[2020-03-10 09:16] charsleysa commented on #1818
@rizkyramadhan @JakeHedman can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:16] nchanged commented on #1672
This has been fixed and thoroughly tested

[2020-03-10 09:16] #1672 closed

[2020-03-10 09:17] charsleysa commented on #1838
@vegarringdal can you please confirm if the issue still occurs with `fuse-box@4.0.0-next.400`?
Also see [here for info on major changes](https://github.com/fuse-box/fuse-box/blob/master/docs/changelog-fuse-compiler.md)

[2020-03-10 09:39] nchanged commented on #1818
this shouldn't happen anymore

[2020-03-10 09:39] #1818 closed

[2020-03-10 09:40] nchanged commented on #1649
this has been fixed!

[2020-03-10 09:40] #1649 closed

[2020-03-10 09:44] bogdandv opened #1843 "4.0.0-next.400: import systax throws error"
When I try to migrate to the newest version, syntax like:

[code]
throws the following error:

 FATAL  Error while compiling a module
[code]

here is my config:
[code]

Note that in the previous version (pre alpha merge) it worked properly

[2020-03-10 11:11] bogdandv opened #1845 "4.0.0-next.400: Compile error for Component in react state"
in production this:
[code]
gets translated into this:
[code]
undefined.component is not correct.

please note that this.state.component is not undefined (it has a component).

please note this component worked properly before the alpha merge

Fuse setup:
[code]

[2020-03-10 11:14] bogdandv opened #1846 "4.0.0-next.400: Turning devServer off issues"
Can not run on dev mode if devServer is turned off.
This config:
[code]
Yields this error:
[code]

[2020-03-10 14:19] hollowcat commented on #1556
@charsleysa

I've just updated to next.401 and modified my fuse.js as written (replaced `output` with `bundles` as an argument to `runDev`, no other changes from [this example](https://github.com/fuse-box/react-example/blob/v4/fuse.ts)).

It does compile, but gives _TypeError: Object.assign(...) is not a function_ when opened in the browser, generated at the point of first import of LitElement. My

[2020-03-10 14:23] nchanged commented on #1556
Could you reproduce it ?

[2020-03-10 14:23] nchanged commented on #1556
You don't need to add tslib anymore btw, we don't use Typescript anymore

[2020-03-10 14:32] vegarringdal commented on #1838
@charsleysa @nchanged
yes still an issue.

used the sandbox and updated fusebox only

![image](https://user-images.githubusercontent.com/2901416/76322906-3fc28680-62e4-11ea-9395-8b68f7a8a11e.png)

![image](https://user-images.githubusercontent.com/2901416/76322835-26b9d580-62e4-11ea-88b9-34d1d298ab2e.png)

[2020-03-10 14:49] nchanged commented on #1845
`fuse-box@4.0.0-next.402`

[2020-03-10 14:49] #1845 closed

[2020-03-10 14:53] nchanged commented on #1846
`fuse-box@4.0.0-next.403`

[2020-03-10 14:53] #1846 closed

[2020-03-10 15:00] DaveO-Home commented on #1658
@charsleysa are there docs on custom plugins, in next.165 this worked `fuse-box/core/Context`. Can't test without the plugin.

[2020-03-10 15:08] nchanged commented on #1658
@DaveO-Home which plugin are you using?

[2020-03-10 15:10] DaveO-Home commented on #1658
@nchanged my own custom plugin - its strips development code.

[2020-03-10 15:12] DaveO-Home commented on #1658
@nchanged
[code]

[2020-03-10 15:37] bogdandv opened #1847 "css bundleling settings"
this:
[code]
does not bundle the css as expected.  (it does not create a styles.css file)
Am I doing something wrong?

[2020-03-10 15:38] bogdandv commented on #1846
Problem solved. Thank you!

[2020-03-10 15:38] bogdandv commented on #1845
Problem solved. Thank you!

[2020-03-10 15:59] hollowcat commented on #1556
With only this code in my entrypoint index.ts,

[code]
next.164 throws as described initially, while next.403 just throws _Uncaught (in promise) Error: Module ...redux@4.0.1/dist/redux.min.js was not found_ any way.

Does the shift to another parser affect compatibility with Lit-element which expects TS?

How to fix the _Object.assign is not a function_ errors?

[2020-03-10 16:46] nchanged commented on #1556
Are you using IE7 or something? Can you add a polyfill ?

Also did you previously use any ts transformers ? Cuz the latest version requires custom transformers, we are trying to cover the most popular cases but it will take time.

As for dynamic cdn imports I will add the support for that soon enough

[2020-03-10 16:57] nchanged commented on #1847
It's odd,there are integration tests for it.

Remove dependencies field to start with, and css option it should pick it up automatically. Then import your css using a normal import it should work

[2020-03-10 17:29] paxperscientiam commented on #1799
will do

[2020-03-10 18:14] sulf commented on #1816
The resource config actually fixed the issue. This can be closed.

[2020-03-10 18:14] #1816 closed

[2020-03-10 18:31] nchanged commented on #1658
@DaveO-Home

[code]

[2020-03-10 19:04] DaveO-Home commented on #1658
@nchanged - the problem is here `return (ctx: Context) => {`  how does Context get resolved?  It seems that the new config doesn't recognize { plugins:[] }.  import { Context } from "fuse-box/core/Context"; is no longer getting resolved.

[2020-03-10 19:57] nchanged commented on #1658
@DaveO-Home
[code]

[2020-03-10 20:12] DaveO-Home commented on #1658
@nchanged  Production now works; just have to get font-awesome working....

[2020-03-10 20:12] #1658 closed

[2020-03-10 22:24] nchanged commented on #1658
@DaveO-Home you should try the following btw:

[code]

It computes it during the runtime for dev and prod and unwraps the statements

[2020-03-11 00:45] charsleysa commented on #1843
@bogdandv can you please create a minimal reproduction?

[2020-03-11 00:56] charsleysa commented on #1847
@bogdandv can you please create a minimal reproduction?

[2020-03-11 00:57] charsleysa commented on #1838
cc @nchanged

[2020-03-11 05:52] nchanged commented on #1843
There is no need in that, I am fixing it :)

[2020-03-11 07:04] Martaver commented on #1791
Yeah, it's still trying to load code that depends on 'dns' from the main entry, instead of the 'browser' entry.

[2020-03-11 07:14] charsleysa commented on #1791
@Martaver can you please provide a minimal reproduction?

[2020-03-11 07:15] hollowcat commented on #1556
Using latest FF and Chrome, no transformers or Babel, adding the polyfill [from here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Polyfill) did not help.

The _Object.assign_ issue first appears with fusebox version alpha.269; version alpha.267 and some before it throw a different error, _File.js does not provide a module_; versions between that a

[2020-03-11 08:18] martaver opened #1848 "HMR doesn't correctly restart application (4.0.0-next.400)"
Between 4.0.0-next.165 and next.400, something has broken HMR. Code that worked previously now fails demonstrated in repro: https://github.com/Martaver/react-example

Warnings and errors suggest that the react app is not fully destroyed prior to the new app context initialising.

You can see the effects when triggering an HMR update, and observing console in chrome. A second HMR update will restar

[2020-03-11 08:19] charsleysa commented on #1556
@hollowcat I've been able to successfully run the [fuse-box react example project v4 branch](https://github.com/fuse-box/react-example/blob/v4/fuse.ts).

The only changes required were:
- delete the package-lock.json file
- update `fuse.ts` as the `watch` option has been renamed to `watcher`
- update `package.json` and change `fuse-box` to `4.0.0-next.403`

If you are still having issues running t

[2020-03-11 08:45] foisonocean commented on #1798
@charsleysa I upgrade fusebox to v4.0.0-next.403, and it seem there are still some bugs in this version that I can't run my simple todo list app, so I can not confirm whether the new HMR works. I'll open a new issue to describe bugs I faced in the v4.0.0-next.403

[2020-03-11 08:50] charsleysa commented on #1848
@nchanged looked into this, it appears to be that even though fusebox destroys it's references to the modules, there are HTML elements with listeners with references that keep those modules alive in memory.

Solution is to either do full page reload, or create a hook system so that the HMR system can be extended for specific use cases (e.g. for react, it removes all the HTML elements that were add

[2020-03-11 09:12] hollowcat opened #1849 "Broken compatibility with Lit-element"
_Originally posted by @hollowcat in https://github.com/fuse-box/fuse-box/issues/1556#issuecomment-597111305_

Steps to reproduce:
1. Clone https://github.com/fuse-box/react-example/tree/v4 and `npm install lit-element`
2. Add my-element.ts under /src with the following code

[code]

(as in [docs](https://lit-element.polymer-project.org/guide/start))

3. Add this line to src/index.tsx: `import './m

[2020-03-11 09:16] foisonocean opened #1850 "transform declaring variables to like `var abc.def = ...`"
Got a runtime error:
![image](https://user-images.githubusercontent.com/15059605/76400420-3ce69500-63bb-11ea-87e2-2d5344922f85.png)
![image](https://user-images.githubusercontent.com/15059605/76400502-656e8f00-63bb-11ea-9ee0-521fe6ac5891.png)

source file: `@reatom/react@1.1.0` node_modules/@reatom/react/build/index.es.js

[2020-03-11 09:18] bogdandv commented on #1847
Created a minimal reproduction
[Example.zip](https://github.com/fuse-box/fuse-box/files/4317155/Example.zip)

Using yarn to run:
yarn install
yarn build:prod

Expected behaviour: create in wwwroot `app.js`,` vendor.js`,` styles.css` and `index.html`
a styles folder is being created that contains `styles.14ff9eca.css` (the correct style)

yarn version v1.12.3
node version v12.14.0

[2020-03-11 09:39] nchanged commented on #1850
@foisonocean could you copy paste the original source here please?

[2020-03-11 09:49] Martaver commented on #1848
@charsleysa that doesn't sound right... next.165 worked fine without needing any special attention to html elements and their references.

[2020-03-11 12:36] nchanged commented on #1843
Please verify the fix in `fuse-box@4.0.0-next.404` @bogdandv

[2020-03-11 12:56] nchanged commented on #1850
@foisonocean please verify the fix in `4.0.0-next.405`

[2020-03-11 13:13] nchanged commented on #1849
The bug has been confirmed and fixed in `fuse-box@4.0.0-next.406`

Let me know if you have any more issues!

[2020-03-11 13:13] #1849 closed

[2020-03-11 15:35] bogdandv commented on #1843
Issue is **NOT** solved. If we have

[code]
this results...
[code]

[2020-03-11 16:25] bogdandv commented on #1801
problem has been fixed in the latest version. Thank you!

[2020-03-11 23:23] nchanged commented on #1843
@bogdandv here is a proper fix `fuse-box@4.0.0-next.408`

It should also ignore the parent import statement if that reference is a type.

[2020-03-12 03:30] foisonocean commented on #1850
I upgrade to v4.0.0-next.408 and this catch error was fixed, but I got another error:
![image](https://user-images.githubusercontent.com/15059605/76484359-8df69780-6454-11ea-9305-8f7e849fd8ef.png)
![image](https://user-images.githubusercontent.com/15059605/76484270-4bcd5600-6454-11ea-824e-29f60497f2f1.png)
It seems both of the two errors (the fixed one and this one) are declaring variables like `a

[2020-03-12 07:10] nchanged commented on #1850
@foisonocean `fuse-box@4.0.0-next.409` Please test this version. I am fixing the new scope tracker.
Things should be much faster now.
And I appreciate your bug reports, please help us test more!

[2020-03-12 09:36] bogdandv commented on #1843
Made a workaround for fuse-box@4.0.0-next.407 to be able to start my dev server
In fuse-box@4.0.0-next.408 I get the following error:
[code]

[2020-03-12 09:52] nchanged commented on #1843
Please tru 408 and of you still have issues please paste a snippet

[2020-03-12 09:57] nchanged commented on #1843
@bogdandv could you reproduce it?

[2020-03-12 09:57] bogdandv commented on #1843
This error happens on version fuse-box@4.0.0-next.408 and NOT on version fuse-box@4.0.0-next.407
The error message is vague. Trying to figure out what causes the issue

[2020-03-12 09:58] nchanged commented on #1843
I think it might be related to caching. But I haven't touched that part in the recent changes

[2020-03-12 10:00] bogdandv commented on #1843
it was the cache... After cache deletion it works

[2020-03-12 10:01] nchanged commented on #1843
@bogdandv could be nice to understand how to reproduce this issue ;-)

[2020-03-12 10:02] nchanged commented on #1843
Anyway, I think we can close this issue. I made a safety check on that line. However, this shouldn't happen. If you are able to reproduce and provide the steps, I'd be happy to fix it.

[2020-03-12 10:02] #1843 closed

[2020-03-12 12:04] foisonocean commented on #1850
@nchanged I tested in next.409 and this error is gone, but I'm facing another new error again.
I'll close this issue and open a new issue to describe the new error.

[2020-03-12 12:04] #1850 closed

[2020-03-12 12:13] foisonocean opened #1853 "`xxx.default` is not a function"
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/15059605/76520154-56600d80-649d-11ea-986a-f0e5dd8b196d.png">
<img width="591" alt="image" src="https://user-images.githubusercontent.com/15059605/76520192-6b3ca100-649d-11ea-9818-300c17172990.png">

I set a breakpoint here in the chrome devtools, and found `inheritsLoose_1` is already a function, so call `inheritsLoose_1.

[2020-03-12 12:15] nchanged commented on #1853
But that only means the error in their code , since the reference is set to a default object

[2020-03-12 12:17] nchanged commented on #1853
He is the typescript playground. WHich has transpiled it exactly like fuse-compiler did:

http://www.typescriptlang.org/play/?experimentalDecorators=true&emitDecoratorMetadata=true&module=1&ssl=1&ssc=1&pln=4&pc=17#code/JYWwDg9gTgLgBAfWAOwBYFMrBgZwDIQQ7pwBmUEIcA5AAIBGAhvegDYD0UArsjKOuwyswmHOxQYsuAkXTUA3AChQkWHADecAMZR0jGOgDCEXugAeMADRloAd0ZQAJgCV0pazr0GAoq3Qh0XmtjcBNA+ABfMgoqal1GLRgFZVC1T30jBIxoyhp

[2020-03-12 12:31] nchanged commented on #1853
@foisonocean  actually you don't have it set. If you did, the following output on the line would take place:

[code]
`inheritsLoose_1d` that how the variable should be named.

Set it like this:
[code]

or in your `tsconfig.json`

Either way, the problem should be solved.

[2020-03-12 13:41] radicand commented on #1645
Testing against next-409, I no longer see this issue.

[2020-03-12 13:47] #1645 closed

[2020-03-12 14:18] foisonocean commented on #1853
@nchanged
Is there a way to override tsconfig.json in fusebox config? I actually prefer to set `esModuleInterop` and `isolatedModules` to `false` for my project, so it could be much better if I can override it in fusebox config.

[2020-03-12 14:51] nchanged commented on #1853
Yes its done the way I posted in the previous message. Either way if it's not going to be overriden we should create a new issue, thanks for helping out !

[2020-03-12 14:51] #1853 closed

[2020-03-12 15:15] foisonocean opened #1854 "cannot override tsconfig.json in `compilerOptions`"
[code]

[code]

expect: `esModuleInterop` should be set to `true` when in fusebox.
actual: `esModuleInterop` is still `false`, I'm getting `xxx.default is not a function` error in browser.

[2020-03-13 15:22] Gouigouix commented on #1847
Hello,
I have the same problem with the version `4.0.0-next.409` of fuse-box.

Here is the error I have below when I use a font in `TTF` format, by the way I have no problem with the `WOFF` format!

[code]

Thx

[2020-03-13 15:25] bogdandv commented on #1843
I achived my issue by building with fuse vs 400, create a cache, upgraded to vs 407, now it does not work. After I delete the cache, now it works

[2020-03-13 15:35] nchanged commented on #1843
Clear the cache and upgrade to 409

[2020-03-14 08:40] l4nn1312 opened #1855 "Error running node bundle"
Howdy! I'm trying to compile this node bundle and the bundle process produces no errors but running the bundle gives:
[code]
The `fuse.ts` file I'm using is
[code]

[2020-03-14 22:00] charsleysa commented on #1855
@l4nn1312 this looks like an issue with v3 of fuse-box which is no longer supported. Please try upgrading to v4 using `fuse-box@next`.

[2020-03-14 22:11] l4nn1312 commented on #1855
Thanks! How do I use sparky tasks with `@next`? It doesn't seem very well documented yet (also I can volunteer to help with docs although I'm not the most skilled in TypeScript).

[2020-03-14 22:30] nchanged commented on #1855
@l4nn1312 hey, yes v3 is no longer supported. And I am afraid that Inferno cannot be used with v4, since we don't use TypeScript to transpile TypeScript ;-) We use our own compiler. But if you are brave enough I could help you implement a transformer for inferno ;-)

[2020-03-14 22:32] l4nn1312 commented on #1855
I can certainly try? Would it be easier and more wildly helpful for us to do Inferno or Vue.js?

[2020-03-14 22:43] nchanged commented on #1855
VUE is much more popular, so that def is a much better choice

[2020-03-14 22:47] l4nn1312 commented on #1855
Alright let's go with that. I'd like to use single file components if possible. Also could you demonstrate how to use sparky tasks in 4?

[2020-03-14 22:51] nchanged commented on #1855
for example [here](https://github.com/fuse-box/fuse-box/blob/master/playground/angular_playground/fuse.ts)

And [here](https://slack.fuse-box.org/) is our slack ;-)

[2020-03-15 23:11] #1855 closed

[2020-03-16 03:32] paxperscientiam commented on #1799
@charsleysa , still not there.
[code]

with random junk in src/index.tsx

So, the expected error message is spit out, but the shell error code is still 0.

I can look into it.
BTW, just tested with 4.0.0-next.409

[2020-03-16 08:18] charsleysa commented on #1489
@nchanged can you confirm if this is still a bug?

[2020-03-16 08:33] charsleysa commented on #1632
Closed as no response received.

[2020-03-16 08:33] #1632 closed

[2020-03-16 08:33] charsleysa commented on #1634
Closed as no response received.

[2020-03-16 08:33] #1634 closed

[2020-03-16 08:33] charsleysa commented on #1638
Closed as no response received.

[2020-03-16 08:33] #1638 closed

[2020-03-16 08:34] charsleysa commented on #1662
Closed as no response received.

[2020-03-16 08:34] #1662 closed

[2020-03-16 08:35] charsleysa commented on #1670
Closed as no response received.

[2020-03-16 08:35] #1670 closed

[2020-03-16 08:36] charsleysa commented on #1674
Closing as question answered.

[2020-03-16 08:36] #1674 closed

[2020-03-16 08:36] charsleysa commented on #1675
Closed as no response received.

[2020-03-16 08:36] #1675 closed

[2020-03-16 08:36] charsleysa commented on #1681
Closed as no response received.

[2020-03-16 08:36] #1681 closed

[2020-03-16 08:37] charsleysa commented on #1685
Closed as no response received.

[2020-03-16 08:37] #1685 closed

[2020-03-16 08:37] charsleysa commented on #1716
Closed as no response received.

[2020-03-16 08:37] #1716 closed

[2020-03-16 08:37] charsleysa commented on #1724
Closed as no response received.

[2020-03-16 08:37] #1724 closed

[2020-03-16 08:39] charsleysa commented on #1752
Closed as no response received.

[2020-03-16 08:39] #1752 closed

[2020-03-16 08:40] charsleysa commented on #1791
Closed as no response received.

[2020-03-16 11:14] warrenfalk commented on #1793
I've been working a lot on this.  I have a branch where I think I have these problems resolved, and I'm just testing this now.  I thought I'd give some information on how some of this is solved.

The biggest reason that this wasn't working before was fuse-box's module resolution not looking above the app root.  With #1820 (merged in `@next`), this part is resolved.  Or almost...

Yes and no... sin

[2020-03-16 18:44] dlacaille opened #1857 "Custom language plugin documentation"
The example for a custom language plugin
https://github.com/fuse-box/fuse-box/blob/master/playground/custom_lang/pluginCustomLang.ts
does not work anymore on 4.0.0-next.411

The documentation
https://github.com/fuse-box/fuse-box/blob/master/docs/development/plugins.md
refers to assemble_before_analysis which has been removed

Here is the code I was using:
[code]

Is this still supported? How can I

[2020-03-16 20:19] ldom66 commented on #1857
I managed to make my plugin work on 4.0.0-alpha.329.
However, it would be useful to update the documentation for this use case.
Here is the code:
[code]

[2020-03-16 22:08] nchanged commented on #1857
@ldom66 please use `fuse-box@next`
The alpha has been merged to master ;-)

[2020-03-18 09:07] Martaver commented on #1793
Appreciate the detailed break-down! It's really useful to hear how other people are tackling this.

PnP is probably the future and with a bit more adoption, it should be a use case we can safely pour time and energy into. Personally, I haven't played with it yet, and I don't know whether it's going to actually make life easier for the monorepo scene...

With regards to the non-PnP, though, I don't

[2020-03-18 09:21] Martaver commented on #1791
Hey don't close this. This is an important bug as it concerns parity with webpack.

As of 411, this is still an issue. Repro is here: https://github.com/Martaver/react-example/tree/split-repro

If you follow the deps of packages in '@splitsoftware/splitio' you will see 'browser' entry points in their package.json files, but fuse-box ignores them loading main instead. This results in incorrect refe

[2020-03-18 11:22] nchanged commented on #1791
@Martaver did you try `@next` ?

[2020-03-18 11:33] warrenfalk commented on #1793
The reason workspaces work in the node ecosystem isn't because everyone went out and added support, it's because workspaces were designed to take advantage of the way the node ecosystem already works.

Node doesn't know anything about workspaces, and neither does much of anything else.  The whole point is that they don't have to.  They just have to keep doing what they were doing.  To make workspa

[2020-03-18 11:45] warrenfalk commented on #1793
I should clarify that I'm not saying that fuse-box shouldn't know anything about workspaces.  Just the resolver shouldn't need to.  I would like to see fuse-box be zero config as much as possible, and this means that if it could detect a workspace, it could set up somethings automatically that today you have to manually reconfigure (such as the watcher, for example).  So workspace info isn't usele

[2020-03-18 16:05] Martaver commented on #1793
So essentially what you're saying is that fuse-box should watch those folders anyway, because if it dereferences those symlinks it will see that they're not actually in node_modules (by inspecting their path), and start to watch them?

So then in the case of typescript paths, TS is letting our folders look like node_modules, but they don't exist in node_modules. Fuse-box fails at trying to resolve

[2020-03-18 16:12] Martaver commented on #1793
I think that's a great solution by the way!

[2020-03-18 18:49] Martaver commented on #1791
Repro is with next.411

On Wed, 18 Mar 2020 at 13:22, nchanged <notifications@github.com> wrote:

[2020-03-18 19:05] nchanged commented on #1793
@Martaver fuse isn't just reading one tsconfig, if a package contains one and it points to a typescript source it will respect the paths defined, However it won't try too hard to find the config, the resolver just checks a tsconfig next to the package.json file

I was hoping we could improve on that without perf losses

[2020-03-18 19:06] nchanged commented on #1791
@warrenfalk do you mind taking a look at this ?

[2020-03-19 09:06] Martaver commented on #1793
You could check the package.json for entries and also check for tsconfigs in the folders between the entry point back up to the root.

[2020-03-20 08:20] bogdandv opened #1862 "Fusebox 4.0.0-next.412 regression"
When using any version between 4.0.0-next.404 and 4.0.0-next.411 code get built properly.
in version 4.0.0-next.412 one functionality of our application causes an infinite loop.

Please note the only thing that was changed between tests were the fuse version.
Please note that the error happens in react/redux/saga

[2020-03-20 08:21] charsleysa commented on #1862
@bogdandv does the issue occur with 413?

[2020-03-20 08:26] bogdandv commented on #1862
Yes, issue does occur in 413

[2020-03-20 08:28] charsleysa commented on #1862
@bogdandv can you please provide a minimal reproduction?

[2020-03-20 08:32] nchanged commented on #1862
@bogdandv there has been a good refactor of the compiler API. Please help debug it and I will cover it with tests.

[2020-03-20 09:56] bogdandv commented on #1862
Honestly I don't know how to replicate it minimally. I can tell you that the issue is in vendor (more exactly the takeEvery function in the saga midleware)
[code]

worker is undefined

[2020-03-20 10:09] nchanged commented on #1862
@bogdandv could you paste the source of that file?  The path should above

[code]

[2020-03-20 10:12] bogdandv commented on #1862
// node_modules/redux-saga/es/internal/sagaHelpers/takeEvery.js @615

[2020-03-20 10:22] nchanged commented on #1862
@bogdandv what's the version you're using? I can't find this source

[2020-03-20 10:57] nchanged commented on #1862
@bogdandv the output it identical could you maybe reproduce it better?

[2020-03-20 11:06] bogdandv opened #1863 "Prod mode for ie11 question"
when I generate a ie11 compatible bundle I have this code generated:

[code]
the error is in App so I suspect it is something wrong with our code.
What does qs do? For what showld I look?

Note that this:
[code]
seems to work

[2020-03-20 11:09] bogdandv commented on #1863
Nevermind, I appear to have this code written in my sources. Ignore this issue

[2020-03-20 11:09] #1863 closed

[2020-03-20 12:04] nchanged commented on #1862
@bogdandv maybe this could help? https://www.diffchecker.com/diff

if you make a build in both versions and compare the output (but clear the cache first to be sure) The file order might be off in a few places also module numbering but you could spot some issues related to imports.

[2020-03-20 12:23] bogdandv commented on #1862
my code bundles in 100.000 lines of app and 90.000 lines of vendor code. There are multiple differences regarding export numbering and some examples of bundled depnedencies being created in a different order.

I can not just parse all the differences and find the issue...

[2020-03-20 12:31] nchanged commented on #1862
@bogdandv there must be a way for us to debug the problem. Please find the reference to that `takeEvery` function. You can do it by simply searching for `takeEvery` in your `vendor` or `app`

I know it's painful, but I believe that only bug from holding us off from making it stable.

[2020-03-20 14:56] bogdandv commented on #1862
note that both prod and dev modes cause the same errors: callstack exceeded

[2020-03-20 14:59] nchanged commented on #1862
@bogdandv could you paste the stack trace?

[2020-03-20 15:06] bogdandv commented on #1862
sagaManager.js:51 TypeError: Cannot read property 'name' of undefined
    at takeEvery (vendor.js:32790)
    at createTaskIterator (vendor.js:32261)
    at runForkEffect (vendor.js:32526)
    at runEffect (vendor.js:32450)
    at vendor.js:32616
    at Array.forEach (<anonymous>)
    at runAllEffect (vendor.js:32615)
    at runEffect (vendor.js:32450)
    at next (vendor.js:32370)
    at proc (ven

[2020-03-20 15:09] nchanged commented on #1862
@bogdandv
 is it possible for me to take a look at your vendor.js ?  I don't think there is anything sensitive  related to your project.

[2020-03-20 15:10] bogdandv commented on #1862
there is an inhouse built project that is included in the vendor and is not open sourced...

[2020-03-20 15:13] nchanged commented on #1862
Right, then could you check those lines of code

[code]

if you could send me those 3 file name (where the breakpoint it), it would be great. I will do everything else to compare the outputs.

[2020-03-20 15:20] bogdandv commented on #1862
// node_modules/redux-saga/es/internal/proc.js @613

[2020-03-20 15:24] nchanged commented on #1862
I think we need deeper. If you can paste all affected files in the stack

[2020-03-20 15:29] fiftymissioncap opened #1864 "watch not working [4.0.0-next.413]"
setup a fusebox - react project. simple hello world to start. everything is working fine but the watch option is not detecting changes and rebuilding the bundle on source file canges

**fuse.ts**

[code]

build is working and output is showing up in the browser. HMR looks to be working as well:

![hmr](https://user-images.githubusercontent.com/5166624/77178157-1a303c80-6a9d-11ea-87a5-ce95f333886b.

[2020-03-20 15:50] vegarringdal commented on #1864
tried relative path `include: [ "./src" ],`

thats what Im using atm
![image](https://user-images.githubusercontent.com/2901416/77180843-cdfbf100-6aca-11ea-8aee-e53fd0f20e1a.png)

[2020-03-20 16:07] nchanged commented on #1864
Could chokidar options affect this ? Could you remove it ?

[2020-03-20 16:17] fiftymissioncap commented on #1864
tried both the relative path: include: [ './src' ], and removing chokidar options:

[code]

same result. file changes are not being picked up by the process

[2020-03-20 16:25] nchanged commented on #1864
Wait but how come you are saying that HMR is working ? HMR is triggered by the watcher

[2020-03-20 16:27] nchanged commented on #1864
Oh that's docker right, set awaitWriteFinish
You should experiment with chokidarOptions, it's not a common env you are running it in

[2020-03-20 16:33] fiftymissioncap commented on #1864
ok. will try some more options. its ubuntu 18 on vagrant. similar to running in docker.

i've got a similar setup setup running on the same VM with webpack -- hmr is working with polling enabled.

let me try the other combinations.

[2020-03-20 17:41] fiftymissioncap commented on #1864
i think this issue is related to this PR: https://github.com/fuse-box/fuse-box/pull/1859#issue-389783687

i think the config is picking up the wrong APP_ROOT. i don't have a monorepo but my node_modules is a symlink

i think the option to override the default and specify the root will help

[2020-03-20 18:46] nchanged commented on #1864
Oh gotcha, I will merge the PR and cut the version soon

[2020-03-21 20:21] starsolaris opened #1866 "Incorrect transpile next.412"
next.412 and later will transpile next code with wrong result:

type.ts
[code]

test.tsx
[code]

next.411 will produce:
[code]

next.413 will produce:
[code]

[2020-03-21 20:57] nchanged commented on #1866
@starsolaris good catch!! thanks!

[2020-03-21 22:24] nchanged commented on #1866
@starsolaris thanks for reporting it!
I've refactored the compiler API but haven't tested it well enough. Now your case is fully covered!
`fuse-box@4.0.0-next.414`

[2020-03-21 22:25] nchanged commented on #1862
@bogdandv `fuse-box@4.0.0-next.414` There was a severe bug which now has been tested.
Please give it a try.

[2020-03-21 22:43] starsolaris commented on #1866
@nchanged, now all work as expected.

[2020-03-21 22:43] #1866 closed

[2020-03-22 01:38] fiftymissioncap commented on #1864
i just tried installing 4.0.0-next.**414** to test out the new **root** wathcer config option

i may have done something wrong but i don't get the new option recognized:

[code]

it looks like the old code is still there:

[code]
config/IWatcher.d.ts

[2020-03-22 08:15] nchanged commented on #1864
That was from my branch, I need to merge it first, will do it today

[2020-03-22 09:27] nchanged commented on #1864
@fiftymissioncap `fuse-box@4.0.0-next.415`

[2020-03-22 16:09] gleba commented on #1834
i have same message with **FuseBox 4.0.0-next.413**

please fix support **.sass** files

[2020-03-22 16:18] gleba commented on #1835
in `FuseBox 4.0.0-next.415` it breaks again
`  ❌ Invalid CSS after "*": expected 1 selector or at-rule, was "*" in /mnt/a/lo
cus/js/src/front/pages/root.sass`

[2020-03-22 16:24] fiftymissioncap commented on #1864
thank-you. just tested **next.415** and its working. can supply the root setting to watcher config:

[code]

watch and HMR is working as expected.

[2020-03-22 16:25] nchanged commented on #1835
@gleba there were no changes related to CSS recently.  Cache?

[2020-03-22 16:26] nchanged commented on #1864
@fiftymissioncap I am happy to hear it! ;-) I guess we can close this one now.

[2020-03-22 16:26] #1864 closed

[2020-03-22 17:07] fiftymissioncap opened #1869 "loading stylesheets [4.0.0-next.415]"
i may be doing something wrong but the build process is not picking up stylesheets to process. i have a simple (hello world) react app and the stylesheet is co-located in the source directory. i'd like to use to sass and css modules but for now just want the stylesheet to be processed: ```import style from './app.css' ```

i'm following the directions as per: https://github.com/fuse-box/fuse-box/b

[2020-03-22 17:13] nchanged commented on #1869
You would need to Include plugin sass and set asModule option as per documentation. The paths field you set it unrelated , it's a folder lookup list which is used to resolve internals css imports

[2020-03-22 17:16] nchanged commented on #1869
[this](https://github.com/fuse-box/fuse-box/blob/master/playground/sass) can help

[code]

Alternatively to use it with `default` import

[code]

[2020-03-22 17:16] #1869 closed

[2020-03-22 17:17] nchanged commented on #1869
Also the [documentation](https://github.com/fuse-box/fuse-box/blob/master/docs/stylesheet.md#importing-as-css-module) you probably should read it till the then ;-)

[2020-03-22 21:13] TiTi opened #1870 "Code splitting not splitting @fullcalendar/core"
Hello,

I'm discovering fuse-box, it looks promising.
However, when using code splitting, I cannot understand why one of my imports is not put in a separate file, but end up in my `.bundle("app")`

I've made a simple repo. to reproduce the issue : https://github.com/TiTi/fusebox-codesplitting-issue
As you can see:
- The app is working (no css so it looks ugly, but no error in console and calendar

[2020-03-22 21:16] charsleysa commented on #1870
@TiTi that looks to fuse-box v3 which is no longer supported. Please upgrade to v4 using `fuse-box@next`

[2020-03-22 21:58] nchanged commented on #1870
@TiTi here is a [getting started](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md) for you

[2020-03-22 22:39] TiTi commented on #1870
hmm too bad the documentation i read - https://fuse-box.org/docs/getting-started/installation -  isn't up to date

got an error ` Error: Cannot find module 'worker_threads'`
-> had to first update to node 12.16.1 LTS ok ok

Then I could not use fuse.js, got error:
[code]

Ok switching to **fuse.ts**... yeah working

ok so i've upgraded https://github.com/TiTi/fusebox-codesplitting-issue

and indee

[2020-03-22 22:39] #1870 closed

[2020-03-22 22:50] TiTi commented on #1870
ok `fuse.runProd({ uglify: true });`

and for TypeScript : need to use `await import("@fullcalendar/core");` and then autocompletion is ok

[2020-03-23 07:17] nchanged commented on #1870
Check the doc folder , there is everything you need, so change dist set distRoot in runDev bundles

[2020-03-23 07:18] nchanged commented on #1870
https://github.com/fuse-box/fuse-box/blob/master/docs/output.md

[2020-03-23 09:29] bogdandv commented on #1862
Problem solved in fuse-box@4.0.0-next.414

[2020-03-23 09:29] #1862 closed

[2020-03-23 12:06] fiftymissioncap commented on #1869
thanks for the tips. that worked. everything is good now.

[2020-03-23 22:16] fiftymissioncap opened #1873 "resources not processed [v 4.0.0-next.415]"
i could be doing something wrong (again) but am following the docs for bundling assets.

[code]
based on the docs: https://github.com/fuse-box/fuse-box/blob/master/docs/resource_links.md

it seems that these types of resources should be handled without additional configuration.

have also added the resource path in fuse.ts:

[code]

i don't see the files being copied to my output (dist/) folder

i

[2020-03-23 22:55] nchanged commented on #1873
Have you cleared the cache? It might be related. Otherwise, here is the [code](https://github.com/fuse-box/fuse-box/blob/master/src/plugins/core/plugin_link.ts#L31) for reference. It follows the configuration. Unless something is broken on the way.

[2020-03-24 14:47] bogdandv opened #1875 "Cannot read property 'flags' of undefined"
I get this during compilation of production mode:
[code]
please note dev mode compiles succesfully

[2020-03-24 15:07] nchanged commented on #1875
@bogdandv that's related to typescript, we cannot do anything about it. Either report a bug to TypeScript or remove `buildTarget` from `runProd` (which you shouldn't set unless you're targeting IE11)

[2020-03-24 15:16] bogdandv commented on #1875
I am targetting ie11 :|

[2020-03-24 15:24] nchanged commented on #1875
I could suggest changing TS version. That might help. The idea behind v4 is that we don't depend on any project except our own. We **don't** use TypeScript except for the case of transpiling down to IE11 level.

[2020-03-24 15:39] bogdandv commented on #1875
Fuse-box seems to have a dependency on the newest version of typescript.
Won't it just use that version instead of what I have installed?

[2020-03-24 15:40] nchanged commented on #1875
@bogdandv you are correct, we'd need to re-visit this.

[2020-03-24 15:41] bogdandv commented on #1875
add a feature request tag?

[2020-03-24 15:49] nchanged commented on #1875
@bogdandv there are complications with pnpn in regards to making it optional. But we could discuss that in a different issue.

[2020-03-24 17:06] bogdandv commented on #1875
After change-ing the typescript version to 3.7.4 it works. Using yarn resolution to give 3.7.4 to fuse-box instead of 3.8.2
Is there any feature present in 3.8.2 and not present in 3.7.4 that is used by fuse?

[2020-03-24 17:19] nchanged commented on #1875
Nope we use it only for down transpiling

[2020-03-24 19:21] fiftymissioncap commented on #1873
tried clearing the cache -- no luck.

the code links helped. i don't see the callback invoked (**plugin_link.ts**):

[code]
i added the following as well to fuse.ts:

[code]

not sure if its needed given that **png** resource types are handed without extra configuration

[2020-03-24 19:53] nchanged commented on #1873
So is it working now ? If not please reproduce it

[2020-03-25 12:29] fiftymissioncap commented on #1873
its still not working, even with adding the link plugin... as for reproducing:

* i have a simple react (typescript) app building with fuse-box
   - watcher/HMR are working for react components, sass compilation and HMR for styles is working

when i add a png resource in the src/ folder its not getting picked up. it looks like the **pluginLinkHandler** is not getting called or more specifically th

[2020-03-25 15:26] nchanged commented on #1873
@fiftymissioncap there is really weird. I've just tried it myself

[code]

No configuration set whatsoever, it's being correctly copied:

<img width="214" alt="Screenshot 2020-03-25 16 26 03" src="https://user-images.githubusercontent.com/1629088/77553640-599fc400-6eb5-11ea-9127-b6690f0aae3f.png">

* Which OS are you using? Mac/Windows/Linux
* DIsable cache and try again.

[2020-03-26 01:21] tomitrescak opened #1878 "Entry Point Does Not Exist"
Hi I'm giving latest "419" a go, but I cannot launch it as I am receiving "Entry Point Does not exist". I have workspace situation and this is my config:

[code]

[2020-03-26 01:57] warrenfalk commented on #1878
Try removing `homeDir` and adjust `entry` accordingly.

If that resolves the error, try add something like:
[code]
[code]

[2020-03-26 06:40] nchanged commented on #1878
Entry should be relative to fuse.ts and absolute

[2020-03-26 10:13] nchanged commented on #1873
@fiftymissioncap it just occurred to me:

If the import is unused it will not be bundled.

[code]
if you remove `console.log` the statement will be removed.

[2020-03-26 10:39] nchanged commented on #1878
I guess we can safely close it. The error message clearly says what fuse-box is trying to resolve.

[2020-03-26 10:39] #1878 closed

[2020-03-26 10:40] nchanged commented on #1847
this has been fixed

[2020-03-26 10:40] #1847 closed

[2020-03-26 10:45] #1838 closed

[2020-03-26 10:53] bogdandv commented on #1847
In version 420 this issue is not fixed. Is it fixed in some other version? Is the setup in my reproduction wrong?

[2020-03-26 11:06] nchanged commented on #1847
it's `styles` and not `css`

[2020-03-26 11:16] bogdandv commented on #1847
Issue solved. Thank you!

[2020-03-26 12:00] fiftymissioncap commented on #1873
just added the log statement ... bingo! ... its working

i thought i had tried that before but probably doing too many other things.

anyway, thanks for the help. really enjoying using this package/tool.

[2020-03-26 12:07] nchanged commented on #1873
You are welcome :)

[2020-03-26 12:07] #1873 closed

[2020-03-30 03:45] jcmoore0 opened #1883 "Transformer replaced global() with window()"
4.0.0-next.422
Problem:  BundlePolyfillTransformer.ts replaced 'global()' with 'window()'
error: window() is not a function

[code]
@nchanged -  The grand refactor is looking fantastic.  Congrats!!!  I am excited to try it out on my React TS app.

[2020-03-30 14:36] JKAnderson409 opened #1884 "Asset (e.g. png) bundling is broken"
I am not certain if this is a bug in the software or a misunderstanding due to a lack of documentation.

When configuring FuseBox, neither the "resources" configuration property nor "dependencies" property allows FuseBox to bundle external asset files.

[code]

This snippet from another issue can get the code running but the "resources" configuration still does not work as described. It does not n

[2020-03-30 15:08] JKAnderson409 commented on #1753
I just used command line arguments. A project will need "@types/node" to access the "process" object. It is not a perfect program (it will do nothing if anything other than "MODE='prod'" is used) but build scripts are pre-written so accounting for all possibilities is not necessary.

NPM scripts
[code]

fuse.ts
[code]

[2020-03-30 15:30] nchanged commented on #1884
@JKAnderson409
Version ? Please paste your config too.
Just so understand, unused imports are removed. If you need just to copy files into dist you can use sparky. Importing images will copy the files into dist and give you a public link.

Also, cached files won't verify the presence of it's assets, so if you are clearing the dist folder each time your start the process that's the result.

[2020-03-30 17:44] #1883 closed

[2020-03-30 19:40] nchanged commented on #1883
@jcmoore0 it's not longer grand-refactor ;-) It's master. And yes, it's looking very much stable. Just fixing those tiny bugs on the way ;-) Upgrade to `@next`

[2020-03-30 19:41] #1875 closed

[2020-04-01 23:16] JKAnderson409 commented on #1884
I was able to reproduce this on the most recent release of version 4 (as of two days ago), even with a minimal configuration from the version 4 docs.

[2020-04-02 05:57] nchanged commented on #1884
Config please ?

[2020-04-02 21:47] 3cp commented on #1732
This is fixed in just released meriyah v1.9.12.

[2020-04-03 02:30] thscott commented on #1717
The hardReloadScripts option seems to have been removed (though it's still mentioned in the docs in a few places, such as [here](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/full-config.md).

[2020-04-03 12:09] bogdandv opened #1886 "Question regarding resource bundleling"
I am trying to use bundled resources.
after I use url('../resource/nameOfImage'), it generates url('/resources/abcdser.png')
How do I remove the slash ("/"). I want to generate url('resources/abcdser.png')?

[2020-04-03 12:27] nchanged commented on #1886
[code]

[2020-04-03 12:27] bogdandv commented on #1886
Thank you!

[2020-04-03 12:27] #1886 closed

[2020-04-03 17:43] cstffx opened #1887 "Invalid char in variable holding module name."
Hi, I'm importing a module called @std. I'm doing something like this:

[code]
This is a valid module name, but fusebox is generating this:
[code]

Where ``@`` is an invalid character for variable names.

To reproduce this error just import any module that start with ``@``.

This is my config:

[code]

[2020-04-04 01:21] warrenfalk commented on #1887
So, indeed.  I think fuse-box should allow a modules name @std because node allows it.  So I'd consider this a bug.

However, naming your package with an `@` is probably asking for trouble and so should be considered deprecated.  Because the `@` is used in the npm scoping protocol, you'll likely run into more and more problems in the future if you try to use it this way.  For example, trying to de

[2020-04-08 19:08] benbieler commented on #253
Any news?

[2020-04-10 21:10] jeremija opened #1890 "TypeError: _require2 is undefined when bundling simple-peer / readable-stream"
I am unable to bundle a package that requires `simple-peer` module. Using `"fuse-box": "4.0.0-next.424"`.

Example config:

#### fuse.ts

[code]

#### test.js

[code]

#### Result

[code]

The module that errors out is:

[code]

The same error shows when using `v3.7.1` (with a different config, of course).

Possibly related to #1273.

[2020-04-10 21:41] nchanged commented on #1890
@jeremija I think this is intentional, the package `streams` contains a browser field with `util:"false"`

[2020-04-10 21:46] jeremija commented on #1890
Thanks for your reply! I'm pretty new to `fuse-box`, trying to see if it makes sense to migrate from `browserify`. What do I need to do to make this work? In issue #1273 someone wrote:

But in v4 the API has changed. How can I force `util` to be included in v4?

[2020-04-10 22:01] nchanged commented on #1890
This won't help since there are package instructions NOT to bundle `util`

I will investigate tomorrow, there might be a bug with referencing those instructions. In the meantime, you could use pluginReplace and replace this statement to a polyfill.

[2020-04-11 09:36] jeremija commented on #1890
Thank you, will try using the `pluginReplace`.

I think it's worth noting that bundlers such as [browserify][1] and [webpack][2] provide an easy way to include the polyfills of core modules.

Browserify adds them [automatically][1]:

Webpack has a [single flag][2] for this:

Also, a quote from [`browserify/util`][3]:

I'm not sure if automatically providing such polyfills is within the goals of th

[2020-04-11 10:34] jeremija opened #1891 "Watcher does not start in v4"
#### fuse.ts

[code]

#### test.js

[code]

When I run fuse, the process exits as soon as the first bundle is generated:

[code]

Am I missing something here?

[2020-04-11 12:03] nchanged commented on #1890
Warnings are printed when a module cannot be resolved. I suspect that util is set to false hence not polyfilled

[2020-04-11 12:08] nchanged commented on #1891
Could it be related to devServer false ? I will check it later , but this part has been polished

[2020-04-11 12:12] jeremija commented on #1891
I thought it might be too, but the bundle doesn't update for me after I modify a source file, and refresh the page, even when `devServer` is set to `true`.

[2020-04-11 12:20] jeremija commented on #1890
Found a similar issue with `readable-stream` in Rollup as well: https://github.com/rollup/rollup/issues/1507

[2020-04-11 12:22] vegarringdal commented on #1891
watcher: {
                enabled: true,
                include: ['./src'],
                ignored: ['dist']
            },

What if you add something like this, just incase there is a bug between simple and advanced setup.
Anything special in the redacted part?
Entry: /<redacted>/test.js

[2020-04-11 12:29] jeremija commented on #1891
Just my home folder path :)

Yes your example works, but you have a typo: it's `ignore`, not `ignored`.

As soon as I remove the `ignore` property, the process exits immediately!

[2020-04-11 12:37] nchanged commented on #1891
Set distRoot to build, the watcher is going crazy picking up the changes, or add build to ignored paths

[2020-04-11 12:41] jeremija commented on #1890
Funny thing - I've had success with `pluginReplace`, but the polyfill module is also called `util` 🤦 . So I had to make a symlink in `node_modules/node-util` and point it to `node_modules/util`.

Then this code worked:

[code]

[2020-04-11 13:07] jeremija commented on #1890
Here's an alternative without symlinks:

[code]

[2020-04-11 13:21] nchanged commented on #1890
I will take a look a this issue later on, maybe it's easier to polyfill it ourselves and fix this

[2020-04-11 13:21] vegarringdal commented on #1891
@jeremija
You are right , I had a typo. Thank you for pointing this out :-)
But it really didnt matter from what I can see since my dist folder isnt within the folders beeing watched :-)

[2020-04-11 13:28] jeremija commented on #1890
Thanks!

[2020-04-13 22:27] deamme commented on #1804
@nchanged What are you using instead?

[2020-04-13 23:55] starsolaris opened #1892 "Incorrect optional chaining transpiling"
fuse-box@4.0.0-next.425
Next code:
[code]

will be transpiled to:
[code]

should be:
[code]
brackets after await is missing

[2020-04-14 05:48] nchanged commented on #1804
As I said we transpile ts ourselves

[2020-04-14 09:06] deamme commented on #1804
@nchanged Yes but with meriyah?

[2020-04-14 18:56] nchanged commented on #1892
@starsolaris please verify the fix in `4.0.0-next.426`

[2020-04-14 19:15] starsolaris commented on #1892
@nchanged 4.0.0-next.426 works as expected.

[2020-04-14 19:15] #1892 closed

[2020-04-15 12:11] starsolaris opened #1895 "Watcher breaks build"
Example:
https://github.com/starsolaris/semantic-ui-fuse-box

1. yarn start
2. open http://localhost:4444/
3. change color in src/semantic-ui/themes/grey/elements/button.variables
4. update http://localhost:4444/
receive next error in browser:
[code]

vendor.js lost all modules

This issue from fuse-box@4.0.0-next.424
As i understand, after this: https://github.com/fuse-box/fuse-box/pull/1882

[2020-04-17 21:26] kodemaan opened #1896 "Babel Plugins - fuse-box 4"
I am trying to convert my project to use fuse-box 4 and it's failing because i'm using class properties. I looked at the docs and couldn't find out how to do it but is there a way to add babel transformers to the fusebox 4 config? I know the BabelPlugin seems to be deprecated in this new release. Thanks.

[2020-04-18 05:58] nchanged commented on #1896
Hi, v4 is using its own compiler, Babel isn't supported, we support custom transformers, but then somebody needs to make it

[2020-04-18 12:01] kodemaan commented on #1896
Ok thanks :) I might have to hold off on a conversion then because a lot of my code uses custom Babel transpilers but I'll look into custom transformers too and see if that's viable option.

[2020-04-18 12:01] #1896 closed

[2020-04-23 20:26] nchanged commented on #1895
@starsolaris hey I think I managed to fix it in `fuse-box@4.0.0-next.427`

However, there is another bug where this module is busted on a simple change of `app.tsx`

Please, help debug it. I have very limited time nowadays, but I will try to find the time.

[2020-04-23 20:47] starsolaris commented on #1895
Ok, i will try.

[2020-04-26 01:15] SephReed commented on #1808
Hey.  I'm trying to use an image in fuse-box 4.0 and can't figure it out.

If I do:
[code]

It gives "./abc123.png" when it should give "./resources/abc123.png".  Also, it renames it which I don't want it to do.

I've tried adding this to my cofig:
[code]

But it's not copying my assets folder over.

I can't figure out how to display an image right now.  :/

[2020-04-26 01:16] SephReed commented on #1808
For now I'm just manually copy pasting into dist.

[2020-04-26 05:25] nchanged commented on #1808
Add link configuration, There is a bug where it prioritizes it's local config over the global one

[2020-04-27 07:51] seivan opened #1899 "Deeper customization in WebIndex"
The real question is, how can I modify `$bundles` in such way that I can for instance reduce it, and add "module" and "nomodule" versions of it and *only* for legacy outputs prepend polyfills.

It seems like it's very static, and that would be fine if there was a way to generate index.html file yourself using whatever "data" fuse-box generates as arguments (like `Array<Bundles>`) but I can't seem

[2020-04-27 07:56] seivan commented on #1899
Looking at this PR, there seem to have been at least at some point a way to add attributes to a script tag.
It's however missing now, not to mention that wouldn't be enough as I would like to duplicate each script with both `module` and `nomodule` attributes.

[2020-04-27 08:07] nchanged commented on #1899
@seivan I think we add a "reducer" to script tags in `webIndex.ts`

Do you think you can take a look at it?  You need to emit an object which can be modified.

[2020-04-27 08:21] seivan commented on #1899
@nchanged There is nothing called `reducer` in `webIndex.ts` I assume it was not meant literal?
Looking there, whatever it is, it needs to be called before
`getEssentialWebIndexParams` as that is what generates the script tags before writing it into the template.

Are you referring to the event that gives the bundles and then generates them?
[code]
?

[2020-04-27 08:34] seivan commented on #1899
Ok I think I got part of it. Just not sure what's expected here..

[code]

A few questions

1) Will bundles only contain a ) All javascript b) Only entry points javascript c) All sort of file types
2) Do I need to alter the `props.scriptTags` as well?
3) How do I later other parts/tags of the `html.index` based on the content added available in props?

[2020-04-27 08:40] nchanged commented on #1899
In this case, we need to change how the script tags are generated. We need to be able to override the default generation to be more precise.

[code]

Something like that. Then a plugin would set those values. If nothing was set after the sync we could default it to how it's done RN.

Feel free to introduce improvements to the flow. webindex is the one that needs a good refactor.

[2020-04-27 08:46] seivan commented on #1899
Sorry I don't follow here.
What type is `jsScripts`?
What am I actually altering and returning?

There are several issues at play here.
One is the ability to use said values in the CSP meta tags, the other is using the same values to get a hash for subresource integrity.

So the script stuff was just an example, the actual question is how do I get access to something that fuse-box has generated an

[2020-04-27 08:50] nchanged commented on #1899
in `v4` there is a thing called `Interceptor`

So shorty

implementation:
[code]

any plugin

[code]

It could be done this way. So In you're case you'd create a plugin and handle script tags they way you want.

[2020-04-27 08:53] seivan commented on #1899
Right, so what I am asking is what am I actually getting in that callback, as in what actual data, or if it's easier, what TS types and what do I need to return?
I assume in the end, `$bundle` will be outputted, but if I create my own `$cspMetaTags: Array<MyMetaTags>` how do I make sure they are properly injected in the html template?

[2020-04-27 16:56] karibertils opened #1900 "react_ssr_csr from playground not working"
I am testing SSR from playground/react_ssr_csr.

After running
```ts-node -T fuse.ts dist```
dist/client/vendor.js has "undefined" as content

In commit b301e6c94fd837bc2ffb5bdc887aa3e2ab9624b4 vendor.js is OK. After 9ff035b25c64dc3b00cf09a6e6e9556cca79a871 vendor.js breaks.

[2020-04-27 18:15] nchanged commented on #1900
Maybe clearing the cache will help? There are a few issues when jumping between versions

[2020-04-27 18:29] karibertils commented on #1900
There is no .cache folder and fuse.ts has ```cache.enabled = false```

[2020-04-27 21:05] nchanged commented on #1900
I will check the configuration has changed in the recent version

[2020-04-29 06:02] gleba commented on #1834
![image](https://user-images.githubusercontent.com/1052840/80565019-1a0a5180-89f8-11ea-991a-ddb96d5babfa.png)
indentedSyntax absolutely unsupported now

[2020-04-29 07:26] gleba commented on #1834
option indentedSyntax is really missed in node-sass render function

[2020-05-01 19:14] nchanged commented on #1900
@karibertils you were right. A bug was fixed
https://github.com/fuse-box/fuse-box/pull/1903/files

[2020-05-01 19:14] #1900 closed

[2020-05-01 19:16] nchanged commented on #1899
@seivan you'd manipulate the contents directly? Do you need any help implementing it? Join our slack to discuss it.

[2020-05-01 19:16] nchanged commented on #1895
I am assuming this can be closed?

[2020-05-01 19:26] nchanged commented on #1890
@jeremija it bundles correctly with `4.0.0-next.430` could you verify that? If it doesn't work, please reproduce the issue

[2020-05-01 19:42] starsolaris commented on #1895
The initial scenario of this issue is working fine now.
There is another issue:
- change text of button in app.tsx
- fuse start to rebuild less files included in app.tsx (i assume that fuse should get them from cache if they are not changed)

[2020-05-01 21:08] nchanged commented on #1895
It is not indented , but I couldn't reproduce it locally, and it's hard to debug your repo (too complex ) do you think you can reproduce in a simpler manner ?

[2020-05-01 21:08] #1895 closed

[2020-05-02 06:24] jeremija commented on #1890
@nchanged - I'm still getting `TypeError: _require2 is undefined` with `fuse-box@4.0.0-next.430` if I remove the `pluginReplace`.

[2020-05-02 07:06] gleba commented on #1834
fixed in **^4.0.0-next.430**
@bsl-zcs @charsleysa
now u can resolve/close issue

[2020-05-02 07:28] #1834 closed

[2020-05-03 05:13] seivan commented on #1899
I’m good. Thanks.

[2020-05-03 05:13] #1899 closed

[2020-05-04 13:06] bogdandv opened #1905 "?. error on parsing module"
Writting a syntax like:
data?.element1 shows the following error message:
 Error while parsing module /path/
 ' Expression expected.

Note that this error is only shown the first time after deleting cache. Any change to the file results in a succesfull message.

[2020-05-04 13:45] nchanged commented on #1905
version? It should work just fine with `fuse-box@next`
But you'd need a migration
https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md

[2020-05-04 15:27] bogdandv commented on #1905
fuse-box@next420
does it work in the newest version?

[2020-05-04 19:49] nchanged commented on #1905
yes optional chaining is supported there

[2020-05-05 07:26] bogdandv commented on #1905
can confirm all works well

[2020-05-05 07:26] #1905 closed

[2020-05-05 19:47] s0kil opened #1906 "Using pug template as webIndex"
I have tried different configuration options, and could not figure out how to set the `index.pug` file as a webIndex file.

Here is what I have so far:
[code]

And it throw an error:
[code]

fuse-box version 4.0.0-next.430

Related To: https://github.com/fuse-box/fuse-box/issues/1244

[2020-05-07 06:53] Relaxe111 commented on #971
I have same import issue but with component-classes i get:
![image](https://user-images.githubusercontent.com/40892030/81263266-a8f21c00-903f-11ea-8ee0-fc9d9ed0ee33.png)
I've tryed to add:
alias:{
     'classes':'component-classes/index'
}
and get:
![image](https://user-images.githubusercontent.com/40892030/81263518-1605b180-9040-11ea-9d65-3750da27f4a6.png)
on last suggested solution i get same er

[2020-05-07 07:11] Relaxe111 commented on #971
I found out that component-classes tryinig to import index of or classes-index.of
![image](https://user-images.githubusercontent.com/40892030/81264793-56662f00-9042-11ea-8fe8-bbe3dc7e959a.png)

[2020-05-07 11:54] Relaxe111 opened #1907 "How to use .env file in process.env.some-var-form-.env?"
Hello i'm apolorgyze if it is stupid question but i can't figure out how to import env variables from .env file? is use fuse-box4. I managed to find out that is a env variable in fusebox and from there i can add variables but i need to read them from .env like files from project root location for example.
Eventually have a posibility to specify which .env.--environment to use in development and pr

[2020-05-07 17:48] nchanged commented on #1907
https://www.npmjs.com/package/dotenv
I hope that answers your question

[2020-05-08 06:25] Relaxe111 commented on #1907
I need that for my react spa application. Shall I use dotenv for in react too?)

[2020-05-08 06:26] Relaxe111 commented on #1907
Ohh sorry I'm so stupid. I shall try dotenv)

[2020-05-08 06:26] Relaxe111 commented on #1907
By the way is fusebox 4 production ready?

[2020-05-08 06:47] nchanged commented on #1907
I think all of us are using v4 for production, the compiler is stable , I am just polishing what's left

[2020-05-08 07:23] Relaxe111 commented on #1907
Wonderful. Thank-you for a such cool product.

[2020-05-08 07:23] #1907 closed

[2020-05-08 13:42] Relaxe111 opened #1908 "Is possible to do smaller bundles with fusebox 4?"
Hello I compiled one of my projects with fusebox 4 and total size (gzipped is 1.1 mb) while with my old bundler give me 870 kb. I found out that there is something with tree-shaking.
What possibilities do I have to minimize bundle med fusebox? Maybe it is written about this somewhere? Thnks.

[2020-05-08 15:54] nchanged commented on #1908
V4 doesn't have tree shaking yet. So yes, that's the reason. although we have a full blown analysis implemented, we just need to implemented an algorithm

[2020-05-08 18:11] Relaxe111 commented on #1908
Cool. Is there any expectations where we could see this feature on v4?

[2020-05-08 18:46] nchanged commented on #1908
What do you mean by expectations ? I will do it whenever I have time for it, unless someone else does it before me

[2020-05-09 10:12] Relaxe111 commented on #1908
I see. Thnks help.

[2020-05-09 10:12] #1908 closed

[2020-05-09 14:36] chumbalum commented on #1835
I'm having the same problem with fuse-box 4.0.0-next.430.

**index.tsx**
[code]

**app.scss - not working**
[code]

**app.scss - working**
[code]

Fusebox Cache is disabled

[2020-05-09 14:57] nchanged commented on #1835
You need to add macros option to stylesheet field, and replace that . Mind the trailing slash

[2020-05-09 15:16] chumbalum commented on #1835
Thanks for the hint. With the following config, it's working. Not very intuitive, though. I didn't find a documentation on that and in older fusebox, tilde was working out of the box.

[code]

[2020-05-11 15:34] denniskoenig commented on #1456
Got some help in the Slack channel, as a workaround you can use the ReplacePlugin().
I had a problem that `if (process.platform === 'win32')` caused `ReferenceError: process is not defined`.

As example if someone else has the problem:
[code]

[2020-05-11 15:36] denniskoenig commented on #1220
Got some help in the Slack channel, as a workaround you can use the ReplacePlugin().
I had a problem that `if (process.platform === 'win32')` caused `ReferenceError: process is not defined`.

As example if someone else has the problem:
[code]

[2020-05-11 16:29] a-neumann opened #1909 "[v4] Error bundling import from a type definitions only module"
I have a module in my repo that is goning to be bundled and has this import of "csstype" in it that is re exported

[code]
I get this warning when bundling:

[code]
When i try to open the dev server page in the browser (Firefox), it says:

`Error: Module csstype was not found`

What may be special with csstype is that it contains no JS code, just Typescript interfaces for CSS.
The same happens whe

[2020-05-11 19:29] nchanged commented on #1909
@a-neumann thanks for brining this up.
I believe `4.0.0-next.432` will fix your problem

[code]

I've added the support for importKind in `432`. [This](https://github.com/fuse-box/fuse-box/pull/1910/files#diff-878a7045c59f1510de62da9b75e70cfb) should get it fixed

[2020-05-12 21:38] #1909 closed

[2020-05-15 14:43] nigel-gott opened #1911 "Using typescript 3.8+ private class members cause compilation error"
With the latest fuse-box 4.0.0-next.432 private class members like so:

`
// index.ts
class MyRandomGenerator {
    #aPrivateMember = 1
}
`
Cause an odd error when running fusebox:
[code]
I've constructed a full minimal working example here https://github.com/nigel-gott/possible-fusebox-private-bug . By removing the # and making the class member no longer private fusebox then works correctly.

Typ

[2020-05-15 15:21] nchanged commented on #1911
Hi, I will get to implementing this feature this weekend, just to be clear we are not using typescript to transpile ts nor js code, we have a custom compiler. But the implementation is straightforward

[2020-05-19 07:16] dpinart-uxland opened #1913 "dynamic import in monorepo project"
Hi
We do have a lerna monorepo project with s kind of micro front-end application. Each package contains what we call a "sub-module" and there exists one "app" package that acts as the applicacion entry point. Depending on several factors (user role, context,...) sub modules are imported dynamically once application has started and they register their routes,...
We're trying to migrate from webpac

[2020-05-19 07:35] nchanged commented on #1913
hi @dpinart-uxland yes it's possible. However, you can't really use computed variables with dynamic imports. Since there is no way for fuse-box to know which file you are targeting. You need to build a mapping:

* Make sure you're on [v4](https://github.com/fuse-box/fuse-box/blob/master/docs/getting-started/get-started.md)

then set it up as follows:

[code]

[2020-05-19 08:53] dpinart-uxland commented on #1913
well, I guess that's an starting point.
Is there any way fuse ignores dynamic imports?
And about having a bundle for each package and one or several for dependencies, any documentation or sample to start with?
I'm sorry but it's a bit hard to dive with documentation as much of stuff I find is related to older versions.

Thanks @nchanged

[2020-05-19 18:53] nchanged commented on #1913
@dpinart-uxland it should work out of the box. Just use `runProd` and you will see the split bundles

[2020-05-20 04:56] SephReed opened #1915 "Everything in config needs jsdocs"
This is an incredibly serious issue from a usability perspective.  Right now, clicking into or hovering any aspect of fusebox configuration currently yields zero information.  It's a total brick wall for me trying to do anything, and I'd written the docs on this once before.

https://github.com/fuse-box/fuse-box/tree/master/src/config

[2020-05-20 05:51] SephReed opened #1916 "Disable / get around "resources""
I'm updating an old project that used 3.0, and I need to have a similar asset management system as I had created with it and sparky.  Here's what I need to be able to do:

[ ]: Disable "resources" in it's entirety.  Currently getting a wall of warnings like this `Failed to resolve ./svg/DoubleArrow.svg`
[ ]: Watch and copy all files from "./assets" to "./dist/assets", like I once did with sparky.

[2020-05-21 13:51] dpinart-uxland opened #1917 "Got an error when a module has an empty export"
Hi.
I'm trying to use fuse-box in a project that uses polymer webcomponents library. There are some modules in polymer (like /@polymer/polymer/lib/utils/boot.js) that do not export nothing and end with an empty export 'export {}'. Fuse-box compiles these modules fine but app crashes at runtime with the following error 'SyntaxError: export declarations may only appear at top level of a module'.

I

[2020-05-21 17:22] karibertils opened #1918 "Using react fragment shortcut with emotion"
I noticed in the react_emotion example it is not possible to use the fragment shortcut <></>

Is it possible to support both emotion plugin and the fragment shortcut ?

[2020-05-21 17:40] nchanged commented on #1918
@FKobus could you take a look at this one?

[2020-05-21 17:52] nchanged commented on #1917
`fuse-box@4.0.0-next.435`

[2020-05-21 17:52] #1917 closed

[2020-05-27 07:27] dpinart-uxland opened #1921 "Wrong compilation when a method has an argument with the same name than an import"
I think I found a funky error in the compiler. I have a project that uses Polymer that has as dependency the @webcomponents project. One of the webcomponents libs, shadycss, has a module, style-util.js that contains the following import:
[code]
As you can see, it's importing the **cssBuild** property from './style-settings.js;

At the same time, style-util.js has the _isOptimalCssBuild_ function

[2020-05-27 12:14] nchanged commented on #1921
@dpinart-uxland thanks! that's a confirmed bug! I will fix it soon

[2020-05-29 12:19] seivan opened #1922 "Might want to update the docs about `before_webindex_write`"
It exits as an event type, but `waitingFor` on it, does nothing.
Afaik, I can't see anywhere in the code where its event type would be used.
Might also want to remove the actual [type](https://github.com/fuse-box/fuse-box/blob/e0f40f4d375fffe1221dfccbde2eb7fe97103d66/src/interceptor/events.ts#L16)

[code]

[2020-05-29 12:26] nchanged commented on #1922
@seivan there was a PR that was utilising it. But it was closed. It was supposed to help to synchronise the modifications to index

[2020-05-29 23:38] seivan commented on #1922
No, I understand that, but it could also doable via.... if it wasn't for the disorganized structure of the output (props)
[code]
Off topic and not related to this issue, but to the one I opened earlier.
https://github.com/fuse-box/fuse-box/issues/1899

The approach to generating the html is flawed.
Instead of shoving outright `<script>` tags, give the building blocks for user to make themselves, a

[2020-05-30 13:00] nchanged commented on #1922
@seivan thanks for your feedback! I do agree that webindex deserves a re-write. Please feel free to propose an architecture that would fit any needs. But I think the initial implementation should be as simple as possible.

[2020-05-30 15:59] nchanged commented on #1921
Sorry it took a while, this one is fixed in `4.0.0-next.436`

[2020-05-31 01:49] karibertils opened #1925 "syntax error in vendor.js"
I am testing fuse-box@4.0.0-next.435 on a working webpack project.

I deleted node_modules dist and .cache and I get
```SUCCESS   Completed without build issues```

vendor.js has this error
![image](https://user-images.githubusercontent.com/5122320/83342221-3f7ec980-a2dc-11ea-8c9d-a3c1e5c9e1f5.png)

Here is the original source line that is breaking
https://github.com/ianstormtaylor/slate/blob/4467

[2020-05-31 07:50] dpinart-uxland commented on #1921
Sorry but I'm afraid the fix introduced a new bug. 4.0.0-next.436. Lit-element lib has a module named _updating_element_. This module exports a const as
[code]
This module also exports a large class _UpdatingElement_ that is used as the base for creating cusomt web components. This class has the following declaration

[code]
__valueHasChanged_ receives 3 arguments, the 2 first are values and the l

[2020-05-31 09:22] nchanged commented on #1925
@karibertils please verify the fix in `4.0.0-next.437`

[2020-05-31 09:33] nchanged commented on #1921
@dpinart-uxland please verify the fix in `4.0.0-next.438`

[2020-05-31 09:38] dpinart-uxland commented on #1921
Yes.  It now compiles fine and app starts. I'm seeing some errors in console but not sure if they are compilation errors or app bugs. I'll open an issue if I finally detect they are compilation errors

[2020-05-31 09:52] #1921 closed

[2020-05-31 11:20] karibertils commented on #1925
@nchanged working now :+1:

[2020-05-31 14:13] #1925 closed

[2020-06-06 10:21] karibertils commented on #1528
Is there is still no solution to keep state on hot reload ?

[2020-06-06 11:50] nchanged commented on #1528
I will looking at this soon, since I am cooking react hooks too and the state reset annoys me a bunch

[2020-06-06 11:57] karibertils commented on #1528
awesome

[2020-06-08 10:17] Zaitsev opened #1927 "function default arguments error if value is exported"
if `const` is exported and used as default value in function in the same module, default value is `undefined`

![image](https://user-images.githubusercontent.com/127843/84019604-c50c1480-a981-11ea-857d-53bb762c022c.png)

[2020-06-08 15:49] Zaitsev opened #1928 "html special symbols like '&nbsp' escaped"
special symbols in JSX compiled as strings
![image](https://user-images.githubusercontent.com/127843/84052055-54302100-a9b0-11ea-8dc9-6cd4d9cb953c.png)

[2020-06-08 19:41] nchanged commented on #1927
Can't reproduce

[code]

Compiles into:
[code]

Tested with `4.0.0-next.438`

If you think it's still there, please re-open and provide a faulty snippet

[2020-06-08 19:41] #1927 closed

[2020-06-08 20:25] nchanged commented on #1928
Please verify the fix in `4.0.0-next.439`

[2020-06-13 10:00] erikdao opened #1930 "fusebox 4 still doesn't work with aws-amplify"
I'm trying to build a react webapp with fusebox v4 as bundler and `aws-amplify` for user authentication and I just can't get fusebox v4 and aws-amplify working (both 2.x and 3.x versions).

---

[code]
---
My `index.ts` is as simple as this

[code]

Here is my `fuse.ts`

[code]

When I try to compile and start the dev server with: `./node_modules/.bin/ts-node fuse.ts`

I've always got this error:

[2020-06-13 11:00] nchanged commented on #1930
@erikdao it looks like there is no shim for http2 package. To solve this issue, do the following:

[code]

Create a folder `shims/http2` add copy-paste an appropriate shim package for http2 for the browser. I am pretty sure it doesn't require much since it's a browser build.

[2020-06-13 16:48] erikdao commented on #1930
@nchanged Thanks for the response. I actually wasn't sure which "shim" to include for `http2` so I digged deeper into the above error trace and realized that the error was related to `runtimeConfig` so I changed my `fuse.ts` to include:
[code]
And the issue was gone!
I'll close the issue.

[2020-06-13 16:48] #1930 closed

[2020-06-15 20:27] kiruh commented on #1693
Is that issue resolved?

[2020-06-16 11:50] wmathes opened #1931 "TerserOptions not adjustable"
Discovered this when attempting to migrate a fuse-box `3.7` project over to `4.0.0-next.439`

During bundle creation only a few minimal arguments are passed into `terser` here https://github.com/fuse-box/fuse-box/blob/b5d5d28f7972fdfc6ceef0470e1011f7958edd15/src/bundle/bundle.ts#L131-L138

The previous `TerserPlugin` allowed more customization, in my specific case the `keep_fnames`-option allowed

[2020-06-16 17:55] starsolaris opened #1932 "Class fields in js file leads to an error"
fuse-box: "4.0.0-next.439"
Next code in js file
[code]
or
[code]
produce next error on build:
[code]

[2020-06-17 05:32] nchanged commented on #1932
It hasn't been implemented yet

[2020-06-22 12:41] Zaitsev commented on #1928
Verified - it works, thanks

[2020-06-22 12:44] #1928 closed

[2020-06-22 12:46] Zaitsev opened #1933 "d3 library exception with latest fusebox"
fuse >= next.400 has a problem with d3 library (d3-selection event)
[code]
I'd tried google recommendations but since it works on next.6 I believe this is fuse's issue

there is repo with bug reproduced: [react-example](https://github.com/Zaitsev/react-example)

[2020-06-28 05:51] SephReed opened #1934 "Web Index template no longer functional"
Followed these instructions exactly: https://github.com/fuse-box/fuse-box/blob/master/docs/webIndex.md

    at fileContents.replace (/Users/seph-play/Code/rCommunity/web-app/node_modules/fuse-box/webIndex/webIndex.js:85:62)
    at String.replace (<anonymous>)
    at Object.generate (/Users/seph-play/Code/rCommunity/web-app/node_modules/fuse-box/webIndex/webIndex.js:74:41)
    at ctx.ict.on (/Users

[2020-06-28 05:53] SephReed commented on #1934
[code]

The error message assumes something it shouldn't.  But now I get the error is a bad path.

[2020-06-28 05:55] SephReed commented on #1934
Commenting out this is what caused the error

[code]

[2020-07-01 08:58] HikaruKun commented on #1730
same issue for version 5.15

[2020-07-02 20:17] nchanged commented on #1934
@SassNinja could you take a look at this functionality? It should be a few lines of code.

[2020-07-02 20:42] nchanged commented on #1933
Please help debug it. I've replaced the contents of `node_modules/d3-selection/src/selection/on.js @62` with the transpiled version of ts `3.9.2` and got the same result. It must be something else.
Also, I noticed a very old version of typescript 3.1.0. That might have made it compile differently

[2020-07-03 16:42] my-lalex opened #1935 ""__fusereq.resolve is not a function" with Socket.io... (@next.439)"
Hi there!

I'm currently using the latest v4 fuse-box, what a great tool! 8-)
It's been pretty hard to configure without documentation, but I think I'm kind of set up now...

Everything's work fine now (I'm not sure how I did all this), but I tried to add socket.io to an already pretty bug project and I couldn't get it to work...

Then I tried a very simple express/socket.io project and it doesn't

[2020-07-06 11:47] Zaitsev commented on #1933
I believe it's some smelly events realisation on d3
they do modification of exported `event`

[code]

imported event doesn't exists here
[code]

[2020-07-06 12:44] karibertils opened #1936 "Error using react-sortable-tree in fuse-box 4"
Using fuse-box@4.0.0-next.439

The following triggers the error
[code]
vendor.js:30265 Uncaught TypeError: Cannot read property 'default' of undefined
![image](https://user-images.githubusercontent.com/5122320/86594270-41e0dd00-bf86-11ea-8fcd-190d6b27fc93.png)

The error only happens in development build. Works fine in production build.

[2020-07-06 12:52] Zaitsev commented on #1933
Also found similar problem here: https://github.com/d3/d3/issues/2733#issuecomment-190743489
But any of suggested work-arounds doesn't helps

[2020-07-09 00:01] SephReed opened #1937 "HMR / auto-compile not working"
I have no idea why, but I have to restart fuse with every change I make now.

`cache: false` will break auto-bundling for .ts files for me.

`.scss` files never trigger a change and require stopping and starting fuse.ts

[2020-07-09 00:24] SephReed commented on #1937
Oof.  I don't know what's happening, but file changes not creating updates is a very serious bug.

Is there anyway I can get some insight into why it's not responding?  Maybe throw a console.log() on one of the lines near where it should be responding to file changes?

[2020-07-09 00:31] SephReed commented on #1937
@nchanged If you could help me figure out how deep this bug goes, I'd really appreciate it.

I need this feature to work and don't have long before I'll be forced to switch bundlers if it does not.

[2020-07-09 00:33] SephReed commented on #1937
Or, potentially, is there a way I can force it to reload with any file change whatsoever?

I would really rather it be inefficient than... well, very very broken.

[2020-07-09 00:48] SephReed commented on #1937
https://github.com/fuse-box/fuse-box/blob/e0f40f4d375fffe1221dfccbde2eb7fe97103d66/src/watcher/bindWatcherReactions.ts#L41-L43

`console.log("Watcher See", reactionStack);` => `Watcher See []`

I don't know why, but the reaction stack is empty.  This is the source of the bug.  For now, I'm just going to make it run no matter what by modifying my `.js` in `node_modules`.

[2020-07-09 00:51] SephReed commented on #1937
Okay.  I have mine working again.  It just runs `bundleDev_1.bundleDev({ ctx, rebundle: true });` on every `watcher_reaction` event.  Highly recommend figuring out this bug.  It's makes a huge difference the usability of this bundler.

[2020-07-09 01:06] SephReed commented on #1937
Okay.  Figured out the "bug".  It was semi-user-error.  My root file is not at the root of the project (src/components/App.ts).

These are the lines where changes were being filtered out:
https://github.com/fuse-box/fuse-box/blob/89c2f50375bfe5727ca2535e7df7f46ef19c2ac6/src/watcher/watcher.ts#L110-L127

Adding a line like this:
[code]

After all the attempt to add to reactionStack have completed w

[2020-07-09 08:26] nchanged commented on #1937
@SephReed you should just adjust the `watcher` paths
add `include`

That happens because by default fuse picks the root folder of your entry file.

[2020-07-09 18:55] SephReed commented on #1937
I did figure it out.  But this is still very confusing behavior.

By default it seems it should watch all included files, regardless of root.  Only when specified would I expect it to exclude anything.

But I also trust there are very good reasons that is not the default, and if that is the case, it should (seemingly) give some sort of warning about the files it is not observing.

[2020-07-09 20:22] nchanged commented on #1937
We could print the default folder that is being watched. I think that might help

[2020-07-12 12:22] karibertils commented on #1936
I traced this problem to react-virtualized which react-sortable-tree depends on.

[code]
will also trigger the same error

[2020-07-12 12:50] karibertils commented on #1936
Looks like the react-virtualized ES modules are causing the issue while CommonJS works.

I am using
[code]
in my fusebox config as a workaround to get rid of the error.

[2020-07-12 12:58] starsolaris commented on #1936
I created the https://github.com/bvaughn/react-virtualized/issues/1520 about this recently but there is no answer.

[2020-07-12 13:11] karibertils commented on #1936
Interesting @starsolaris

react-virtualized with the same bug works in another project of mine using webpack.

I see in react-virtualized package.json
[code]

I guess fusebox is picking the ES module while webpack is using the CommonJS module.

Not sure how to select which one is used when importing the root folder in fusebox ?

[2020-07-12 13:38] starsolaris commented on #1936
node_modules/react-virtualized/package.json
[code]

[2020-07-12 13:40] starsolaris commented on #1936
I think, this should be something like:
import - ES
require - commonjs

[2020-07-12 14:06] karibertils commented on #1936
Yes that makes perfect sense. But how about when modules pull in their 3rd party dependencies ?

In the webpack project i am using import on 'react-sortable-tree'. But it still seems to use the CommonJS version of react-virtualized for the dependency.

While in fusebox it doesn't matter if i import or require 'react-sortable-tree'. It uses the react-virtualized ES module.

Maybe @nchanged can advi

[2020-07-13 00:45] charsleysa commented on #1936
@nchanged I can confirm this is a bug in fuse-box due to the weird import hoisting of javascript.

While not many libraries do this, it is perfectly valid to have an import after it's usage.

Example:
[code]

In ES6, the code will be evaluated as
[code]

But since fuse-box is responsible for the imports and not using the language features directly, this hoisting isn't automatic and fuse-box needs

[2020-07-13 06:13] nchanged commented on #1936
Here is a playground link, where TypeScript `@next` transpiles this module exactly the same way as fuse does

hhttps://www.typescriptlang.org/play/?module=1&ts=4.0.0-beta#code/JYWwDg9gTgLgBAfQKYA8ZIHYBMDOcBmUEIcA5AEYCG5SANgLRQCuGMoSA9ABZ1hJQ4OqdNhykA3AChQkWIgDy5AFZIAxjAAkAcyQwACkRgQYATz7z8BIiQrU6jFmxCdV0JPSWCIytTA46YejBDYzN3CHwJaXBoeARVWkocHABhSlpaFJ5VAGsrYjIqGgZmVnZuXn5BBKTU9MzsnKiZWMRVKCRKdBTE5P

[2020-07-13 07:08] charsleysa commented on #1936
@nchanged I think it's valid to say that if the code occurs in a Typescript source file then it is valid for the error to occur, but if the code occurs in a Javascript source file then fuse-box should handle it correctly. The code you used in the playground link is indeed Javascript code and not Typescript code so it is not something that will necessarily be fixed by Typescript (though there is [a

[2020-07-13 08:21] nchanged commented on #1936
@martaver you've also encountered this issue. Here is a [workaround](https://github.com/fuse-box/fuse-box/issues/1936#issuecomment-657220036)

[2020-07-13 09:57] Zaitsev commented on #1933
Quick work-around to make d3 happy:
[code]

[2020-07-15 07:37] martaver commented on #1936
This worked for me, though I think we should be able to optionally 'brute force' certain troublesome vendor deps through babel, as an escape hatch for when authors have released library code that assumes everybody uses babel.

[2020-07-15 21:09] drayalliance-johnpittman opened #1938 "web worker not loading"
I am trying to use a web worker just like your playground example but the files never get transpiled and moved. I have cloned this project and run the playground webworker example but that does not load the web worker either. What's missing?

[code]

![image](https://user-images.githubusercontent.com/48923701/87596328-c75e3e80-c6a4-11ea-92fe-66f0a2f5c865.png)

[2020-07-22 09:50] ccapndave opened #1939 "[v4] Fusebox 4 doesn't find `less` when using Yarn 2"
I'm using Yarn 2 "Berry" with PnP with a basic config containing a `less` plugin:

[code]

Although I have `less` in my `package.json`, this fails with the following output:

[code]

It seems that the `require("less")` check is failing in the plugin, even though `require("less")` *does* work in `yarn ts-node` or in the `fuse.ts` script itself.

[2020-07-22 10:13] nchanged commented on #1939
hey, but that's related to the node.js module resolution. I doubt there is something we can do about it tho.

[2020-07-22 11:59] ccapndave commented on #1939
I wonder if this is something that can be fixed by using the latest version of `resolve`?  This is based on reading https://yarnpkg.com/advanced/migration#make-sure-you-use-resolve19, so I could be very wrong about this.

[2020-07-25 04:17] charsleysa commented on #1939
Hi @ccapndave I have been unable to produce your issue using yarn 2.

Can you please provide a small stripped down project with the issue so that I can reproduce it on my machine?

Thanks!

[2020-07-28 21:21] #1938 closed

[2020-07-30 15:40] Krak86 commented on #1646
According to React documentation [route-based-code-splitting](https://reactjs.org/docs/code-splitting.html#route-based-code-splitting):

`React.lazy currently only supports default exports. If the module you want to import uses named exports, you can create an intermediate module that reexports it as the default. This ensures that tree shaking keeps working and that you don’t pull in unused compon

[2020-08-03 10:46] avizcaino commented on #1835
Sorry to reopening the topic but I'm having trouble with this in fuse 4.0.0-next.439. This is my config:

[code]

And this is my error:
[code]

Any clue what I'm doing wrong?

[2020-08-03 11:00] nchanged commented on #1835
@avizcaino
[code]

path.join removes the slash at the end. You need to add it manually

[2020-08-03 11:55] avizcaino commented on #1835
@nchanged not working either... 😞

[2020-08-03 12:29] nchanged commented on #1835
It really should, I have a similar setup in some project. Debug the output path and make sure it's reachable.

[2020-08-03 12:58] avizcaino commented on #1835
@nchanged my bad, the problem was that my fuse config is not at the root of the project but in another directory, so the final path after the replace was not pointing correctly to `node_modules`.

Thanks!

[2020-08-07 14:24] Zaitsev commented on #1928
Unicode Hex Character Code &#x26a0; rendered wrong

[2020-08-10 00:38] rizkyramadhan commented on #1911
I stumble this bug with another error message, in my case it is

[code]

when I inspect the `statement` object, it shows this:

[code]

Well, I'm aware that there is no 'TS*' member implemented in `this`, hence the bug.

[2020-08-10 12:23] nchanged commented on #1911
@rizkyramadhan it should show the file name. Is it related to the private class members?

[2020-08-10 13:36] rizkyramadhan commented on #1911
Ok, found it. This code is the culprit:

[code]

No, I think that because I use [key:string] as index signature, the generated AST for above code contains `TSIndexSignature`  (see my `statement` object above) and that `TSIndexSignature` member is not found in generator methods.

There are no method prefixed with TS in generator methods, so any TS* member that needs to be generated will be failed,

[2020-08-11 06:36] nchanged commented on #1911
@rizkyramadhan should be fixed in `4.0.0-next.440`

[2020-08-11 06:44] rizkyramadhan commented on #1911
I hope you can implement whole TS AST. Let me know if you need help

[2020-08-11 08:02] nchanged commented on #1911
@rizkyramadhan thanks, yes, I do need help. It's mostly implemented. There are cases like private class members that aren't

Here is the [common](https://github.com/fuse-box/fuse-box/blob/ad711eb677cfb61612721edfc1661250967bb607/src/compiler/transformers/ts/CommonTSfeaturesTransformer.ts) conversion happens. Those are the nodes that are removed.

[2020-08-12 10:53] misantronic opened #1941 "Compilation fails with terser 5.0.0"
When upgrading terser to 5.0.0 compilation doesnt work anymore.

`QuantumPlugin({ uglify: true })` fails with:

[code]

Somehow the `content` in that write-function is undefined.
According to the [terser changelog](https://github.com/terser/terser/blob/master/CHANGELOG.md) there are a few breaking changes:

BREAKING: Internal AST is no longer exposed, so that it can be improved without releasing b

[2020-08-17 17:33] starsolaris opened #1942 "Incorrect transpiling of destructed argument"
fuse-box: 4.0.0-next.440

[code]

transpiled to:
[code]

getSome function is called from import, not from argument

[2020-08-18 01:10] charsleysa commented on #1941
@misantronic this sounds like an issue with fuse-box v3 which is no longer supported.

[2020-08-18 22:48] warrenfalk opened #1944 "Compiler fails to erase non-value namespaces"
imported.ts
[code]

index.ts
[code]

Output:
[code]

Expected
[code]

I confirmed that Typescript prints the correct output.

Fusebox compiles to:
[code]

Typescript does this:
[code]

It looks like Fusebox does not erase the namespace above, but Typescript does because Typescript will erase a namespace that doesn't export any values (exporting types don't count)

[2020-08-19 05:14] nchanged commented on #1944
@warrenfalk yeah,  we don't really fully support namespaces, Is it in the third-party library ?

[2020-08-19 11:43] warrenfalk commented on #1944
Ha, well, it was about to be in a third party library.  I've built an idiomatic Typescript generator for protocol buffers that I'm getting ready to release, but the code it generates can't be used by fuse-box because of this issue.  I think, there might be a workaround which is to switch the order of the declarations (value first, then namespace).

When you say "we don't really fully support names

[2020-08-19 12:42] nchanged commented on #1944
@warrenfalk absolutely. However, namespaces are dead. They were introduced by TypeScript to help onboard those legacy es5 modules. But we are in 2020 now ;-)

[2020-08-20 13:53] warrenfalk commented on #1944
@nchanged, I hear you, but Namespaces remain the only way in typescript to declare Type names that are nested.  If you are generating `.ts` modules from `.proto` files, then there's no reasonable way around this.  If you have a `.proto` file with message nesting like "Shape.Polygon.Square" then the only way to have a `.ts` module with types of that name is to use namespaces.

[code]

If I were wri

[2020-08-28 14:01] starsolaris opened #1945 "Incorrect transpiling of export statement"
fuse-box: 4.0.0-next.440

[code]

will produce:
[code]

instead of:
[code]

[2020-08-28 14:16] starsolaris commented on #1945
maybe this is duplicate of #1942

[2020-08-28 16:46] nchanged commented on #1945
hm...  I will find some time during the weekend for these bugs.

[2020-08-30 18:33] nchanged commented on #1945
@starsolaris please verify the fix (both issues) in 4.0.0-next.441

[2020-08-30 22:50] starsolaris commented on #1945
@nchanged, works as expected. 👍

[2020-08-30 23:22] charsleysa opened #1946 "Typescript 4 support"
Fuse-box currently doesn't support Typescript 4 due to it's use of an outdated version of `@typescript-eslint/typescript-estree`. Updating from v2.32.0 to v3.10.1 will support Typescript 4.

[2020-08-30 23:41] charsleysa commented on #1489
Closing due to no response.

[2020-08-30 23:41] #1489 closed

[2020-08-31 05:11] #1945 closed

[2020-08-31 05:11] #1942 closed

[2020-09-02 14:08] myxit commented on #1220
Sorry for having noise in the ticket, found this thread when tried to fix using react-markdown component in our fuse-box setup project.
Workaround:
[code]

[2020-09-07 10:27] #1946 closed

[2020-09-13 14:36] freehuntx opened #1949 "[Sparky][Questions] Several questions regarding tasks/tasknames and help."
## Background
After long time not using fusebox i came back to try it out again.
I saw the CLI Plugin is not available anymore, instead there is the "help" api which is neat!
If i understand correctly, its just triggered when you call fusebox with "help".
But i would like to show the help for example, if a invalid task was executed.

## Questions
**a)** Is it possible to show help when invalid/no

[2020-09-16 13:13] nchanged commented on #1949
@freehuntx currently Sparky in v4 is simplified and doesn't have the same functionality in v3. Pull requests are always welcome and the API is very simple ;-)

[2020-09-18 23:04] freehuntx commented on #1949
Ive created a PR for RegExp feature.
For CLI i might create a plugin :)

[2020-09-29 14:31] Tyler-Nolan opened #1951 ""missing fusebox.xml""
Hello friends,

I am running into a little issue when opening a webpage on one of my servers. I continuously get a "missing fusebox.xml" error. I have verified permissions(to the best of my knowledge) and i have verified that the .xml is actually in the folder where the web page says it can't find it at. I'm not sure what else to do to get the xml to be found. Has anyone ran into this issue before

[2020-09-29 14:32] patrickmichalina commented on #1951
@Tyler-Nolan are you talking about this framework https://en.wikipedia.org/wiki/Fusebox_(programming)? This repo is unrelated.

[2020-09-29 14:34] Tyler-Nolan commented on #1951
I've been sent around to a bunch of forums telling me that i'm in the wrong area and need to try *insert url here*. So i'm not sure. Just kind of hoping that one of these will have someone that knows what i'm talking about.

[2020-09-29 17:45] nchanged commented on #1951
It definitely doesn't belong here, we have no clue what you are talking about, sorry

[2020-09-29 17:45] #1951 closed

[2020-10-08 18:52] RevanProdigalKnight opened #1954 "Incorrect circular reference detection"
**Fuse-Box version**: 4.0.0-next.444

I have a composite project with a folder structure as follows:

[code]

Both `web` and `services` have dependencies on packages in the `core` folder (hence separation), but inside `core` packages can still have one-directional dependencies on other packages inside `core`. In particular, the webpage dependency graph looks like this:

[code]

I can run a build o

[2020-10-09 05:21] nchanged commented on #1954
@RevanProdigalKnight thanks! Do you think you can submit a PR with your changes?

[2020-10-09 09:02] SyrineBen opened #1955 "[nuka-carousel] Error while generating js file with fuse-box"
I am using fuse-box@4.0.0-next.444 with nuka-carousel@4.6.6, this dependency uses d3-ease@1.0.7, when I generate js file for my app, I have this error `Uncaught SyntaxError: Invalid left-hand side expression in prefix operation`
The line that contains the error in my js file :
[code]
When I look to this function from the node module d3-ease, I find :
[code]
The bug is somehow fusebox compiles -(--

[2020-10-13 15:26] RevanProdigalKnight commented on #1954
Created #1956

[2020-10-13 17:18] #1954 closed

[2020-10-13 17:20] nchanged commented on #1954
should be in `fuse-box@4.0.0-next.445`

[2020-10-15 04:02] tomitrescak commented on #1721
Do workers work at all ? I followed the documentation at https://github.com/fuse-box/fuse-box/blob/master/docs/webworkers.md and it does nothing. I'm at :444

[2020-10-19 19:48] avizcaino opened #1957 "Bundles mappings in fuse@v4"
Hi! I've been struggling a lot with custom bundles configuration in fuse@v4 and couldn't find the solution. I've prepared a small repo with my configuration in a monorepo environment and using typescript and lit-element.

Repo: https://github.com/avizcaino/fuse-bundler

Here is my fuse config:

[code]

My imports are as follow:

packages/app/demo/index.ts
[code]

packages/app/src/components/button

[2020-10-19 20:09] vegarringdal commented on #1957
never used mapping part.
but when I use import() its been auto splitting code into bundles. Auto loaded when I call the function calling import()
been working great for my router.

[2020-10-19 21:03] avizcaino commented on #1957
The auto splitting only works for me for local components such as the button one in my example, providing a `dynamic/button.$hash.js`. But no for external dependencies imports...

[2020-10-23 09:39] avizcaino commented on #1957
I've found the section where the bundles are created, and I cannot find any mapping reference in there: https://github.com/fuse-box/fuse-box/blob/f5e9c0967713c78a194fd98a50bbf2bc6d50a5f0/src/bundle/bundleRouter.ts#L96-L118

Making some changes I can generate the expected bundles, but I'm having some problems with modules not found or not referenced properly.

[2020-10-27 09:10] nchanged commented on #1957
@avizcaino I don't think it has been implemented. I've prepared the interfaces though ;-)
If you are interested, please contribute ;-)

[2020-10-27 09:28] avizcaino commented on #1957
Hi! @nchanged I've been working on it already in [this PR](https://github.com/fuse-box/fuse-box/pull/1958). Love any feedback you could give me since I'd love this feature to be included in fuse :metal:

[2020-10-27 19:31] SephReed opened #1959 "Is it possible to create a basic module using fuse-box?"
I have some project that uses `.ts` and `.scss` files to create HTMLElements.

I would like to make it into an npm module, but `tsc` can't handle `.scss` files.

Is it possible to use fuse-box to basically just mimic `tsc` but with the added benefit of replacing `.scss` imports with code that will add that css to the page?

Ex.
[code]

``
// index.ts
import "./style.scss"

function hello(): HTMLDi

[2020-10-29 08:46] avizcaino commented on #1959
Hi! Are you using `pluginSass`? With the following configuration it should work:

**Fuse configuration**
[code]

**Component**
[code]

[code]

**Final result**
[code]

[2020-10-30 13:58] SephReed commented on #1959
I had gotten this far, but it didn't look like it was exporting anything.

I now notice that there is some `module.exports` in there.  But where is `__fuse.bundle()` defined?  I don't understand how this could be a stand-alone file which could be pushed to npm then imported into other projects.

[2020-10-30 14:38] avizcaino commented on #1959
That's because this is not a standalone file. I thought you were talking about a spa/pwa/static site. I've only attached the bundled file for the component.

`__fuse.bundle()` is defined in the entry of the application:

[code]

Being the files tree as follow:

![image](https://user-images.githubusercontent.com/12660226/97717312-f28a6380-1ac4-11eb-9412-f19e0af32f91.png)

Not sure how to publish co

[2020-10-30 16:35] avizcaino commented on #1957
@nchanged so this can be closed right? PR #1958

[2020-10-30 19:50] nchanged commented on #1957
Awesome! I would like to fix the tests before the release though.

[2020-10-30 19:50] #1957 closed

[2020-11-02 15:51] SephReed commented on #1959
Yeah.  I was thinking of inlining my css, but I'd really rather use `scss`.

Fuse didn't really seem a tool designed for this thing, but it has enough of the feature set it seemed it might, maybe be possible.

Definitely not trying to bundle in other modules though, so I guess I'm not looking so much for a js/ts bundler as an "everything but js/ts" one.

[2020-11-03 09:04] avizcaino commented on #1959
@SephReed Take a look here: https://github.com/material-components/material-components-web-components

They are doing what you want to achieve.

[2020-11-03 18:47] SephReed commented on #1959
Web components are a bit different than where my interests lie

[2020-11-05 01:10] #1941 closed

[2020-11-10 04:45] charsleysa commented on #1949
Closed by #1950

[2020-11-10 04:45] #1949 closed

[2020-11-10 04:47] charsleysa commented on #1939
Closed due to inactivity.

[2020-11-10 04:47] #1939 closed

[2020-11-10 04:47] charsleysa commented on #1944
Closed as wontfix.

[2020-11-10 04:47] #1944 closed

[2020-11-10 04:55] charsleysa commented on #1732
Closed due to inactivity.

[2020-11-10 04:55] #1732 closed

[2020-11-10 04:56] charsleysa commented on #1696
Closed due to inactivity.

[2020-11-10 04:56] #1696 closed

[2020-11-10 04:56] charsleysa commented on #1799
Closed due to inactivity.

[2020-11-10 04:56] #1799 closed

[2020-11-10 04:57] charsleysa commented on #1518
Closed due to inactivity.

[2020-11-10 04:57] #1518 closed

[2020-11-10 04:57] charsleysa commented on #1516
Closed due to inactivity.

[2020-11-10 04:57] #1516 closed

[2020-11-10 04:57] charsleysa commented on #1498
Closed due to inactivity.

[2020-11-10 04:57] #1498 closed

[2020-11-10 04:58] charsleysa commented on #1556
Closed due to inactivity.

[2020-11-10 04:58] #1556 closed

[2020-11-10 04:58] charsleysa commented on #1606
Closed due to inactivity.

[2020-11-10 04:58] #1606 closed

[2020-11-10 04:59] charsleysa commented on #1600
Closed due to inactivity.

[2020-11-10 04:59] #1600 closed

[2020-11-10 04:59] charsleysa commented on #1597
Closed due to inactivity.

[2020-11-10 04:59] #1597 closed

[2020-11-10 05:00] charsleysa commented on #1633
Closed due to inactivity.

[2020-11-10 05:00] #1633 closed

[2020-11-10 05:00] charsleysa commented on #1630
Closed due to inactivity.

[2020-11-10 05:00] #1630 closed

[2020-11-10 05:00] charsleysa commented on #1607
Closed due to inactivity.

[2020-11-10 05:00] #1607 closed

[2020-11-10 05:01] charsleysa commented on #1697
Closed due to inactivity.

[2020-11-10 05:01] #1697 closed

[2020-11-10 05:01] charsleysa commented on #1694
Closed due to inactivity.

[2020-11-10 05:01] #1694 closed

[2020-11-10 05:01] charsleysa commented on #1690
Closed due to inactivity.

[2020-11-10 05:01] #1690 closed

[2020-11-10 05:02] charsleysa commented on #1659
Closed due to inactivity.

[2020-11-10 05:02] #1659 closed

[2020-11-10 05:02] charsleysa commented on #1726
Closed due to inactivity.

[2020-11-10 05:02] #1726 closed

[2020-11-10 05:02] charsleysa commented on #1725
Closed due to inactivity.

[2020-11-10 05:02] #1725 closed

[2020-11-10 05:02] charsleysa commented on #1698
Closed due to inactivity.

[2020-11-10 05:02] #1698 closed

[2020-11-10 05:03] charsleysa commented on #1744
Closed due to inactivity.

[2020-11-10 05:03] #1744 closed

[2020-11-10 05:03] charsleysa commented on #1733
Closed due to inactivity.

[2020-11-10 05:03] #1733 closed

[2020-11-10 05:03] charsleysa commented on #1728
Closed due to inactivity.

[2020-11-10 05:03] #1728 closed

[2020-11-10 05:04] charsleysa commented on #1727
Closed due to inactivity.

[2020-11-10 05:04] #1727 closed

[2020-11-10 05:04] charsleysa commented on #1756
Closed due to inactivity.

[2020-11-10 05:04] #1756 closed

[2020-11-10 05:05] charsleysa commented on #1755
Closed due to inactivity.

[2020-11-10 05:05] #1755 closed

[2020-11-10 05:05] charsleysa commented on #1754
Closed due to inactivity.

[2020-11-10 05:05] #1754 closed

[2020-11-10 05:05] charsleysa commented on #1753
Closed due to inactivity.

[2020-11-10 05:05] #1753 closed

[2020-11-10 05:06] charsleysa commented on #1798
Closed due to inactivity.

[2020-11-10 05:06] #1798 closed

[2020-11-10 05:07] charsleysa commented on #1793
Closed due to inactivity.

[2020-11-10 05:07] #1793 closed

[2020-11-10 05:07] charsleysa commented on #1792
Closed due to inactivity.

[2020-11-10 05:07] #1792 closed

[2020-11-10 05:08] charsleysa commented on #1791
Closed due to inactivity.

[2020-11-10 05:08] #1791 closed

[2020-11-10 05:08] charsleysa commented on #1848
Closed due to inactivity.

[2020-11-10 05:08] #1848 closed

[2020-11-10 05:09] charsleysa commented on #1836
Closed due to inactivity.

[2020-11-10 05:09] charsleysa commented on #1884
Closed due to inactivity.

[2020-11-10 05:09] #1884 closed

[2020-11-10 05:10] charsleysa commented on #1857
Closed due to inactivity.

[2020-11-10 05:10] #1857 closed

[2020-11-10 05:10] charsleysa commented on #1854
Closed due to inactivity.

[2020-11-10 05:10] #1854 closed

[2020-11-15 22:54] SephReed commented on #1808
I still haven't figured out how to work around this problem in fuse-box.

It seems there should be some very, very simple way to copy files from one folder to another inside dist.

Right now I'm trying to use `chokidar` to achieve this because I can not figure out how to make it happen in fuse-box.

[2020-11-15 23:07] SephReed commented on #1808
For this config:

https://github.com/fuse-box/fuse-box/blob/0c30c7b1131de2ba8b3289892c199d50539fcc5a/src/config/IDependencies.ts#L14-L19

What would it take to make the following config option possible:
[code]

The result being something like so:

[code]

------

I remember this type of stuff was really easy with sparky, but I don't think Sparky is around anymore (Is it?).  So maybe this kind of b

[2020-11-15 23:22] SephReed commented on #1808
**The following code does not work:**

[code]

[2020-11-15 23:25] SephReed commented on #1808
I can't find a single usage of `sparky().src()` anywhere in the entire codebase:  https://github.com/fuse-box/fuse-box/search?p=5&q=sparky+src%28

[2020-11-15 23:46] SephReed commented on #1808
Found the issue:

https://github.com/fuse-box/fuse-box/blob/fe10bf4693cef1a9d0c5faaec1b63b8578bf2a57/src/sparky/sparky_chain.ts#L46-L53

For some reason all files that have a `newLocation` and `newBase` (which is true `whenever sparky().dest()`) are put into folders of their filetype.

It seems like maybe some logic that belongs in the `resources` use case got put into sparky proper.

In any case,

[2020-11-15 23:52] SephReed opened #1961 "Fix Spark newLocation && newLocationBase logic"
https://github.com/fuse-box/fuse-box/issues/1808

Sparky has some messed up logic around saving files in new locations:

https://github.com/fuse-box/fuse-box/blob/fe10bf4693cef1a9d0c5faaec1b63b8578bf2a57/src/sparky/sparky_chain.ts#L39-L56

It appears the logic for resource files got put into the core logic for sparky, so now it is only capable of saving files in folders with their filetype name.

[2020-11-16 00:10] SephReed commented on #1961
Never mind.  I figured out the issue.  I was using `.` as my base for dest():

[code]

I thought it would be interpreted as a relative path by dest, but it's stored as a simple string:

https://github.com/fuse-box/fuse-box/blob/fe10bf4693cef1a9d0c5faaec1b63b8578bf2a57/src/sparky/sparky_chain.ts#L103-L107

And then later used to split the file path to figure out what it's relative path should be in

[2020-11-20 11:16] Kend0r opened #1963 "wrong dynamic generation file generateSplitFileName"
Hello

when I make a build on Linux, all dynamic js files are created with the same name, (dynamic/index.js, i dont want the hash)
when I build on Windows, no problem my files came with route name in the prefix (dynamic/src-page-home-index.js)
I figure out the problm was in  src/bundle/bundleRouter.ts  in generateSplitFileName function
I make a PR for fix it if you are agree with my analysis.

her

[2020-11-30 01:33] warrenfalk opened #1965 "Compiler crash on x?.y()!"
The following compiles:
[code]

But add a `!` at the end and the compiler crashes the dev server:
[code]

[code]

[2020-11-30 07:58] #1965 closed

[2020-11-30 09:50] starsolaris commented on #1955
Is this fuse-box issue or some of fuse-box dependencies?

[2020-12-03 18:45] draoncc opened #1966 "[3.7.1] add bigint support"
Currently running into an Acorn error when trying to compile code that contains bigints (`0n`). Acorn is pending support with [7.0.0](https://github.com/acornjs/acorn/issues/862), until then [acorn-bigint](https://www.npmjs.com/package/acorn-bigint) could be used here: https://github.com/fuse-box/fuse-box/blob/v3.7.1/src/analysis/FileAnalysis.ts#L12 to amend the issue in FuseBox 3.7

[2020-12-03 18:47] charsleysa commented on #1966
Hi @draoncc, fuse-box v3 is no longer supported, please upgrade to v4.

[2020-12-03 18:51] draoncc commented on #1966
To my understanding, v4 doesn't yet offer the full set of features we're using to manage our monorepo with fusebox v3.

Thank you for the quick response though. :) I'm very excited for the first stable release of v4.

[2020-12-03 18:51] #1966 closed

[2020-12-13 21:56] starsolaris opened #1970 "nullish coalescence in js lead to error"
fuse-box 4.0.0-next.447
next code in js:
[code]

lead to:
[code]

[2020-12-13 22:03] charsleysa commented on #1970
@starsolaris can you please create a minimal reproduction?

[2020-12-13 23:32] starsolaris commented on #1970
@charsleysa i rechecked this issue, and found that scenario is more complex:

package.json
[code]

test.ts
[code]

a.js
[code]

copy a.js to some module in node_modules (ex: accepts/a.js)
run with start entry test.ts:
[code]

if i import a.js from local directory:
test,ts
[code]
then build completed without errors

[2020-12-18 22:29] erikdao commented on #1934
@SassNinja @SephReed Have you found any solution for this problem? It seems that I'm also facing this exact problem.

[2020-12-28 23:19] SephReed opened #1972 "Path relative imports for app.js and vendor.js"
The templating engine replaces `$bundles` with:

[code]

----

It should instead be
[code]

Having not relative paths makes it so the dist only works for host root index files.  Having relatives paths would work for that and every other subpath.

[2020-12-28 23:50] vegarringdal commented on #1972
Have you tried adding publicPath option ?

[code]

[2020-12-30 23:40] samdesota opened #1973 "Any HMR API like with webpack? How do I destroy resources between HMR reloads?"
Hey, I'm using fusebox without React, but I can't find any docs for the HMR api. With webpack you can of course use `module.hot.dispose` and `module.hot.accept` to customize how hot reloads affect the application, but I can't find any docs on how to do the same for fuse box 4.

Thank you for building a really fast bundler!

[2021-01-13 09:28] tungd opened #1974 "Problem with fuse.js"
I have problem using https://fusejs.io in a project. With Fusebox 4.0.0, whenever it started it thinks that configuration has been changed thus it will delete the cache and bail.

The workaround at the moment is to make watcher ignore fuse.js:

[code]

[2021-01-20 00:33] SephReed opened #1976 "Unable to make "watcher" work based off docs"
[code]

I'm trying to watch `editor` in the example above.  The following config does not do it:

[code]

How is watcher supposed to work?  https://fuse-box.org/docs/development/watcher

[2021-01-25 23:39] 3cp opened #1977 "[BUG] webIndex.embedIndexedBundles has no effect"
I am trying to use `webIndex.embedIndexedBundles` to embed js into html file, but it didn't work even in the example of this repo.

https://github.com/fuse-box/fuse-box/blob/3c04a72bdd544c5537402e6f49ad167c98a82232/playground/sass/fuse.ts#L12

The `playground/sass` example didn't respect `embedIndexedBundles` setting.

Dev mode output:
[code]

Prod mode output:
[code]

[2021-01-27 12:46] ericlenio opened #1978 "sparky tasks"
In 3.7, I was using sparky to run a series of tasks, like this:
[code]

It seems this approach is not suitable in 4.0. Is sparky task support deprecated? What's the best practice I should follow?

[2021-01-27 15:35] patrickmichalina commented on #1978
This hasn't been impleented in 4.0 yet. But what I have done is just use `Promise.all([
  exec("clean"),
  ecec("static-resources")
])`

etc...

If you need in sequence (not parallel), you need to chain the promises instead.

[2021-01-29 12:28] DannyvanderJagt opened #1979 "Bug: Automatically changed tsconfig.json at end of build process"
I've been using fusebox for a while now in production, definitely liking it. After upgrading from 4.0.0-next.447 to 4.0.0, without any other changes (or any change to the build file). The build process (prod) works fine, but in dev the process builds everything and then at the end it does something weird. It detects some kind of change and cleans everything out, except nothing changed.

To confirm

[2021-02-01 12:59] nchanged commented on #1979
@DannyvanderJagt that must be related to `tsconfig.json` file that has been detected by the watcher. Make sure that the watcher is ignoring it. I think that the tsconfig.json is being copied to dist folder somehow and that triggers the watcher to clean it all.

[2021-02-01 13:01] nchanged commented on #1976
[code]

[2021-02-01 17:16] jfred1979 opened #1980 "Using watcher causes changes to generate new instance of elements on DOM rather than replacing old ones"
fuse.ts looks like this:

`import { fusebox } from 'fuse-box';
const fuse = fusebox({
  entry: 'src/index.ts',
  target: 'browser',
  devServer: { enabled: true, open: true },
  webIndex: true,
  watcher: true,
  cache: true,
});
fuse.runDev();`

If I add an element to the DOM at runtime while the dev server and watcher are running, I just get another instance of the DOM element on screen. I would

[2021-02-01 17:28] nchanged commented on #1980
There is nothing wrong, the entry point is being triggered this is expected. YOu need to handle it this soft reload at your application level. For example
[code]

[2021-02-01 17:44] jfred1979 commented on #1980
Ah, okay. I suppose other bundlers that handle this out of the box probably have some kind of logic automatically added to the container HTML page? In my case the project is very simple and a full page refresh between saves is sufficient. So I guess I really just need live reloading, not hot reloading. Is there really no option for automatic live reloading right out of the box?

[2021-02-01 18:18] nchanged commented on #1980
It's not that a bundler "handles" them. It's framework specific.  As I said, the following code will re-init your app and no refresh needed.
[code]

So once an entry point is triggered the second time you flush your state and start over. It's very handy.

Some more information for you:

https://fuse-box.org/docs/development/hmr

You could also take a look at the custom HMR plugin in this example:

[2021-02-01 18:38] jfred1979 commented on #1980
Thanks, I edited my comment, you probably didn't see it in time. I did see this doc page:
https://fuse-box.org/docs/development/hmr
and the Typescript compiler seems to choke on 'hardReloadScripts' prop in the 'watch' or 'watcher' object (using v4.0.0 of fuse-box). I'm not clear if the documentation is for a previous version?

Either way, for simple live reloading using the basic technique of chec

[2021-02-01 18:53] nchanged commented on #1980
👍

[2021-02-01 18:53] #1980 closed

[2021-02-04 01:36] nspaeth opened #1981 "Optional chaining emits undefined when used with a function call"
Using code like the following:
[code]
Results in:
[code]
See that `useField` is being emitted as `undefined` and then called.

[2021-02-04 02:42] jsbr commented on #1981
Probably related:

[code]

error:
[code]
fuse-box@4.0.0

[2021-02-09 16:53] draoncc opened #1982 "[Help] How to bundle dependencies?"
In 3.7, it was possible to bundle all external dependencies using instructions like "> index.ts". It's unclear from the documentation how this can be achieved for production builds in 4.0. Is this still possible?

[2021-02-09 17:06] nchanged commented on #1982
Yes it's possible, check ignoreExternalDependencies option

On Tue, Feb 9, 2021, 18:53 Draon con Color <notifications@github.com> wrote:

[2021-02-09 18:24] jpike88 opened #1983 "angular 11.0.6 breaks with runProd + ES5 target"
**UPDATED**

How to repro:

- Use angular_playground in this repo
- Use Typescript version 4.1.4
- Run something like node-check-updates on the angular_playground, which will fast forward angular to 11.1.2
- add ```buildTarget: 'ES5'``` to runProd config
- Look at page, you will see a broken template tag (See screenshot)
<img width="475" alt="Screenshot 2021-02-10 at 1 22 24 AM" src="https://user-

[2021-02-09 23:42] charsleysa commented on #1539
Closing as `fuse-box@4.0.0` has been released.

[2021-02-09 23:42] #1539 closed

[2021-02-10 04:54] jpike88 commented on #1983
@nchanged I tried a couple of other targets like es2015, es6 and they worked ok, just es5 doesn't work

[2021-02-10 05:47] jpike88 commented on #1983
@nchanged breakthrough! issue is related to angular version, starts to happen between version 11.0.5 and 11.0.6

[2021-02-10 06:07] jpike88 commented on #1979
I had this problem to when updating from 4.0.0-next.443 to 4.0.0

[2021-02-10 06:21] nspaeth commented on #1979
I have also had this problem and asked about it in slack.

[2021-02-10 11:36] jpike88 commented on #1979
Ok it looks like I solved it.

My watcher config used to have an ignore, but now I used an include instead and it worked good.

old:

[code]

new:

[code]

I think it's really just a config thing. ill close unless someone still has problems

[2021-02-11 14:02] jpike88 commented on #1979
im wrong its still a problem. reopening

[2021-02-11 14:07] jpike88 commented on #1979
-"chokidar": "3.4.3",
+ "chokidar": "3.5.1",

https://github.com/fuse-box/fuse-box/commit/0c14846959e2aadbdd34050e9b77192102b5721d#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519L32

This is maybe the issue

[2021-02-12 09:21] dloibl opened #1984 "4.0.0 pluginSass: using scss variable for resources"
Hi,

we are migrating a quite large codebase from 3.7.1 to 4.0.0 and I'm almost there 👍. Just having the problem that
css resources are not collected when the import url is using scss variables.
Unfortunately I can't change this since it's third party scss.

In 3.7 I chained SassPlugin -> CssPlugin -> CssResourcePlugin, so I guess it worked there since scss variables where already resolved.

Shoul

[2021-02-13 01:26] SephReed commented on #1976
I tried setting root to `"."` and that didn't work either.  :/

I'm having to update my app file every time I update anything else.

[2021-02-13 01:29] SephReed commented on #1976
If I `console.log(join(__dirname, "../editor/src"))` it's exactly correct.

So I've given a verified correct absolute path to include and it's just not watching it for some reason.

[2021-02-13 09:06] nchanged commented on #1976
@SephReed try resetting `ignore` I think it might be just ignoring everything

[2021-02-13 09:09] nchanged commented on #1984
@dloibl hey, that isn't supported, what you could do instead is:
[code]

that configuring `stylesheet.macros`

[code]

[2021-02-13 10:15] dloibl commented on #1984
Thanks @nchanged for the quick reply. Unfortunately the svg file names are also wrapped in scss variables so I would need a lot of macros there. But I might be able to do it dynamically.

My current workaround is to copy those resources manually to `dist/resources/images` with sparky.

[2021-02-13 10:15] #1984 closed

[2021-02-16 02:19] SephReed commented on #1976
You're definitely on to something.  It is ignoring anything.  Setting `ignore` didn't fix it though.

[code]

[2021-02-17 00:06] SephReed commented on #1976
Found the bug:  https://github.com/fuse-box/fuse-box/blob/3c04a72bdd544c5537402e6f49ad167c98a82232/src/watcher/watcher.ts#L158-L160

Watcher only watches `absRoots`.  So even if `includePaths` contains a path, only `absRoot` counts.

I can put a PR in to fix this.  My proposed solution:

1. If `watcher.root` is unset, simply add the `include` paths to `absPath`
2. If `watcher.root` is not set and

[2021-02-19 08:23] mayyyc commented on #1979
have the same issue on mac but works fine on linux, maybe it's mac related.

[2021-02-19 14:23] Gouigouix commented on #1978
@ericlenio or like this 😉
[code]

[2021-02-19 15:12] Gouigouix commented on #1955
Hello @starsolaris, @SyrineBen,

It is indeed the lib "d3-ease" which made a modification in its code that the TypeScript compiler interprets in order to optimize the code by removing the parentheses. There is no error or warning during compilation, however the browser crashes at runtime!

I requested a change from the lib dev which you can see here https://github.com/d3/d3-ease/commit/7d24c5f6d73

[2021-02-19 15:17] Gouigouix commented on #1955
No connection with FuseBox, you can close the issue 😉

[2021-02-22 22:09] charsleysa commented on #1955
This is not an issue with typescript, this is an issue with fuse-box.

[2021-02-24 13:48] Zaitsev opened #1985 "sparky src.dest base parameter error"
I'm using  project full path like this `/a/b/c/SRC/d/e/f/SRC/assets`
then
[code]
`dets` base path is `./src' and in [sparkyChain.runActivities](https://github.com/fuse-box/fuse-box/blob/3c04a72bdd544c5537402e6f49ad167c98a82232/src/sparky/sparky_chain.ts#L33)
file path is split into 3 parts
[code]
and[ s[1] ](https://github.com/fuse-box/fuse-box/blob/3c04a72bdd544c5537402e6f49ad167c98a82232/src/spa

[2021-02-24 13:52] Zaitsev opened #1986 "exception on sparky src.dest chain"
on Windows I've got ` UnhandledPromiseRejectionWarning:`
[code]
to fix it  [newLocationBase](https://github.com/fuse-box/fuse-box/blob/3c04a72bdd544c5537402e6f49ad167c98a82232/src/sparky/sparky_chain.ts#L46) should be `path.normalize`-d

[code]

[2021-02-24 16:19] Gouigouix commented on #1955
Indeed, I just tested I do not have this problem when I use compilation by tsc. I thought that Fuse-box had done no processing on the code but had only created a wrapper around the TypeScript compilation!

[2021-02-25 10:13] nchanged commented on #1986
@Zaitsev can you PR it?

[2021-03-02 10:30] #1981 closed

[2021-03-02 22:09] charsleysa commented on #1986
Closed by #1987.

[2021-03-02 22:09] #1986 closed

[2021-03-02 22:09] charsleysa commented on #1985
Closed by #1987.

[2021-03-02 22:09] #1985 closed

[2021-03-03 09:52] DannyvanderJagt commented on #1979
A couple of findings:
- `tsconfig.json` doesn't seem to be copied into `dist`
- excluding `tsconfig.json` doesn't help
- I forked fusebox (`4.0.1-next.1`) and downgraded chokidar to `3.4.3`, also no change.

[2021-03-08 03:15] SephReed opened #1989 "Where or what is Sparky Watch?"
[These docs](https://fuse-box.org/docs/task-runner/sparky) state that:

I found a code example of Sparky `src`, but I can't find `watch` anywhere in the code base.

[2021-03-08 13:36] draoncc opened #1990 "Compilation error when using TSExportAssignment"
Trying to compile a [TSExportAssigment](https://docs.rs/swc_ecma_ast/0.18.1/swc_ecma_ast/struct.TsExportAssignment.html) like `export =` errors with:

[code]

logging `statement` gives:

[code]

---

Minimal example:

index.ts
[code]

fuse.ts
[code]

package.json
[code]

and run `yarn build`

[2021-03-08 19:02] nchanged commented on #1990
`4.0.1-next.4`

[2021-03-08 19:02] #1990 closed

[2021-03-08 19:03] nchanged commented on #1989
oof, I don't think it's been implemented. We really need to brush it up. I will try to get some time this week.

[2021-03-10 19:41] SephReed commented on #1989
Thank you  so much!

I'm working on a docs project with a lot of `.md` files that I was hoping sparky could keep up to date.

I think this might be my 20th or so fuse-box project.

[2021-03-18 16:38] jpike88 commented on #1979
problem still exists on ```^4.0.1-next.4```... downgrading back to ```4.0.0-next.447```

[2021-03-29 13:07] RedMser commented on #1836
Not sure why this was closed without discussion.
I took a very superficial look at the problem (I only learned about fuse-box today), and here's how you can hack it together:

- Replace references to `node-sass` with `sass` in `node_modules/fuse-box/plugins/core/plugin_sass.js`
- Replace references to `node-sass` with `sass` in `node_modules/fuse-box/stylesheet/sassHandler.js`
- Uninstall `node-sa

[2021-03-30 12:54] nchanged commented on #1836
Could you submit a PR yourself? That would be a real help!

On Mon, 29 Mar 2021 at 16:07, RedMser ***@***.***> wrote:

[2021-04-10 10:46] zeniroy opened #1992 "alias with absolute path on fuse-box@v4"
Hi, recently i moved to v4 from v3.
On v3, i was using homeDir option for alias some files on my project.
With homeDir, i could use "\~/" for aliasing path from project root.
But on v4, there is no homeDir option.
So i tried to use absolute path for aliasing instead of "~/", but it didn't work.

Is there anyway to alias file of absolute path? or path from project root?

[2021-04-10 11:07] nchanged commented on #1992
@zeniroy you can still use aliases with fusebox, on top of that you can tsconfig `baseDir` to define your home directory and then referencing that directly

[code]

or

[code]

Depends on your baseDIr in the tsconfig

[2021-04-10 13:05] zeniroy commented on #1992
How about "js" file? also influenced by baseDir of tsconfig?

[2021-04-10 13:19] nchanged commented on #1992
yes, no problem there too.

[2021-04-10 13:22] zeniroy commented on #1992
Ok, i see. Thanks a lot!

[2021-04-10 13:22] #1992 closed

[2021-04-15 06:47] zeniroy opened #1993 "pluginConsolidate not working"
I was using WebIndexPlugin with ejs on v3
On v4, i saw this page(https://fuse-box.org/docs/plugins/pluginConsolidate)
So i tried pluginConsolidate with webIndex option but not working

webIndex: {
            template: "../index.ejs",
},
plugins: [
            pluginConsolidate('ejs', {
                MODE: mode,
            })
]

How can i use ejs file for webIndex?

[2021-04-22 07:44] nchanged commented on #1993
@zeniroy I don't this has been ported to v4. Feel free to make a PR!

[2021-04-27 09:01] tnurmi82 commented on #559
Just wondering if has been improved since 2017?

In our project we were adding some code. At some point a '-' character was simply accidentally misplaced in code, effectively causing a syntax error. About an hour later the new code was being tried out for the first time, and we got this "Uncaught Package not found fusebox-hot-reload". Luckily it didn't take us too long to figure it out and fix the

[2021-04-27 14:21] nchanged commented on #559
there is a new version `4.0.1` that doesn't have this issue

[2021-05-08 12:55] RedMser opened #1994 ""manifest" RunProps are ignored"
All RunProps regarding the manifest json file are currently ignored, which means the manifest can not be configured, moved or disabled.

To reproduce, try giving runDev the parameter `{ manifest: false }` and see that the manifest-*.json still be re-generated.

The enabled check should probably [go here](https://github.com/fuse-box/fuse-box/blob/master/src/core/build.ts#L44), but I'm not sure abou

[2021-05-10 10:59] TiTi opened #1995 "css background-image url with @ in path is not managed as resource"
Hello,
One image referenced in the css doesn't have the appropriate path because of an "@" in the image filename 😢.

First i'm using this fusebox configuration (expecting production resources url to starts with /static/resources/):
[code]

But I got this unfortunately:
![image](https://user-images.githubusercontent.com/137691/117647808-c21b3480-b18d-11eb-80d8-78c1f01bbd41.png)
One is working, not

[2021-05-10 11:24] nchanged commented on #1995
it might. What you could try is seting `macro` is replacing the `@` symbol
manually.

On Mon, 10 May 2021 at 14:16, Thibault ROHMER ***@***.***>
wrote:

[2021-05-10 11:28] TiTi commented on #1995
I could.
But this file is from `node_modules\leaflet-fullscreen\dist\leaflet.fullscreen.css`
So I don't want to edit it.

It's also possible to fix the issue so that fusebox is able to manage files with an '@' in their name ^^

[2021-05-10 11:47] Zaitsev opened #1996 "incorrect removal of parentless in `(-(--t))`"
"fuse-box": "4.0.1-next.4",
in  https://github.com/d3/d3-ease/blob/1e6f392ea72af6485d810e2214508a2350c64a8b/src/elastic.js#L11 they use
[code]
which is compiled to
[code]
that leads to exception `Uncaught SyntaxError: Invalid left-hand side expression in prefix operation`

![image](https://user-images.githubusercontent.com/127843/117654559-3063f500-b196-11eb-8c71-7915122cd800.png)

[2021-05-10 14:06] TiTi commented on #1995
My gut tell me we take a fast exit condition here:
https://github.com/fuse-box/fuse-box/blob/master/src/stylesheet/cssResolveURL.ts#L133

[2021-05-10 18:03] TiTi commented on #1995
Ok i didn't see what you mean by macro initially, then i found i could do:
[code]
Which is an acceptable workaround as i don't have too much images with an '@'. This also works:
[code]
(the compilation warnings show you files to generate without '@' in their name as they are missing)

[2021-05-11 13:47] komuch86 opened #1997 "fuse-box@4 vue2.x.x .vue files support"
Hi, do You have any plans to support vue2 ".vue" files in fuse-box@4 like in @3?

[2021-05-25 17:38] CKH4 commented on #1890
@nchanged I am also running into this issue on fuse-box@4.0.1-next.4 for `util`, `buffer`, and `stream`

[2021-05-30 16:18] paxperscientiam opened #2007 "Log output indicates that `'@'` characters in file paths are changed into `'undefined'`"
Hello, this is not a consequential bug, from what I can tell.

![Screen Shot 2021-05-30 at 12 15 44 PM](https://user-images.githubusercontent.com/7539871/120111741-24d66f00-c141-11eb-8bcc-18dc3f1dddbd.png)

[2021-06-02 05:52] jpike88 commented on #1979
im going to fix this this week, did anyone else manage to get any more insight?

[2021-06-04 05:53] jpike88 commented on #1979
I've found the issue. @warrenfalk this function ```excludeRedundantFolders ``` isn't working right :(

The root path I specified: [ '/Users/joshpike/Projects/aquipa/server/src/' ]

The root it forced: [ '/Users/joshpike/Projects/aquipa' ]

I'll fix the function up now

[2021-06-04 06:01] #1979 closed

[2021-06-04 06:01] jpike88 commented on #1836
fixed and merged

[2021-06-04 06:01] #1836 closed

[2021-06-04 06:02] #1976 closed

[2021-06-06 06:33] jpike88 commented on #1983
completely forgot about this. looks like this is blocking till I can figure it out

[2021-06-06 07:28] jpike88 commented on #1983
@nchanged any clue/thoughts about this? it's a weird one

[2021-06-06 07:48] jpike88 commented on #1973
[code]

[2021-06-06 07:48] #1973 closed

[2021-06-06 07:49] jpike88 commented on #1937
This is actually due to a bug that got fixed earlier this week, the watcher root paths weren't locking in properly

[2021-06-06 07:49] #1937 closed

[2021-06-06 07:49] #1933 closed

[2021-06-06 07:51] jpike88 commented on #1932
dupe of #1911

[2021-06-06 07:51] #1932 closed

[2021-06-06 07:52] #1891 closed

[2021-06-09 11:38] francescoporcudev commented on #700
Hi, is  there the possibility to debug node_modules folders after fusebox debug build???

[2021-06-09 11:39] francescoporcudev commented on #700
HI @nchanged
I need to debug node_modules folders in vendors bundle builded with fusebox.
Is there any way to do that?

[2021-06-10 05:26] charsleysa opened #2017 "Incorrect processing of awaited brackets"
Using the await keyword on the result of code inside brackets produces the wrong output.

Example:
[code]
produces
[code]

Expected:
[code]

[2021-06-10 05:44] charsleysa opened #2018 "ESM output support"
Are there any plans for supporting ESModule output?

I see a lot of other tools and packages are switching the ESModule output, some exclusively only output ESModule and ditching UMD/AMD/CommonJS.

Would be great if fuse-box supported this as we are looking to switch over to ESModule output.

[2021-06-10 05:58] jpike88 commented on #2018
If anyone is having issues pulling in ESM modules into fusebox for the time being, use a library like ```simport``` which will make that lib compatible with fusebox.

Here's an example using 'p-queue', a pure ESM lib (and synchronised promise so it could be run on top level)

[code]

[2021-06-10 06:28] nchanged commented on #2018
I think for the output you're supposed to use some other tool. Not a bundler.

[2021-06-15 04:14] paxperscientiam commented on #2018
@charsleysa , perhaps you could create a plugin that leverages [microbundle](https://github.com/developit/microbundle)?

[2021-06-21 06:35] jpike88 commented on #1983
Somewhere in the following commits, something broke fuse-box.

https://github.com/angular/angular/commits/master?before=5b9c981b6d4e4f96236858773f84750a46260986+35&branch=master
https://github.com/angular/angular/commits/master?after=5b9c981b6d4e4f96236858773f84750a46260986+21&branch=master

@nchanged does a quick skim of these show anything problematic? I'm going to build specific commits and fin

[2021-07-01 07:14] francescoporcudev opened #2019 "Node_modules folder debug"
### Discussed in https://github.com/fuse-box/fuse-box/discussions/2016

<div type='discussions-op-text'>

<sup>Originally posted by **francescoporcudev** June  9, 2021</sup>
Hi @nchanged,
I'm tryng to generate sourcemaps of node_modules folders in vendors_bundle
I need to debug some libraries in node_modules

Is there any way to do that?
Thanks</div>

[2021-07-19 06:25] nchanged commented on #2019
sourcemap.vendor = true
I think it should be like that

[2021-07-24 12:30] kolodziejczak-sz opened #2021 "node-sass is deprecated"
Fuse-box enforces developer to install the deprecated package `node-sass` (more details here https://www.npmjs.com/package/node-sass)

 Having the recommended package `sass` (https://www.npmjs.com/package/sass) causes the following error:
[code]

[2021-08-04 22:43] insanity54 commented on #2021
I'm running into this problem as well. It looks like the source checks for `sass` first, and if that doesn't exist, it falls back to `node-sass`.

https://github.com/fuse-box/fuse-box/blob/b3cf2458e28ff0a1dd86c2db77611a921769e589/src/plugins/core/plugin_sass.ts#L22

However, it looks like the package I got from NPM `fuse@4.0.1-next.5` does not include the check for `sass`.

            if (props.m

[2021-08-05 17:39] Ulydev commented on #1938
Hey @drayalliance-johnpittman, could you explain how you solved this? I have the same issue. The worker isn't transpiled / does not appear anywhere in /dist, and throws the same "Unexpected token '<'" on load.

[2021-08-07 10:43] kolodziejczak-sz commented on #2021
You are right, it seems like they fixed it already, but this fix is not released yet - the 4.0.0 version doesn't include these changes.

[2021-08-07 10:43] #2021 closed

[2021-08-16 05:13] jpike88 commented on #1983
@nchanged had another stab at this... no idea what could be causing it.

[2021-08-16 06:35] nchanged commented on #1983
@jpike88 does it happen without typescript? I mean if you remove buildTarget: 'ES5'

Because if it's ok, that means that the actual typescript is corrupting your build.

[2021-08-16 06:47] jpike88 commented on #1983
without ES5, it builds fine.

I've tried with typescript 4.0.2 all the way to current 4.4-rc

I've tried with angular 11.0.6 onwards, up until 12.2.1...

The only thing I can clearly tell is breaking anything is when angular 11.0.5 upgrades to 11.0.6. 11.0.5 even works with latest typescript. and there are no issues reported regarding TS causing template binding to just not work.

I think somethin

[2021-08-16 06:58] jpike88 commented on #1983
@nchanged will you have some time in the next week or two to investigate? I've tried a few times to diagnose the problem here and am out of ideas

[2021-08-16 08:10] nchanged commented on #1983
First make the build without ES5, then take this module and try compiling
it in the playground. I think we will see the differences. It's most
definitely a typescript problem..

On Mon, 16 Aug 2021 at 09:58, Josh Pike ***@***.***> wrote:

[2021-08-16 08:14] jpike88 commented on #1983
All my testing has been in the playground

[2021-08-16 09:10] nchanged commented on #1983
I mean here =>
https://www.typescriptlang.org/play

On Mon, 16 Aug 2021 at 11:14, Josh Pike ***@***.***> wrote:

[2021-08-16 13:37] jpike88 commented on #1983
I took both the app.js and vendor.js, and converted them in the TS playground using the ES5 target. I then pasted them back into their files locally.. worked fine

[2021-08-27 19:44] SephReed opened #2022 "Sass, and non-existent .css.map files"
<img width="534" alt="Screen Shot 2021-08-27 at 1 41 42 PM" src="https://user-images.githubusercontent.com/14002040/131180593-220d6aa2-556b-44fb-9df3-4e66666a137a.png">
<img width="203" alt="Screen Shot 2021-08-27 at 1 43 08 PM" src="https://user-images.githubusercontent.com/14002040/131180638-1db4a04e-d993-4067-973b-03e89a0d3a56.png">

These files don't exist.  How can I disable whatever is givin

[2021-08-29 15:11] jpike88 commented on #1983
closing cause I'm just going to drop es5 support

[2021-08-29 15:11] #1983 closed

[2021-08-30 10:08] jpike88 opened #2023 "Failed to resolve %23clip in a css file"
Fusebox version ```4.0.1-next.7```
Issue is with ```mapbox-gl```,

full error:

```Failed to resolve %23clip in /Users/joshpike/Projects/aquipa/client/node_modules/mapbox-gl/dist/mapbox-gl.css:1:28436```

Should probably ignore urls looking like '#blah' as they can't be resolved in the current way

[2021-10-04 14:39] mqualizz opened #2024 "Transpilation Error with fuse-box 4.0.0 (or maybe I'm simply blind)"
I'm running into an issue where fuse-box isn't correctly transpiling statements like:
`export const { A, B } = ...`.  The exports are completely ignored.

If I do:
[code]
then things seem fine.

Example:

fuse.ts
[code]

src/Test.ts
[code]

src/index.ts
[code]

Relevant snippets from generated bundle.js
[code]
and
[code]
Issues:
1. `exports.undefined = Stuff` -- stuff wasn't exported in the origin

[2021-10-12 17:05] draoncc opened #2025 "4.0.0 Dependency bundled as two separate instances in production build"
Minimal example project: https://github.com/draoncc/FuseBox-GraphQL-Apollo-CoreSchema-issue-example

Run `yarn build`, followed by `node dist/app.js`. It should print a `GraphQLErrorExt`. The issue is that only one instance of "graphql" may be bundled, but when inspecting dist/app.js, graphql seems to be imported twice:

[code]

The only solution seems to be to add "graphql" to the list of ignored

[2021-10-16 18:27] petertorelli opened #2026 "`rootDir` does not exist in type IPublicOutputConfig"
Following the documentation with this example from [this page](https://fuse-box.org/docs/development/output):

[code]

Results in this error on build:
[code]

Versions:

[code]

[2021-10-18 13:31] ahungry opened #2027 "Cannot find module: fuse-box/sparky"
I'm trying to upgrade an old system from fuse-box@3.x to 4.x, however it seems to change how fuse-box/sparky resolves.  I went ahead and tried the steps on a brand new directory / fuse-box install, and the issue seems to persist there.

The failure is occurring whether I install with npm or yarn - how do we use fuse-box/sparky?  According to the docs, it comes with fuse-box?

[code]

[2021-10-18 14:29] #2027 closed, assigned to nobody

[2021-10-18 17:01] ahungry commented on #2027
Is this documentation wrong then?

https://fuse-box.org/docs/task-runner/getting-started-with-sparky

[2021-10-18 17:04] ahungry commented on #2027
Also, that shows fusebox/sparky both defined as functions when imported like that - but sparky.task and the other calls are still undefined.  If I call sparky() immediately after an import like you suggested, it complains Ctx is not defined.

Any current documentation/minimal samples of how to use sparky with the latest fuse-box?

[2021-11-08 22:06] SephReed opened #2028 "Is it possible to share an assets folder between two projects?"
I have a website with one assets folder and two fusebox projects.  Both of the projects export to a folder in dist:

<img width="181" alt="Screen Shot 2021-11-08 at 3 04 38 PM" src="https://user-images.githubusercontent.com/14002040/140825577-f1537db3-4dfd-437f-9981-a867aab1b6c6.png">

Neither of these projects can access the assets folder unless I move it into their `distRoot`.  If I make the `di

[2021-11-11 04:59] jpike88 opened #2029 "Support Angular 13"
With angular 12, ngcc could be used to upgrade any View Engine libraries to Ivy. Running it once after postinstall did the job.

But with 13, ngcc is no longer relevant as the linker itself is required to make the conversions.

A plugin will be required to use this linker

https://github.com/angular/angular/tree/master/packages/compiler-cli/linker/babel/src
https://github.com/angular/angular/issue

[2021-11-16 19:54] remotezygote commented on #1721
How do you get it bundled without the fuse-box boilerplate that use `window`? Can't figure that piece out...

[2021-11-16 20:20] remotezygote commented on #1721
And I did try `server` target - then it uses `global`...

[2021-11-18 18:07] remotezygote commented on #1721
Ah, I see! https://github.com/fuse-box/fuse-box/blob/master/src/config/ITarget.ts#L1

The key here is the `web-worker` target type (is that documented?).

This works:

[code]

Then in my index.js:
[code]

I don't think it will hot reload or anything, but it's not terrible.

[2021-11-25 21:46] RealAliHafezi commented on #1646
You must export default  the foo file component

[2021-11-30 11:20] evan-boissonnot commented on #1088
Hi,

I'm using : "fuse-box": "^4.0.1-next.8",
When I run node fuse, to my file fuse.js, got the prob :

node_modules\fuse-box\env.js:20
    SCRIPT_FILE: require.main.filename,

    here my fuse.js file :
    import { fusebox } from 'fuse-box';

const fuse = fusebox({
    entry: 'src/main.ts',
    target: 'browser',
    devServer: true,
    webIndex: {
        template: 'src/index.html',
      },

[2021-11-30 11:21] evan-boissonnot opened #2030 "TypeError: Cannot read property 'filename' of undefined"
Hi,

I'm using : "fuse-box": "^4.0.1-next.8",
When I run node fuse, to my file fuse.js, got the prob :

node_modules\fuse-box\env.js:20
SCRIPT_FILE: require.main.filename,

here my fuse.js file :
import { fusebox } from 'fuse-box';
const fuse = fusebox({
entry: 'src/main.ts',
target: 'browser',
devServer: true,
webIndex: {
template: 'src/index.html',
},
webIndex: true,
});

fuse.runDev();

[2021-11-30 11:21] evan-boissonnot commented on #2030
I have got just one file : main.ts, in the src directory

[2021-12-09 11:45] nchanged commented on #2030
what's that
[code]
It really should work, please check a lot examples in the playground folder

[2021-12-23 06:45] jpike88 commented on #2030
I have same issue. node 14.18.1, with type: module in package.json

[code]

[2021-12-23 07:05] jpike88 commented on #2030
Problem is using es6 modules mode, these lines in env.js aren't calculated properly:

[code]

Changing them to this worked:
[code]

[2022-03-02 00:38] remotezygote commented on #1981
Is this fixed? I am using latest 4.0.0, and it seems like this is still broken.

Repro (with `react-map-gl` library): https://github.com/remotezygote/optchainbug-example

I'm not sure how to debug further other than to isolate the issue to this library...

[2022-03-02 00:41] remotezygote commented on #1981
And it traces back to this line of code: https://github.com/visgl/react-map-gl/blob/v7.0.7/src/components/use-control.ts#L21

[2022-03-02 00:43] remotezygote commented on #1981
And in this codebase, the error traces back here: https://github.com/fuse-box/fuse-box/blob/v4.0.0/src/compiler/transformers/optionalChaining/OptionalChainingTransformer.ts#L275

The error:
[code]

[2022-03-02 00:49] remotezygote commented on #1981
From a quick look at the code, and not knowing exactly the intent of it all, it looks like this might be erroring because it's the first item in the chain, so no `current` has been set?

[2022-03-04 00:45] SephReed commented on #2022
Hey.  I'd really like to be able to do this.  It's making my project look a lot worse than it needs to having all these warnings.

[2022-03-04 00:59] SephReed commented on #2022
Found it!  In Config:

[code]

[2022-03-04 00:59] #2022 closed

[2022-03-23 18:42] remotezygote commented on #733
Is this possible in v4? Can't find docs (especially since the web site is gone).

[2022-07-14 12:40] FrankApiyo commented on #2023
I replaced all occurrences of `%23clip` with `#clip`

sed -i 's/url(%23clip)/url(#clip)/g' mapbox-gl.css

[2022-07-14 12:52] jpike88 commented on #2023
Sorry mate. I've moved onto angular bundler cause they can't be assed providing easy tooling for 3rd party bundlers... and esbuild for my server

[2022-08-12 15:11] hound-realscore commented on #2023
I'm having this same issue...where do you run this command?  I can see the %23clip in the CSS in the dist folder, but not in the source.    Do I run it in the build pipeline?

[2022-08-12 18:15] FrankApiyo commented on #2023
@hound-realscore you can run it in any directory as long as the last argument to `sed` is the file that has `%23clip` in it

[2022-11-10 06:55] gajjardarshithasmukhbhai commented on #1646
in React TS file I am facing this issue.